[2016-09-16 21:33] gravyboat opened #1 "Set up Travis CI for integration testing"
Pretty self explanatory, we need to set up Travis CI to test all the PRs.

[2016-09-16 21:34] gravyboat opened #2 "Set up Coveralls"
I'm a big fan of Coveralls for test coverage details (https://coveralls.io/), would be nice if we set that up on this repository.

[2016-09-16 21:36] gravyboat opened #3 "Create Projects for streamlink"
We'll need to review some of the main items that need to be done. At this time some of the big ones should include:
- Update all instances of livestreamer to be streamlink - COMPLETE (via #15)
- Set up automation tooling for tests (Travis CI, coveralls) - COMPLETE  (via #6, and #16)
- Set up automation tooling for package builds
- Set up a plan to review existing PRs and talk to their authors abou

[2016-09-16 23:09] thinkpad4 opened #4 "Add this fix for Twitch Oauth"
https://github.com/javiercantero/livestreamer/commit/2d1325a9b44757b1c54de5d4778e6fc40a05d3a0

[2016-09-17 13:49] alphapapa commented on #3
Could you please document the reasons for the fork?  I am a happy livestreamer user, but I haven't followed internal issues to the project, so I just happened to come across this fork when looking for info on the client-ID changes.

[2016-09-17 15:14] cdrage commented on #3
@alphapapa feel free to send a PR to update the README / etc :)

[2016-09-17 17:58] alphapapa commented on #3
@cdrage I'm asking because I don't know the answers.

[2016-09-17 18:41] fishscene commented on #4
I believe we'll also need to create our own oauth redirect url. Here's an example from javiercantero in the link above:
+    redirect_uri = "http://docs.livestreamer.io/twitch_oauth.html"

Further information about this process can be found here:
https://blog.twitch.tv/client-id-required-for-kraken-api-calls-afbb8e95f843#.usmkehncb

[2016-09-17 19:13] SpootDev commented on #3
@alphapapa, IMHO livestreamer is dead on the vine.  8 months since last merge to develop, 1 year since master update....and no communication from main dev.  500 issues and 50 PR's just sitting there.

[2016-09-17 19:13] cdrage commented on #3
@alphapapa I created a PR to address this.

[2016-09-17 19:21] gravyboat commented on #3
@alphapapa In addition to what @SpootDev and @cdrage have mentioned, I have tried to contact @chrippa via all public channels I could find and have not received any response. I additionally asked if he would continue working on it if we donated some money (to at least get the most essential patches in) and there was no response. I agree with @SpootDev, the project is dead. The owner is still activ

[2016-09-17 19:27] gravyboat commented on #1
https://travis-ci.org/streamlink/streamlink is configured.

[2016-09-17 19:30] gravyboat commented on #1
We'll need to modify the `.travis.yml` to modify the env environments, currently it's pulling from some S3 bucket we don't have control over: https://github.com/gravyboat/streamlink/blob/master/.travis.yml

[2016-09-17 19:42] alphapapa commented on #3
Okay, thanks, that makes sense.  I'll make another issue to discuss the youtube-dl thing.  (Not that I want this project to be abandoned.  I very much appreciate you picking up the torch!)

[2016-09-17 19:44] alphapapa opened #7 "youtube-dl?"
Since the project is being forked, this seems like a good opportunity to discuss how this project may relate to `youtube-dl`.  There is some duplicated functionality and purpose between the two projects, and `youtube-dl` is a vibrant project.  Would it make sense to consider porting the functionality exclusive to livestreamer/streamlink to `youtube-dl` instead of carrying this project forward as i

[2016-09-17 20:50] cdrage commented on #1
@gravyboat I agree. I guess we can create travis-only tests for now and ignore the Amazon credentials until we have things sorted.

[2016-09-17 20:51] cdrage commented on #1
@gravyboat I made you an owner of the streamlink org, so feel free to create a separate if you wish!

[2016-09-17 20:57] cdrage opened #8 "revamp cli params / cli"
Imo, we should revamp the CLI so it's **much** simpler than livestreamer has. Would be a good opportunity to modernize it and use a CLI library instead of the mess that it is right now.

[2016-09-17 21:50] gravyboat commented on #7
So I looked at their issues and it seems like the CLI (unless I am missing something) is still somewhat complex for doing what streamlink does. I use this exclusively for streaming, not downloading (https://github.com/rg3/youtube-dl/issues/2124), and I like that it is exclusively used for this purpose. I looked at using `youtube-dl` originally but wasn't really happy with the implementation or eas

[2016-09-17 21:51] gravyboat commented on #8
Depending on how we want to handle the CLI library, there's always [Click](http://click.pocoo.org/5/).

[2016-09-17 21:53] gravyboat commented on #4
This is definitely an annoying addition from Twitch as it basically requires that you have an acocunt, or we provide a publicly available client ID. I'm not sure what the best way to go about this is going to be as I don't want to log in if I don't have to.

[2016-09-17 22:17] cbirchinger commented on #4
As far as i understand it. Twitch wants the author of the software that accesses their API to register a Client-ID. They don't demand that every user registers their own Client-ID, they just want a uniq one
per Application.

Livestreamer already has one registered client_id = "ewvlchtxgqq88ru9gmfp1gmyt6h2b93".
The patch by LoneFox78 in the https://github.com/chrippa/livestreamer/issues/1478 commen

[2016-09-17 22:24] bastimeyer commented on #4
It would be better to register a new application on Twitch, since the old one was registered by chrippa and we don't know if he will keep his twitch account and the registered application.

A better solution would also be starting a local webserver whenever the user is requesting a new oauth token. This eliminates the dependency of having a website for this.

It requires either the basic *applicat

[2016-09-18 02:05] alphapapa commented on #7
Hm, well, I'm watching a Twitch stream in VLC through youtube-dl right now.  All I did was run `youtube-dl -o - twitch.tv/streamer | vlc -`.

So, a few issues:

1.  It doesn't automatically launch a player when using STDOUT.  This would probably be easy to implement.

2.  It uses `ffmpeg` to remux (not reencode) the audio/video streams into one stream for the player.  On one hand, I guess this isn

[2016-09-18 13:33] CowCowCowCow commented on #7
I've used ls since very early on in the project's life and I'm also an avid yt-dl user of many years (for downloads & streaming), one thing that people don't seem to mention when making comparisons is how they handle caching. Not only is ls superior in how it handles stream caches (greatly reducing drops as a result) but also in my experience yt-dl requires more overhead in terms of bandwidth and

[2016-09-18 16:37] javiercantero commented on #4
You shouldn't merge my squashed branch but the original #1359

[2016-09-18 19:32] cdrage commented on #4
@bastimeyer i'm on the fence on this, since twitch *requires* now that every user uses an API token and there's no more anonymized streams, it's better to alert the user to provide an oauth token / etc to streamlink / livestreamer.

at the same time, if we hardcode an official "streamlink" key into it, it can be revoked at any time with abuse and screw up any releases we've done previously with th

[2016-09-18 21:54] bastimeyer commented on #4
OAuth tokens are linked to the application client-id. So even if the client-id in not used globally and users are required to authenticate, Twitch still knows which application they are using. Revoking a client-id will also invalidate all oauth tokens associated with it.
There is no choice here. You can either make it simple for everyone or make it difficult by requiring annoying setup steps.
That

[2016-09-18 23:42] sbstp commented on #4
Using a public and shared client ID is a nice way of providing anonymity to the users. Keeping the application turnkey would be pretty cool, but providing the option to use a different client ID should definitely exist.

[2016-09-19 01:00] fishscene commented on #4
Agreed. I think we should have our own Application-ID, but allow it to be overwritten with (--twitch-client-id).
Also, if it's possible to have a local URL redirect for oauth, that would keep dependency (and costs) on infrastructure down to a minimum.

[2016-09-19 01:32] fishscene commented on #8
@cdrage @gravyboat I sent an e-mail to cdrage as I don't have @gravyboat's e-mail, but I'd like to get a few of us in a meeting to roadmap streamlink.

This seems more of an enhancement and I think we should get some fixes in first to make a baseline release to break from Livestreamer, revamp the CLI, then move forward from there. But let's discuss!

[2016-09-19 08:07] alphapapa commented on #7
Now that's a really good point.  Could you explain a bit more how livestreamer does it and how it reduces drops?  I spent a few minutes looking through the code the other day, and while I don't claim to have a good grasp of it, it might be relatively easy to add it to yt-dl.

[2016-09-19 14:18] cdrage commented on #4
This will be fixed in #9 with an application-id.

I do agree with @fishscene by default let's have a streamlink-specific application id and have the option to override it with --twitch-client-id.

[2016-09-19 15:44] cdrage opened #12 "no more "develop" branch."
We should use the Github flow (https://guides.github.com/introduction/flow/) and no-longer have the development branch.

It's **much** easier to develop from from the master branch and split it off into weekly / monthly releases rather than further sharding our development from master and dev branches.

[2016-09-19 16:42] scottbernstein commented on #7
Livestreamer has a ton of options that we can configure in terms of stream retries, segment retries, timeouts, thread count, the *-live-edge options etc., all of which can help a TON with reducing dropouts....

________________________________
From: alphapapa <notifications@github.com>
Sent: Monday, September 19, 2016 4:07:43 AM
To: streamlink/streamlink
Subject: Re: [streamlink/streamlink] youtub

[2016-09-19 17:06] fishscene commented on #12
Not that I have any real ownership over this branch, but I created the "develop" branch to model the workflow in livestreamer, but if that doesn't suit us, let's remove it.

Green light from me.

[2016-09-19 17:13] fishscene commented on #2
I don't have an opinion one way or the other, but if @gravyboat thinks this will help and can take ownership of this, let's do it.
Does anyone have further thoughts on this?

[2016-09-19 17:37] gravyboat commented on #2
I'll take care of it if no one has concerns, was going to do it this weekend and didn't review the docs enough to figure out how to handle it for an org.

[2016-09-19 17:46] gravyboat commented on #1
This is complete via https://github.com/streamlink/streamlink/pull/6

[2016-09-19 17:46] #1 closed

[2016-09-19 17:47] gravyboat commented on #12
Agreed, not a fan of having a development branch, makes it way too confusing for people to contribute when we can just branch and tag releases.

[2016-09-19 17:50] gravyboat commented on #8
@fishscene If possible I would like to keep as much discussion publicly available as possible (which is not possible unless we maintain some sort of youtube channel and record meetings or something) as I think that's essential to any sort of open source project like this. Then anyone who is interested can contribute to the conversation and is aware of the current discussion.

[2016-09-19 17:56] scottbernstein commented on #8
I have some ideas for CLI changes as well.  But I agree -- I think the initial release should maintain 100% compatibility with the livestreamer build so that it will be easy to validate.

There may be an argument for maintaining CLI compatibility into eternity and layering additional CLIs ontop of what's there now.

________________________________
From: Forrest <notifications@github.com>
Sent: Mo

[2016-09-19 18:14] sbstp commented on #8
Could the setup.py script install two entry points? One named livestreamer that maintains compatibility with livestreamer, and a revamped one named streamlink?

[2016-09-19 18:18] cdrage commented on #8
@sbstp imo, we shouldn't do that as it's near-impossible to merge anything into livestreamer anymore. let's clean this up and create something starting from 0.0.1

[2016-09-19 18:19] cdrage commented on #2
@gravyboat if you set it up with third-party support, i'll get a notification about allowing it and I can accept it. +1 for coveralls support

[2016-09-19 18:22] cdrage commented on #2
@gravyboat there we go! i set it up, should get notifications on each PR opened now

[2016-09-19 18:26] gravyboat commented on #2
@cdrage Good stuff, I looked in the coveralls interface this weekend and it wasn't showing up for some reason. Glad to see you got it!

[2016-09-19 18:26] fishscene commented on #8
I believe we need to set some goals for Streamlink to see where this fits in with our recent Fork. I e-mailed @cdrage earlier, but lets move the conversation to the public view. :)

My worry is that we might fly in all different directions and it may die. As such, I feel it is important to set some goals we can all get excited to work towards and accomplish.

I'd like to propose the following:
1)

[2016-09-19 18:32] gravyboat commented on #2
This is now working as per the example PR here: https://github.com/streamlink/streamlink/pull/13#event-794486121, closing as resolved.

[2016-09-19 18:43] scottbernstein commented on #8
I also think that a quality goal for an initial release would be to move to a modern version of Python -- the current livestreamer is using an outdated Python 2.x version and we should really attempt to move to 3.x.

________________________________
From: fishscene <notifications@github.com>
Sent: Monday, September 19, 2016 2:26:19 PM
To: streamlink/streamlink
Cc: scottbernstein; Comment
Subject:

[2016-09-19 18:54] sbstp commented on #8
1) I agree, all the compatible pull requests and fixes should be merged here, and we should also let people know that we're trying to get a fork going.

2) I also agree that the command line is unintuitive. I wish we could make the transition as friction less as possible for the users, but I realize that it might not be possible to do so. We could probably provide a quick reference guide to help p

[2016-09-19 19:00] cdrage commented on #8
huge +1 for Python 3 support. Shouldn't be too bad to do.

[2016-09-19 19:05] sbstp opened #14 "Web page for the project"
I think we could easily setup a website using Github Pages, (https://streamlink.github.io). We could update the docs, generate them using sphinx and push it to the repo. Maybe the docs should be in their own repo.

* `streamlink/streamlink` - main project
* `streamlink/docs` or `streamlink/streamlink/docs` - docs source
* `streamlink/streamlink.github.io` - generated html

[2016-09-19 19:08] scottbernstein commented on #8
You will notice that the original developer had made some movement towards Python 3 but ran into some snags.  Lots of check-in comments on the original project talk about prepping certain files for Py3, but obviously he gave up on the project in addition to the move to Python 3

________________________________
From: Charlie Drage <notifications@github.com>
Sent: Monday, September 19, 2016 3:00:41

[2016-09-19 19:12] gravyboat commented on #2
Looks like there is a minor configuration issue causing the coverage to show as no data even though it is being sent, there are several errors within Travis which I'll investigate. Opening back up for right now.

[2016-09-19 19:16] cdrage commented on #2
@gravyboat I think `--cov livestreamer` needs to be added

[2016-09-19 19:20] gravyboat commented on #2
@cdrage More than likely that is the issue, previously I ran it through nosetests so it operated a bit differently. I'll prep a PR later today, as well as adding in a `.coveragerc` file so we don't get so much garbage.

[2016-09-19 19:31] gravyboat commented on #2
Here are some pretty good instructions, will implement this later today: https://github.com/audreyr/how-to/blob/master/python/use_coverage_with_unittest.rst#set-up-coveralls

[2016-09-19 19:35] cdrage commented on #14
@sbstp agreed. let's put this on the todo.

Personally, I'm going to work on reorganizing the code before we work on the docs as we start to change things such as the CLI and such to a much-cleaner user experience.

[2016-09-19 19:39] sbstp commented on #14
Can I get access to the organization? I'll add this to the todo.

[2016-09-19 19:42] cdrage commented on #2
@gravyboat found the issue, here's the PR: https://github.com/streamlink/streamlink/pull/16

[2016-09-19 19:46] cdrage commented on #14
@sbstp Invite sent!

[2016-09-19 20:17] #2 closed

[2016-09-19 20:24] fishscene commented on #8
Can we push for revamping the CLI after our initial base release?

1) Initial Base Release: Merging fixes for LiveStreamer, making sure they work, then setting that as our "1.13.0" baseline release to indicate a break from livestreamer. (Livestreamer is currently at 1.12.2). We can of course set this to whatever version we want.
Contact release points, such as pypi  (https://pypi.python.org/pypi)

[2016-09-19 20:28] scottbernstein commented on #8
I'm with @fishscene...to some extent...

I would have voted for Py3 integration for the initial release but I guess I see a point in offering a stable version with all of most current plug-in fixes so that we can point the less savvy userbase to 1.13.0 who can't understand how to update Livestreamer plugin fixes that people have posted on their own.

That's lowest risk and quickest turnaround.

Sc

[2016-09-19 20:31] sbstp commented on #14
I'm working right now on getting the docs to work. I'll send a PR once I'm done.

[2016-09-19 20:45] sbstp commented on #14
I'm updating the links found on [http://docs.livestreamer.io/](http://docs.livestreamer.io/), should I remove the elements we don't have setup yet? Like the google groups and the IRC channel.

[2016-09-19 20:58] fishscene commented on #12
"develop" branch is no more. Marking completed.

[2016-09-19 21:08] #12 closed

[2016-09-19 21:10] gravyboat commented on #14
@sbstp Definitely. We don't want users confused if we can avoid it.

[2016-09-19 21:12] WolfganP commented on #14
Good job to focus on docs early on, documentation is important :-)

As I proposed on https://github.com/chrippa/livestreamer/issues/1187 , if anyone knows of any "Primer on developing plugins", that may help on getting casual devs engagement and keep the project growing.

[2016-09-19 21:13] gravyboat commented on #14
@WolfganP Feel free to create an issue over here (or a PR if you want). I think right now that stuff is a little lower on the priority list since we have a lot to fix to get this back to a good working state, but I also love docs and would like to see this.

[2016-09-19 21:15] WolfganP commented on #7
Most of the richness of these projects is in the plugins' area (the sauce that make different sites to work with the main agnostic tool).
Maybe there's a way to adapt youtube-dl sites' plugins to streamlink and help cross-polination and broad of supported sites?

[2016-09-19 21:16] sbstp commented on #14
I think we should discuss wether to use github's wiki feature instead of using github pages + sphinx. I think that a lot more people are familiar with markdown than rst. It might help keeping high quality docs. The wiki is more accessible.

[2016-09-19 21:19] Brainzyy opened #17 "[REQ] Plugin for Stream.me"
This site is getting used more and more.
They have an API available: https://developers.stream.me/
On that page you can find info regarding Auth, OAuth, Broadcast and Live Stream.
It should contain any info needed to forge a plugin.

[2016-09-19 21:19] scottbernstein commented on #7
Livestreamer works GREAT with YouTube and other sites, so long as you tweak your command line parameters properly.

________________________________
From: WolfganP <notifications@github.com>
Sent: Monday, September 19, 2016 5:15:54 PM
To: streamlink/streamlink
Cc: scottbernstein; Comment
Subject: Re: [streamlink/streamlink] youtube-dl? (#7)

Most of the richness of these projects is in the plugins

[2016-09-19 21:21] sbstp commented on #14
Although thinking about it, a lot of projects have outdated and incomplete wikis. I've had a pretty bad experience browsing projects' wikis so far. It might be better to stick to sphinx.

[2016-09-19 21:27] gravyboat commented on #14
Yeah that was what I was going to mention. Being able to just do a pull and update docs (especially in functions and so forth) is a lot easier than having to update the wiki. It just adds more work and a higher bar to entry.

[2016-09-19 22:58] Brainzyy commented on #17
I just tried out their api.
With `urllib.request.urlopen("https://www.stream.me/api-live/v1/streams").read()` you can get a JSON object with all currently available streams in it. They provide an RTMP and a M3U8 (HLS) stream link.
If someone more skilled in RegEx and Python could check this out, that would be awesome.
I tested some streams and using hlsvariant:// and the links that are in the JSON

[2016-09-19 23:21] sbstp commented on #17
I took a look, and I think there's an easier way. The urls are formatted like so, `https://stream.me/<username>`. You can use the API to access the channel directly, like so `https://www.stream.me/api-user/v1/<username>/channel`, which is much easier than downloading the entire list of live users and grepping for the one in the source url.

[2016-09-19 23:26] Brainzyy commented on #17
Thanks for pointing that out, I'm really new to this stuff, sorry about that :p

[2016-09-19 23:59] Brainzyy commented on #17
I just wrote a little script that fetches the hls stream from the given url: http://pastebin.com/cT5issHN

[2016-09-20 00:04] lewisje opened #19 "Support for non-ASCII display names"
I've been using an OAuth token in Livestreamer for well over a year, ever since I learned it could be done, to help out the stream viewer counts; today, after seeing the latest beta of Chatty could handle localized display names accurately, I decided to finally get one for myself, and then whenever I tried to launch Livestreamer, I got this error:

[code]

I couldn't go back to the old completely

[2016-09-20 00:10] thinkpad4 opened #20 "Move Twitch plugin to use Twitch API v3"
Or merge javiercantero's v3-api branch https://github.com/javiercantero/livestreamer/commits/v3-api

[2016-09-20 01:16] sbstp commented on #17
I just finished work on a plugin I needed, I'll take a shot at this now.

[2016-09-20 01:38] alphapapa commented on #7
youtube-dl also has many options, though I don't know if it has all of those.

I think there are two ways of looking at these projects:

1.  As some kind of all-in-one approach that can not only get the stream links from the web sites, but also download them and pass them through to players, etc.
2.  As simple tools to get the URL to the actual stream data and pass that to a player like VLC.

I th

[2016-09-20 01:49] sbstp commented on #17
Alright, take a look at #23! If you want to try it, clone my fork of the repository (https://github.com/sbstp/streamlink) and checkout the `streamme` branch.

[2016-09-20 02:57] sbstp opened #25 "Cleanup the Windows build"
The current build tools in `win32/build-with-bootstrap.sh` use an older version of livestreamer and injects a new egg into it. It looks like it might be a mess to fix to our needs, so we might have to rewrite the build process for windows.

I've looked at the options, and it looks like [cx_Freeze](http://cx-freeze.readthedocs.io/en/latest/index.html) could fit our needs, it creates a standalone .e

[2016-09-20 03:13] gyvess commented on #25
I'm not a knowledgeable person but I am a Windows user.

While a standalone .exe would be neater, the way livestreamer is currently built I am able to directly edit .py files.  Therefore allowing me to separately update the plugin files independent of a new livestreamer release.  Without building the program myself to boot.  It's helped me to get ustream, periscope, and lately twitch working prope

[2016-09-20 03:20] sbstp commented on #25
This is a really good point. I think that the files should be modifiable. Like you said, you can write a fix for a plugin without having to wait on the project maintainers. I'll look at the options of `cx_Freeze` and see if this can be done.

[2016-09-20 04:25] sbstp commented on #25
I've tried `cx_freeze` and couldn't even get it to build properly. I don't think we'll be able to use it. I found a tool called `pyinstaller` that looks pretty good, and is well documented, but it doesn't create an installer. So we'd have to use InnoSetup or NSIS to create an installer. Also, we need a Windows machine to use pyinstanner and InnoSetup/NSIS.

[2016-09-20 09:09] flijloku commented on #7
@alphapapa It does youtube-dl as fast as the ls loader for hls? Aria2c does not support loading hls. Maybe there is another quick loader  hls for youtube-dl?

[2016-09-20 09:34] Brainzyy commented on #17
It works perfectly, thank you @sbstp, closing.

[2016-09-20 09:34] Brainzyy commented on #17
It works perfectly, thank you @sbstp, closing.

[2016-09-20 09:34] #17 closed

[2016-09-20 10:19] LoneFox78 commented on #8
@cdrage @scottbernstein What are you talking about? Livestreamer works with python 3 just fine at least since version 1.10.2, which was the current one when I switched it from python 2 to python 3 on my own system back in november 2014.

This is bad, because it looks like a snapshot from version control instead of a stable release.
(Heh, I assumed livestreamer used GNU style versioning with odd mi

[2016-09-20 11:57] cdrage commented on #8
@LoneFox78 Shouldn't we start from scratch and clean up the CLI / params / *everything* instead of using the current code which is a mashup of argparse?

Hate to say it, but I'd rather *break* backwards compatibility if it means a cleaner CLI / experience.

[2016-09-20 11:57] cdrage commented on #8
Start from scratch at 0.0.1 again until we know that *everything* is stable and release a version of 1.0.0 of streamlink and be less known as the fork of livestreamer

[2016-09-20 12:03] cdrage commented on #25
@sbstp i've used pyinstaller in other apps, it's freakin' great. I'd be :+1: to get the current installer converted to pyinstaller.

[2016-09-20 14:48] sbstp commented on #25
@cdrage Do you know if there's a way of keeping the source files, like @gyvess mentioned? Based on what I read, they only package the .pyc files.

[2016-09-20 14:52] alphapapa commented on #7
@flijloku I don't understand your question.  I've never used Aria2c.

[2016-09-20 15:02] cdrage commented on #25
@sbstp source files no, but you can explicitly include data files. I did this within another project called atomicapp here: https://github.com/projectatomic/atomicapp/blob/master/atomicapp.spec

It'll take a lot of trial-and-error to get working, but once it does, it's quite stable / works well.

[2016-09-20 15:14] sbstp commented on #19
Was the error message bigger than this? Was there a stack trace? That would help us trace where the issue was. Also were you using Python 2 or Python 3?

[2016-09-20 15:35] skulblakka commented on #25
You can always [sideload](http://docs.livestreamer.io/cli.html#sideloading-plugins) the plugin while you wait for the official one to update (of course you would need to remove the sideloaded version again after updating)

[2016-09-20 15:53] sbstp commented on #14
I pushed the docs, but there's an [issue](https://streamlink.github.io/). It fails to load the assets, but they're in the repo, so I'm not sure what's going on.

[2016-09-20 16:03] flijloku commented on #7
@alphapapa Which command do you use to fast download Twitch VOD  through yotube-dl and what is the maximum download speed? Through ffmpeg or native hls downloader in yd download speed (for me) is typically less than 1 MB / s. Maybe you know commands increase the speed? Like "-hls-segment-thread" command in ls?

[2016-09-20 16:09] sbstp commented on #25
Thank you @skulblakka, this is a good solution. I think we can move forward with pyinstaller.

[2016-09-20 16:19] gravyboat commented on #8
I'm fine with breaking backwards compatibility if we need to, should be easy for most people to update as long as we keep the same functionality on the commands.

[2016-09-20 16:31] sbstp commented on #8
I'd like to get a release out ASAP. Livestreamer's last release is more than a year old. It probably has dozens of broken plugins, including twitch, a very major one. If we can get this out soon, we can get a lot of attention around it. It would be great if someone wrote a blog post explaining the reasons why we forked it and our plans for the future. Once this it out, we can work on upgrading the

[2016-09-20 16:53] alphapapa commented on #7
I don't download Twitch VODs very often, but when I do, now that they are HLS-based, I just let `youtube-dl` use  `ffmpeg` to do it.  I guess a program could be written to download segments in parallel and then run `ffmpeg` on the resulting files.  Of course, that would either require downloading the entire VOD before processing, or would require downloading batches of segments and running `ffmpeg

[2016-09-20 17:02] lewisje commented on #19
I believe I was using Python 2, and I didn't see a stack trace, just that error followed by termination.

[2016-09-20 17:06] flijloku commented on #7
Yes. They can increase the rate of several times.

[2016-09-20 17:09] scottbernstein commented on #7
Yes, Livestreamer downloads segments in parallel if you provide the right command-line arguments:

--hds-segment-threads

--hls-segment-threads

--stream-segment-threads

________________________________
From: flijloku <notifications@github.com>
Sent: Tuesday, September 20, 2016 1:06:18 PM
To: streamlink/streamlink
Cc: scottbernstein; Comment
Subject: Re: [streamlink/streamlink] youtube-dl? (#7)

[2016-09-20 17:53] alphapapa commented on #7
Thanks, that's a good example of a feature that distinguishes livestreamer from youtube-dl.

[2016-09-20 18:02] sbstp commented on #25
I'm gonna try the bdist tool of setuptools, with a [post install](https://docs.python.org/2/distutils/builtdist.html#the-postinstallation-script) script to modify the PATH variable before trying pyinstaller.
Also does anyone know what rtmpdump is used for?

[2016-09-20 18:29] sbstp commented on #3
Can we get a gitter channel too?

[2016-09-20 18:30] sbstp commented on #25
bdist doesn't package the dependencies and doesn't bundle the interpreter, so it's pointless.

[2016-09-20 19:06] SpootDev commented on #25
+1 to pyinstaller 3.2 as well.  :)

On Tue, Sep 20, 2016 at 1:30 PM, Simon Bernier St-Pierre <
notifications@github.com> wrote:

[2016-09-20 20:46] sbstp commented on #25
I've been trying to get pyinstaller to work for a couple hours now and it's a pretty internal experience.

[2016-09-20 23:16] lawli3t commented on #8
I agree with @cdrage on the topic of breaking backwards compatibility. The CLI was painful to use on a daily basis (which I did for a long time) and the code also seems to need some improvements. Doing that without breaking backwards compatibility is going to get pretty hard I think. Especially when trying to revamp the args.

I could help with getting stuff ready for Python 3, which is definitely

[2016-09-21 01:27] sbstp commented on #25
So I asked around and was referred to a tool called [pynsist](http://pynsist.readthedocs.io/en/latest/index.html). It does everything we need. The format is incredibly simple easy easy to maintain, it produces an installer and allows us to add programs to the PATH. I tested it on my Windows install and it works perfectly.

[2016-09-21 01:28] gravyboat commented on #25
That would be awesome!

[2016-09-21 01:32] sbstp commented on #25
It can also create incredibly small files using [Python 3.5's embedded build](http://pynsist.readthedocs.io/en/latest/cfgfile.html#python-section). Another reason to support Python 3 fully.

[2016-09-21 10:07] javiercantero commented on #20
Note that some of the API used by livestreamer to get the stream is not documented and apparently not public, so it can change without prior warning, be deprecated or not comply with the rest of the specifications. For example, the API call efbc85ea613fd0a200ca65a6f6320be0c775b771/src/livestreamer/plugins/twitch.py#L186 which doesn't work with the kraken API format (api.twitch.tv/kraken/). So I'm

[2016-09-22 06:09] thinkpad4 commented on #20
Jariercantero, well I'm using your version of twitch.py and it is working perfect, I would chance to say it seems to load the stream faster then before

[2016-09-22 12:06] cdrage commented on #20
Any reason to use the undocumented API v3 *yet*? Hold off until it's 100% documented and available.

[2016-09-22 12:52] javiercantero commented on #20
@cdrage The API v3 is totally documented and working (see [here](https://github.com/justintv/Twitch-API)). What is not documented (with any API version) or **supported** is to [download Twitch content outside their player](https://www.reddit.com/r/Twitch/comments/2p0zka/tardsplaya_stopped_working_for_everyone/cmsjqgj)). livestreamer and other clients work because they use the same calls that their

[2016-09-22 12:52] bastimeyer commented on #20
You're mixing things up here a bit... Both public and private Twitch APIs are being used.

There are two supported versions of the public `/kraken` namespace right now, namely v2 and v3. When no API version is specified in the request, the latest one is always assumed. Setting an explicit version header will ensure that nothing will break once a newer version gets released. See https://github.com/

[2016-09-22 13:07] javiercantero commented on #20
No, you are not: `/api/viewer/*` also works as `/kraken/viewer/*` (but it's not part of the public API)

[2016-09-23 20:45] Junior1544 opened #35 "Installed along side Livestreamer?"
Can this program be installed on a computer right along side Livestreamer?

I have a raspberri Pi and would like to try installing this on it but I currently use Livestreamer and don't want to mess that up in case this isn't up to snuff yet?

Also, is the command line updated from this from being livestreamer to streamlink yet?

Mahalo!

[2016-09-23 21:06] OkanEsen commented on #35
Yes, this should be possible.

[2016-09-23 21:08] sbstp commented on #35
Yes, the command line program and the package were renamed to `streamlink`. The config file is named `streamlinkrc` as well.

[2016-09-23 21:41] gravyboat commented on #35
Yep, closing as this has been answered.

[2016-09-23 21:41] #35 closed

[2016-09-24 16:22] #14 closed

[2016-09-24 16:30] sbstp opened #38 "Version information out of sync in docs"
Caused by [this](https://github.com/streamlink/streamlink/blob/d5a50c42a2f251fe4fccc37d588cd72c66287bfd/src/streamlink/__init__.py#L15).

[2016-09-24 19:48] Hund opened #40 "Any plans on a frontend like livestreamer-curses?"
I've been using livestreamer and livestreamer-curses for a long time now. And I was really sad when Twitch did their thing and broke livestreamer-curses.

Would it be possible to perhaps use livestreamer-curses with streamlink somehow? Or perhaps fork and incorporate it into directly into streamlink? :)

[2016-09-24 20:11] sbstp commented on #40
The API of livestreamer was not changed, It was only renamed. So if you contact the maintainers of `livestreamer-curses` and ask them to migrate to streamlink, it would only be a small change for them.

[2016-09-24 20:13] Hund commented on #40
Ah! Well, the project has been dead for about 2 years now. And the developer has been inactive for over a year on GitHub now. :(

[2016-09-24 20:20] sbstp commented on #40
Well, livestreamer wasn't updated for a year, so they don't have any reason to be active on the project. Maybe if you open an issue on their repo they'll be happy to help you.

Also, we have an [issue](https://github.com/streamlink/streamlink/issues/8) to revamp the interface, so you can share your opinion there.

[2016-09-24 20:24] Hund commented on #40
There's two issues from jan and feb this year that's still hasn't gotten any attention. So I don't have any high hopes on that project.

I'll check out the issue! :)

[2016-09-24 22:35] Junior1544 commented on #40
Well, depending on how good you are with coding, you can try downloading the code and compiling it/running it yourself after making the changes from livestreamer to streamlink...

just a thought...

[2016-09-24 23:02] Hund commented on #40
I'm no coder, but I could give it a shot. :)

[2016-09-24 23:34] gravyboat commented on #40
The most active frontend project is https://github.com/bastimeyer/livestreamer-twitch-gui and the maintainer is pretty awesome, I'm going to close this for now, feel free to open it back up if you feel a need to do so.

[2016-09-24 23:34] #40 closed

[2016-09-25 05:23] larryhastings opened #41 "Support not showing hosted streams"
Streamlink has a new feature over livestreamer: if a Twitch stream isn't currently streaming, but in its metadata it's "hosting" another stream, display that stream instead.  I don't actually want this feature; if the original streamer isn't streaming, I don't want streamlink to do anything.

It looks like this feature is intended to be supported; there's a Twitch plugin configuration setting call

[2016-09-25 10:04] Hund commented on #40
I don't fancy GUIs, execpt for the web browser and GIMP. But I got it to work anyway, livestreamer-curses is using streamlink instead of livesteamer now. :)

[2016-09-25 10:35] Junior1544 commented on #40
Great job Hund!  Maybe you could make an update pull on Livestreamer-curses to work with streamlink?  Just a thought...   or, at least let them know about streamlink and that it's being worked on as a replacement for livestreamer?

[2016-09-25 10:54] Hund commented on #40
Not a bad idéa. Will do!

[2016-09-25 11:02] Brainzyy commented on #40
I made this, it's pretty bad and was made for personal use, but maybe someone else likes it too:
https://github.com/Brainzyy/streamlinkGUI

[2016-09-25 19:29] gravyboat commented on #41
Good point, we'll have to add an option for this @cdrage we'll probably want to see about adding this for the command line revamp.

[2016-09-25 19:34] gravyboat commented on #38
@sbstp I've added a PR that should address this if you want to review it.

[2016-09-25 19:36] #38 closed

[2016-09-25 23:27] cdrage commented on #41
@gravyboat i'm going to have a look at the "click" library and see what we can do about cleaning shit up. I'd love to have a similar feature like this as well as a complete CLI revamp so it's much much easier.

I'll propose this in a later issue / PR once I have a bit of time.

[2016-09-25 23:58] gravyboat commented on #41
@cdrage I started writing a very simple app that uses click to try and play with it: https://github.com/gravyboat/ididthis/blob/master/ididthis/idt.py, it's pretty good, though Py3 compatibility is my main concern (as noted here: http://click.pocoo.org/5/python3/)

[2016-09-26 00:01] larryhastings commented on #41
Is streamlink Python 3 only?

[2016-09-26 00:16] gravyboat commented on #41
@larryhastings Nope, there are just some limitations imposed by Python3 on most CLI libraries.

[2016-09-26 00:27] sbstp commented on #41
I think what @larryhastings is saying is that `click` is Python 3 only. Using it would break compat. with Python 2.

[2016-09-26 00:59] gravyboat commented on #41
@sbstp @larryhastings Click supports both Python 2 and Python 3. It's just worth noting the caveats on Python 3.

[2016-09-26 01:06] sbstp commented on #41
Oups, my bad. I thought click was Python 3 only.

[2016-09-26 06:00] Junior1544 commented on #7
I just want to say something here...  i don't use the youtube dl...  The reason I don't is that I don't use this for youtube at all...  I use it for livestream.com.  This is what was recommended to me to use (livestreamer really, but streamlink is the next step)...

Just my thoughts...

[2016-09-26 15:40] martinth opened #44 "Remove faraday gem from travis.yml"
Just noticed that the [travis.yml](https://github.com/streamlink/streamlink/blob/master/.travis.yml#L16) installs a random Ruby gem. I grepped thought the repo content but I couldn't find any mention of `faraday`, `ruby` or `rb`. Is this a leftover from livestreamer or doe anyone know what it does?

[2016-09-26 15:47] sbstp commented on #44
[Looks like a left over](https://github.com/chrippa/livestreamer/commit/6f338866c8d08b57b02d5f8bb822156214419e79). I think it's part of livestreamer's build system, it uploads artifacts to s3. We don't use it. We're still working on our Windows build, so we haven't removed the cruft of the old build system yet.

[2016-09-26 16:05] martinth commented on #44
Yes, I suspected that. On the topic of releases: It would probably the easiest to just use Githubs releases feature (https://docs.travis-ci.com/user/deployment/releases) since the hosting would be free (in contrast to S3 which would probably not expensive but still a few bucks each month).

[2016-09-26 16:19] gravyboat commented on #44
I probably just missed it when I was doing the PR here: https://github.com/streamlink/streamlink/pull/6 I even noted that we don't use the functionality and removed all the S3 stuff.

[2016-09-26 21:17] lawli3t commented on #8
In other issues we talked about maybe using the click library for the CLI (http://click.pocoo.org/5/). We should discuss the pros and cons and see if someone else has another idea. I would be really interested in a better CLI, so I could take a shot at this - although I have to work on my thesis primarily for the next two weeks at least.

Some questions we need to address:
* Breaking backwards-com

[2016-09-26 21:28] tp0 commented on #7
@Junior1544 youtube-dl may be the name, but it supports [a huge list of sites](https://rg3.github.io/youtube-dl/supportedsites.html) and much more than Livestreamer does.

[2016-09-26 21:34] scottbernstein commented on #8
Some things I could suggest:
1.  Add start time (or "delay start for x seconds")/end time (to automatically cut the stream off at a certain time) parameters
2.  Conflate some of the duplicative protocol-dependent parameters (--hds-live-edge/--hls-live-edge, --stream-segment-timeout/--hls-segment-timeout/--hds-segment-timeout, --stream-segment-retries/--hls-segment-retried/--hds-segment-retries) in

[2016-09-26 22:18] lawli3t commented on #8
what i forgot to add was the idea of an interactive mode. Basically it should prompt you for the stream link and then lets you choose a quality / player / protocol. That way you can use it without specifically knowing which qualities or protocols are available. Im not sure on how hard this would be to implement thought.

[2016-09-26 22:41] gravyboat commented on #8
@lawli3t I wrote a (very) ghetto wrapper for powershell that did this: https://github.com/gravyboat/livestreamer-powershell so you could select quality and stream and so forth. I don't think it would be too hard to do, and should probably just prompt with something like `--interactive`.

[2016-09-26 22:50] sbstp commented on #8
I think the prompt should be automatic. There's a way of detecting if stdout is attached to a terminal. If it is, it should engage interactive mode automatically.

[2016-09-26 23:54] Junior1544 commented on #7
@tp0 I'm sure, but with the name being youtube dl, i didn't know that before I started using livestreamer and am now here :)

Thanks!

[2016-09-27 07:08] gravyboat commented on #8
@sbstp Agreed. Interactive mode should be the default, but if a string is input it should just start going that way, forgot the quality option? We should ask.

[2016-09-27 17:53] scottbernstein opened #46 "Windows Binary link on docs pages is broken"
Link here

resolves to:
https://github.com/chrippa/streamlink/releases/download/v0.0.1/streamlink-v0.0.1-win32-setup.exe

...which doesn't work

Same thing for "Zip Archive":
https://github.com/chrippa/streamlink/releases/download/v0.0.1/streamlink-v0.0.1-win32.zip

[2016-09-27 17:56] martinth commented on #46
This is because the windows builds are not done yet. See PR#27.

[2016-09-27 17:57] scottbernstein commented on #46
Ok, gotcha.  Thanks.

________________________________
From: Martin Thurau <notifications@github.com>
Sent: Tuesday, September 27, 2016 1:56 PM
To: streamlink/streamlink
Cc: scottbernstein; Author
Subject: Re: [streamlink/streamlink] Windows Binary link on docs pages is broken (#46)

This is because the windows builds are not done yet. See PR#27.

-
You are receiving this because you authored the

[2016-09-27 18:28] scottbernstein commented on #46
For what it's worth, I had trouble using pip to install on win7 (it installed and built fine, but the resulting binary would error out with "failed to create process".

Then I tried the easy_install method which WAS successful for me

[2016-09-27 18:38] sbstp commented on #46
What do you mean? You used the `streamlink` program from cmd.exe and it failed?

[2016-09-27 18:40] #44 closed

[2016-09-27 18:53] scottbernstein commented on #46
yes, it failed from the command line with an error that said "failed to create process" after I tried PIP install, but then it worked fine with easy_install method.

[2016-09-27 22:29] FurryFur commented on #8
Yea the CLI was a pain >< especially when I did my multi-segment with seek fork, I kept having to remember a bunch of arguments that were required (--http... something something) or it just behave like the original. Interactive mode would be good. Probably want to fix all the broken stuff in the current version first though, so we have a stable version to work from as a base. This would probably b

[2016-09-28 05:21] LoneFox78 commented on #8
@FurryFur This is a bad idea, because it would seriously limit what streamlink can do. Are you aware that currently libav/ffmpeg-based players don't support even decoding HDS? And there are more exotic things out there that streamlink could support, but players will probably not. The proprietary protocol (ACE-stream or something like that) people are using to stream formula 1 races comes to mind..

[2016-09-28 05:43] Junior1544 commented on #8
@LoneFox78 & @FurryFur
For myself, I am a windows person and have been since windows 3,0 (being that i was already building and repairing pc's back then is kinda sad :) ) and have never really got into linux because I had no need or reason to..  I got into this a tiny bit because I use Livestreamer on a raspberry pi project I've been working on with a linux dev and he recommended it, and now we're

[2016-09-28 08:53] martinth commented on #8
I also like the piping feature, but for a different reason: I watch a lot of Twitch and for certain things (like bigger Dota2 tournaments) I have the problem that they broadcast on US and SEA timezones. So I sometimes use `livestreamer` to simply dump the stream to a file and tell VLC to open that file. This way I get an easy timeshifting setup where I can pause my playback to things like housewor

[2016-09-28 14:31] sbstp commented on #8
I really like the subcommand style proposed by @martinth. In my opinion, it's the easiest way of using a command line program and the easiest way of documenting a program. What options can I use with play? `streamlink play --help'. The various options get grouped by what they apply to.

[2016-09-28 14:34] scottbernstein commented on #8
I really like Martin's idea to have a few major "modes". Given those modes we can set all the other more complex parameters accordingly -- so for example our Save mode would default to high amounts of retries and long timeout values because we don't care about real time streaming so much as accuracy of the bitstream.

On Sep 28, 2016, at 4:53 AM, Martin Thurau <notifications@github.com<mailto:noti

[2016-09-28 14:47] fishscene commented on #8
Not sure if streamlink currently has the ability to output multiple methods at once, but I'd like to propose the following syntax:

streamlink <url> -p,--play (options) # Single output
streamlink <url> -p,--play (options) -s,--save (options) -p,--proxy (options), -i,--info (options) #Multiple outputs.

I'm a fan of piping output from one program to another in Linux (streamlink <url> | (file/progra

[2016-09-28 14:50] cdrage commented on #8
I like the format that @martinth has proposed. consistent, easy to learn and straight to the point wieh tll these features.

@martinth do you mind creating a different issue with your proposal and then we can move the discussion there / start getting some code completed? :)

[2016-09-28 15:17] scottbernstein commented on #46
FYI I attempted the same install steps on another machine with the same result.

With PIP install (latest Python 2.7 64 bit build installed on one Windows 7 and one Windows 10 machine), the PIP install claimed to have run successfully, but at a Windows command prompt, typing "streamlink" (which is in my PATH) "Failed to create process" was the response.

Then on both machines, I followed up with e

[2016-09-28 15:28] fishscene commented on #8
How would we want to handle (for example) the ability to save while watching?
streamlink play <url>
streamlink save <url>
Or
streamlink play <url> save <url>

Maybe have the option to save a playing stream stuffed into the options, but then again, seems like we would be duplicating top-level options into the sub (options) if I wanted to do 2 or more things at once.

[2016-09-28 15:35] scottbernstein commented on #8
I think that might be too much to ask the program to do at once.  I would advocate firing up 2 instances of Streamlink for that purpose.

________________________________
From: fishscene <notifications@github.com>
Sent: Wednesday, September 28, 2016 11:28:18 AM
To: streamlink/streamlink
Cc: scottbernstein; Mention
Subject: Re: [streamlink/streamlink] revamp cli params / cli (#8)

How would we want

[2016-09-28 15:42] fishscene commented on #8
Okie doke.
I was trying to head off future problems if we decide to do multiple things at once. I also wasn't sure if livestreamer could do multiple things at once (I've never tried or looked into it). I do know Linux scripters and programmers love efficiency, and duplicating bandwidth isn't efficient.

This is my 2 cents, and if it's not a direction we want to consider down the road, then lets go

[2016-09-28 15:42] sbstp commented on #8
If we follow the Unix philosophy, we shouldn't do this. We should let another program do this. We can use the `tee` command that does exactly this. `streamlink stdout <url> <quality> | tee backup.mp4 | mpv` which saves the stream to `backup.mp4` and pipes the video to the `mpv` player.

[2016-09-28 15:46] bastimeyer commented on #8
Terrible idea, because you're downloading the stream twice by doing that...

The previous solution to this was using stdout and piping it into multiple, different processes.

[2016-09-28 15:56] fishscene commented on #8
@bastimeyer @sbstp I like the piping, but wasn't sure how that would work on Windows.
I've used VLC to host multiple outputs and was using that syntax as a basis for my proposal as I'm familiar with it and the same commands work on Windows/Mac/Linux. However, internalizing the multi-output may be out of scope for streamlink.

[2016-09-28 16:49] skulblakka commented on #46
I just tried installing streamlink via pip on Windows 10 64-bit with Python 3.5 and Windows XP 32-bit with Python 2.7 and it worked without any issues.

[2016-09-28 17:15] skulblakka commented on #46
Just tried with Windows 7 64-bit. Worked too.

[2016-09-28 17:39] martinth commented on #46
@scottbernstein Could you try reinstalling it with a forced download (`pip uninstall streamlink` followed by `pip install --no-cache-dir streamlink`).

If the problem persists, please check the content of the `streamlink-script.py` file. You should be able to find it in the same directory that `where streamlink` gives to you. Please verify that the first line points to the correct `python.exe`. It

[2016-09-29 00:29] EliezerV opened #50 "Picarto Multi Streams"
Seems that a fix for the Picarto multi streams has been provided here:
https://github.com/chrippa/livestreamer/pull/1469

Thanks!

[2016-09-29 15:50] nshtg commented on #46
@martinth
I had the same problem and installing python in a path that contains no spaces fixed the bug with `Failed to create process`.

[2016-09-29 16:20] martinth commented on #46
Then it seem to be [pip bug #2783](https://github.com/pypa/pip/issues/2783)

[2016-09-29 16:24] sbstp commented on #46
Yep looks like it's an issue with the scripts generated by `setuptools`. I think it can be fixed by using a recent version of `setuptools`, what I'm not sure is if that file is created when the package built and pushed to pypi or when it's installed.

[2016-09-29 18:16] sbstp commented on #41
Closed by #53. Let us know if you have issues with the new version.

[2016-09-29 18:16] #41 closed

[2016-09-29 18:59] sbstp commented on #8
There must be an easy way for plugins to define options. The command line should be able to detect these options and list them in the help dialog. `streamlink help twitch` for instance.

So for instance the twitch plugin could have `oauth_token`, `cookie`, and `disable-hosting` options. In the API, these are set using the `plugin.set_option(name, val)`.`

I see two ways for the CLI to handle plugi

[2016-09-29 19:10] gravyboat commented on #8
I think namespacing is the way to go here. It helps future proof us a lot more and more importantly (to me at least) makes maintenance easier. Then when we're merging some plugin with an option we don't have to review 100 different plugins to make sure there isn't an option conflict.

[2016-09-29 19:17] MrLint commented on #7
Just noting here that there seems to be several commercial variants of 'streamlink' Perhaps to avoid future headache something other name might want to be looked into.

[2016-09-29 19:19] martinth commented on #8
But, as @sbstp pointed out, there is always just one plugin active at any time, so there is not really the problem of conflict. Besides that: Checking for duplicated options can easily be automated with a unit test.

[2016-09-29 21:19] gravyboat opened #55 "Propose switching to codecov"
We've been getting a lot of spam recently from coveralls, and it doesn't seem like they plan to resolve the issue (https://github.com/lemurheavy/coveralls-public/issues/491), as such I'm proposing we consider moving to codecov.

[2016-09-29 23:29] TheSneakySniper commented on #3
FIX USTREAM!!!!!! PLEASE!!!!!!

[2016-09-30 02:24] gravyboat commented on #3
@TheSneakySniper This really isn't the right venue to make this request. Please create a new issue explaining exactly how to duplicate the issue, and in what way it is broken. If you're able to troubleshoot and debug the issue please submit a PR with the fix.

[2016-09-30 03:23] TheSneakySniper commented on #55
I would very much dislike the idea of moving. Please don't :(

[2016-09-30 04:13] fishscene opened #56 ""Could not open stream: Unable to find rtmpdump.exe""
On Windows in CMD, Ran:
pip install streamlink
Then attempted to join a beam.pro stream and got the following error:
[cli][error] Could not open stream: Unable to find rtmpdump.exe command

Copied livestreamer file and renamed it to: %AppData%\streamlink\streamlinkrc
I believe the _actual_ fix is 1 line: rtmpdump=C:\Program Files (x86)\Livestreamer\rtmpdump\rtmpdump.exe
This fixed the issue.

Is t

[2016-09-30 07:01] Brainzyy commented on #56
+1 rtmpdump should be added to the PATH by the streamlink installer.

[2016-09-30 08:11] gverm opened #57 "remove dependency of python-librtmp for some streams (ustream, etc.)"
Streams like ustream depend on it for desktop streams, but the install package for it is broken. I tried to install it using pip (2.7) and pip3, but both encountered an error.

[2016-09-30 12:38] cdrage commented on #55
+1 for codecov integration instead of coveralls

[2016-09-30 12:44] martinth commented on #3
@TheSneakySniper as far as I can tell, UStream seems to work at least partially. If you want to help you can simply open a "New Issue" (button on the top right). The more details you can provide that better (i.e. concrete link that is not working, console output, etc.).

[2016-09-30 15:13] sbstp commented on #56
When installing the package via pip, it doesn't go through the installer I'm working on. We need to add rtmpdump to setup.py.

[2016-09-30 16:12] gravyboat commented on #55
@TheSneakySniper What is your reasoning for not wanting to use codecov instead of overalls? It's just coverage reporting for the tests.

[2016-09-30 16:13] TheSneakySniper opened #58 "Please fix the ustream plugin"
The plugin seems to not be able to detect desktop streams... (This was ported directly from livestreamer, where it was never fixed. using librmtp never worked to download desktop streams, i am linking the post)
https://github.com/chrippa/livestreamer/issues/1122

Some streams that are in 720p don't show up, due to it only detecting mobile versions of the streams.
See here:

`[cli][info] Found matc

[2016-09-30 16:23] TheSneakySniper commented on #57
I agree with this

[2016-09-30 16:28] TheSneakySniper commented on #55
Oh, I see. Carry on then.. If it will allow more efficient coverage reporting for tests, then why not.

[2016-09-30 17:25] gravyboat commented on #55
Resolved in #54

[2016-09-30 18:16] #55 closed

[2016-09-30 19:57] TheSneakySniper commented on #58
I have asked stackoverflow if they know anything.
http://stackoverflow.com/questions/39798859/why-does-this-plugin-for-ustream-only-do-mobile-streams-how-can-i-also-support

[2016-09-30 20:06] TheSneakySniper commented on #3
I have made a post

[2016-09-30 20:14] gravyboat commented on #58
Why are you posting something like that on Stackoverflow? It's not their job to investigate code,and you will most likely be downvoted.

[2016-09-30 20:16] TheSneakySniper commented on #58
¯\_(ツ)_/¯

[2016-09-30 20:17] TheSneakySniper commented on #58
I will remove it...

[2016-09-30 22:53] Xeala opened #59 "Twitch new Transcode Options"
Since TwitchCon some streams will get new transcode options, so livestreamer couldn't pick up the best one on these, if i had "default-stream best" in my config file.

http://puu.sh/rtnvj/2526c5a084.png

[2016-09-30 23:09] bastimeyer commented on #59
This was fixed by chrippa/livestreamer#1429... The PR has been merge here:
https://github.com/streamlink/streamlink/blame/master/src/streamlink/plugin/plugin.py#L40

[code]

[2016-10-01 00:53] #50 closed

[2016-10-01 00:57] gravyboat commented on #59
Since this was already fixed I'm going to close this.

[2016-10-01 00:57] #59 closed

[2016-10-01 08:30] TheSneakySniper commented on #58
From the streamlink ustream plugin:
`HLS_PLAYLIST_URL = (
    "http://iphone-streaming.ustream.tv"
    "/uhls/{0}/streams/live/iphone/playlist.m3u8"
)`
https://raw.githubusercontent.com/spaceplumber/livestreamer/06d9a2688dddf96b0694851647c19f6877b42557/src/livestreamer/plugins/ustreamtv.py
This is my proof for saying that it only supports mobile streams.

[2016-10-01 20:26] tp0 commented on #58
Have the non-mobile streams ever worked in past <2 years? I remember they opened and stream played, but there was constant buffering (segments) = unwatchable.

[2016-10-02 05:13] TheSneakySniper commented on #58
No, they have not. From what I have read in the code (I may be wrong), all it does is get the ustream channel ID and then plug that into a pre constructed text;
`_url_re = re.compile("""
    http(s)?://(www\.)?ustream.tv
    (?:
        (/embed/|/channel/id/)(?P<channel_id>\d+)
    )?
    (?:
        /recorded/(?P<video_id>\d+)
    )?
""", re.VERBOSE)
_channel_id_re = re.compile("\"channelId\":(\d

[2016-10-02 10:46] L2501 commented on #7
ffmpeg is very bad at downloading HLS streams, it doesn't support http keep-alive and bitrate selection which make it unusable on anything other than a 100/100 fiber internet.

[2016-10-02 17:37] DragoonAethis opened #63 "Links in Streamlink docs occasionally point to chrippa/streamlink, not streamlink/streamlink"
Some links in docs point to the chrippa/livestreamer repo on GitHub. As all instances of "livestreamer" were changed en masse to "streamlink", those links will stay broken even when releases etc are up.

[2016-10-02 18:58] gravyboat commented on #63
Good catch, thanks.

[2016-10-03 00:32] alphapapa commented on #7
@L2501 You may be right about ffmpeg lacking some specific features, but I have found it to work quite well for downloading HLS streams in my limited experience, and my connection speed is not high.  It depends on the bitrate of the stream; if it's lower than the available bandwidth, it should work fine.  I don't think you'll find any 100mbps HLS streams on the Internet right now.  ;)

[2016-10-03 01:10] nfdisco commented on #7
In my experience watching the entire Tour de France 2016 through online streaming, ffmpeg does not work well even with very low bitrate streams due to cache issues, whereas livestreamer had no problem. With livestreamer+mplayer you can pause the stream for several minutes, which is a technique I use to sync audio and video streams from different sources. I don't know any other software that allows

[2016-10-03 03:26] #63 closed

[2016-10-03 04:30] alphapapa commented on #7
@nfdisco ffmpeg has a bewildering variety of options, so without knowing exactly how you were using ffmpeg in comparison to livestreamer+mplayer, it's hard to say whether ffmpeg is inferior.

For example, did you have ffmpeg download the file to disk?  If so, did you have it copy or reencode the streams?  Did you have it rewrite the timestamps to fix sync issues?  Did you enable fragmentation to a

[2016-10-03 07:28] xlal0523 commented on #58
Desktop ustream uses a combination of websockets and segmented flv now.

See websocket dump below:

`{"args":[{"stream":{"hashes":[{"1475476210":"1124380824","1475476200":"1324067429"}],"streamType":"flv/segmented","providers":[{"name":"uhs_tcdn","url":"http://uhs-live-default.ustream.tv/sjc-uhs-omega14/streams/httpflv/ustreamVideo/19600300/"},{"name":"uhs_akamai","varnishUrl":"http://uhs-akamai.u

[2016-10-03 11:00] nfdisco commented on #7
@alphapapa ffmpeg is great, I use it occasionally, but I'm in this case it didn't work for me as a backend for mplayer, while livestreamer did. Maybe some livestreamer code could be moved to ffmpeg, sure. The plugins, I think not, though. Then again I'm not an expert, so I may be wrong.

[2016-10-03 11:04] nfdisco commented on #7
@MrLint it's a good point. Some ideas: streamgrabber, streamforwarder, streamdispatcher, streamhandler, streamtool.

[2016-10-03 11:37] bastimeyer opened #65 "Naming issues"
We should discuss the project's naming conflicts.

Since the creation of the fork, many people ([including myself](https://github.com/bastimeyer/livestreamer-twitch-gui/issues/289#issuecomment-247846424)) have mentioned potential issues with the name "streamlink". The reason for this is an already existing organization called [StreamLink Software](http://www.streamlinksoftware.com/about), whose na

[2016-10-03 11:39] bastimeyer commented on #7
I have opened a new thread for this: #65
Please discuss this over there

[2016-10-03 12:49] cdrage commented on #65
Imo, I think it's okay and there's no issue. Two different products. Sort of like how livestreamer sounds the same as livestream.

There's no sign of usage from them on github.

If anyone can come up with a better name feel free to speak up!

[2016-10-03 12:53] MrLint commented on #65
I'm startign to kick around names in my head until i find something i like.

[2016-10-03 15:55] TheSneakySniper commented on #58
Interesting! Thank you for clarifying.

[2016-10-03 16:26] gravyboat commented on #65
I'm not too concerned. We could always reach out to them to see if it's a problem since we're not exactly getting rich off of working on the project. Any name related to streaming like this is most likely going to be taken already so I would rather focus our energies into the software rather than worrying about potential legal issues. @cdrage Should we shoot them a quick email about this? If so we

[2016-10-03 18:08] alphapapa commented on #65
A few ideas:

* streamhelper
* streamfetcher
* streamloader

And a silly one: streamerer

[2016-10-03 18:09] MrLint commented on #65
Streamverter?

[2016-10-03 18:44] cdrage commented on #65
@gravyboat I think we should stay with just streamlink. Honestly, neither projects relate to each-other (one is for streaming, other is for management tasks / task delegation).

They've got our contact information, but it won't affect us in regards to trademark law.

Like what @gravyboat mentioned, regardless of what we pick it's most likely going to be taken. I bring up the fact that "livestreame

[2016-10-03 19:57] alphapapa commented on #65
You might be right, but you might not be.  Remember that Firefox was once called Phoenix, and then Firebird, and then finally Firefox.  Firebird is the name of some database software--clearly nothing to do with a web browser, yet Mozilla changed the name anyway.  Not that this project would attract attention like Firefox, but food for thought.  :)

[2016-10-04 07:29] TheSneakySniper commented on #65
how about firestreamer

[2016-10-04 07:33] martinth commented on #65
What about something really short and handy? Because it would actually be the name of the executable so you type it a lot.

- stream
- strim
- strm (going full startup here)
-...

Something in that direction.

Additional benefit of having a single English word would be that there is imho no way you could ever run into leagle issues because there is afaik no way to trademark singular words.

[2016-10-04 13:20] cdrage commented on #65
@martinth problem with that (other than strm) is that it would be really hard to search for on google / seo for people whom want a streaming client :(

[2016-10-04 13:25] MrLint commented on #65
@cdrage So speaking of searching, I had a bit of trouble finding this project because of the all the existing uses of streamlink. I had to go back to the post by @bastimeyer to link into it directly.

[2016-10-04 13:58] bastimeyer commented on #65
@gravyboat @cdrage
*Potential* legal issues should not be ignored. Livestreamer didn't have those issues, because "livestream" is just a normal, generic word and "livestreamer" is not related to any company name.

This is what should be done before thinking about renaming the project.

@MrLint
This is true, but that's just because streamlink is new and doesn't have any refering links of other webs

[2016-10-04 14:05] cdrage commented on #65
@bastimeyer

They're registered as "StreamLink Software Inc".

I've sent them an email for initial point of contact, once legal has contacted me I'll relay the email publicly here.

[2016-10-04 15:17] TheSneakySniper commented on #65
I like linkstream

[2016-10-04 20:48] tp0 commented on #65
I agree that shorter name would be beneficial, since that is what will be written everytime for the command (that's why I make aliases/bash functions, but that's just 2-3 letters).

`strmlnk` particularly is perhaps hard to type: try typing it 10 times really fast and see how many times you get it wrong.

ps. I always thought think the original name was confusing, because of the "-streamer" part,

[2016-10-04 21:46] roneyrogerio opened #66 "How bind all traffic to specific interface ip"
My first need is this, specify the IP interface through which the traffic must pass, trying to solve this question came many others.

Correct me if I'm wrong, this functionality does not exist, then my first idea was to create a custom proxy where I would spend the interface ip on the link and pass the proxy by command line --http(s)-proxy, ex:
http://127.0.0.1:8080/proxy/10.0.0.1/http(s)/

I expe

[2016-10-05 02:39] ethanhlc opened #67 "Youtube Live doesn't work with VLC"
So, I found that Youtube Live doesn't work with VLC.
The stream open up fine, but the video stays frozen after opening.
Normal videos on youtube, however, work fine.

I've tried youtube live with a different video player (Daum Pot Player) which worked, so I'm not sure if it's a problem with streamlink, or something else.

If any more details are needed please tell me how to get it and I'll try my

[2016-10-05 03:31] sbstp commented on #67
This is a known bug with VLC.

[2016-10-05 04:30] FredThompsonII commented on #58
Desktop streams worked until about a month ago using this ustreamtv.py file. Now all I see are the mobile streams.

The + is the mobile streams generally come across without the end each program segment being truncated. The - is the bitrate is lower than the desktop streams.
[ustreamtv.zip](https://github.com/streamlink/streamlink/files/510016/ustreamtv.zip)

[2016-10-05 04:31] #67 closed

[2016-10-05 04:31] gravyboat commented on #67
Going to close this for now since we can't fix it, if there are any updates please let us know @ethanhlc!

[2016-10-05 07:50] TheGoblinHero commented on #65
livestreamer-ng or something similar

[2016-10-05 13:56] cdrage commented on #67
@gravyboat So this is an upstream issue with VLC and we can't do anything about it, correct?

[2016-10-05 15:39] scottbernstein commented on #67
It is also known that if you update your VLC Player to the 3.0 beta, it works fine.  So that can be your solution ethanhlc

________________________________
From: ethanhlc <notifications@github.com>
Sent: Tuesday, October 4, 2016 10:39:12 PM
To: streamlink/streamlink
Subject: [streamlink/streamlink] Youtube Live doesn't work with VLC (#67)

So, I found that Youtube Live doesn't work with VLC.
The

[2016-10-05 16:13] gravyboat commented on #67
@cdrage Correct.

[2016-10-05 16:49] TheSneakySniper commented on #58
@FredThompsonII The only difference between the file that you posted and the current livestreamer file is this:
<img width="1081" alt="83c9a71def03f7bc49f5df37dd775ba9" src="https://cloud.githubusercontent.com/assets/20378538/19122809/05651e8c-8ae1-11e6-98fb-e5321183c42a.png">

[2016-10-05 19:17] WiniD commented on #65
Why not just call it `livestreamer2`?

[2016-10-05 20:35] Marocco2 opened #68 "Add argument for duration of streams"
Hi!
Like the title says, I'd like have a command line to stop watching the stream after an hour or so, even if the stream is not ended.

[2016-10-05 20:39] scottbernstein commented on #68
I like this feature request!

________________________________
From: Marocco2 <notifications@github.com>
Sent: Wednesday, October 5, 2016 4:35:27 PM
To: streamlink/streamlink
Subject: [streamlink/streamlink] Add argument for duration of streams (#68)

Hi!
Like the title says, I'd like have a command line to stop watching the stream after an hour or so, even if the stream is not ended.

-
You are r

[2016-10-05 21:22] bastimeyer commented on #68
You could just write a simple bash script that terminates the streamlink process after X seconds (first parameter):

[code]

[2016-10-05 21:31] scottbernstein commented on #68
Yes, that would of course do it, but it's not as friendly nor is it portable between operating systems.

________________________________
From: Sebastian Meyer <notifications@github.com>
Sent: Wednesday, October 5, 2016 5:22:08 PM
To: streamlink/streamlink
Cc: scottbernstein; Comment
Subject: Re: [streamlink/streamlink] Add argument for duration of streams (#68)

You could just write a simple bash

[2016-10-05 23:32] TheSneakySniper opened #69 "Retry Persistence"
Can we add an option that allows changing retry persistence? e.g --retry-persistance=10 or something along those lines.

[2016-10-06 01:08] SirFireNewt opened #70 "Crunchyroll unable to validate API responce."
This has a issue on livestreamer but not here see: https://github.com/chrippa/livestreamer/issues/1492

It may only affect newer content as erased ep. 1-4 work fine but ep. 5+ result in

[cli][info] Found matching plugin crunchyroll for URL http://www.crunchyroll.com/erased/episode-5-getaway-691801
[plugin.crunchyroll][warning] No authentication provided, you won't be able to access premium restri

[2016-10-06 02:35] TheSneakySniper commented on #70
If this is a bug, we should consider implementing some of the code from [https://github.com/aheadley/python-crunchyroll](here) , which could be easier than trying to diagnose the crunchyroll plugin.

[2016-10-06 05:53] FredThompsonII commented on #58
As I stated, I'm only seeing mobile streams now. Never used librmtp. You can see my notes in the issues area of livestreamer. Time cutting them is minimal compared to annoyance of lost portions. Current plugin drops every so often. This happens to all streams at the identical time. Might be a system issue here. Haven't looked into it. I just keep recording then cut and append clips.

[2016-10-06 15:09] baskervald commented on #70
Even with a """""hotfix""""" (me using validate.transform to turn None into "none"), I still got this out, so there seem to be more underlying issues even.

`╭─ashlynn@arch ~
╰─➤  streamlink 'http://www.crunchyroll.com/yu-gi-oh-5ds/episode-58-the-destiny-ahead-dark-king-the-ruler-of-hell-667003' best
[cli][info] Found matching plugin crunchyroll for URL http://www.crunchyroll.com/yu-gi-oh-5ds/epis

[2016-10-06 17:10] TheSneakySniper commented on #58
@FredThompsonII

Desktop streams WERE working with that file you posted? If so, that means something was changed on ustream's end... or it is an issue on your end. Desktop streams never worked for me and many other people...

[2016-10-06 18:01] scottbernstein commented on #69
What exactly would retry persistance do?  There are already a TON of retry options available to livestreamer/streamlink:  --retry-streams, --retry-open, --stream-segment-attempts, --hls-segment-attempts, --hds-segment-attempts

________________________________
From: TheSneakySniper <notifications@github.com>
Sent: Wednesday, October 5, 2016 7:32:42 PM
To: streamlink/streamlink
Subject: [streamlink

[2016-10-07 06:21] gravyboat opened #72 "Build a package and get it upstreamed into Debian"
Currently livestreamer is available as a package which can be easily installed on Debian/Ubuntu, this is not the case for streamlink. If we want to get this packaged up and ready for the next release we need to move quickly. as @javiercantero mentions [here]https://github.com/chrippa/livestreamer/issues/1427#issuecomment-249653892) they'll be freezing the the release in the beginning of January. W

[2016-10-07 09:41] javiercantero commented on #72
Maybe it's more straightforward to open a RFP (Request for Package) first and see if any Debian maintainer is willing to do the packaging for you. Ubuntu also [recommends to talk to a Debian maintainer teams](https://wiki.ubuntu.com/UbuntuDevelopment/NewPackages) in order to accelerate the process (the relevant one here would be [Python Applications Packaging Team](https://wiki.debian.org/Teams/Py

[2016-10-07 12:54] pahakalle opened #74 "Could you add travis build/test status to README."
[![Build Status](https://travis-ci.org/streamlink/streamlink.svg?branch=master)](https://travis-ci.org/streamlink/streamlink)

[2016-10-07 13:42] beardypig commented on #74
+1 By why not make a PR for it? :)

[2016-10-07 14:02] beardypig commented on #57
@Brainzyy do you mean `python-librtmp`?
Which error do you get?
I was able to install fine using pip2.7 on a both a Debian7 box and macOS box.

[2016-10-07 14:58] Brainzyy commented on #57
@beardypig Yes, I meant that. The weird thing is, it worked now for me too. But last time it didn't work, weird.

[2016-10-07 15:24] Brainzyy commented on #57
This is the error I get on windows using pip 8.1.2 (python 3.5.2): http://imgur.com/a/QKFDH

[2016-10-07 16:08] Marocco2 commented on #68
@bastimeyer but this method will corrupt any output file from the stream, doesn't it?

[2016-10-07 16:12] beardypig commented on #4
There already appears to be a usable redirect URL as part of the docs: https://streamlink.github.io/twitch_oauth.html Creating a new twitch client Id would be required to use this new URL, as the redirect url is tied to the application.

The `--twitch-oauth-authenticate` option is still broken, and it doesn't look like it can be fixed just by changing the redirect URI to http://docs.livestreamer.i

[2016-10-07 16:35] bastimeyer commented on #68
Why would it corrupt it? It's just sending a TERM signal after X seconds to the streamlink process. Everything that happens after this is up to streamlink.

You can check the integrity of stream recordings with ffmpeg, like this:
[code]

[2016-10-07 16:41] beardypig commented on #57
OK. `python-librtmp` uses some C extensions that need to be compiled, for them to be compiled you need the correct version of MSVC++ and the `librtmp` libraries - which is kind of a pain in the butt.
For Python2.7, Python3.3 and Python3.4 there are wheels on PyPi that include the compiled binaries for `python-librtmp`, so I think it would work (I have no way to test it) if you could use Python 2.7

[2016-10-07 17:18] Brainzyy commented on #57
Ah, I see, maybe rtmpdump.exe can be used?

Op 7-okt.-2016 18:41 schreef "Beardypig" <notifications@github.com>:

[2016-10-07 17:32] #70 closed

[2016-10-07 17:42] TheSneakySniper commented on #57
We might have to rewrite the ustream plugin...

[2016-10-07 20:18] TheSneakySniper commented on #69
Oh, i had no idea there was a --retry-open command..

[2016-10-07 20:18] #69 closed

[2016-10-07 20:28] karlo2105 commented on #65
And why don't u use livestreamer name like originál?

[2016-10-07 20:31] cdrage commented on #65
@karlo2105 developer abandoned the project

[2016-10-07 21:56] karlo2105 commented on #65
@cdrage
But you can fork Livestreamer by keeping the same name of project.
I think it's pointless to change name as it will make several projects of same program with different names.

[2016-10-07 21:58] sbstp commented on #65
The name is taken on pypi by the old, unmaintained project. We can't push updates to pypi using the old name.

[2016-10-07 22:08] karlo2105 commented on #65
You can push changes on existing project by pulling requests.
If you want to make separate project, I will choose Livestreamer2 name.

[2016-10-07 22:15] sbstp commented on #65
You don't understand. We can't update the `livestreamer` package on python's official distribution platform (pypi) because we don't have the permissions, and the maintainer is not responsive.

[2016-10-07 22:37] karlo2105 commented on #65
Is there any alternative to pypi to keep on with same name project ?

[2016-10-07 23:28] gravyboat commented on #65
@karlo2105 No there isn't.

[2016-10-08 06:18] RosadinTV opened #78 "Windows build release date"
Hi, first of all, glad to see the Livestreamer project live again with your work.
My question is if you have an estimated release date for the Windows build ?
Thanks

[2016-10-08 08:05] karlo2105 commented on #65
Some members made fork from livestreamer by keeping same name and contributed to original project.
How did it work on their side pypi needs permissions ?

[2016-10-08 11:25] skulblakka commented on #65
That's why. They made Pull Request to the original project that were pulled into it. However as the original maintainer is no longer continuing the project no Pull Request are being merged.

[2016-10-08 17:54] beardypig commented on #66
If you are using Linux or similar you might be able to use https://tinyproxy.github.io which provides an HTTP(S) proxy that you can bind to a specific ip for outgoing connections while allowing you to listen on a different interface. Then you should just be able to use it with the - - http-proxy option.

[2016-10-08 19:08] gravyboat commented on #78
We just merged https://github.com/streamlink/streamlink/pull/27 yesterday. Once @cdrage does a build the Windows installer should be available.

[2016-10-08 20:02] cdrage commented on #78
Hey @gravyboat just saw it was merged. Anything else that needs to be done before a pypi/pip release + tagged release on GitHub?

Otherwise, I'll create a changelog and release another version of streamlink!

[2016-10-08 20:29] gravyboat commented on #78
@cdrage I don't think so. Do we have documentation up for where to get/how to use the windows installer? @sbstp is there anything else we need to do to provide this? I noticed the Windows installer link on the docs is broken currently since it's still using the livestreamer docs.

[2016-10-08 20:48] sbstp commented on #78
I guess fix the links and explain the difference between the Python 2 and the Python 3 version.

[2016-10-08 22:14] RosadinTV commented on #78
Great, awesome support 😄

[2016-10-09 07:36] TheSneakySniper commented on #58
I just discovered something interesting. I used wireshark to detect incoming connections to my computer, then loaded a stream. I then exported all HTML objects to a folder, and got a bunch of object files like this: object 209, 212, 217, 223, 225, etc... no specific order. Then I saw some interesting 1.1-1.5~ megabyte files with names like "object1626.video%2fx-flv", and with different numbers. If

[2016-10-09 07:37] TheSneakySniper commented on #58
I just discovered something interesting. I used wireshark to detect incoming connections to my computer, then loaded a stream. I then exported all HTML objects to a folder, and got a bunch of object files like this: object 209, 212, 217, 223, 225, etc... no specific order. Then I saw some interesting 1.1-1.5~ megabyte files with names like "object1626.video%2fx-flv", and with different numbers. If

[2016-10-10 02:08] fireattack opened #81 "On Windows, no "streamlinkrc" file found after installation"
Despite [it said so in the document](https://streamlink.github.io/cli.html#configuration-file).

[2016-10-10 04:07] TheSneakySniper commented on #81
Could you give us a little more information?

[2016-10-10 04:15] fireattack commented on #81
I just use `pip install streamlink` to install it today, but it doesn't have that file "streamlinkrc" under "%APPDATA%\streamlink\". The folder itself, exists.

[2016-10-10 04:25] gravyboat commented on #81
A bunch of the Windows documentation is out of date since we're working on rebuilding how the installer works. Documentation changes and other notes are being mentioned over in https://github.com/streamlink/streamlink/issues/78

[2016-10-10 09:56] beardypig commented on #70
crunchyroll appear to have updated their API a bit and the stream URLs can either be plain HLS old stream URLs or HLS variant playlists. However, the HLS variant playlists for low/mid/high quality only provide one variant, where as the adaptive quality provides all of them (and more). I have updated the plugin to support this in #73
@SirFireNewt does the new version fix the issue you were having?

[2016-10-10 10:02] lawin1 commented on #65
Just add "-er": streamlinker.

[2016-10-10 11:26] beardypig commented on #58
For desktop streams to work you need `python-librtmp` (another @chrippa project) installed, this might be tricky if you are using python 3.5+ on Windows because some C extensions for `librtmp` needs to be compiled. As @xlal0523 alluded to, desktop streams on ustream.com use their custom streaming protocol. Previously there were RTMP streams available but it looks like these have disappeared. It is

[2016-10-10 12:14] SirFireNewt commented on #70
@beardypig Yes it does thanks. However the older streams seem to return interesting resolutions like

They still play correctly and at the right res so it's not an issue.

[2016-10-10 12:52] beardypig commented on #70
@SirFireNewt Yeah, that is a side-effect of using the variant playlist instead of the provided HLStreams. The list of streams that streamlink returns in this case are by bitrate rather than by resolution :)

[2016-10-10 14:54] beardypig commented on #58
Desktop streams a hybrid RTMP/HTTP streaming protocol is used. The RTMP server is used to give out metadata about the channel, including a list of streams and a base url for all of the streams. Each of the streams has metadata, including bit rate, resolution.

The streams are divided in to chunks (or segments), each chunk is found under the base URL for the channel. The exact path for each chunk i

[2016-10-10 15:00] stevek123 commented on #58
The HTML5 only player uses a different format.

[2016-10-10 15:02] beardypig commented on #58
@stevek123 do you have to enable some option to get the HTML5 player or do specific channels use the HTML5 player?

[2016-10-10 15:11] stevek123 commented on #58
For example, this one: http://www.ustream.tv/leolaporte is always HTML5 for me, even if flash is installed

[2016-10-10 15:15] beardypig commented on #58
Perfect, cheers!

[2016-10-10 15:26] TheSneakySniper commented on #58
Does librmtp need to be installed for this to work?

[2016-10-10 15:31] beardypig commented on #58
@TheSneakySniper currently yes, however, with the information from @stevek123 it should be easy to create a version of the plugin that does not use `python-librtmp` - in fact, I'm working on it right now...

[2016-10-10 15:32] sbstp commented on #81
`pip install streamlink` doesn't use the installer, so I don't think it ever created the `livestreamerrc` file. Nothing in the `setup.py` indicates that it did. Now the installer should create that file, so I'll work on doing that.

[2016-10-10 18:20] gravyboat commented on #78
@sbstp Do the differences between the Python 2 and 3 versions really matter that much for Windows users since it's self contained? We'll need to do the build so the installer is available before we update the docs I think. I would rather have the executable available sooner so we can start testing than worry about documenting those few items unless you believe they are absolutely critical.

[2016-10-10 19:00] sbstp commented on #78
Yeah, my issue with it is that it might be confusing to people when they choose which one to download. They might think, that the version must match their own Python installation, but it's just the embedded python's version.

I'd honestly like to use the python 3 version as it's smaller, simpler and has better isolation.

[2016-10-10 19:04] TheSneakySniper commented on #58
@beardypig to be clear: Ustream gives the chunkRange, streamName, and chunkId all from the RMTP data? And you are parsing the RTMP data at the end and downloading it, correct?

[2016-10-10 19:13] gravyboat commented on #78
@sbstp Why don't we just avoid providing the Python 2 version then when it comes to Windows then? I see no reason to support an older release of Python when we have this clean slate to work with. If there is no advantage to doing so, there's no reason to support it or provide it as an available download.

[2016-10-10 22:30] MrLint commented on #65
Streamera? I dont see this on any search results.

[2016-10-11 08:24] plneappl opened #82 "retry-streams overrides twitch-disable-hosting"
When using both arguments `--retry-streams DELAY` and `--twitch-disable-hosting`, on the first retry streams are switched to the hosted stream anyway.  Instead, streamlink should keep retrying without streaming the hosted stream.

[2016-10-11 14:25] TheSneakySniper commented on #65
@lawli3t perfect

[2016-10-12 13:42] Xeala commented on #78
Would be nice if you build a portable version for Windows too :)

[2016-10-12 16:33] gravyboat commented on #78
@sbstp @cdrage Let's do the next release today if possible, with or without docs. We can document later but we need to get a Windows release out there for people to use.

[2016-10-12 17:12] cdrage commented on #78
@gravyboat np, I'll do the release now then :)

[2016-10-12 17:23] cdrage commented on #78
@gravyboat done!

I think this can be closed and a new ticket opened for updating Windows documentation :)

You can checkout the new release on the release page and install the updated streamlink via `pip install streamlink --upgrade`

[2016-10-12 17:24] cdrage opened #84 "Windows installer documentation"
We need to update the documentation on the streamlink site in regards to the Windows build.

It would also be nice to include this build in new releases (download the binary :)). :+1:

[2016-10-12 17:57] gravyboat commented on #78
Thanks @cdrage.

[2016-10-12 17:57] #78 closed

[2016-10-12 18:05] gravyboat commented on #84
Details for doing the build starts here. @cdrage Do we want to make a new repo under the streamlink org for releases? We should also discuss how to ensure the build is 'safe' for usage by end users depending on where it gets built.

[2016-10-12 19:07] beardypig commented on #84
Is the releases feature of Github not suitable? Can you not add the binaries to the release.

On a related note, I don't know if you have plans to add a develop branch and merge all PRs to that and keep master as the stable release branch?

[2016-10-12 19:11] gravyboat commented on #84
@beardypig The releases is fine, we could definitely build and then just add it to that page. I just want to make sure we're building in a secure environment. Regarding the develop branch we discussed that here: https://github.com/streamlink/streamlink/issues/12

[2016-10-12 19:45] veludo32 commented on #84
I'm from Brazil, as I install streamlink in windows 7?

[2016-10-12 20:43] veludo32 commented on #81
I'm from Brazil, as I install streamlink in windows 7?
someone help me install streamlink?
I did not understand how to install it ...
anyone can make a video plz?

[2016-10-12 22:31] veludo32 commented on #82
I'm from Brazil, as I install streamlink in windows 7?

[2016-10-12 22:34] thinkpad4 commented on #78
There will be a windows EXE installer version soon, right?

[2016-10-12 22:36] thinkpad4 commented on #84
I can't find the Windows installer link?  https://github.com/streamlink/streamlink/releases/download/v0.0.2/streamlink-v0.0.2-win32-setup.exe doesn't work

[2016-10-12 23:28] gravyboat commented on #84
@thinkpad4 It hasn't been built yet so it still needs to be added to the release page and the docs updated.

[2016-10-12 23:29] gravyboat commented on #82
@veludo32 Please don't spam multiple issues/unrelated issues.

[2016-10-12 23:36] thinkpad4 commented on #84
Ok, thanks.

[2016-10-12 23:38] veludo32 commented on #84
@gravyboat installing with pip? a favor video of how to install via pip? the windows ...

[2016-10-13 04:40] TheSneakySniper commented on #58
@beardypig Any progress?

[2016-10-13 07:00] beardypig commented on #58
Yes, progress has been made, you can follow it on my fork: https://github.com/beardypig/streamlink/commits/ustream-websocket

This is almost a total rewrite of the plugin. I have a working websockets client that is getting the fragment information, the appear to be two different types of of stream; fragmented flv (as before) and fragmented mp4 (very similar to MPEG DASH). Most of the old code for

[2016-10-13 07:22] Brainzyy commented on #84
@veludo32 Install python, open cmd.exe and type in: pip install streamlink

[2016-10-13 12:19] cdrage commented on #84
@gravyboat We can build manually each-time we do a release :) I can add it to the release script. Some sanity checks would be nice though too.

[2016-10-13 12:19] cdrage commented on #78
@thinkpad4 Ideally, just a single binary (.exe)

[2016-10-13 12:31] RosadinTV commented on #78
@cdrage  I think that is better to have the possibility to edit Plugins and other stuff too, i mean a binary (.exe) with all the folder libraries accessible to the user (like the original livestreamer Project) instead of a single executable with all packed and inaccessible to edit.
Check this pic:
https://s9.postimg.org/9yog5h5vj/livestreamer_portable_with_folders.png

[2016-10-13 16:03] veludo32 commented on #84
@Brainzyy
installed python 3.2.5 64-bit: open cmd.exe with permissions and enter pip install streamlink and hit enter.

appeared the following error message: 'pip' is not recognized as an internal or external command, operable program or batch file.

[2016-10-13 17:56] fresc81 commented on #46
What about setting up [Appveyor](https://www.appveyor.com/) as Windows CI to provide binaries automatically?

[2016-10-13 17:58] Junior1544 commented on #84
@veludo32
You should probably make sure that Python is included in the Path statement...

[2016-10-13 18:54] veludo32 commented on #84
I'm from Brazil, I can not speak English I'm talking about by google translator, you could make a video installing is easier for me if you can appreciate it.

[2016-10-13 19:18] TheSneakySniper opened #85 "Remove warning --yes-run-as-root"
I feel like this is an easy change, and that it would be beneficial if this message would be replaced with something like:
streamlink is not supposed to be run as root. Are you sure?
(y/n)
The original output is

`streamlink is not supposed to be run as root. If you really must you can do it by passing --yes-run-as-root.
`
Or just remove it.

[2016-10-13 19:31] flijloku commented on #84
@veludo32  I read, that needed Python 3.4+. For example this: https://www.python.org/downloads/release/python-352/

[2016-10-13 19:40] cdrage commented on #85
Honestly, IMO at least, we should assume the user knows what he's doing.

I find it strange that I purposely do `sudo streamlink` and yet this error pops up.

No Linux program out there I know / have used has done this.

This should be a warning / logging out, rather than explicitly stopping the program.

[2016-10-13 20:22] veludo32 commented on #84
I found the way, but nothing related the streamlink

[2016-10-13 20:35] veludo32 commented on #84
@flijloku
I managed to install but streamlinkrc file does not appear in the AppData \ Roaming \ streamlink

[2016-10-13 21:00] TheSneakySniper commented on #85
I agree.

[2016-10-13 21:21] fishscene commented on #85
@cdrage cvlc/vlc specifically denies being run as root. It's quite annoying to work around when creating scripts that run on startup - but I reckon my system is safe and secure.

I see no reason to run this as root, and the fewer things running as root, the less that can go wrong.

Might I propose that not only do we remove the sudo check, but to include instructions to work around running as root

[2016-10-13 21:44] flijloku commented on #84
Use search for streamlink.exe and then add the path to them in system variable "path" or in bat-file(cmd-line).I do not know what else to help you.

[2016-10-13 21:50] veludo32 commented on #84
@flijloku
thank you, good will go using livestreamer for now, when they arrumarem everything right I start using streamlink :) thanks for trying to help!

[2016-10-13 21:59] flijloku commented on #84
If you use "Customize installation" and install Python as I write above  (in "C\Python35) I think you find streamlink.exe in C\Python35\Scripts\. If not, it's amazing to me :)

[2016-10-13 22:14] RosadinTV commented on #84
Soon i will be posting a Windows Portable version of Streamlink release 2 base on Python 3.5.2

[2016-10-13 23:22] RosadinTV opened #86 "Streamlink for Windows (Release)"
**Edit: New more solid version available:**
Download: https://1drv.ms/u/s!AteNlrENG5PD9WVnN1ie5KY8uwIK
*You need Windows Vista SP2 or later with Visual C++ Redistributable for Visual Studio 2015  installed ( https://www.microsoft.com/en-us/download/details.aspx?id=48145 )

-------
Original post (dont recommended):
Hi, i dont know if this is the right place to post this, but i have compiled a porta

[2016-10-13 23:37] gravyboat commented on #86
What type of system did you build this on? @cdrage Are we cool with adding this to the release list or do we want to continue investigating the idea of building it in an automated fashion somewhere else? Thanks either way @RosadinTV!

[2016-10-14 01:27] RosadinTV commented on #86
I did it with pyinstaller on Windows 10 with trial and error method (i mean keep fixing when a error appears)
Here i made a little guide of how i builded it, but of course is not a really good build method, probably should be a better way to do this. (Also i didnt know any of Python)
Download: https://1drv.ms/u/s!AteNlrENG5PD9WQ0z1RZO7J5Lv1-

[2016-10-14 02:25] gravyboat commented on #86
The build should be pretty easy to do thanks to what @sbstp built. @sbstp would you be willing to do a build with your installer method today or tomorrow so we can add it to the release page and have a single executable available?

[2016-10-14 05:15] sbstp commented on #86
I've been busy with mid terms so I don't have as much time. I'll try to do it tomorrow. Anyone should be able to produce the installers though, all you need is NSIS and a couple of python packages. It can also be made from Linux. I'll document how to make the installer.

[2016-10-14 06:28] gravyboat commented on #86
@sbstp Thanks and good luck with the mid terms!

[2016-10-14 15:40] mmetak opened #87 "vaughnlive.tv new INFO_URL"
I had to replace line 8 in:
"/usr/lib/python3.5/site-packages/streamlink/plugins/vaughnlive.py"
with:
`PLAYER_VERSION = "0.1.1.765"`
`INFO_URL = "http://mvn.vaughnsoft.net/video/edge/mzn-{domain}_{channel}?{version}_{ms}-{ms}-{random}"`
to make it work again.

btw: I also maintain streamlink AUR packages. ;-)
https://aur.archlinux.org/packages/streamlink/
https://aur.archlinux.org/packages/streaml

[2016-10-14 16:35] gravyboat commented on #87
Do you want to prep a PR for that vaughnlive change?

[2016-10-14 16:46] mmetak commented on #87
#88

[2016-10-14 17:21] gravyboat commented on #87
Closing as this is fixed. @cdrage @mmetak has linked some archlinux packages, do you want to add these to the docs?

[2016-10-14 17:23] #87 closed

[2016-10-15 10:12] Skibicki commented on #81
livestreamerrc can renamed and placed in \AppData\Roaming\streamlink
This config works but needs a little editing. http://pastebin.com/Q5KbgRpj

[2016-10-15 15:52] Vangelis66 opened #89 "Stream quality shortcuts unavailable?"
Hello

I am currently testing v0.0.2 of the python script on Windows Vista SP2 x86,
using the "portable" windows package kindly offered by @RosadinTV

In livestreamer, I could issue:

`livestreamer -l debug --http-proxy "proxyhost:80" -o "itv1-1800k.flv" "http://www.itv.com/hub/itv" best`

and it would work. In fact, issuing:

`livestreamer -l debug --http-proxy "proxyhost:80" -o "itv1-1800k.flv"

[2016-10-15 18:37] RosadinTV commented on #89
I tried and yes, you are right.
For some reason in Python 3.5.2 the stream qualities didnt get the k ending.
I mean with this stream in Python 2.7 returns: Available streams: 1200k (worst), 1500k, 1800k (best)
In Python 3.5.2 returns: Available streams: 1800, 1500, 1200
Maybe somebody of the staff know a fix for this issue.

[2016-10-15 19:41] Vangelis66 commented on #89
@RosadinTV

Many thanks for looking into this.

Pending an intervention from the main devs,
could you be so kind as to compile a win32 "portable" package
(like your second one, where Python and Streamlink dirs are separated),
but this time based on Python 2.7.11 x86?

BTW, on https://github.com/streamlink/streamlink/issues/86 you should indicate that:
1. Your offering won't run on Windows XP, sinc

[2016-10-15 21:16] RosadinTV commented on #89
@Vangelis66
Here is (but of course may have some bugs too): https://1drv.ms/u/s!AteNlrENG5PD9WaVaeDDq1EGj60H
Also updated the original post with the requirements too 😉

[2016-10-16 00:41] gyvess opened #91 "Choose Twitch Server"
References:
https://github.com/chrippa/livestreamer/issues/94
https://github.com/bastimeyer/livestreamer-twitch-gui/issues/250

-----
The ability to choose which server you connect to when launching a twitch stream should allow for improved individual performance.

[2016-10-16 03:35] ethanhlc opened #92 "Changelog in docs empty"
Clicking the changelog link in the github.io page leads to an empty Changelog page.

[2016-10-16 05:51] sbstp commented on #86
Ran into issues setting up the `streamlinkrc` file in app data. Might just publish the thing without it for now.

[2016-10-16 07:34] weedy commented on #65
strmr
As in strimmer is your group full? We should go full meme naming

[2016-10-17 21:06] beardypig commented on #89
I can look it to this if no one else already is.

[2016-10-17 21:17] gravyboat commented on #89
@beardypig I don't think anyone is. Seems like most of the 'main' people on the project are very busy this week, myself included.

[2016-10-17 23:56] mezzoEmrys opened #93 "Connectcast stream fails with "invalid url""
Attempting to load an active connectcast stream via `streamlink connectcast.tv/streamname` results in an error:
`error: Unable to open URL:  (Invalid URL '': No schema supplied. Perhaps you mean http://?)`

Similarly, using `http://connectcast.tv/streamname` for the url also fails.

Running on Windows, built with python 3.5.0rc2

[2016-10-18 16:08] 404NetworkError opened #94 "Option --version-check outputs invalid input response"
### Expected Behavior

`[cli][info] Your Streamline version (0.0.2) is up to date!`
### Actual Behavior

[code]
### Steps to reproduce the behavior

`streamlink --version-check`

[2016-10-18 17:57] beardypig commented on #89
I took a look, it seems to be a difference in integer division between py2 and py3. I have created a PR with a fix.

[2016-10-18 18:19] TheSneakySniper commented on #94
Please use the correct command, --version.

[2016-10-18 18:26] scottbernstein commented on #94
--version-check is different than --version

--version-check calls back to the server to see if you have the latest version or not.
________________________________
From: TheSneakySniper <notifications@github.com>
Sent: Tuesday, October 18, 2016 2:19:21 PM
To: streamlink/streamlink
Subject: Re: [streamlink/streamlink] Option --version-check outputs invalid input response (#94)

Please use the corr

[2016-10-18 18:33] beardypig commented on #94
This issue is caused by an Invalid version number in the PyPi json information endpoint for streamlink: https://pypi.python.org/pypi/streamlink/json
The offending version field...
[code]
The `version_check` method uses `StrictVersion`, which disallows suffixes such as `rc1` which generates an `Exception`, which is silenced... Even if you change it to `LooseVersion`, which does permit `rc1`, `--ver

[2016-10-18 18:45] beardypig commented on #94
I have created a work-around that will get the latest version that has release information - it works, but the better solution would be to fix the PyPi entry if possible.

[2016-10-18 19:27] gravyboat commented on #94
There's a discussion going on over in #97 to discuss getting this fixed.

[2016-10-18 19:28] gravyboat commented on #89
Goign to close since this since #96 resolved this.

[2016-10-18 19:28] #89 closed

[2016-10-18 19:28] #93 closed

[2016-10-18 22:09] sbstp commented on #86
Turns out `pynsist` doesn't have access to the user's appdata folder, only the system one. So we need to rethink how we handle the config file. We could make streamlink copy the file in appdata or change the location of the config file to put it in the installation folder.

[2016-10-18 23:06] gravyboat commented on #86
@sbstp Let's just put it in the installation folder. Easy enough to configure from there.

[2016-10-19 10:28] Shaaah commented on #86
@gravyboat That's just a quick fix. Ideally, you would want a rc file per user, in the AppData folder.

[2016-10-19 16:12] gravyboat commented on #86
@Shaaah Feel free to prep a PR that addresses this issue if you would like to work on it, for now though we need a Windows release available to download.

[2016-10-19 17:28] scottbernstein commented on #86
Installation folder may be problematic for people who do not have Admin access under Windows

________________________________
From: Forrest <notifications@github.com>
Sent: Tuesday, October 18, 2016 7:07:00 PM
To: streamlink/streamlink
Subject: Re: [streamlink/streamlink] Streamlink for Windows (Release) (#86)

@sbstp<https://github.com/sbstp> Let's just put it in the installation folder. Easy en

[2016-10-20 16:33] Vangelis66 commented on #89
@RosadinTV

Many thanks for your Python 2.7.11 (x86) "portable" Windows package; you are being awfully kind!
This can be run even on Windows XP, since, much like livestreamer-win32, it only requests that MS Visual C++ 2008 Redistributable Package is installed (the case already on most systems!). I couldn't help noticing, however, the significantly larger size of folder "Python 2.7.11" compared to

[2016-10-20 19:14] sbstp commented on #86
Alright, for now let's just ignore it. People will have to set it up manually for now.

[2016-10-20 23:33] strudelkuchen commented on #65
`Livestreamer2` sounds good.
The first major fork of `mplayer` was called `mplayer2`, which then got forked and gave us `mpv`.

[2016-10-20 23:42] thinkpad4 commented on #86
This, to build the installer, you need to have NSIS and pynsist installed on your
 system, is a pain in the ass to do.  No chance of pre-making it and listing that on the website.  Cause this, You can download the latest Windows installer `here <https://github.com/streamlink/streamlink/releases is deceiving

[2016-10-20 23:47] gravyboat commented on #86
@thinkpad4 We're working on it. Please keep in mind this is an open source project and people who contribute to it are extremely busy with their paying jobs/school/other responsibilities. As soon as we can we'll have a release available on the releases page. We have to make sure everything works as intended and there are as few bugs as possible that a user might encounter.

[2016-10-20 23:50] thinkpad4 commented on #86
yeah, sorry, I'm just excited to try it.

[2016-10-20 23:53] gravyboat commented on #86
@thinkpad4 I totally understand, a lot of us are!

[2016-10-20 23:53] sbstp commented on #86
I'm gonna publish it right now based on master.

[2016-10-20 23:58] sbstp commented on #86
Ok it's there. Try it and let me know how it goes.

[2016-10-20 23:59] gravyboat commented on #86
Sounds good, thanks @sbstp! I'll try it out tonight.

[2016-10-21 00:47] gravyboat commented on #86
Okay tested it out and everything seems to work fine minus the path to VLC being incorrectly set so it just bombs out. I didn't see any sort of config that's set to modify the default player (it doesn't detect where VLC is installed obviously) so I adapted my existing Livestreamer powershell script to handle it (https://github.com/gravyboat/streamlink-powershell). I assume most people are just cal

[2016-10-21 00:49] sbstp commented on #86
On my machine it finds VLC without having to specify the path. Did you install VLC in a non standard location?

[2016-10-21 00:51] gravyboat commented on #86
@sbstp Yeah I did, I store applications on a secondary hard drive.

[2016-10-21 01:22] RosadinTV commented on #89
@Vangelis66
You have to patch some files and move specific directories, but later maybe i release a program that makes all the work.
I mean a program that download the whole project with the latest commit and automatically create a ready-to-use release.
If i develop this i will be posting here.

[2016-10-21 01:26] gravyboat commented on #89
@Vangelis66 @RosadinTV I wouldn't worry about it too much at this point. Doing a release is pretty easy for us now that everything is set up, we just need to automate the builds a bit more. I think there are a lot more improvements within Streamlink. As of now the Windows installer has everything from master up until today: https://github.com/streamlink/streamlink/releases

[2016-10-21 01:34] RosadinTV commented on #89
@gravyboat
Cool, i'll check this 😄
Probably i will still develop the automatized build generator for my Project (a GUI that uses ytdl and livestreamer .. but now im moving to streamlink)
PS: This release requires Visual C++ too?
Thanks.

[2016-10-21 01:42] ethanhlc opened #100 "RTMPdump when installed through pip?"
Where does rtmpdump get installed to if we installed streamlink through pip on windows?
The streamlinkrc file has an entry for specifying the location of rtmpdump, but I'm not sure where it should point to since I installed streamlink using pip.

[2016-10-21 01:46] sbstp commented on #100
I don't think that the pip install gives you rtmpdump.

[2016-10-21 01:47] ethanhlc commented on #100
So, should it be installed separately? Or does not having it not matter?

[2016-10-21 01:49] sbstp commented on #86
Yeah that's probably why. I don't think there's an easy way of detecting where VLC is installed, maybe there's something in the registry.

[2016-10-21 01:53] sbstp commented on #100
It's required to play RTMP streams. If watch those, then you need to install it and have your config point to where it's installed. We're still working on making things smooth on windows.

[2016-10-21 02:09] dojima commented on #86
Will it be possible to just get a ZIP file containing all of the necessary files similar to Livestreamer in the future?

Thanks.

[2016-10-21 03:08] gravyboat commented on #89
@RosadinTV Sounds good regarding your tool! Check out https://github.com/bastimeyer/livestreamer-twitch-gui for some of the Twitch stuff. The main dev is a nice guy who might be interested in extending the functionality.

[2016-10-21 03:09] gravyboat commented on #86
@sbstp Yeah it's no big deal. I would use the powershell script no matter what, so unless we have a config strictly for Streamlink it doesn't really matter. I'm not sure how this was configured previously for Livestreamer. @dojima We have some archived releases here: https://github.com/streamlink/streamlink/releases but I don't think there's a version for Windows if that's what you are asking.

[2016-10-21 03:10] gravyboat commented on #25
I think we can close this to keep things clean in the issues unless you have concerns @sbstp.

[2016-10-21 03:11] gravyboat commented on #46
@sbstp I think we can close this since the release is now available here: https://github.com/streamlink/streamlink/releases/download/0.0.2/streamlink-0.0.2.exe. The idea to use Appveyor might be a good idea just to make things more automated in the future.

[2016-10-21 03:13] gravyboat commented on #81
@sbstp It might be worth reviewing this note from @Skibicki for a config.

[2016-10-21 03:14] gravyboat commented on #86
@RosadinTV I would like to close this issue if you're cool with it now that a release is available.

[2016-10-21 03:30] dojima commented on #86
@gravyboat Yes, was referring to a Windows version.  Basically something exactly like what @RosadinTV created.

[2016-10-21 05:51] RosadinTV commented on #89
@gravyboat Cool, this can be useful, thanks.

[2016-10-21 05:53] RosadinTV commented on #86
@gravyboat  Yes, i think that now is time to close this issue 😉

[2016-10-21 05:53] #86 closed

[2016-10-21 15:20] Vangelis66 commented on #89
@RosadinTV wrote:

... to apply the fix for https://github.com/streamlink/streamlink/issues/89 on your Py3 package, I ended up patching locally
(with a text editor) files "itvplayer.py" & "livestream.py" according to https://github.com/streamlink/streamlink/commit/c9babf344771da8b49d1b53e5e0b058a8dfe5a50

Well, I messed around with that idea, this is what I did:
1. Backed up directory "Streamlink"

[2016-10-21 16:25] gravyboat commented on #89
I don't know if there are plans to create a self contained package like that right now. Regarding XP support it's not something we've discussed. I'm against spending the time on it as we're already pretty limited. The issue is and always will be time, is it worth the dev time to support an already small user base on a very old distro? I don't know, I just know I would rather spend my time working

[2016-10-22 01:02] sbstp commented on #89
Full disclosure here, I joined this project because I'm a fairly heavy livestreamer user and I was pissed that it went unmaintained. So I worked on the things required to make it work again for my needs. I hate Windows with a passion and I would really like to avoid installing development tools on it. I'm only using it for gaming/work and watching streams while gaming/working. So the NSIS installe

[2016-10-22 01:20] gyvess commented on #89
If it puts any of your minds at ease I can confirm that both the official Streamlink Windows release and Rosadin's Python2.7 release work on Windows XP.  I tested both with Youtube and Twitch.

Only problem I've had is that official is run from a .py and Rosadin's is a .bat.  Both of which act slightly funky when used with the 'Open Livestreamer' Firefox Addon and Livestreamer-Twitch-GUI.  However

[2016-10-23 16:23] SanyaIV commented on #65
I second Livestreamer2 but also like Streamera.

[2016-10-23 20:10] Junior1544 opened #101 "Livestream.com plugin not working, or am i using it wrong?"
I just installed Streamlink via pip on my raspberry pi.

then I tried to play a stream I watch all the time on livestream.com with the omxplayer and it gave me an error about needing a swf url?

here's a capture of what happened.

![image](https://cloud.githubusercontent.com/assets/20785288/19629102/bab74438-9908-11e6-8c9a-bce11f4942e4.png)

I'm tech oriented, but very heavily windows based, barel

[2016-10-24 13:31] beardypig commented on #58
I have pushed some commits to that branch (https://github.com/beardypig/streamlink/commits/ustream-websocket) that include a basic MP4 muxer. Some help testing mp4 streams would be welcome :)

[2016-10-25 02:43] alphapapa commented on #65
`lvstrmr` is short and seems to not turn up search results.

[2016-10-25 16:17] BogheanGratian opened #102 "Constant Buffering on VODs"
I'm trying to watch a twitch vod and it's constantly buffering every second. I've read some of the common issues but I have 0 understanding of how coding works, it says to put "--player cache=5000" to easy the buffering but I have no idea where on the "%appdata% streamlink" there is no configuration file only a "cli" file that says the version of the application. Could any one please help me?

[2016-10-25 19:01] scottbernstein commented on #65
I like streamlink just fine  :)

________________________________
From: SanyaIV <notifications@github.com>
Sent: Sunday, October 23, 2016 12:24:00 PM
To: streamlink/streamlink
Subject: Re: [streamlink/streamlink] Naming issues (#65)

I second Livestreamer2 but also like Streamera.

-
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<h

[2016-10-26 18:51] scottbernstein commented on #101
@Junior1544 try changing the quality parameter from 270p to 270p_hls and it will work fine

[2016-10-26 19:00] Junior1544 commented on #101
Well, it's a start...

It'll start playing the video but will stop after about 35 seconds or so.  I tried running it several times just to make sure it wasn't a fluke...

Any thoughts on that?  I need it to keep going, at least for some time because it's just plain annoying having to restart it every 30 seconds...   I can make it keep restarting, but i'll not watch it if it keeps stopping like tha

[2016-10-26 19:56] scottbernstein commented on #101
OK, I have another solution for you:
- View the source of the page in your browser (CTRL+U in chrome)
- Use CTRL+F to search for this in the source of the page:  m3u8_url
- Directly after the "m3u8_url" there is will be a colon followed by a URL like this:
http://api.new.livestream.com/accounts/xxxxxx/events/yyyyyyy/videos/zzzzzzzz.m3u8

Or something similar to the above but with some additional p

[2016-10-26 21:13] Junior1544 commented on #101
I'm trying to make an automated thing that'll play the video for me...   having to constantly update the code on it wont really help with that :)  For now, I'll just have it keep re-playing the video and hope someone with the right knowledge will get the livestream plugin to work better :)

Thank you so much for your help!  You've got me going, for now I'll move on to other parts of my project and

[2016-10-26 21:13] #101 closed

[2016-10-26 21:14] Junior1544 commented on #100
is rtmpdump needed for viewing rtmp streams in linux (on a raspberry pi, raspian version of linux)?

Just a thought that this might be causing my issues with streamlink at the moment...

[2016-10-26 22:07] stevek123 opened #103 "Twitch.tv: use https only"
Since they support https now, I think the plugin should use the new url: https://usher.ttvnw.net instead of http://usher.twitch.tv (line 131), so every part of the connection would go securely.

[2016-10-26 22:39] gravyboat commented on #103
https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/twitch.py#L131 is the line in question.

[2016-10-26 23:39] sbstp commented on #100
Yes I think so. If you have rapsbian you can just install it with apt-get and it should work.

[2016-10-27 01:06] thinkpad4 commented on #81
So all I need to so is rename livestreamerrc to streamlinkrc and place it in the roaming/streamlink folder?

[2016-10-27 01:10] Junior1544 commented on #100
When I tried
sudo apt-get install rtmpdump
it said that it's already the newest version, but it's set to manually installed?

[2016-10-27 02:08] stevek123 commented on #103
Yes, that's the one. After replacing the URL, the plugin still works fine.

[2016-10-27 02:44] sbstp commented on #100
Yea that's just how apt works. You already had rtmpdump installed, it was pulled because it's a dependency of something else you have installed. Running that command changed the package's flags to say "don't delete if the dependent package of rtmpdump is removed."

[2016-10-27 03:01] Junior1544 commented on #100
ok, but how do i tell Streamlink where it is?

--James

[2016-10-27 03:06] sbstp commented on #100
Edit your config file in `~/.config/streamlinkrc`, [(template here)](https://github.com/streamlink/streamlink/blob/master/win32/streamlinkrc), and set the `rtmpdump` value to the path of rtmpdump. You can find it by using `which rtmpdump`.

[2016-10-27 03:15] Junior1544 commented on #100
ok, i did that and when i try to play the normal stream on it (livestream.com stream) it gives me the following error:

![image](https://cloud.githubusercontent.com/assets/20785288/19753357/aa2f67c8-9b9f-11e6-8027-719f64c2bc9b.png)

i'm looking to use the normal stream because the hls stream only plays for about 35 seconds (or so) then stops...

[2016-10-27 15:07] flijloku opened #105 "Possibility of simultaneous viewing and recording of stream?"
It would be good to implement possibility of simultaneous viewing and recording of stream (to save bandwidth). Or this possibility already exists?

[2016-10-27 15:35] scottbernstein commented on #105
Someone already implemented this for the main livestreamer build, but of course since there have been no releases, it's still sitting as a pull request.

Perhaps someone could either integrate into streamlink, or they could contact the original coder to ask him to integrate here?

https://github.com/chrippa/livestreamer/pull/1204

[https://avatars1.githubusercontent.com/u/4093184?v=3&s=400]<https:

[2016-10-27 15:36] bastimeyer commented on #105
You can use the `-O` parameter that outputs the stream data to stdout and then pipe it into `tee`, which then writes the data into a file and pipes it further into your video player...

[code]

[2016-10-27 16:07] flijloku commented on #105
@scottbernstein Thanks, I'll try!
@bastimeyer This is for linux? Is there an analogue for windows?

[2016-10-27 17:25] plneappl opened #106 "Plugin LivecodingTV fails to load on Python 3.6.0b2 on Windows 10 x64"
Just running streamlink raises the following error on my system with a fresh install:

[code]

[2016-10-27 17:30] #105 closed

[2016-10-27 18:09] intact commented on #106
change https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/livecodingtv.py#L9 to
[code]

[2016-10-27 23:31] hallcp commented on #91
This is firmly against Twitch ToS.

[2016-10-27 23:37] gravyboat commented on #91
@hallcp I'm not doubting you, for the record can you please link the appropriate section? I don't have time to look at it right now.

[2016-10-27 23:50] hallcp commented on #91
Section 13 is what you should refer to when you have a moment.  I don't think there are hrefs in the doc, so you'll need to scroll down. https://www.twitch.tv/p/terms-of-service

[2016-10-28 00:01] gravyboat commented on #91
I would say doing this falls under the following sections:
q:
[code]
s:
[code]
So yeah, it's pretty obvious doing this is frowned upon so I'm going to close this. Thanks @hallcp.

[2016-10-28 00:01] #91 closed

[2016-10-28 00:56] c769214 commented on #67
check my response of the following post ... there is a temporary solution for youtube live issue....

[https://github.com/chrippa/livestreamer/issues/1314](url)

See this will help....

[2016-10-28 01:26] gravyboat commented on #67
Thanks for the workaround @c769214, this is the comment in question: https://github.com/chrippa/livestreamer/issues/1314#issuecomment-219377531

[2016-10-28 02:01] #46 closed

[2016-10-28 02:01] #25 closed

[2016-10-28 02:50] #92 closed

[2016-10-28 02:50] gravyboat commented on #84
@RosadinTV How do you want to handle those portable builds? Do you want an invite to the organization to manage those?

[2016-10-28 06:49] Erk- commented on #102
can you try this streamlink --player="vlc --file-caching 5000 --network-caching 5000" url quality. This is the correct doc you should look at https://streamlink.github.io/issues.html

[2016-10-28 19:08] Erk- commented on #100
Can you try to use the 270p_hls quality. I can play that on my end.

[2016-10-29 01:58] gravyboat commented on #85
Closing.

[2016-10-29 01:58] #85 closed

[2016-10-29 02:22] RosadinTV commented on #84
@gravyboat I think i will make a portable .EXE (in VB.NET) that download the latest Streamlink-master.zip and convert the package to run on Windows.
The build will be in Python 3.5.2 but i have some ideas of a Python 2.7.x support without a big file-size Python folder.
The idea is to update the build to the latest commit with a few clicks.
In my personal Project (the one that is filled with mpv-yt

[2016-10-29 02:57] stevek123 commented on #103
Thank you!

[2016-10-29 02:57] #103 closed

[2016-10-29 23:39] www2000 opened #110 "[usrtream] streamlink crash on loading nasatv on ustream"
The nasatv stream on ustream wond loading.
Crash log:
`$ streamlink http://www.ustream.tv/nasahdtv best
[cli][info] Found matching plugin ustreamtv for URL http://www.ustream.tv/nasahdtv
Traceback (most recent call last):
  File "/usr/bin/streamlink", line 9, in <module>
    load_entry_point('streamlink==0.0.2', 'console_scripts', 'streamlink')()
  File "/usr/share/streamlink/streamlink_cli/main.p

[2016-10-30 01:05] stevek123 commented on #110
See #58

[2016-10-30 06:56] gravyboat commented on #58
@beardypig do you just want to open the PR for that so we can get it merged in? Also if you haven't already and want a free shirt you should sign up for https://hacktoberfest.digitalocean.com/, you've got way more than enough PRs to get it.

[2016-10-30 17:52] karlo2105 opened #111 "Please add external audio track feature"
I dig up here some interesting question feature from original project : https://github.com/chrippa/livestreamer/issues/1464

There are more and more streams with separated audio track(s) from playlist which results in a picture without audio. It would be great it this feature could be implemented in streamlink project.

[2016-10-30 18:34] beardypig commented on #58
Thanks for the tip about the t-shirt :-)

I will open a PR, but I want to tidy some things up and move the MP4 parser in to a separate library. I will do that over the next couple of days :-)

[2016-10-31 09:56] Ketsuban opened #112 "Piczel.tv support"
This is [something I requested](https://github.com/chrippa/livestreamer/issues/1205) when this was livestreamer, and the author made a little headway in determining that it defaults to HTTP-DASH but there's also a HLS stream available. I've since switched over to streamlink.

[2016-10-31 10:44] bastimeyer commented on #65
@cdrage Did you receive a response from them yet? It's been almost four weeks since you've sent the email. I think this can be interpreted as "we don't care".

[2016-10-31 14:39] cdrage commented on #65
@bastimeyer yeah, despite the correspondent forwarding the email to the legal department, i hadn't heard anything back.

[code]

[2016-10-31 16:31] gravyboat commented on #65
@cdrage For visibility purposes could you please post your original email to them as well? Then we have a public record of it.

[2016-10-31 17:59] Brainzyy commented on #112
Try this: https://raw.githubusercontent.com/intact/livestreamer/fe7bd9fc6ba50450e57af6dcd76cfe2400fb5ddc/src/livestreamer/plugins/piczel.py

But change every instance of "livestreamer" into "streamlink"

[2016-10-31 18:02] cdrage commented on #65
@gravyboat
Checked through my email and there automated system / ticket thingy that replies back didn't include my original reply. Basically, I said that we have a project on github called streamlink, that takes online streams and pipes it into a video player.

This is the full email chain:

[code]

[2016-11-01 09:03] Ketsuban commented on #112
Yeah, I got the notification when they posted it on the linked issue. I'll let you know how it goes the next time I watch something on Piczel.

[2016-11-01 23:04] #112 closed

[2016-11-02 03:52] RuKeBo commented on #58
Not sure if this is the right place for this but it says you need python-librtmp to access desktop streams.   I tried installing this on Windows 10 using "pip install python-lbrtmp" per instructions but it gives me an error every time about not finding "/librtmp/rtmp.h".  Any ideas?

[2016-11-02 07:51] beardypig commented on #58
@rukebo; I'm going to assume you're using Python 3.5...

tldr; use an earlier version of python, eg. 2.7 or 3.4

Unfortunately it is not as simple as just installing `python-librtmp` with pip after 3.4. `python-librtmp` is a Wrapper around the library `librtmp` and includes some C extentions that need to be compiled at install time. There is no wheel (pre-compiled) package, so you need to compile

[2016-11-02 15:45] RuKeBo commented on #58
That is correct, version 3.5.  I had 3.3 but had problems with that and upgraded.  I will try a lower version.

Thanks.

[2016-11-02 16:59] RangerCoder99 opened #115 "LIVE YouTube stream freezes on windows VLC"
The topic says it all when trying to open a YouTube live stream on windows 10 (VLC nightly build) it instantly freezes the video. :(

[2016-11-02 17:28] cdrage opened #116 "0.0.3 release"
Been 21 days since the last release. Down for another one?

Now that we have rtmp updated + windows docs + debian deb package installer thingy, it makes sense.

Let me know if there any blockers on this, otherwise, I can do a release later tomorrow.

[2016-11-02 18:22] gravyboat commented on #116
We aren't building the Windows installer automatically yet is my only concern for creating more manual work. @sbstp opinions?

[2016-11-02 18:26] gravyboat commented on #115
We're going to need more details, is there anything being logged via VLC that would indicate the problem? Is Livestreamer putting anything out? Did you try both http and https? How can the problem be duplicated, etc.

[2016-11-02 18:35] WolfganP opened #117 "Augment Documentation / Website with a section "Primer / How To develop plugins""
Just as proposed on https://github.com/chrippa/livestreamer/issues/1187 , I believe this will incentive contributions to the project.

After submitting my analysis on a streaming site to help create a plugin (https://github.com/chrippa/livestreamer/issues/1156) that didn't get any traction, I was looking at the code and searching around for documentation on how to develop a plugin myself, but with

[2016-11-02 18:44] scottbernstein commented on #115
Are you sure that you're using VLC Nightly Build for version 3?

________________________________
From: RangerCoder99 <notifications@github.com>
Sent: Wednesday, November 2, 2016 12:59:47 PM
To: streamlink/streamlink
Subject: [streamlink/streamlink] LIVE YouTube stream freezes on windows VLC (#115)

The topic says it all when trying to open a YouTube live stream on windows 10 (VLC nightly build) i

[2016-11-02 19:01] RangerCoder99 commented on #115
Ok sorry this seems to be a problem with the  VLC Nightly Build I had, I just downloaded the last version and now it works without a issue!

[2016-11-02 19:05] RangerCoder99 commented on #116
Thank you so much for updating this project, and all your hard work on this!

[2016-11-02 19:13] RuKeBo commented on #58
I went back to 2.7 since it seemed the easiest way to get it to work.  When I install `python-lbrtmp` it seems to install without error but when I run streamlink, it says it is not installed.  I have a librtmp folder in Python27\Lib\site-packages, not sure what this means.  There is also a streamlink folder there,

[2016-11-02 19:31] gravyboat commented on #115
Sounds good! I'm going to close this. Thanks for your note @scottbernstein.

[2016-11-02 19:31] #115 closed

[2016-11-02 20:20] cdrage commented on #116
@gravyboat I should add this to the release / build script we have.

[2016-11-02 22:17] beardypig commented on #111
I haven't looked, but as it's an HLS stream it's probably mpeg ts, which is a pain to mux. One workaround is to use the `--player-passthrough hls` and get VLC to handle it. Another option would be to add support for `ffmpeg`/`avconv` to mux streams - but that adds a dependency to `ffmpeg`.
It might be worthwhile adding optional `ffmpeg` support to allow this...

[2016-11-02 23:06] sbstp commented on #116
I'd like to add some polish if you guys don't mind. Shouldn't be too long, it's just the config file thingy on Windows.

[2016-11-02 23:10] beardypig commented on #117
I've written a fair number of plugins, and previously submitted a fairly large number of commits to livestreamer (under a different moniker).
I can give writing up an intro to writing plugins ago :-)

[2016-11-02 23:10] gravyboat commented on #116
I'm fine with waiting @sbstp! Having the config file taken care of would be good for typical users (I am assuming that is what you are referring to, if not let me know).

[2016-11-02 23:14] karlo2105 commented on #111
Streamlink is just transporter not player itself.
VLC 3.0 can handle multiaudio streams so streamlink should only be adapted with feature to forward multiaudio channels to vlc.

[2016-11-02 23:16] karlo2105 commented on #116
Could you do something like chrippa did with automatically nightly build : http://livestreamer-builds.s3.amazonaws.com/livestreamer-latest-win32.zip

[2016-11-02 23:18] sbstp commented on #116
Yeah, the first time you run streamlink, it would create the file in %APPDATA%, and I might also add a switch such as `streamlink --edit-config` that starts an editor (windows notepad, unix nano/vim/emacs/$EDITOR) with the config file. You're right though, it can wait.

[2016-11-02 23:25] gravyboat commented on #116
@sbstp The editor idea is a good idea! Thanks for prioritizing the configuration file, it's super helpful to have that available. @karlo2105 personally I am not a fan of nightly builds, people use them and then ask for support when instead they could just compile it themselves if they want the latest release since everything is available.

[2016-11-02 23:29] gravyboat commented on #117
@beardypig That would be awesome. I looked at the plugins recently and realized that we don't really test any of them. I know it's more to ask, but if you wanted to write up the docs for both writing a plugin and writing plugin tests that would be cool. If not I totally understand.

[2016-11-02 23:34] sbstp commented on #115
Should probably setup a known issues section in a [`CONTRIBUTING.md`](https://github.com/blog/1184-contributing-guidelines) file.

[2016-11-02 23:34] thinkpad4 commented on #116
Sbstp, are you gonna make another windows .exe installer for 0.0.3 like you did for 0.0.2?

[2016-11-02 23:35] sbstp commented on #116
Yes I will.

[2016-11-02 23:38] beardypig commented on #117
I can take a look :-)

[2016-11-02 23:42] thinkpad4 commented on #116
<3

[2016-11-02 23:44] karlo2105 commented on #116
@gravyboat
Nightlybuild is interesting when you want to update streamlink locally altogether on Windows.
Otherwise you are obliged to update step by step every part of streamlink.
I like to have choice, nobody has problems with nightly builds with Livestreamer and no one is obliged to use nightlybuilds.

[2016-11-02 23:58] beardypig commented on #111
I'm not suggesting that streamlink play the stream...  Only to use ffmpeg to mux the separate streams. Wouldn't it be better to support other players, not just VLC?

[2016-11-03 00:30] karlo2105 commented on #111
If you want to watch with other player there is a switch streamlink -p "other player playpath" "stream address" best

[2016-11-03 00:53] sbstp commented on #58
Is there an issue with using the mobile stream? I'm using it right now and it's pretty decent. It would also be easier to maintain because the HLS code is already implemented.

[2016-11-03 01:19] karlo2105 opened #118 "svtplay forbidden : Solved"
Could anybody check whether or not svtplay plugin is working ?
I tried it with Swedish proxy and I get following result :

`[cli][info] Found matching plugin svtplay for URL http://www.svtplay.se/kanaler/
svt24
[plugin.svtplay][error] Failed to extract HLS streams: Unable to open URL: https
://svt13-b.akamaized.net/u/svt13.m3u8 (403 Client Error: Forbidden)
error: No streams found on this URL: htt

[2016-11-03 01:32] gravyboat opened #119 "Create a known issues page"
As noted by @sbstp [here](https://github.com/streamlink/streamlink/issues/115#issuecomment-258031463) it might be a good idea to add a known issues page to the docs.

[2016-11-03 01:34] RuKeBo commented on #58
I have no issue using the mobile stream.  I just wanted to get the other working since it should and used to at one time.  I am not advocating changing anything to get it working though.

[2016-11-03 01:37] WolfganP commented on #117
That would be awesome. Thx a lot!

[2016-11-03 01:37] sbstp commented on #58
I think I found an easy way of grabbing a m3u8 stream out of ustream. Every channel page has a `<meta name="ustream:channel_id" content="...">` tag, and you can just put this id into the mobile url, `http://iphone-streaming.ustream.tv/uhls/$ID_HERE/streams/live/iphone/playlist.m3u8`

[2016-11-03 02:06] RuKeBo commented on #58
How does it know that is a ustream channel?

[2016-11-03 09:16] beardypig commented on #118
I was able to play all the streams on http://www.svtplay.se, the m3u8 files are loaded from an Akamai CDN so you need to make sure that those requests are also proxied. I added `svt*.akamaized.net` to my list of sites to be proxied through a Swedish proxy.
This worked for me
[code]
I was also able to stream VOD content eg. http://www.svtplay.se/video/10902313/uti-bogda/uti-bogda-sasong-1-avsnitt-4

[2016-11-03 10:07] cyluss opened #120 "Non unicode escaped API breaks the plugin"
I have a problem on Streamlink 0.0.2 with Twitch plugin. Luckily I figured out what's going on and fixed my own copy of code. So I would like to share my fix though I am not sure with my decision.

My question is:

Here is some error log.
[code]

Little backgrounds.

1. Twitch API does not escape 'non-ascii' characters.
2. Twitch API does not state `charset` in the `Content-type` header. Only stat

[2016-11-03 10:15] cyluss commented on #120
I guess #19 is related. Because it also happened to me with Livestreamer.

[2016-11-03 14:00] beardypig commented on #120
@cyluss I opened a PR that works out the encoding, if are able would you be able to test it and confirm wether it fixes your issue or not? Thanks!

[2016-11-03 14:26] beardypig commented on #111
I understand that. How do you suggest support multiple audio streams in streamlink?

[2016-11-03 14:30] cyluss commented on #120
Awesome. Works for me.

[2016-11-03 14:43] beardypig commented on #120
Cool, thanks for checking :)

[2016-11-03 14:46] cyluss commented on #120
Will close this on 0.0.3 release.

[2016-11-03 14:50] beardypig commented on #120
It will probably get closed when #122 gets merged, not sure if it'll make it in to 0.0.3 :)

[2016-11-03 14:57] cyluss commented on #120
Oh okay ;)

[2016-11-03 16:14] RuKeBo commented on #58
Can someone please tell me what the "._" is/does in the following `from ._librtmp import ffi, lib as librtmp`.  I got it to at least see where librtmp is by putting the "librtmp" folder in the C;\Program Files\Streamlink\pkgs\streamlink folder, but it seems to get caught on the  line above in __init__.py file.

[2016-11-03 16:17] beardypig commented on #106
Submitted a PR to fix this: #121

[2016-11-03 16:22] beardypig commented on #58
That is a relative import of a python package called `_librtmp`, which is a C extension library that needs to be compiled. In Linux/Mac it will be called `_librtmp.so` and in Windows I think (not a Windows user) it's two files, `_librtmp.dll` and `_librtmp.lib`.

[2016-11-03 16:29] beardypig commented on #58
@sbstp The plugin does test for mobile streams, but the mobile streams are created on-demand and are transcoded to mpeg-ts when they are requested. There is a retry loop when looking for mobile streams; it tries 10 times unless some desktop streams have been found, then it only checks once and might fail. Any failures finding mobile streams are hidden if there are desktop streams.

[2016-11-03 16:33] #106 closed

[2016-11-03 16:35] #120 closed

[2016-11-03 16:36] gravyboat commented on #19
This appears to have been fixed in #122, I'm going to close it for now, if it's still a problem please re-open the issue.

[2016-11-03 16:36] #19 closed

[2016-11-03 16:37] beardypig commented on #94
This is fixed now :)

[2016-11-03 16:38] RuKeBo commented on #58
So it is not a relative path to the librtmp folder?  I have a `librtmp.dll` file there that I copied from a rtmpdump-2.3-windows download, the is no `librtmp.lib` file.  I guess it is doing something.  If I remove the .dll file then it just fails, if I leave it in, I am getting a Windows C++ Runtime Library error and also fails, but at least I know where the current problem is.

[2016-11-03 16:40] #94 closed

[2016-11-03 16:46] beardypig commented on #58
@RuKeBo I'm not very familiar with streamlink under Windows, I'm not sure how you installed it. If you have Python2.7 installed and with `python-librtmp` installed for that Python2.7 install, you can try and install `streamlink` using `pip` and then run it like that? I don't actually know how you run `streamlink` under Windows if you install it with `pip` :)
The main problem is `python-librtmp` do

[2016-11-03 16:55] RuKeBo commented on #58
Ok.  This is sort of just something I was trying to get to work, not a need.  I used the Windows installer for version 0.0.2.  I uninstalled all the Python versions I had and then installed 2.7.  I used pip to install `python-librtmp` but that did nothing as far as streamlink was concerned.  I found out that streamlink was using the Python version, 3.5 I think, that came with the install.  I moved

[2016-11-03 17:01] beardypig commented on #58
Fair enough :-) It's need to be compiled not only with the same Python version but the same version of MSVC :-) If `pip` (`pip3`) came with streamlink maybe you can use that version to install `python-librtmp`.

[2016-11-03 17:09] RuKeBo commented on #58
This is probably too far beyond me.  I didn't realize it would all be in Python.  With the installer, it gives me an .exe file, I don't know Python enough to get that to work.  I will probably just wait until there is a new version, it would take me longer than that to figure it out.

The streamlink I installed using `pip` does not appear to have Python with it.  The Windows version does.  But tha

[2016-11-03 19:21] sbstp commented on #58
RTMP is kind of a mess, I tried installing it on Linux and it's pretty annoying, can't use `setup.py` only, you need to install `librtmp` and `libffi`. I tried installing `python-librtmp` on Windows and it didn't work either, but I haven't tried debugging it much.

I see 2 possible solutions to this problem:
1) We implement the RTMP protocol in Python, no native extensions. It's probably a big tas

[2016-11-03 19:26] sbstp commented on #119
I would just create contributing guidelines that mention known issues, so that people will see them before opening issues. We get the VLC+Youtube Live one pretty often.

[2016-11-03 19:53] scottbernstein commented on #119
Yeah, that's true.  That comes up at least once a month

________________________________
From: Simon Bernier St-Pierre <notifications@github.com>
Sent: Thursday, November 3, 2016 3:26:12 PM
To: streamlink/streamlink
Subject: Re: [streamlink/streamlink] Create a known issues page (#119)

I would just create contributing guidelines that mention known issues, so that people will see them before open

[2016-11-03 20:28] beardypig commented on #58
As far as I can tell `python-librtmp` is only used in the ustream plugin. It is used to talk to rtmp servers, doing rpc, etc. which is generally not required rtmpdump is usually sufficient. I don't see any point trying to support it at the moment.

Ustream desktop streams are either fragmented flv or fragmented mp4, which are very similar, both are h264 and aac I think. It seems like their source

[2016-11-03 20:38] sbstp commented on #58
The HLS mobile stream I watched on ustream last night was ahead of the desktop stream played on the website. Anyway it doesn't really matter, when `librtmp` is not available, it just should use HLS stream, or at least ask for it. We could print a warning message saying that the mobile streams can take time to start and to try again in a few seconds/minutes.

[2016-11-03 20:55] beardypig commented on #58
Fair enough :-) It doesnt mean we shouldn't support the desktop streams though. The good this is `librtmp` is actually not required any more, they have replaced their rtmp severs with a websockets equivalent. We can still print a warning about the mobile streams.

[2016-11-03 23:28] leamsifigs opened #124 "Twitch stream closing causes MPC-HC, Powershell to hang."
While i viewing a twitch stream, it went offline for about 15 seconds. On my screen, the video froze then the application became unresponsive. Closing the MPC-HC window forcefully still leaves the powershell window hanging and repeating an error.

[2016-11-04 06:43] waseem18 commented on #119
Hi,

I'm new to Streamlink and would love to work on this issue as it is a low-hanging-fruit.

Awaiting your reply.

Thank You.

[2016-11-04 13:33] beardypig commented on #82
@plneappl I have submitted a fix for this bug, sorry it took so long - but hopefully it will make it in to streamlink 0.0.3 :)

[2016-11-04 13:57] beardypig commented on #124
Do you have a log of the error, or a screenshot of the Powershell output?

[2016-11-04 15:18] RuKeBo commented on #58
Sorry, can I have clarification on my question above concerning `from ._librtmp import ffi, lib as librtmp`.  I just want to understand what this is doing.  I understand that in linux that two dots ".." will move up one directory and one dot "." basically means the directory where you are.  But what is the dot and underline doing together?  I ask because if I remove the `lib a lbrtmp` from the lin

[2016-11-04 15:33] beardypig commented on #58
`..` and `.` are the same as in linux (mostly). The `_` is actually part of the package name. `ffi` is part of the python library `cffi` which is used to interface with external libraries.
You can see in the `python-librtmp` source code where it sets up the `librtmp._librtmp` "package" https://github.com/chrippa/python-librtmp/blob/master/librtmp/ffi.py.

[2016-11-04 15:47] RuKeBo commented on #58
Ok, so would this (`_librtmp`) be an internal thing, I mean it is not a physical file or directory?  If so, then I would assume it is not compiled correctly.  I don't know how any of that works, how it (Python) knows where `librtmp` is when it is looking for it.  I was hoping it was just looking for the files somewhere (in the librtmp directory) and I could move them around until it worked.

There

[2016-11-04 17:19] #82 closed

[2016-11-04 17:20] gravyboat commented on #119
@waseem18 Feel free to prep a PR and we'll review it.

[2016-11-04 18:28] leamsifigs commented on #124
I do not, but I think I can recreate it.

On Fri, Nov 4, 2016 at 6:57 AM -0700, "Beardypig" <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you have a log of the error, or a screenshot of the Powershell output?

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/streamlink/streamlink/issues/124#issueco

[2016-11-04 23:40] RosadinTV commented on #110
One alternative is limit result streams to mobile only (HLS), here the modified ustreamtv.py file:

[ustreamtv.txt](https://github.com/streamlink/streamlink/files/572846/ustreamtv.txt)

[2016-11-05 07:21] TheSneakySniper commented on #111
Take a look at this: https://github.com/senko/python-video-converter

[2016-11-05 11:22] beardypig commented on #111
@TheSneakySniper yep, something like that :-) The downside is that you have to have ffmpeg installed separately :-)

[2016-11-05 13:28] stepshal commented on #110
@RosadinTV can you make a PR, so it can be marged?

[2016-11-05 13:42] stepshal opened #126 "Adulst Swim: support for live streams"
http://www.adultswim.com/videos/streams/
http://www.adultswim.com/videos/streams/toonami - subtitles available,
http://www.adultswim.com/videos/streams/toonami-pre-flight
http://www.adultswim.com/videos/streams/marathon
http://www.adultswim.com/videos/streams/last-stream-on-the-left

[2016-11-05 16:57] stepshal commented on #126
Ahh, i couldn't watch them now, they probably geo-restircted now.

[2016-11-05 19:15] seagull commented on #56
I'm getting this error using the 0.0.2 installer.

[2016-11-05 19:32] stevek123 opened #127 "younow.com is broken"
They have changed the API url to this one:
`https://api.younow.com/php/api/broadcast/info/curId=0/user=`
in:
https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/younow.py#L9

It still needs rtmpdump.exe, so it will give you the following error, related to #56
`[cli][error] Could not open stream: Unable to find rtmpdump.exe command`
#81 fixes it, and the plugin works fine.

[2016-11-06 01:31] alphapapa commented on #65
Regardless of whether they respond with permission or don't respond at all, I think it would be unwise to start this fork off with a potential "time bomb" that could force a name change at an unknown future date.  They could always change their minds, e.g. if someone else takes over that role at the company.

This is a software project, and that "StreamLink" company makes software, so this is an o

[2016-11-06 01:37] karlo2105 commented on #65
Why not Livestreamer2 ? It would be much easier to merge everything with original project when Chrippa decides to give access to his project. ;)

[2016-11-06 03:58] leamsifigs commented on #124
![untitled](https://cloud.githubusercontent.com/assets/7841769/20035256/7039cd26-a39a-11e6-8dfd-9a9b5e9839db.png)

This is the error I got previously when the stream went down. I've also had the same error when i take out my ethernet cable while a stream is playing. This still causes Powershell and MPC-HC to hang.

[2016-11-06 04:33] gravyboat commented on #124
Hmm, I've been watching some streams lately (specifically beyondthesummit, but it really doesn't matter) and I haven't seen this error while using VLC. Can you try VLC and see if you get the same error? It would be nice to confirm if this issue is specific to MPC-HC, or if it's something specific going on with how Streamlink is working on your system.

[2016-11-06 13:11] flijloku opened #128 "Goodgame moved to the new version of the site"
Goodgame moved to the new version of the site (https://github.com/chrippa/livestreamer/issues/1513 ; https://github.com/chrippa/livestreamer/issues/1518 ; https://github.com/chrippa/livestreamer/pull/1527). Fix the plugin please.

[2016-11-06 14:37] aaronspence opened #129 "Ustream stream ends repeatedly"
I have the following code on a Raspberry Pi and for a while it's worked flawlessly but the past few weeks it's repeatedly rebooting the player.

`while true
do
    streamlink ustream.tv/channel/iss-hdev-payload mobile_720p --player omxplayer --player-fifo --player-no-close
done`

`[cli][info] Creating pipe streamlinkpipe-1730
[cli][info] Starting player: omxplayer
[cli][info] Player closed
[cli][i

[2016-11-06 19:14] gravyboat commented on #129
Can you duplicate this issue with VLC or is it unique to omxplayer?

[2016-11-06 19:22] #128 closed

[2016-11-06 20:39] aaronspence commented on #129
Hi there,

Never had any success getting VLC working on the Pi.

`[cli][info] Found matching plugin ustreamtv for URL http://ustream.tv/channel/iss-hdev-payload
[cli][info] Available streams: mobile_240p (worst), mobile_360p, mobile_480p, mobile_720p (best)
[cli][info] Opening stream: mobile_720p (hls)
[cli][info] Creating pipe streamlinkpipe-11961
[cli][info] Starting player: /usr/bin/vlc
[cli][i

[2016-11-06 20:40] aaronspence commented on #129
I may have had a clue.. I have just had this error before omxplayer stopped

`[stream.hls][error] Failed to open segment 24481: Unable to open URL: http://uhs-akamai.ustream.tv/sjc/sjc-uhs-omega04/live/17074538/1478413291476/plain/improved/1/chunk_24481_59b9cb06c3.ts (HTTPConnectionPool(host='uhs-akamai.ustream.tv', port=80): Read timed out. (read timeout=10.0))`

[2016-11-06 21:49] RosadinTV commented on #110
@stepshal Done

[2016-11-07 00:13] St0ner1995 opened #133 "multi client support when using --player-external-http"
I would like to use streamlink to play a stream on multiple computers simultaneously from one machine instead of loading up the stream on every machine

is this possible?

[2016-11-07 00:20] sbstp commented on #133
You could do it by using `streamlink` as a library and distributing the data through a socket. You can read data from the stream using [this](https://streamlink.github.io/api.html#streamlink.stream.Stream.open).

1. Have a thread to accept incoming connections on a socket, add the socket to a list
2. Have a thread read from the stream and send the data read to every client in the list
3. The clien

[2016-11-07 00:46] St0ner1995 commented on #133
i would prefer a system where each client connects to the server on their own

[2016-11-07 00:50] gravyboat commented on #133
It seems like what you're looking for is a simple call over the network to multiple machines where Streamlink is installed. Take a look at Salt SSH, or Ansible.

[2016-11-07 01:01] dehesselle commented on #116
Hey guys,
I wanted to drop by and thank you for stepping in where Livestreamer left off. Also I'd like to mention that Streamlink is part of the [macOS app of Chatty](https://github.com/dehesselle/chatty) that I'm starting to maintain. I'm hoping that's fine with you?

[2016-11-07 01:03] sbstp commented on #133
That's what I had in mind, I made a small proof of concept:

[code]

[code]

To run the server, `python3 server.py <stream_url>`.
The client sends the data to stdout, so I piped it into mpv, `python3 client.py | mpv -`

[2016-11-07 01:16] sbstp commented on #133
I understand what you mean now, --player-external-http only lets one client through at a time. It would probably be easy to fix this.

[2016-11-07 01:23] gravyboat commented on #116
@dehesselle Sounds good to me. I don't have any concerns about including it.

[2016-11-07 01:44] stevek123 commented on #127
@beardypig Can you make a pull request for this too? I'm not a github expert, so I don't know how to do it, but the proposed modification fixes the plugin.

[2016-11-07 05:30] ghost opened #134 "Support VOD seeking"
It will be cool if VOD content become seekable, i mean for example we open a YouTube video like https://www.youtube.com/watch?v=YE7VzlLtp-4 but we cant seek tought the video, something esential for VOD.

[2016-11-07 07:08] beardypig commented on #127
@stevek123 will do :-)

[2016-11-07 09:24] beardypig commented on #133
It may not be easy to stream to multiple clients at the same time for every type of stream. Some container formats are not designed to be streamed in that way. MP4 requires some header data (`moov` box) to establish which tracks there are, etc. FLV is similar and has some metadata at the front of the file. MPEG(2)-TS is the only container that I can think of off the top of my head that might work,

[2016-11-07 09:49] beardypig commented on #133
I have not tried this in Windows, but in macOS and Linux you should be able to do something like this (assuming you have VLC installed):
[code]
This should start an http server which multiple clients can connect to, VLC will do all the hard work of generating the container output.
_You milage may vary, and it still may not work for every stream type._

[2016-11-07 13:59] karlo2105 commented on #111
In the beginning it would be great if streamlink could have feature to add manually audio track to stream address which includs separate audios. I don't think we would need ffmpeg for that.

[2016-11-07 14:01] stevek123 commented on #127
Thank you!

[2016-11-07 14:02] lawli3t opened #138 "ZDF Mediathek-Plugin not working anymore"
The ZDF Mediathek got a relaunch with a change of url structure and a new API. The plugin needs to be adapated to meet the changed platform.

As I am an avid user of this plugin myself, I will definitely take a look into it, but it might take awhile as I never wrote one before.

Is the original developer of this plugin present by chance?

[2016-11-07 14:13] bastimeyer commented on #138
https://github.com/streamlink/streamlink/blame/master/src/streamlink/plugins/zdf_mediathek.py
@skulblakka

[2016-11-07 14:15] lawli3t commented on #138
Oh, could have looked that up myself - sorry. Didnt take a look at the existing plugin yet, cause i reckon you can't reuse much of it.

[2016-11-07 14:22] beardypig commented on #111
How do you mean @karlo2105? Do you have an example of how you would want it to work?

[2016-11-07 14:58] cdrage commented on #116
@dehesselle that's awesome by us, if you need any addition macOS bugs / fixes feel free to open up any new issues and we'd be on it.

[2016-11-07 17:12] #127 closed

[2016-11-07 17:21] beardypig commented on #126
Fixed in #139 :)

[2016-11-07 17:21] #126 closed

[2016-11-07 17:24] beardypig commented on #118
@karlo2105 did you get this to work in the end?

[2016-11-07 18:48] karlo2105 commented on #118
No way, because proxy doesn't get https. But if you could redirect plugin to http, it should work on proxy.

[2016-11-07 18:51] karlo2105 commented on #111
If I had examples I would just give them. I suppose VLC deals with it through libavcodec (ffmpeg).

[2016-11-07 19:38] dojima commented on #134
I can seek through that link just fine.

Something I would like, however, is the ability to seek through Twitch VODs while the broadcast is still live.  I don't know if it's possible, but since you can do it via the Twitch site itself, I don't see why not.

[2016-11-07 19:43] RosadinTV commented on #134
@dojima What player you are using ?

[2016-11-07 19:44] dojima commented on #134
@RosadinTV MPC-HC

[2016-11-07 19:56] RosadinTV commented on #134
In my case seeking didnt work with MPV and VLC.

[2016-11-07 20:40] bastimeyer commented on #134
Seeking does only work if the player is able to request a certain byte range of the video file.

Since Twitch is using HLS, you can simply use the `--player-passthrough hls` parameter, which will pass Twitch's stream HLS link to your player which will then read the stream data on its own. This way it is able to request the correct byte range if you're jumping to a different position in the VOD. Yo

[2016-11-07 20:49] RosadinTV commented on #134
I think is posible to support seeking in --player-external-http .. for example Peerflix (a program to play torrent files) work with this output and support seeking .. is writed in another lenguage but almost sure is a way to do that in Python.

[2016-11-07 20:51] beardypig commented on #118
@karlo2105 what if you use the `--https-proxy` option too?
[code]
You'll need a proxy that supports https as well, but that should work.

[2016-11-07 21:57] karlo2105 commented on #118
Thanks for tip it's working fine with https-proxy switch. ;)

[2016-11-07 22:01] #118 closed

[2016-11-07 22:55] TheSneakySniper commented on #58
@beardypig We don't know what ustream's plans are, and if they intend to drop the mobile 720p streams support in the future. It is best if we continue development, because if we don't then they could drop it, and we would have to start another thread.

[2016-11-08 03:17] dojima commented on #134
@RosadinTV Weird, works fine here—Windows also.  Although I should mention that I'm still currently using Livestreamer.  I believe player-passthrough=http is necessary, as bastimeyer alluded to.

@bastimeyer Yeah, seeking works fine in Twitch VODs where the broadcast has already finished.  What I mean is, if a streamer is currently streaming and I click the latest VOD in their list of past streams

[2016-11-08 03:44] RosadinTV commented on #134
The problem with player-passthrough is the player handle the stream, with that we lose one of the best purposes of the app.

[2016-11-08 08:38] cyluss commented on #116
Any progress?

[2016-11-08 08:49] beardypig commented on #58
@ TheSneakySniper who said anything about stopping? :)

[2016-11-08 14:57] karlo2105 opened #140 "Euronews plugin broken"
I dig up EuroNews plugin which is broken since December 2014.

https://github.com/chrippa/livestreamer/issues/626

[2016-11-08 16:12] beardypig commented on #140
Good job!

[2016-11-08 16:17] beardypig commented on #140
Wanna check out #141? Bear in mind that the live URL has changed since 2014 :)

[2016-11-08 16:37] scottbernstein commented on #116
I think that all of this work @beardypig has been doing on the ustream plugin will be nice to have in the 0.0.3 release.

________________________________
From: Hyungoo Kang <notifications@github.com>
Sent: Tuesday, November 8, 2016 3:38:19 AM
To: streamlink/streamlink
Subject: Re: [streamlink/streamlink] 0.0.3 release (#116)

Any progress?

-
You are receiving this because you are subscribed to t

[2016-11-08 17:12] #140 closed

[2016-11-08 17:12] gravyboat commented on #116
@cyluss We're waiting on a few things to be finished prior to doing this, ustream would be nice to have, but more important to me is the Windows config file being available by default.

[2016-11-08 19:24] skulblakka commented on #138
@bastimeyer I don't mind ;)

I basically know how to get the streams and everything however I can't wrap my head around the validation stuff @chrippa  implemented into the plugins (that wasn't there when I made the original ZDF plugin).

[2016-11-08 20:00] Rotarum opened #142 "Support for Web.TV LIVE"
Hi,

i have just switched from livestreamer to streamlink. Looks fine so far, but there is a problem with web.tv Site.

http://euronews.web.tv/

The URL for the Euronews Live Broadcast is the following:

https://live2.cdn.web.tv/streams/9e7bdef0a0db8daec2035f0ac64ce239/index.m3u8?st=gtkz6av2_WjhdWPf5Ke1-Q&e=1478645685

Tried streamlink like this:

**streamlink --http-header "Referer=http://euronew

[2016-11-08 21:11] skulblakka commented on #138
I tried my best to get this working. You can take a look over [here](https://github.com/skulblakka/streamlink/blob/b315f995b4c6a25e6910807599d8b7ad2f3d171f/src/streamlink/plugins/zdf_mediathek.py).

There are a view issues however:
* Because I still not fully understand how the validation works, my solution might not be very beautiful
* I kept using HDS and HLS like in the previous version which r

[2016-11-09 09:25] beardypig commented on #142
Welcome aboard! I have whipped up a plugin to support web.tv for you, you can try it out - it's under the PR #144

[2016-11-09 09:54] Rotarum commented on #142
Thank you 👍

How can i install and try it ?

[2016-11-09 10:17] beardypig commented on #142
Really depends on how you installed `streamlink` and which OS you are using.

You need to get the new [webtv.py](https://raw.githubusercontent.com/beardypig/streamlink/new-webtv/src/streamlink/plugins/webtv.py) file in to your `streamlink/plugins/` directory.

Which OS are you using and how did you install `streamlink`?

[2016-11-09 10:27] Rotarum commented on #142
git clone https://github.com/streamlink/streamlink
sudo python setup.py install

i put the webtv.py into "streamlink/src/streamlink/plugins" and then python setup.py install for reinstalling.

Test again the stream but again "unable to open URL"

What did i wrong ?

[2016-11-09 10:37] beardypig commented on #142
Ah cool. OK, you can just change to the new branch ...
[code]
Then you will be in a copy my new branch `new-webtv`, then you can install `streamlink` again, that should work.

You'll need to switch back to the master branch after this branch has been merged, but you can do that by doing
[code]

Let me know if that works or doesn't.

[2016-11-09 10:56] Rotarum commented on #142
Ok did exactly how you tell me git remote...fetch...checkout and then install the setup.py

After install i check this folder:

"/usr/local/lib/python2.7/dist-packages/streamlink-0.0.2-py2.7.egg/streamlink/plugins"

In the plugins folder i cannot discover any webtv.py is this normal ?

[2016-11-09 10:58] beardypig commented on #142
Try using `pip` rather than invoking `setup.py`.

[code]

[2016-11-09 11:00] Rotarum commented on #142
Finally i got it 👍

Thank you very much ^^

[2016-11-09 11:01] beardypig commented on #142
Cool! Now, how does the plugin work? :)

[2016-11-09 11:02] beardypig commented on #142
Also, when you want to switch back to the upstream version you will need to uninstall and reinstall `streamlink` - otherwise it won't get updated :)

[2016-11-09 11:03] Rotarum commented on #142
Web.tv works perfect now :)

[2016-11-09 11:39] beardypig commented on #142
What do you mean lag?  Buffering or delayed stream or?

[2016-11-09 13:30] Rotarum commented on #142
Ok rebooted the Laptop with vlc on it, restart Streamlink and no lag anymore.

In general ffmpeg as client is the better choice. This is what i experienced from former Livestreamer.

Again thank you very much 👍

[2016-11-09 13:43] Rotarum commented on #142
Can i request one plugin again, there are 3 sites with similar web live content.

http://canlitv.mobi/
http://www.ecanlitvizle.net/
http://www.canlitvlive.co/

Would like to test them with Streamlink...

Lets hope its possible :)

[2016-11-09 13:48] beardypig commented on #142
@Rotarum if you create a new issue for each one that will be better, otherwise they'll get lost in here :)

[2016-11-09 13:59] Rotarum opened #145 "Support for "canlitv" Sites"
Hi,

there are some web Sites with similar Live Content on it. Did a google search in order to list them as following:

http://canlitv.mobi/
http://www.ecanlitvizle.net/
http://www.canlitvlive.co/
https://www.canlitv.life/
http://www.canlitvlive.co/
http://www.canlitv.info/
https://www.canlitvizle.io/

I'm pretty sure some of them are just a Copy of the other one :)

[2016-11-09 16:10] skulblakka commented on #134
[This](https://github.com/chrippa/livestreamer/pull/1311) PR might be relevant.

[2016-11-09 19:36] Rotarum opened #146 "Support for ATV Webtv"
Hey there,

this is from the official ATV (FTA Channel) Livestream:

http://www.atv.com.tr/webtv/canli-yayin

Can you add a Plugin for that ? :)

Greetings

[2016-11-09 20:30] RosadinTV commented on #134
@skulblakka Thanks, tested and working but is too bugy (only worked in VLC and HLS VOD didnt work) but is better than nothing.

[2016-11-09 20:32] flijloku opened #147 "cybergame.tv plugin not work for livestreams"
`[cli][info] Found matching plugin cybergame for URL http://cybergame.tv/sharkisfinetoo/`
`[cli][info] Available streams: 720p (worst, best)`
`[cli][info] Opening stream: 720p (rtmp)`
`[cli][error] No data returned from stream`
For stream http://cybergame.tv/<streamername> Internet Download Manager  produces a link like rtmp://cybergametv.cdnvideo.ru/cybergame//<streamername>.VODs fine.

[2016-11-09 20:36] gravyboat commented on #134
@FurryFur Do you still have any interest in developing this feature?

[2016-11-10 08:03] beardypig commented on #142
Fixed in #144

[2016-11-10 08:03] #142 closed

[2016-11-10 09:29] beardypig commented on #147
Does that stream URL work? I could not get it to work.

With some wiresharking I managed to get it working with `rtmp://stream1.cybergame.tv:2936/live/<channel>`.

[2016-11-10 10:19] flijloku commented on #147
Yes it work.

[2016-11-10 10:54] beardypig commented on #147
OK, that's weird ... maybe they change it frequently?

I found the RTMP URL in the end, it was in `http://api.cybergame.tv/p/embed.php?c=<channel>&type=embed&w=100pc&h=100pc&auto=true&advforced=true&nick=` eg. http://api.cybergame.tv/p/embed.php?c=op-mizantrop&type=embed&w=100pc&h=100pc&auto=true&advforced=true&nick=

[2016-11-10 11:10] flijloku commented on #147
![111](https://cloud.githubusercontent.com/assets/14862821/20174529/acb3f8d8-a757-11e6-86ee-b605e7034cf4.JPG) - maybe it help? view-source:http://api.cybergame.tv/p/embed.php?c=ebrellika&type=embed&w=100pc&h=100pc&auto=true&advforced=true

[2016-11-10 11:18] beardypig commented on #147
That's what i was referring to :)

[2016-11-10 11:24] flijloku commented on #147
Sorry. I do not know much English:)

[2016-11-10 12:06] beardypig commented on #147
No problem :D

I will check it over the next few days as see if it changes, and make the necessary changes to the plugin.

[2016-11-10 12:14] flijloku commented on #147
OK! Thanks!

[2016-11-10 16:03] cyluss commented on #116
So #81 is blocker, right?

[2016-11-10 17:14] gravyboat commented on #116
@cyluss Correct.

[2016-11-10 20:23] DragonzMaster opened #148 "Nightly builds"
Hi,
Want to ask if there is any chance to get nightly builds ??

[2016-11-10 20:38] Hund commented on #40
I'm getting a bit annoyed with livestreamer-curses now. Twitch allow streamers to automatically host other streamers when they're not streaming themself. This is resulting in a huge amount of streamers appearing online at all times. I want to watch the people I follow, not some random people they feel like hosting. :P

So, some kind of successor to livestreamer-curses would highly be appreciated.

[2016-11-10 21:50] gravyboat commented on #40
I think most of us are stretched pretty thin on Streamlink as is with our day jobs, there are a couple alternative projects which are still being maintained, maybe look into those? (I can't find the list right now but they are in some older/closed issues)

[2016-11-10 21:51] gravyboat commented on #148
We're not currently doing nightly builds.

[2016-11-10 21:53] stevek123 commented on #40
Try this: https://github.com/bastimeyer/livestreamer-twitch-gui

[2016-11-10 21:58] Hund commented on #40
I understand. :) I've been looking for new projects regularly, but I haven't found anything, yet - I hope.

But I'll try to find that list. Thanks!

[2016-11-10 22:02] lawli3t commented on #138
If we want to stop from showing bitrate AND resolution, then we would probably drop one of those (except if we translate them, if there is a fixed resolution for each bitrate - but i guess not) - but i dont think it's worth.

I don't see a problem with the validation.

You can click on the program to open a specified page that shows the livestream, i just tried with [maybrit ilner](https://www.zdf

[2016-11-10 22:05] gravyboat commented on #40
@Hund https://github.com/bastimeyer/livestreamer-twitch-gui is one of them.

[2016-11-10 22:10] Hund commented on #40
You have already tipped me about that client in this thread. ;) And my answer remain the same: I don't really fancy GUIs. If I did, I wouldn't be here bothering you guys. :D

[2016-11-10 22:14] karlo2105 commented on #148
That's what misses me the most from Livestreamer.

[2016-11-10 22:22] lawli3t commented on #148
You can always clone the git-repository on the master branch and pull new changes. Then just install streamlink by runnning `python setup.py install`. Its not automatically, but at least you can get the newest changes sooner.

[2016-11-10 22:54] gravyboat commented on #148
Feel free to make a PR to perform the nightly builds in an automated fashion. Right now we aren't pushing so many changes that nightly builds are super critical. I'm not going to argue against them mostly because I don't really care one way or the other, but if you would really like to see them we'll be happy to review and merge a PR that automates how they are built.

[2016-11-10 22:57] gravyboat commented on #3
Going to close this out.

[2016-11-10 22:57] #3 closed

[2016-11-10 23:00] gravyboat commented on #40
@Hund Ahh looks like I did! Sorry about that, it's been a month or so and it appears I forgot.

[2016-11-11 01:24] Two-Tone opened #149 "Can not play outputted files in VLC when saving from YouTube"
When doing `streamlink youtube-url best -o ./file` the resulting file does not play in VLC. It plays in MPC on Windows with CCCP installed and it plays in mplayer on Linux. For whatever reason VLC can not play the file. I'm not sure if it's specific to VLC or ffmpeg, but I was able to load the file into Blender without issue.

Semi related question: when saving a stream, is there any way to elegan

[2016-11-11 03:58] Vangelis66 opened #150 "pyCrypto module needed on Windows"
Many thanks to all the team for all that's been accomplished so far!

OS is Windows Vista SP2 x86, latest MS updates. Trying to rip the clips from:
[Watch The 2016 MTV EMA Performances](http://www.mtv.co.uk/ema/videos/watch-the-2016-mtv-ema-performances#lush-lifeaint-my-fault-live-at-the-2016-mtv-emas) (all 14 of them!).
They are using AppleHLS stream methodology (through Adobe Flash Player plugin

[2016-11-11 07:23] TheSneakySniper commented on #58
@beardypig Sorry, I thought that because the mobile streams got 720p support you would drop the project. I guess not. Lots of dedication in you beardypig!

[2016-11-11 09:43] RosadinTV commented on #150
Hi, download this and extract inside the Streamlink folder of my release:
https://github.com/RosadinTV/streamlink/raw/master/STREAMLINK_CRYPTO_PATCH.zip
PS: I 've been busy last week, but when i can i will try to release the Automatic Windows Build i have promessed.

[2016-11-11 11:29] DragonzMaster commented on #148
Thanks for replay.
It will be nice to see nightly builds available.

[2016-11-11 12:08] karlo2105 commented on #150
I am astonished you didn't include pycrypto into streamlink core as chrippa did to livestreamer.

[2016-11-11 15:18] stepshal opened #151 "Connectcast: can't use a string pattern on a bytes-like object"
[code]

[2016-11-11 15:23] beardypig commented on #151
That's my bad...

[2016-11-11 15:37] scottbernstein commented on #149
This question comes up perhaps once a week. The answer is that YouTube changed the format of their videos to a codec that VLC 2 doesn't support. Upgrade to the nightly build of VLC3 and your videos will play just fine.

On Nov 10, 2016, at 8:24 PM, Two-Tone <notifications@github.com<mailto:notifications@github.com>> wrote:

When doing streamlink youtube-url best -o ./file the resulting file does n

[2016-11-11 15:44] Vangelis66 commented on #150
@RosadinTV, you're my hero!
"Crypto" folder was placed within "Streamlink" directory and now portable Streamlink
downloads those MTV clips fine:
[code]
So again a BIG thanks for your support! (Those 720p clips do look nice on friend's new 50'' TV!!!)

@karlo2105 : Are you refering (by "**you**") to @RosadinTV ? I don' think it was his fault to begin with...
If you mean the "streamlink" dev team, t

[2016-11-11 16:09] Brainzyy opened #153 "Make some basic documentation on making Plugins"
I would really appreciate it if someone could make a list of basic pointers on how to start with this. It is, at least for me, a difficult process to analyze other plugins to figure out how it works.

[2016-11-11 16:55] BeMaXa commented on #153
I agree with Brainzyy. I guess you need to have a lot of experience in programming etc but some examples, of present plugins, with explanations of the code related to the source of the webpage would be nice to have. Then I guess the number of pugins can increase when more people understand the syntax.. But thanks for a very nice software. I use it to feed some IP channels into my TV server (tvhead

[2016-11-11 17:03] RosadinTV commented on #150
@Vangelis66 Cool, glad to see it works 😄
In response to @karlo2105 i dont think is a problem with streamlink itself, problably both @sbstp and me forgive to include the PyCrypto package, in the case of livestreamer PyCrypto is placed inside library.zip file, but in fact is the same (also note by the new way we are using the whole library instead of the reduced one included in livestreamer release)

[2016-11-11 17:14] gravyboat commented on #153
This is already discussed here: https://github.com/streamlink/streamlink/issues/117 can you please add any additional comments/concerns in that one? I'm going to close this one out.

[2016-11-11 17:14] #153 closed

[2016-11-11 17:15] #149 closed

[2016-11-11 17:15] gravyboat commented on #149
Feel free to open this back up if you @scottbernstein's solution doesn't work.

[2016-11-11 17:16] #151 closed

[2016-11-11 17:28] gravyboat commented on #150
@karlo2105 This is an open source project run by volunteers, many of which were not familiar with the internal workings of the original project and there hadn't been any development in a year, so sometimes things are going to get missed for commonly unused streaming services like MTV. The constant negativity really isn't warranted, and is actively detrimental to the project so please stop. If you

[2016-11-11 17:41] karlo2105 commented on #150
@gravyboat
I didn't say a single word when Chrippa slowed and stopped developping Livestreamer. I am grateful to anybody who is fixing code and developing furthermore streamlink.
You can take any time you want to continue developing or not. I was not aware that pycrypto library wasn't included in Livestreamer but I agree it's better to use the whole pycrypto library instead of the reduced one.

[2016-11-11 18:21] #138 closed

[2016-11-11 18:45] Brainzyy commented on #153
Sorry about that @gravyboat, I must've looked over that one, because I looked over all the issues... My bad

[2016-11-11 18:49] gravyboat commented on #153
@Brainzyy Hah no worries, I've done the exact same thing myself!

[2016-11-11 19:08] sbstp commented on #150
Yeah, it's just an oversight. I based the installer on the setup.py script, and there's no mention of pycrypto in it.

[2016-11-11 21:26] RosadinTV commented on #148
@DragonzMaster
Probably this week i will release a automated build generator for Windows (Vista SP2 or later only)
Today i have started programming it.
Of course the program itself and generated build will be portable.

[2016-11-11 23:56] Vangelis66 commented on #150
**To all**:
I never thought my report would create an ill atmosphere between the developers and us, mere users-testers...

@gravyboat:
I am very well aware of the way Open Source projects exist, function and continue to develop over time,
as I am following quite a number of them; all the above is achieved through a considerable effort on the
part of the developers, taking a serious bite out of the

[2016-11-12 00:07] RosadinTV commented on #150
@Vangelis66 Yes, of course, bugs reporting and testing is a really good job, it can be as important as programming.
The important thing about these types of projects is that each contributes what it can.
PS: What is your native language?

[2016-11-12 00:20] Vangelis66 commented on #150
@RosadinTV asked:

... Well, I'd have thought my username gave that away already, but it's actually **_Greek_**!

[2016-11-12 00:23] RosadinTV commented on #150
@Vangelis66 Cool, in my case is Spanish .. It's good to see so much diversity.

[2016-11-12 00:39] gravyboat commented on #150
@Vangelis66 You're absolutely right and my comment was not targeted at you (your bug report was great) and I could have done a better job thinking about how it sounded when others read the comment so my apologies @karlo2105.

Reporting bugs and doing testing is critical to an open source project and your help is greatly appreciated. I apologize if my comment came off negatively, it was not intende

[2016-11-12 03:32] thinkpad4 commented on #148
RosadinTV, thank you very much.  How big will the program be big and will it build the latest version when I run it?

[2016-11-12 06:58] RosadinTV commented on #148
@thinkpad4 The application that build the release is about 10mb (included depedencies) and the release is about 16mb.
And yes, is basically two clicks and you will have the latest build (i mean with the latest commit)
The bad part is that Vista SP2 or later is required (for Python 3.5.2 and for .NET Framework 4.5 because i made the app with VB)

[2016-11-12 07:48] thinkpad4 commented on #148
that is fine @RosadinTV wasn't gonna use it on a machine below Vista SP2 anyway.

[2016-11-12 08:35] RosadinTV opened #155 "Streamlink for Windows (Release)"
With this program you can build a ready to work Streamlink release for Windows with a few clicks.
The generated release is always the latest available because the source is master.zip
Download: https://github.com/RosadinTV/Streamlink-for-Windows/archive/master.zip
Look at README.txt for requirements.

[2016-11-12 11:56] DragonzMaster commented on #155
Good Job. 👍
The next step is to package streamlink into exe.

[2016-11-12 13:59] c769214 opened #157 "some vaughnlive.tv site cannot work, VLC close immediately"
streamlink  http://www.vaughnlive.tv/wtt001 best
[cli][info] Found matching plugin vaughnlive for URL http://www.vaughnlive.tv/wtt001
[cli][info] Available streams: live (worst, best)
[cli][info] Opening stream: live (rtmp)
[cli][info] Starting player: /usr/bin/vlc
[cli][info] Player closed
[cli][info] Stream ended

but some links are normal without problem .... please check
this link is ok :
stre

[2016-11-12 14:15] stepshal opened #158 "Goodgame: cannot find streams"
On every stream

[2016-11-12 15:37] flijloku commented on #158
This is fixed in https://github.com/streamlink/streamlink/pull/136

[2016-11-12 15:51] stepshal commented on #158
@flijloku Thanks.

[2016-11-12 15:51] #158 closed

[2016-11-12 16:08] awissu opened #159 "non-executable-script"
Hi!
I bumped into rpmlint warnings, when tried to build rpm in OBS:
[code]

[2016-11-12 19:20] mmetak commented on #157
Tried your first link and it works just fine. Vlc opens it and plays.
(vlc-3.0.0 & vlc-2.2.4)

[2016-11-12 19:38] jacob1218 opened #160 "PSVue plugin?"
I want to have a PSVue plugin, because right now, it requests a auth from key.totsuko.tv, but instead recives a 401 code.

[2016-11-12 20:00] RosadinTV commented on #155
@DragonzMaster Maybe in a future add a option to create a Standalone EXE.
I don't get along with python to exe compilers, so probably it will be a VB.NET approach.
But of course if you can use those compilers is fine, feel free to do what you want 😄

[2016-11-12 20:02] beardypig commented on #160
I assume you are talking about the PlayStation Live TV service? I don't have a subscription, but with a bit more information we might be able to tell if it is possible or not.
Do you have any more information about the request it makes? How did you find out that it makes that request? What are you using to access the service?
I would assume that the streams would be encrypted and,  at the moment,

[2016-11-12 20:05] jacob1218 commented on #160
no, i do not have anymore info about the request, how i found it was through livestreamer requesting it, and i use the browser client. yes, they are encrypted

[2016-11-12 20:05] DragonzMaster commented on #155
I mess around with them but unfortuntally facing some problems. Can't find the right way yet to do that.

[2016-11-12 20:06] beardypig commented on #159
Hi there! Those are _probably_ unnecessary, I tend to put them in by force of habit even with script files that are not intended to be executed. Does it cause an error or is it just a warning?

[2016-11-12 20:08] beardypig commented on #160
I see. How did you invoke livestreamer, which URL did you tell it to open?

[2016-11-12 20:10] RosadinTV commented on #155
@DragonzMaster Yeah, its some tricky, my plan is generate a .exe on the fly with embeded resources (streamlink+python) so when the exe opens it unpacks all to the temp directory (if required) and then execute the script.
Maybe dont work, its a thesis.

[2016-11-12 20:11] beardypig commented on #159
If you make a PR to remove them, I'll merge it. If not, I'll make one when I get a chance :-)

[2016-11-12 20:15] jacob1218 commented on #160
I invoked Livestreamer via CLI, and I cant give the link out, however I can tell you that they are HLS streams, for all channels, and all of them run through totsuko.

[2016-11-12 20:18] awissu commented on #159
Yes it's just a warning.
Ok. Fixed.

[2016-11-12 20:18] #159 closed

[2016-11-12 20:25] beardypig commented on #160
OK. When you watch it in the browser (which browser do you use?), are you able to turn the developer tools on to see the key request that it makes? If so you might be able to grab the cookie header and get `streamlink` to use the cookie to auth and get the key, either with `--http-cookie` or `--http-header`.

[2016-11-12 20:57] jacob1218 commented on #160
I found the cookie, but i get a pyCrypto required message with streamlink. I installed it, but it wont pick it up.

[2016-11-12 21:01] jacob1218 commented on #160
Another reason they require totsuko is EPG services.

[2016-11-12 21:12] jacob1218 commented on #160
OK, so I got pyCrypto installed, but totsuko still returns a 401 code.

[2016-11-12 21:20] beardypig commented on #160
Well, sounds like it might work. Maybe there are some other headers you need to include, or the cookie header was sent correctly. How did you set it? Paste the command you ran (replace the sensitive stuff with *). I'll have to sign up for an account to write a plugin though.

[2016-11-12 21:22] jacob1218 commented on #160
[cli][info] Found matching plugin stream for URL hls://*/PROD01/sony/NBC_NBCSPORTSNETWORK/live/2016/10/25/4942649/4500K/4500_slide.m3u8
[cli][info] Available streams: live (best, worst)
[cli][info] Opening stream: live (hls)
[stream.hls][error] Failed to create decryptor: Unable to open URL: https://key-service.totsuko.tv/key-service/key/key?contentId=12419675&channelId=25159&kid=21298206 (401 Cli

[2016-11-12 21:33] beardypig commented on #160
Maybe try putting single quotes (') around the cookie string. Are you using Windows, Linux or macOS?

[2016-11-13 00:41] c769214 commented on #157
@mmetak  @gravyboat

I don't know what is exactly the problem .... one link is okay but another link was closed immedidately, but they are same from vaughnlive.tv

not just one got failed... but just one example :

streamlink http://www.vaughnlive.tv/wtt001 best
using --stream-url you can see :

streamlink --stream-url http://www.vaughnlive.tv/wtt001 best
rtmp://50.7.188.2:1935/live playpath=live_

[2016-11-13 01:15] mmetak commented on #157
I mostly use mpv player and streamlink plays all the vaughnlive.tv streams for me.
Try running: `streamlink -p 'vlc --verbose=2 --file-logging --logfile=/tmp/vlc-log.txt' http://www.vaughnlive.tv/wtt001 best`  and check the log file if there's a clue?

[2016-11-13 03:48] Vangelis66 commented on #155
¡Hola! @RosadinTV
I spent the last hour testing your latest offering!

 Since I am on Vista SP2 x86 currently, I barely meet the minimum OS requirements;
actually, the last version of .NET Framework 4.x officially supported by Microsoft on
Vista is 4.6, but I have managed to install manually .NET Framework 4.6.1 without
any issues so far (updates for .NetFW 4.6.1 must also be installed manually fr

[2016-11-13 04:23] RosadinTV commented on #155
@Vangelis66 Cool, thanks for testing.
I have assumed that the language would be poorly written, in fact i have only learned some english in the high school 😝
About the .exe i can make a Streamlink.exe with VB.NET that mades the same as Streamlink.bat
Probably in the next version i will make a flavor chooser with three options (Streamlink.bat, Streamlink.exe and Standalone Streamlink.exe)

[2016-11-13 06:29] gravyboat commented on #155
@RosadinTV I can help you out with the English portion, do you want to get your installer code committed to the repository at some point?

[2016-11-13 10:43] beardypig commented on #155
@gravyboat would a separate repo under the streamlink org would be more suitable?

[2016-11-13 12:03] DragonzMaster commented on #155
Just a question, How the 0.2 release exe has been made ?? @gravyboat

[2016-11-13 12:26] c769214 commented on #157
@mmetak

Thanks for your information, will try and let you know....

BTW... in the dmesg, I found the following error :  (i tried vlc and mpv and they got the same error)

[  616.072132] vlc[3951]: segfault at 7f0929ca2ac0 ip 00007f0929f25a96 sp 00007f09681e6110 error 6 in libavcodec.so.54.35.0[7f0929eb0000+5b7000]
[  653.417520] mpv[3982]: segfault at 7fe787392ac0 ip 00007fe786685a96 sp 00007ffc2

[2016-11-13 13:53] cirrusUK opened #161 "vaughnlive plugin broken ? SOLVED"
streamlink http://vaughnlive.tv/crimecentral low
[cli][info] Found matching plugin vaughnlive for URL http://vaughnlive.tv/crimecentral
Traceback (most recent call last):
  File "/usr/bin/streamlink", line 11, in <module>
    load_entry_point('streamlink==0.0.2', 'console_scripts', 'streamlink')()
  File "/usr/lib/python3.5/site-packages/streamlink_cli/main.py", line 902, in main
    handle_url()

[2016-11-13 13:59] mmetak commented on #157
Are you running Ubuntu 14.04 LTS with old outdated versions of vlc, mpv, etc.?

Basically you can play vaughnlive.tv streams, but not in the same media player?
Some work in vlc and some in mplayer? They play fine for me in different players and different versions of them... and based on the output you pasted above it's most likely an issue on your pc. Could be a bug in libav?

You could try downlo

[2016-11-13 14:06] mmetak commented on #161
You're using the latest stable version 0.0.2 and I've sent two different fixes for vaughnlive.tv plugin since that release. You'll have to use stremlink from git if you want vaughnlive.tv to work. At least until 0.0.3 is released.

btw: vaughnlive.tv has 'best' and 'worst' stream quality, there's no 'low'. ;-)

[2016-11-13 14:30] cirrusUK commented on #161
mmetak  cheers for the info sadly i didnt install the git build from AUR, doing it now.

[2016-11-13 14:35] mmetak commented on #161
@cirrusUK I maintain both stable and -git versions of streamlink in AUR and if you need vaughnlive.tv plugin, I suggest you run the -git version. That vaughn site changes their live stream link and the plugin needs to be updated accordingly.

[2016-11-13 14:36] cirrusUK commented on #161
mmetak cheers, have since installed streanlink-git and it works splendid, thanks for the info  ( and the code )

[2016-11-13 14:45] cirrusUK commented on #161
@mmemtak   Just a heads up :  when installing both streamlink & streamlink-git using cower & makepkg, i had to pass updpkgsums to both.

[2016-11-13 15:08] mmetak commented on #161
@cirrusUK Not sure why would you have to do that? Especially -git package since it's using git source. That one is in every -git package set to 'SKIP'. Even for me updpkgsums gives me the same sums and no one else reported anything about it.?

[2016-11-13 16:48] RosadinTV commented on #155
@gravyboat Ok, thanks, soon i will post a .txt with the strings that i need in a 'good english'
And with the second question, i dont have problem with this but i dont know how we're going to do it, i mean .. in a release, a doc or something else?

[2016-11-13 17:56] #161 closed

[2016-11-13 18:26] c769214 commented on #157
@mmetak

My VLC is 2.2.1 but not upgraded to 3.0 yet (as seems still too many bugs/errors in this moment)

Maybe you're right... the method you mentioned works with problem links
So seems some libav files may have corrupted/problem..... so how can I fix this? ("IF" is still stuck on vlc 2.2.1..... I have tried reinstall in the synapic package manager but seems not working)

[2016-11-13 19:34] cirrusUK commented on #161
@mmetak mmetak IDK but they would fail to install if i didnt updpkgsums,  maybe a misconfig on my machine.

[2016-11-13 19:52] mmetak commented on #157
Which release of ubuntu are you currently on? I've looked at http://packages.ubuntu.com/search?arch=amd64&searchon=names&keywords=vlc  and none of the ubuntu releases have that version of vlc-2.2.1 in their official repos. You should really make sure your system is up to date first. Do you have some unofficial ppa enabled? Post more details about your system.

[2016-11-13 20:47] gravyboat commented on #155
@beardypig I'm not sure, we should see what the code structure looks like from @RosadinTV. My only concern about having it in a different repo is for when we automate the build/release process we'll have to somehow keep them in sync which could be annoying. Definitely warrants more discussion before a decision is reached! @DragonzMaster The 0.2 release executable was made by @sbstp and the code th

[2016-11-13 21:00] beardypig commented on #155
@gravyboat I think a separate repo would be much more appropriate, they will be out of sync in terms of release anyway. I think it would be better to keep tools for building releases in separate repositories, especially if we want to change the way the builds are done. (I had a plan for automating the pynsist build using Windows docker containers...)

[2016-11-13 21:02] gravyboat commented on #155
@beardypig Fair enough, we could always trigger a build from the other repo as well via Travis. Here's an example: https://hiddentao.com/archives/2016/08/29/triggering-travis-ci-build-from-another-projects-build/ shouldn't be much of a problem.

[2016-11-13 21:15] beardypig commented on #155
Ah that's useful... Good to know :-)

[2016-11-14 02:01] jacob1218 commented on #160
I put single quotes, and it also doesn't work, I am using windows, and i found something interesting. When played in osmfhls.kutu.ru, it seems to request the same server, but then be successfully authed to play.

[2016-11-14 04:44] Connor22 opened #162 "Crunchyroll needs pyCrypto"
When trying to play a crunchyroll stream on Windows, I get
`Could not open stream: Need pyCrypto installed to decrypt this stream`

[2016-11-14 06:37] Vangelis66 commented on #162
Duplicate of #150

[2016-11-14 14:58] beardypig commented on #147
@flijloku I have created a PR to fix this, using that new RTMP URL (#163).

[2016-11-14 17:03] #147 closed

[2016-11-14 18:10] flijloku commented on #147
@beardypig  Thanks for your work!

[2016-11-14 19:26] RosadinTV commented on #155
@gravyboat Cool, first I will make some changes in the application, then upload the files to translate, with that I guess it will be apt to be distributed.

[2016-11-14 19:39] stevek123 commented on #160
Part of the URL is definitely missing, but I'm pretty sure that your cookie is not right, and the plugin works fine.

ps: If you send me an email (see my profile), I can help you troubleshoot it

[2016-11-15 00:42] agentqwe opened #164 "Is it possible to configure stream output in file&player ?"

[2016-11-15 00:48] gravyboat commented on #164
Could you clarify what you mean? Streamlink has a large number of command line options. If you mean output to a file and a player at the same time I don't believe so. To accomplish that you should simply run two instances of Streamlink.

[2016-11-15 00:53] bastimeyer commented on #164
see #105

[2016-11-15 00:54] gravyboat commented on #164
Good call, thanks @bastimeyer!

[2016-11-15 00:54] #164 closed

[2016-11-15 01:01] agentqwe commented on #164
i want run 2 output(file&player) but throu 1 instance.  thx u )  sorry for my bad eng,pls
one more quest pls guys, how to config streamlinks to write stream segments in file(example 4sec each) more often?cos now im playing writing file of stream and data in file updates about in8-12 sec, but i want in4sec evry segments with no dalay, to minimize delay to broadcast

[2016-11-15 01:05] gravyboat commented on #164
Take a look at the segment options: https://streamlink.github.io/cli.html#stream-transport-options

[2016-11-15 01:10] agentqwe opened #165 "how to config streamlinks to write stream segments in file more often ?"
now im playing writing file of stream and data in file updates about in8-12 sec, but i want in4sec every segments with no delay(segments from twitch is 4sec, shows ff addon for twitch), to minimize delay to broadcast. maybe writing delay is coz i allowed disk cache in my win10?

[2016-11-15 02:00] thinkpad4 commented on #155
The config file is still pending right?

[2016-11-15 02:05] RosadinTV commented on #155
@thinkpad4 You can find the streamlinkrc file inside the Streamlink folder.

[2016-11-15 02:05] thinkpad4 commented on #155
Derp me, thanks

[2016-11-15 02:48] RosadinTV commented on #155
@thinkpad4
Reads from the Streamlink folder, i think is more easy to access and more suitable for a portable program.

[2016-11-15 03:16] gravyboat commented on #165
Was your question not answered in the other issue that you opened on this topic where I linked the segment details?

[2016-11-15 03:17] gravyboat commented on #162
I'm going to close this one and we can keep the discussion going over in #150 .

[2016-11-15 03:17] #162 closed

[2016-11-15 03:39] agentqwe commented on #165
In stream transport options dont see anything about writing in file. I tested segment-threads from 1 to 10 and speed didnt change no one times: always like in one thread(about 4mbps-download, my inet connect is 6mbps) I think twitch actually lets download one segment in one thread. Problem is that all looks like windows write in file 2-3segments,  but i want to each 1segment when it will be downlo

[2016-11-15 04:06] stevek123 commented on #150
While we wait for a new release, you can install pyCrypto for Python 3.5 with this: https://github.com/sfbahr/PyCrypto-Wheels

[2016-11-15 04:10] RosadinTV opened #166 "Start playing stream immediately"
It would be cool if stream start playing before waiting to download a whole segment, i mean if you directly play a stream using a player in about 2 seconds loads but with livestreamer/streamlink we have to wait until the first segment (i guess) is downloaded and this can take a time in some connections.
In summary it will be cool to start playing when some data is available instead of waiting for

[2016-11-15 04:55] agentqwe commented on #166
Exactly!
for examp twitch broadcasting mpeg-ts video, so what is problem play segment immidiatly?(im not programmer?so maybe my words sound stupid...))

[2016-11-15 05:01] RosadinTV commented on #166
@agentqwe I think the problem is the program wait for download the whole segment before start playing or refreshing download.
For example if a stream using HLS have 10 segments of 15 mb each, instead of playing the segment when 1 mb is downloaded Streamlink wait until the 15 mb is downloaded.
The same goes for the cache, i mean .. the cache is only added to the player when the whole next segment i

[2016-11-15 05:25] agentqwe commented on #166
for example when i use ff for twitch and this - https://addons.mozilla.org/ru/firefox/addon/twitch_5/ in statistics of addon i saw segments of 2 and 4sec with bitrait 3-4mbps(forexpl) so its about 1-1.5mb every segment, i set in twitch addon playerbiffer 1sec, it was like in player sometimes buffer left less than 1sec )), its not bad coz it let see stream with almost no delay to broadcaster, but i

[2016-11-15 06:03] RosadinTV commented on #166
@agentqwe I dont know if i understand you but you if you have a good internet connection you can watch a stream almost without delay because the buffer can maintain in a few seconds from live, with livestreamer you can use --hls-live-edge 1 to stay as close as possible to live.
The difference is that if the segment is for example 6 seconds each you cant stay 1 second close to buffer with streamlin

[2016-11-15 06:40] agentqwe commented on #166
yes, i use --hls-live-edge 1, yep for up to 5mbps streams my inet work good
we just say about different segments, u want to play immediately(undownloaded full) big segments, and for big segments it is need,  but i told about small 2-4sec segments and wanted play it(undownloaded full:) immediately too :) but it sounds little crazy and the result willnot be so big as programmers will spend much time

[2016-11-15 08:50] RosadinTV commented on #166
@agentqwe Exactly, there are many possible bugs around this with a hipotetic modification, also think about some other things but i think they could never be done, for example if we use  --hls-live-edge 5 the program should prioritize the segment download by order (i mean download the first segment with full speed and limit the speed of the the queued segments) because otherwise is likely that the

[2016-11-15 11:37] DragonzMaster commented on #155
It would be nice to make the streamlink.exe don't open a python console window after installing.

[2016-11-15 18:52] jacob1218 commented on #160
I can give one link out. It is a channel not avail. screen, but it still requires auth. http://sonycobra.vod.sonytv.adaptive.level3.net/media/hls/sony/vue_slates/ch_no_avail/4500K/Vue_Slate_ChNotAvail_4500k.m3u8

[2016-11-16 08:10] StarWolf3000 opened #169 "[Youtube] URL has an invalid label"
With a lot of Youtube URLs I only get
`[cli][error] Could not open stream: Unable to open URL: http://r4---sn-4g5e6n7k.googlevideo.com/videoplayback?id=o-AMx00u_Hy1utcNFZMyq4fLygBtKL09bG6RGnc83-F8Af&dur=14472.394&signature=977F6BDF0E09E5C488AA419336106DF2EBAEDF84.326F564D004C949EC33D69C1AB82A47553651372&mm=31&mn=sn-4g5e6n7k&upn=dyJorCtyKNU&initcwndbps=697500&ip=<IP address>&key=yt6&lmt=14778442579

[2016-11-16 08:16] agentqwe opened #170 "How to write streams automaticly (as they starts)"
just tell me pls right direction where to search

[2016-11-16 08:24] beardypig commented on #170
What do you mean @agentqwe, which stream are you trying to play?

Maybe you want `--retry-stream` ?

[code]

[2016-11-16 08:30] agentqwe commented on #170
actually i want to automaticly found streams if there will be in my twitch followings, and start writing in file

[2016-11-16 08:44] beardypig commented on #170
Like a twitch DVR? Sounds like a cool idea, but I don't think it's something `streamlink` will support directly.

You could write a python script to do it for you though... You'd need to talk to the twitch API to get your list of followers, then periodically check if they have an online stream (be sure to check that they aren't hosting), and then could use the `streamlink` API to get the twitch st

[2016-11-16 08:50] agentqwe commented on #170
i thought the same,checkfollows,writes :) but problem is i dont know anything  in writing python script and any other scripts, i thought anybody give me "free" "open-source" script :)
anyway thx for --retry-streams, i started 1-2 cmd in background to wait new streams

[2016-11-16 08:56] beardypig commented on #169
I could not recreate this on Windows 10... It is possibly a bug in requests, did you use the `streamlink` installer? If you did, could you run the following commands in a command prompt and tell me what it prints?

[code]