[2017-05-14 09:44] anga83 commented on #917
Sure, waiting is always and option. But it would somehow complement the missing rewind option. I mean, if I watch a stream and missed the beginning, I could (while some less interesting game) play the missing part.
Also, there are this weird streamers who have VODs enabled, but delete them afterwards (I think they want a recording of the stream for themselves or for uploading on YT an eternity lat

[2017-05-14 11:31] bastimeyer commented on #917
VOD seeking while watching is not supported right now.
https://github.com/streamlink/streamlink/issues/134
https://github.com/streamlink/streamlink/issues/614

What beardypig probably meant was an option to jump to a certain position defined by a parameter.

The idea proposed by @FurryFur here https://github.com/streamlink/streamlink/issues/134#issuecomment-264744116 could solve this issue, but th

[2017-05-14 13:02] beardypig commented on #917
I did already implement a skip feature, I'll submit a PR a some point...

[2017-05-14 17:54] malvinas2 commented on #918
Ok, thank you.

[2017-05-14 17:55] #918 closed

[2017-05-14 19:33] karlo2105 commented on #902
I confirm, it's ok. They enforced geoblocking with https but i managed to get it breakthrough. Thanks @melmorabity for maintenance.

[2017-05-14 23:27] CyberBotX opened #919 "Socket is not connected error when closing currently open stream with VLC"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Every time I close a stream that was playing in VLC, I get the following error:

[code]

This has been happening to me since 0.4.0, but I haven't had a chance to report it earlier. I've only been watching streams

[2017-05-15 00:09] gravyboat commented on #919
Hmm very strange, I wonder if this is a Python 2.7 issue. I'm running the Windows release on a Windows 10 machine with VLC 2.2.5.1, same settings and no errors, but that uses a more recent Python.

Can you try to spin a python 3X virtualenv locally, install Streamlink there, and then see if you encounter the same problem with these settings? Thanks for the detailed report by the way.

[2017-05-15 00:18] CyberBotX commented on #919
Yeah, it might take me a bit to do that though. I'll try to get it done ASAP.

[2017-05-15 09:05] roshavagarga opened #921 "Plugin Request: Bloomberg Bulgaria"
----

### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
A simple plugin for Bloomberg Bulgaria, hosted at http://www.bloombergtv.bg/video which uses https://flowplayer.org/ to livestream and post videos.

[2017-05-15 16:24] kachelaqa opened #922 "BBC iPlayer plugin cannot find VPID"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

The BBC IPlayer plugin cannot find the VPID for valid urls.

### Reproduction steps / Explicit stream URLs to test

The following command:

`streamlink -l debug 'http://www.bbc.co.uk/iplayer/episode/b013pnv4/horiz

[2017-05-15 17:11] beardypig commented on #922
I'll take a look :-)

[2017-05-15 23:24] CyberBotX commented on #919
I tested streamlink with python 3.6, and when I close an active Twitch stream, I do not get the backtrace like I do when using python 2.7.

[2017-05-15 23:30] anga83 commented on #917
Update: I actually got it to work as-is with the following command `streamlink -o Stream.mp4 --hls-segment-threads 4 $1 source --player-passthrough=hls`

Just another question (which isn't wort another thread): Is it possible to show at which point of time the download currently is?

[download][Stream.mp4] Written 1.98 GB (7m19s @ 3.2 MB/s)

[2017-05-16 00:35] djflakf1 opened #923 "About Vaughn link"
@beardypig
Guys in this channel for example https://vaughnlive.tv/chespirito_mania

1. Until yesterday i was using the port 1337 and was working perfect to put in a html site

http://i.imgur.com/fL4VcrV.png

 but now show the error that you can see in the picture, and using the port 1935 show the next error

http://i.imgur.com/gKzxh0P.png

im using the next code

[code]

2. using streamlink i can

[2017-05-16 01:35] seiya-git opened #924 "Streamlink does not show hls error (Max retries exceeded)"
### Checklist

- [x] This is a bug report.

### Description

Streamlink does not show hls error when failed to open segment (Max retries exceeded)

### Reproduction steps / Explicit stream URLs to test

https://www.daisuki.net/gb/en/anime/watch.eromangasensei.16681.html
ts filesize: 556 MiB (583 080 512 bytes)

### Environment details

Operating system and version: win10 x64
Streamlink and Python

[2017-05-16 02:21] gravyboat commented on #919
@CyberBotX Awesome thanks for confirming, I'll mark this as a bug.

[2017-05-16 07:44] beardypig commented on #924
I cannot reproduce this,
[code]
I get a video file that is 00:23:46, here's the output from `ffmpeg`

[code]

@seiya-git can you run it again with `-ldebug` and see if that sheds any light. For reference, this is the output for my debug log: https://gist.github.com/beardypig/2d3ae83817f45079e3f9a82f91853a3b

[2017-05-16 09:57] kasod opened #926 "Help with authentication"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

Professional Starcraft player Jaedong (http://afreecatv.com/jaedong23) often times does these drunken matches where he gets wasted and attempts to play with amateurs but when he [breaks out the alcohol](https://www.youtube.com/wat

[2017-05-16 14:46] beardypig commented on #919
Confirmed. Affects Python 2.7 only; Python 3.3, 3.4, 3.5, 3.6, and 3.7-dev all behave as expected.

[2017-05-16 16:09] #919 closed

[2017-05-16 16:12] #922 closed

[2017-05-16 16:13] gravyboat commented on #913
Closing since #927 is merged.

[2017-05-16 16:13] #913 closed

[2017-05-17 07:44] #707 closed

[2017-05-17 14:42] beardypig commented on #923
All the information you need to play the stream with `rtmpdump` (`librtmp`) can be found by using the `--stream-url` option. I personally have no idea how to set up jwplayer to play rtmp, so cannot be of any help.

You should ask elsewhere for support on jwplayer, this is for issues to do with streamlink and I cannot see an issue with streamlink here.

[2017-05-17 14:59] djflakf1 commented on #923
sorry @beardypig  i don't wanted to disturb u, i just trying to make that works and tried to ask you because you a big expert in this. just a little question do you know some player for a site to put the link extracted from streamlink?

[2017-05-17 16:09] gravyboat commented on #707
Did you mean to close this @johnthecracker?

[2017-05-17 16:58] hpmueller1971 commented on #915
@bastimeyer Yeah, no question, i was developing (yes, i'm using that term loosly, i don't qualify as a developer ;)) this just for usage for me, on a loopback-only apache on an internal network; after reading your comment i quickly understood that my script is basically an escapable shell... I'm going to edit my original comment and the original feature-request (most of what i want can already be

[2017-05-17 17:02] beardypig commented on #923
As I said, I do not. You should direct your question to either a more general forum, or a specific JWPlayer forum for advice on how to configure it.

[2017-05-17 18:12] gravyboat commented on #923
I'm going to close this issue out, there's not much we can do support wise in this case.

[2017-05-17 18:12] #923 closed

[2017-05-17 18:13] gravyboat commented on #915
@hpmueller1971 On that note I think I'm going to close this out for now, thanks again for the detailed issue!

[2017-05-17 18:13] #915 closed

[2017-05-18 06:35] vpontin opened #930 "Problem with livestream"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description and Actual behavior

Hi! I want to parse this url (http://original.livestream.com/chbrtv) in streamlink, but it only gives me this error:

`[cli][info] Found matching plugin oldlivestream for URL http://original.li

[2017-05-18 07:59] Arzack opened #931 "I need a working vod command line pls"
I searched here and googled it, I use vlc, thank you.

[2017-05-18 08:11] karlo2105 commented on #930
Either channel is offline or they use rtmp protocol which is not currently covered by livestream plugin.

[2017-05-18 08:57] beardypig commented on #931
You'll have to provide more information. What VOD are you trying to download, etc. There was an issue template that you appear to have ignored, please provide the information that was requested in the issue template.

[2017-05-18 08:59] vpontin commented on #930
Oh then is the RMTP thing.

Thanks for the tip!

[2017-05-18 08:59] #930 closed

[2017-05-18 09:00] Arzack commented on #931
I want to watch vods with vlc, it's not an issue but I didn't know where to put this. Any vod, from windows cmd.

[2017-05-18 09:05] beardypig commented on #931
The documentation is available online: https://streamlink.github.io/cli.html

[2017-05-18 10:17] beardypig commented on #931
@Arzack did you find what you needed in the documentation?

[2017-05-18 10:19] Arzack commented on #931
No, I did search there both pre and after writing this post.

[2017-05-18 10:26] beardypig commented on #931
What is it that you didn't understand? Maybe we need to make the instructions clearer. Playing a VOD is the same as playing a livestream. You should be able to do `streamlink <vod_url> <quality>`, eg.
[code]

[2017-05-18 10:33] Arzack commented on #931
Ah thank you, I'm just bad at 'anything programming'. Do I have to add anything to be able to search through the vod on vlc?

[2017-05-18 11:38] beardypig commented on #931
What do you mean search, like seek in the video? You can add the `--player-passthrough http,hls` option, but it might not work for all streams, or in all players. `player-passthrough` tells streamlink to give the URL of the stream to your player.

[2017-05-18 16:15] gravyboat commented on #931
As @beardypig has been kind enough to answer this, and it's noted that some streams/players don't currently have seeking support I'm going to close this. If anything we obviously need to make the documentation clearer, or ensure users have reviewed the docs prior to opening issues.

[2017-05-18 16:15] #931 closed

[2017-05-18 17:31] SanyaIV opened #932 "TypeError: request() got an unexpected keyword argument 'retries'"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Just updated from Streamlink... uhm.. some version.. Iunno 0.2.0? to 0.6.0 and now I can't launch streams anymore.

### Expected / Actual behavior

Stream to launch.

### Reproduction steps / Explicit stream URLs

[2017-05-18 17:45] beardypig commented on #932
@SanyaIV did you uninstall streamlink before installing the new version? If you didn't it might be worth trying that.

[2017-05-18 17:45] SanyaIV commented on #932
I didn't, but I'll try that.

[2017-05-18 18:05] gravyboat commented on #932
Good stuff! I'm going to close this since it's resolved.

[2017-05-18 18:05] #932 closed

[2017-05-18 19:44] johnthecracker commented on #707
I think that there is lack of interest within streamlink comunity in this website so I closed this.

a-pac.tv is more interesting from technical point of view.

There are a few threads here about sites  similar to ImLive, so if there is anybody particularly interested in
ImLive, new thread will show up in time.

[2017-05-18 20:07] beardypig commented on #707
What were the dynamic HTTP blocks? They sound technically interesting...
This plugin should be straight forward with RTMP, I believe it is acceptable for it to only work with KSV's version of `rtmpdump`. `mips.tv` apparently only works with KSV's `rtmpdump`, says so in the docs.

[2017-05-18 20:19] johnthecracker commented on #707
Here are 2 consecutive raws from httpfox, extension for firefox.

Each chunk is playable with VLC, 10 seconds per chunk.

00:10:07.804	4.389	415	1.5M	GET	200	video/mp4	https://streamer16.wlmediahub.com/flc/994052/greeneyesgirl_0.mp4?a=0.4793290225788951
00:10:21.302	0.888	415	1.4M	GET	200	video/mp4	https://streamer16.wlmediahub.com/flc/994052/greeneyesgirl_0.mp4?a=0.2616274659521878

[2017-05-18 21:45] beardypig commented on #707
Interesting @johnthecracker... must the be `a` parameter that is the mega key...

For the RTMP parameters, I imagine they are being sent over HTTP via some API - although it could be done via RTMP, which would make it next to impossible to add to `streamlink` with some serious work :D

[2017-05-18 23:08] johnthecracker commented on #707
https://imlive.com/flash_sdk/freevideochatguest.aspx?hostnick=vanessza_&roomid=10

7611	17.739861	192.168.0.2	66.6.18.200	RTMP	2361	connect('coolVideo_v2/1075549')

Frame 7611: 2361 bytes on wire (18888 bits), 2361 bytes captured (18888 bits) on interface 0
Ethernet II, Src: AsustekC_ab:cd:ef (12:34:56:78:90:12), Dst: Netgear_bb:34:56 (12:34:56:78:90:12)
Internet Protocol Version 4, Src: 192.168.0

[2017-05-20 13:20] badf opened #933 "Twitch streams on raspberry pi 2 stay frozen when they start"
----

### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

I'm trying to watch livestreams on my netcast lg smart tv since plex won't work and there's no twitch apps for it.

### Expected / Actual behavior

Tried to watch twitch.tv/macmillancancer as a test, but whe

[2017-05-20 19:16] gravyboat commented on #933
We're going to need more details, can you run with the `-l debug` and `-v` options?

[2017-05-20 20:55] bastimeyer commented on #933
This sounds like a VLC rendering issue to me.
Could you please write the stream to your filesystem (by using the `-o "recording.ts"` parameter) and analyse it with ffmpeg afterwards (`ffprobe -v error -show_format -show_streams -print_format json recording.ts`), so we can be sure that the stream gets downloaded correctly? If there are no errors, then it's either an issue with piping the data to VL

[2017-05-21 00:00] craftwar opened #934 "can't play any twtich stream"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
Try to watch any twitch stream on my win7 64bit. No one works.
...

### Expected / Actual behavior
Error as below, streamlink stops.

### Reproduction steps / Explicit stream URLs to test

1. use pip install stream

[2017-05-21 01:11] craftwar commented on #934
I find out what's wrong.
[cli][info] Starting player: layer-continuous-http
Streamlink try to start player: "layer-continuous-http"
I need use --player-continuous-http as agrument to work properly.

doc or code need to be fixed.

[2017-05-21 01:22] gravyboat commented on #934
The first dash missing is an issue with the docs we have yet to fix unfortunately: https://github.com/streamlink/streamlink.github.io/issues/1

[2017-05-21 03:14] bastimeyer commented on #934
https://streamlink.github.io/cli.html#cmdoption-player-continuous-http
The documentation itself is fine and the parameter you're talking about is a multi-character parameter, which requires a double hyphen if we want to keep all parameters in [Unix style](https://serverfault.com/questions/387935/whats-the-difference-betwen-the-single-dash-and-double-dash-flags-on-shell-comm).

It is just the ancho

[2017-05-21 04:24] Incoming5643 opened #935 "New smashcast.tv (formally hitbox.tv) VODs inaccessible"
When hitbox.tv became smashcast.tv a fix was added to streamlink to allow you to view smashcast VODs by replacing the domain with hitbox.tv. ( #909 )

However new VODs since the change do not have a hitbox.tv url to access, and thus those VODs cannot be played in streamlink.

Example inaccessible VOD:  www.smashcast.tv/the4chancup/videos/1321506

----

C:\Users\student>streamlink https://www.smash

[2017-05-21 04:33] Truanifan opened #936 "How to download stream from pscp.tv?"
----

### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

This is more or a question than a bug or feature request. I'm trying to download the stream from pscp.tv, but I'm not sure how. This is the first time I've encountered the error "401 Client Error: replay req

[2017-05-21 10:11] badf commented on #933
I ended up not using streamlink but instead installing osmc and using the twitch addon. Thanks anyway

[2017-05-21 10:11] #933 closed

[2017-05-21 15:17] Zanndorin opened #937 "(VLC) player crashing / freezing on "networkdrop"(?)"
So yeah this started happening around the time I moved and Streamlink was forked / released.

When I watch a stream (via Streamlink or Twitch GUI) sometimes the stream [chops/greys](http://puu.sh/vX2gY/b37b263299.PNG) and some times starts replaying the last ~5ish seconds over and over again or just stops completely in this state. Interesting part is that the VLC process in this state cant be clos

[2017-05-21 18:54] saki4u opened #938 "plugin request for cricfree.sc"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is

[2017-05-22 00:52] gravyboat commented on #938
It would be great if you could provide some more details, such as an example URL, if you've done any network analysis, etc.

[2017-05-22 04:01] djflakf1 opened #939 "About WWE Network"
I have 2 question

Using Streamlink with WWE Network i get this

C:\Program Files (x86)\Streamlink\bin>streamlink --wwenetwork-email xxxxxx --wwenetwork-password xxxxx http://network.wwe.com/video/v1401729383 best -o f:\output2.ts
[cli][info] Found matching plugin wwenetwork for URL http://network.wwe.com/video/v1401729383
[cli][info] Available streams: 224p_650k (worst), 288p_990k, 360p_1450k, 50

[2017-05-22 08:00] beardypig commented on #934
They "fixed" the URLs in Sphinx (https://github.com/streamlink/streamlink.github.io/issues/1#issuecomment-287378698) because it's not a valid URL if there are two dashes in a row.

However, there is an actual issue with the docs... there is only one dash.

[2017-05-22 08:35] bastimeyer commented on #934
You are right.. It's a single [`U+2013` (en-dash)](http://www.fileformat.info/info/unicode/char/2013/index.htm) character instead of two `U+002D`. This looks weird on my system.

The `smart_quotes` option needs to be turned off (on by default):
http://www.sphinx-doc.org/en/stable/config.html#confval-html_use_smartypants
http://docutils.sourceforge.net/docs/user/config.html#smart-quotes

[2017-05-22 08:35] beardypig commented on #934
Yeah, I'm updating it now... :)

[2017-05-22 08:49] beardypig commented on #937
If you used the Windows installer then Python is bundled with Streamlink, shouldn't be a problem there... Which version of VLC are you using? Twitch (I assume you're watching twitch?) has made some changes to their streams recently, so it is possible another player (mpv, mpc-hc, etc.) or an updated version of VLC might fare better.

You can try using the `--player-passthrough hls` option to see if

[2017-05-22 08:56] Zanndorin commented on #937
Yeah Twitch is my main use case. VLC hasn't really updated their player that much (I'm using the latest version) but I will start trying out different players and the playerpassthrough option (I think I'm actually already using that / tried that with the problem persisting). I'll update in the next days if it's of any interest and not just a player problem.

[2017-05-22 09:08] bastimeyer commented on #937
If you're using the Twitch GUI, you're using the `http` passthrough option by default (because some players on Windows don't support piping 😴). The `hls` option completely bypasses streamlink, and works not that well in combination with the GUI, so you need to change it in the settings menu first, which requires enabled advanced settings (Streamlink doesn't terminate the player process when its ow

[2017-05-22 10:03] Zanndorin commented on #937
Yeah I'm aware of that. I'm a developer myself and have had this problem for quite some time so I have played around with a lot of options already before posting it here since I somehow wanted to be able to find out if it is a Streamlink bug, Player bug, or just my network connection (or PC or whatever). I'm just not sure anymore what exactly I have tried and what not. I'll retry and confirm your

[2017-05-22 10:29] ppsspp213 commented on #849
How do I use the login?
streamlink https://tvplayer.com/watch/4seven best --tvplayer-email/ bugmenot@mailinator.com --tvplayer-
password bugmenot123

usage: streamlink-script.py [OPTIONS] <URL> [STREAM]
streamlink-script.py: error: unrecognized arguments: --tvplayer-email/ bugmenot@
mailinator.com

[2017-05-22 10:37] nicr4wks commented on #849
Try: streamlink --tvplayer-email bugmenot@mailinator.com --tvplayer-password bugmenot123 https://tvplayer.com/watch/4seven

[2017-05-22 10:42] ppsspp213 commented on #849
error: Unable to open URL: http://api.tvplayer.com/api/v2/stream/live (401 Clien
t Error: Unauthorized for url: http://api.tvplayer.com/api/v2/stream/live)

I know it works with login but it uses
https://tvplayer.com/watch/565 instead of https://tvplayer.com/watch/4seven once you've logged in.

[2017-05-22 11:06] beardypig commented on #849
@ppsspp213 you should have made a new issue for this, it makes the problem more visible. I have created a fix though, in #941.

[2017-05-22 11:28] beardypig commented on #935
As a work around you can do use www.smashcast.tv/video/1321506 as the URL. I have created a PR with a fix for the issue, as well as supporting hosted channels.

[2017-05-22 11:36] beardypig commented on #876
Seems like it was an issue with PyPy?

[2017-05-22 14:18] tycho commented on #876
Yep. Thanks for the fast reply! 😆

[2017-05-22 14:18] #876 closed

[2017-05-22 16:24] #849 closed

[2017-05-22 16:26] #935 closed

[2017-05-22 16:27] gravyboat commented on #934
Closing since #940 is merged.

[2017-05-22 16:27] #934 closed

[2017-05-22 16:30] gravyboat commented on #937
@Zanndorin If you can maybe try running Streamlink directly off the command line and pass the `-l debug` and `-v` options if you haven't done so already just to confirm there isn't anything there.

[2017-05-22 16:39] Zanndorin commented on #937
Yeah I was running HLS via Twitch GUI.

Trying running just by Streamlink --player-passthrough hls -l debug -v now.

[2017-05-22 16:52] Zanndorin commented on #937
Well the stream started by Twitch GUI itself crashed. Same result with Streamlink started with default parameters. Streamlink started with player-passthrough hls has not failed yet.

PS: Twitch GUI starts VLC in 64bit and Streamlink in 32bit.

[2017-05-22 17:02] Zanndorin commented on #937
I have been able to introduce similar crashes in Streamlink player-passthrough by throttling the network. It starts the same loop as all other streams (only difference is that you can still close VLC without using the task manager) and also that it tried to reconnect more often than in other cases. Logs are "empty".

[2017-05-22 18:07] zp commented on #936
You can either upgrade to version 0.5.0 (or higher) for pscp.tv link support, or just use the old periscope url

````streamlink https://www.periscope.tv/atomtb_anime/1YqKDwbqXLNxV best -o file.ts````

[2017-05-22 22:54] saki4u commented on #938
this website is very gud for live streamings of sports..
wen i sniff this page link comes out like this
http://91.212.150.110/cavscampeon/244830.m3u8?wmsAuthSign2=NThiNmY2ODZjNDkyZQ==&token=c2VydmVyX3RpbWU9MTQ5NTQ5MzUzNyZoYXNoX3ZhbHVlPUUzNDUxa0YzODRFaHpPYU82emFIVnc9PSZ2YWxpZG1pbnV0ZXM9OTA=
webpage is
http://cricfree.sc/update/ptvsports.php

[2017-05-23 07:57] Incoming5643 commented on #935
Cheers 👍

[2017-05-23 16:09] edwinjue opened #944 "mplayer standard input pipe crashes streamlink"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

I issue the following command and crashes:
  streamlink https://www.twitch.tv/stormen best | mplayer

I get the following error:
Traceback (most recent call last):
  File "/usr/bin/streamlink", line 9, in <module>

[2017-05-23 16:28] gravyboat commented on #944
Have you tried using the `--player` option? I've never even considered piping to mplayer like that and as far as I'm aware piping in that fashion isn't supported. Did you see that in the docs somewhere? If so can you link it?

[2017-05-23 18:06] edwinjue commented on #944
Hi, that works. Thanks for the fast response!

[2017-05-23 18:06] #944 closed

[2017-05-23 19:14] gravyboat commented on #944
No problem, thanks for the heads up that this resolved it!

[2017-05-23 23:35] thinkpad4 opened #945 "Error on nightly when using twitch"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Getting a error when trying to connect to a twitch stream with the latest nightly

### Expected / Actual behavior

[code]

That is what it should return ^

### Reproduction steps / Explicit stream URLs to test

[c

[2017-05-24 09:04] skilleek opened #946 "Plugin request: Caster.fm"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Hi, I would like to request a plugin for the radio stream found in http://magnificat.caster.fm/
As always, thank you for all your help!

[2017-05-24 12:04] #946 closed

[2017-05-24 12:50] beardypig commented on #946
Did you mean to close this?

[2017-05-24 12:52] skilleek commented on #946
Hi @beardypig, yeah sorry. It ended up being really easy to extract the stream parameters. It is just displayed in the source code of the webpage.

Thank you anyway!

[2017-05-24 14:13] vicjpapa opened #948 "Freezing / Closing with Dark Souls 3?"
Weird interaction with Dark Souls 3.  The stream works everywhere except when playing this particular game.  It freezes when using MPC-HC (audio still goes through) and VLC outright crashes.  Running a debug log doesn't reveal anything of interest.  Issues appear when using both shell and twitch gui

Environment

Windows 7 x64
Streamlink latest Windows Installer

Thank you

[2017-05-24 16:29] gravyboat commented on #948
I have no idea why this would be a problem. I've watched people play Dark Souls 3 as recently as Monday evening without an issue. So you're telling me if you go here: https://www.twitch.tv/directory/game/Dark%20Souls%20III and try any of those streams that VLC immediately crashes for you no matter which stream you select? If that's the case can you run Streamlink off the command line with the `-l

[2017-05-24 16:56] vicjpapa commented on #948
I'm very sorry I think my post wasn't clear.

What I meant is when I PLAY Dark Souls 3 while watching any twitch stream the stream freezes which doesn't happen when I play any other game.

I hope this makes it clearer I apologize for the confusion.

[2017-05-24 17:12] gravyboat commented on #948
Oh yeah there's nothing we can do about that unfortunately. That's due to an interaction issue between the game and how the video application typically (it's pretty common for a lot of games when they launch). You can try to tab out, relaunch the stream, and tab back in, or give some of the suggestions here a shot: https://forum.videolan.org/viewtopic.php?t=55041 for VLC at least. I'm going to clo

[2017-05-24 17:12] #948 closed

[2017-05-24 22:50] Takeoverkyle commented on #945
Getting the same error(while trying different users) on Windows 10 64bit lastest nightly

[2017-05-25 03:42] lokmiin opened #949 "vidio(dot)com plugin not working"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Hello Admin, Please checking vidio(dot)com plugin no longer working.
Could you fix it please..
Thank You.

### Expected / Actual behavior

...

### Reproduction steps / Explicit stream URLs to test

1. ...
2. ...

[2017-05-25 09:41] Wqrld opened #951 "kijktvonline support"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Can you add a plugin for the dutch website http://www.kijktvonline.nl/ ? it includes a lot of dutch tv and it seems to use the npo player like the npo plugin

### Reproduction steps / Explicit stream URLs to test

[2017-05-25 16:11] gravyboat commented on #949
We're going to need more output from you. What do you get from Streamlink when you try to use the plugin? Can you run with the `-v` and `-l debug` options please?

[2017-05-25 18:49] shahar603 opened #952 "Access to 1080p YouTube videos in Python using Streamlink"
Hey,
I'm trying to get a 1080p capture of a YouTube video to my Python script.
I tried youtube-dl, FFmpeg and Livestreamer with no success.

I tried to use the following code in my Python script:
`
streams = streamlink.streams('https://www.youtube.com/watch?v=sD0NjbwqlYw')
`
but the value of the '1080p' key in the resulted output is:
`
<Stream()>
`

While lower quality streams give an  HTTPStream

[2017-05-25 20:30] highflux7 opened #953 "ustream.tv new fail (segments fail to open)"
streamlink 0.6.0

vlc fails to execute & streamlink exits after trying hard:

[code]

[2017-05-25 22:55] beardypig commented on #952
`<Stream()>` is the `__repr__` value for the `Stream`, it is likely the correct stream but `__repr__` was not implemented for `MuxedStream`. You can probably double check the class by looking at `streams['1080p'].__class__`, just open the stream and read the video data :) If `ffmpeg` cannot be found the streams that require it will not be listed (same as the CLI).

[2017-05-25 23:18] thinkpad4 commented on #945
Any luck on figuring out what is causing this error on the latest nightly?

[2017-05-26 00:37] beardypig commented on #945
@thinkpad4, no need to tag us - we see it regardless. I'm looking in to it, I'm dunno if anyone else is, but I'm sure if anyone has a solution they'll say...

[2017-05-26 02:39] shahar603 commented on #952
Thanks! It works.

[2017-05-26 03:04] gravyboat commented on #952
Thanks for the heads up @shahar603, I'm going to close this since it seems to be  resolved.

[2017-05-26 03:04] #952 closed

[2017-05-26 03:48] lokmiin commented on #949
@gravyboat
Thanks for replied..
Here is the error output run both on versions 0.5.0 and 0.6.0
C:\Program Files\Streamlink\bin>streamlink -v https://www.vidio.com/live/777-met
ro-tv-stream best
[cli][info] Found matching plugin vidio for URL https://www.vidio.com/live/777-m
etro-tv-stream
error: No playable streams found on this URL: https://www.vidio.com/live/777-met
ro-tv-stream

Thank You So Muc

[2017-05-26 03:55] lokmiin commented on #949
C:\Program Files\Streamlink\bin>streamlink -l debug https://www.vidio.com/live/7
77-metro-tv-stream best
[cli][info] Found matching plugin vidio for URL https://www.vidio.com/live/777-m
etro-tv-stream
error: No playable streams found on this URL: https://www.vidio.com/live/777-met
ro-tv-stream

[2017-05-26 07:54] nycko123 opened #954 "no gui in mpv using --vo=drm"
As stated in the title.

Everything works fine except there's no gui in mpv (ex. time info under O-key, volume control 9- 0-keys)

tried to force gui with no luck there:
1. `streamlink twitch_url quality --player="mpv --vo=drm --hwdec=vdpau --player-operation-mode=cplayer"`
2. `streamlink twitch_url quality -p mpv -a " --vo=drm --hwdec=vdpau --player-operation-mode=cplayer"`

### No issues under x

[2017-05-26 08:58] bastimeyer commented on #954
To me this sounds like a mpv issue. What happens when you pipe a video file from the file system into mpv in a non-x env, so that streamlink can be excluded?
`cat file | mpv --vo=drm --hwdec=vdpau -`

I don't know how mpv works in combination with yt-dl, but streamlink just spawns the mpv child process and pipes the data into mpv's stdin in its default configuration. Maybe that's the issue here.

[2017-05-26 09:28] nycko123 commented on #954
This is what i get with
`cat testfile.mp4 | mpv --vo=drm --hwdec=auto -`
`Playing: -
[file] Reading from stdin...
 (+) Video --vid=1 (*) (h264 1280x720 23.976fps)
 (+) Audio --aid=1 --alang=eng (*) (aac 2ch 44100Hz)
Using hardware decoding (vaapi-copy).
VO: [drm] 1280x720 nv12
AO: [pulse] 44100Hz stereo 2ch float`
Mpv gui doesn't work.

And that's what i get in x-server env
`cat testfile.mp4 | mpv

[2017-05-26 09:52] bastimeyer commented on #954
Ok, closing the thread then. Thanks for the follow up.

[2017-05-26 09:52] #954 closed

[2017-05-26 10:34] johnthecracker opened #955 "http://www.euronews.com/live bug"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

streamlink-0.6.0-20170525.exe

[code]

streamlink-0.6.0.exe

[code]

### Expected / Actual behavior

This works:

[code]

### Reproduction steps / Explicit stream URLs to test

1. That m3u8 is french and I try to

[2017-05-26 10:50] roshavagarga commented on #955
I'm running an earlier version of streamlink, but one that is a nightly after the 0.6 version.
I don't have any problem with euronews on it, BUT using the stable 0.6 version on Ubuntu doesn't let me open euronews in the same way as john described.

There are also no plugins found for DW and TVN.bg

[2017-05-26 10:52] johnthecracker commented on #955
rosha, we're getting closer to solution, once we have m3u8 eny streamlink might work:

@beardypig,

what other command line utility apart from streamlink would return m3u8 url like httpfox does:

http://euronews-en-p7-cdn.hexaglobe.net/d5be505f52f37cd9e44016f63d0ce1d0/59280121/euronews/euronews-euronews-website-web-responsive-2/ewnsabrenpri_eng.smil/playlist.m3u8

[2017-05-26 11:06] roshavagarga commented on #955
Upon updating to today's version of the nightly, I get an even bigger problem when trying to open Euronews or DW: https://pastebin.com/UmtLWZTf

[2017-05-26 11:10] johnthecracker commented on #955
this works for now:

set url=https://tvplayer.com/watch/euronews
start /min streamlink.exe -p ffplay.exe %url% 1969k

[2017-05-26 11:11] karlo2105 commented on #955
[code]

Latest nightly build installed from pip along Python 2.7.x ;)

[2017-05-26 11:14] roshavagarga commented on #955
@karlo2105 Are you running it on a Linux-based OS or on Windows 7 64bit like me and John?

[2017-05-26 11:14] johnthecracker commented on #955
[cli][info] Starting player: "C:\Program Files\VideoLAN\VLC\vlc.exe"

[2017-05-26 11:16] karlo2105 commented on #955
Windows 7 32bit ;)

[2017-05-26 11:54] IRISlMaple commented on #229
@reasonabledoubt

[2017-05-26 11:54] #229 closed

[2017-05-26 11:55] IRISlMaple commented on #229
@reasonabledoubt, @back-to
Really appreciate you two guys.
I'll try all you mentioned methods and thank you very much again...

[2017-05-26 15:38] bastimeyer commented on #945
So is this a dependency issue here or a configuration issue (eg. invalid / weird env vars)?

@thinkpad4 What's the value of your `locale` env var?

[2017-05-26 15:41] bastimeyer commented on #936
Going to close the thread, since this the question has been answered (thanks @zp) and the plugin
has been fixed in one of the recent streamlink releases.

[2017-05-26 15:41] #936 closed

[2017-05-26 15:44] bastimeyer commented on #924
Let me post the correct param, just to make sure there's no confusion here. 😃
`streamlink -l debug ...`

@seiya-git could you please help @beardypig here with a debug log, so that this issue can be resolved, if possible?

[2017-05-26 15:47] bastimeyer commented on #914
Going to close the thread, since the question has been answered by @beardypig. Thanks

[2017-05-26 15:47] #914 closed

[2017-05-26 15:48] bastimeyer commented on #900
Going to close the thread, since the question has been answered by @beardypig. Thanks!

[2017-05-26 15:48] #900 closed

[2017-05-26 15:51] bastimeyer commented on #898
@Julz2k, could you please provide a debug log, like @gravyboat has mentioned?

Please be aware that there a different segment-threads parameters. On Twitch, you need to use the HLS one (`--hls-segment-threads`).

I'm going to close the thread, since there hasn't been any response in 17 days. Please feel free to reopen  if this issue persists or if you think that it's a bug in streamlink that needs

[2017-05-26 15:51] #898 closed

[2017-05-26 16:00] bastimeyer commented on #780
This sounds like an issue within the Twitch network in your region. Since Twitch streams are working everywhere else, I doubt this is an issue related to Streamlink.

I'm closing the thread for now. If this issue persists and if you think that it's definitely caused by Streamlink's code, please feel free to reopen.

[2017-05-26 16:00] #780 closed

[2017-05-26 16:02] bastimeyer commented on #738
Going to close the thread, since the question has been answered.

[2017-05-26 16:02] #738 closed

[2017-05-26 16:06] bastimeyer commented on #700
Going to close the thread. Please take a look at Streamlink's CLI documentation. There are enough player examples for this question to be answered.

[2017-05-26 16:06] #700 closed

[2017-05-26 16:10] bastimeyer commented on #596
Does this issue still persist or can this be closed?

[2017-05-26 16:16] bastimeyer commented on #513
Going to close the thread since it's been inactive for a while. Please feel free to reopen if this issue persists.

The latest Streamlink version is `0.6.0`:
https://streamlink.github.io/install.html

[2017-05-26 16:16] #513 closed

[2017-05-26 16:18] bastimeyer commented on #398
Closing the thread. A homebrew package has been added by the community and is now listed on the install page on the Streamlink website (#929).
If there are any issues regaring the package, please open a new thread or contact the creators of the package.

[2017-05-26 16:18] #398 closed

[2017-05-26 16:26] bastimeyer commented on #954
As an addition, you could try using the `--player-passthrough` parameter. See the docs for available passthrough methods. The stream data will then be read by the player from streamlink's proxy server instead of being piped into the player.

[2017-05-26 17:06] nycko123 commented on #954
Thanks for your effort but i'll leave it as it is. It's not bothering me so much, i just wanted to point out a bug, which we both agreed is not in streamlink.
So I started a thread on mpv git page [HERE](https://github.com/mpv-player/mpv/issues/4459).
Let's see if/when they'll be willing to come up with solution.
Sorry for wasting your time Sir.

[2017-05-26 17:09] beardypig commented on #945
It appears to be a difference on travis, we are importing `pkg_resources` (which is part of `setuptools`) but for some reason the vendored packages required for `pkg_resources` are missing (`six`, `pyparsing`, etc.). I have _not_ been able to recreate the broken build on a local VM, the versions of `setuptools`, `pip`, etc. were the same, but my local install included the required packages.

I hav

[2017-05-26 17:11] beardypig commented on #924
`-ldebug` doesn't work on Windows? I'm lazy and leave out the space :P

[2017-05-26 17:22] beardypig commented on #953
Cannot recreate this. Have you tried to play the stream again today @highflux7 ?

[2017-05-26 17:39] highflux7 commented on #953
Me neither.  Just two particular streams from one bar in key west, and they work fine today.
http://www.ustream.tv/channel/duval-street
http://www.ustream.tv/channel/willie-t-s-live

One could view them just fine on the ustream.tv webpage, but streamlink was having trouble.
Every other ustream link I tried worked perfectly & today the 2 troublemakers got back in line.
Not a streamlink problem.

Th

[2017-05-26 17:39] #953 closed

[2017-05-26 21:12] roshavagarga opened #956 "Nightly bug"
Nevermind, delete this issue as there's already an open issue on the same subject

[2017-05-26 22:20] #956 closed

[2017-05-26 22:40] Brottweiler commented on #755
Just want to add my solution where I had this error, I couldn't remove `python-pycryptodome` with pacman for some reason, so I did `-Rs` on streamlink, to remove all dependencies including `python-pycryptodome`, and then I installed streamlink again. Works.

[2017-05-27 00:55] thinkpad4 commented on #945
@bastimeyer My local Env Var?

[2017-05-27 01:57] LufiaSelan opened #957 "Mixer.com / Beam.pro"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
Greetings. It seems beam.pro changed to mixer.com over the past day and mixer.com links are not currently recognized by streamlink as a valid plugin. Additionally, streamlink requests for beam.pro seem to currently

[2017-05-27 02:37] gravyboat commented on #957
Thanks for the detailed report! At this point I don't think we've even started looking at what has changed between Beam and Mixer after they swapped over the name so we'll use this issue for that.

[2017-05-27 02:58] philiprenich commented on #596
Let's close it. I never resolved it per day but my ubuntu box isn't working ATM. I'll create a new ticket if needed

Philip

[2017-05-27 03:59] #596 closed

[2017-05-27 08:07] seiya-git commented on #924
It looks like the problem in my ISP, if I use VPN, then everything is fine.

[2017-05-27 13:42] melmorabity commented on #888
All live streams are DRM-protected on 6play. Only a few VOD streams are DRM-free (I found some in the youth section). Doesn't worth to provide support for this website :(.

[2017-05-27 14:02] melmorabity opened #959 "Unable to play Dailymotion live stream"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Streamlink cannot read the live stream http://www.dailymotion.com/video/x3b68jn

### Reproduction steps / Explicit stream URLs to test

[code]

### Environment details

Operating system and version: Fedora 25
Stre

[2017-05-27 18:46] maop commented on #957
Hello i did this plugin for livestreamer 2yrs ago!... i just reallized it was abandoned and forked :+1:
AFAIK they are just redirecting everything from beam.pro to mixer.com, so, i don't remember much but i think the transition should be easy and just rename file beam.py to mixer.py and the url regexp changed to something like:

`_url_re = re.compile(r"http(s)?://(\w+.)?(beam.pro|mixer.com)/(?P<ch

[2017-05-27 19:35] gravyboat commented on #888
@melmorabity Thanks for investigating. I'm going to close this out @uNouss, if they decide to stop using DRM we can revisit this, but for the time being it doesn't seem worth the dev time.

[2017-05-27 19:35] #888 closed

[2017-05-27 19:38] gravyboat commented on #924
Thanks for investigating that and updating us @seiya-git, I'm going to close this out for now.

[2017-05-27 19:38] #924 closed

[2017-05-27 19:55] horacio9a commented on #955
I have also Windows 7 32bit and used command:

pip install --upgrade streamlink==0.6.0

but not help ... received this:

error: Unable to validate JSON: Unable to validate key 'primary': Type of u'http://euronews-en-p9-cdn.hexaglobe.net/ee2a014526f10847762865073a86437a/59290e19/euronews/euronews-euronews-website-web-responsive-2/ewnsabrenpri_eng.smil/playlist.m3u8' should be 'dict' but is 'unicode

[2017-05-27 20:29] back-to commented on #955
@horacio9a
could you try
`pip install -U git+https://github.com/streamlink/streamlink.git`

euronews is not fixed in 0.6.0 you need the dev version from github.

old version was dict
https://github.com/streamlink/streamlink/commit/f167d292d3ac526676585250094eaaf6eb4a7dc6#diff-eb0b628a5109eebdf074e050672358e1L18

same for @johnthecracker check if your local `euronews.py` is the last version

https:

[2017-05-27 21:12] horacio9a commented on #955
@back-to
Many thanks for your help.

pip install -U git+https://github.com/streamlink/streamlink.git (failed with error code 3328 in None)

but fixed euronews.py working fine also on my streamlink 0.6.0

[2017-05-27 21:44] limiteddi opened #960 "403 Client Error: Forbidden"
Works on a PC where player is started but if I am planning download on a remote PC where there is much more better download speed I get 403 Client Error: Forbidden. I understand there is some security control in place?

The video page is: hxxp://www.hotstar.com/tv/sherepunjab-maharaja-ranjit-singh/13447/maha-singh-prepares-for-battle/1000170295

Tried different headers to no avail. Is it possible

[2017-05-27 22:27] horacio9a commented on #959
Same is here but I try other video:
http://www.dailymotion.com/video/x2qg8t0
and working OK

[2017-05-27 23:10] horacio9a commented on #951
I'm not from Holland so I cann't get this streams but you can try with @johnthecracker method:

set url=http://adaptive-e10c1a.npostreaming.nl/urishieldv2/l27m75e1b80f436521e700592a01f0000000.45801b1eb09aa955a2380d37a6d25f56/u/npo/status/vodgeodenied/vodgeodenied.ism/vodgeodenied-video=700000.m3u8
streamlink.exe --http-header "Referer=http://www.kijktvonline.nl/Nieuws%20zenders/242/Nederland_3/" h

[2017-05-27 23:22] johnthecracker commented on #955
@back-to

I tried streamlink-0.6.0-20170527.exe as-is and with plugin from your link.

result is the same,

[cli][info] Found matching plugin euronews for URL http://www.euronews.com/live
error: Unable to validate JSON: Unable to validate key 'primary': Type of 'http:
//euronews-fr-p9-cdn.hexaglobe.net/8329df0a68b2a281ea9e3a2d17d136af/592a06b5/eur
onews/euronews-euronews-website-web-responsive-2/e

[2017-05-27 23:34] tylerswagar commented on #957
I tried simply replacing Beam with Mixer and recompiling streamlink and it worked fine for me.  So evidently they haven't changed much.

[2017-05-28 00:03] gravyboat commented on #957
Awesome, thanks for testing that out @tylerswagar!

[2017-05-28 00:41] LufiaSelan commented on #957
Greetings. I made the change in _url_re that maop suggested and did some testing. Occasionally it will work, and on certain streams I still get this:

[Streamlink for Windows v0.6.0 - Git f286765]
[cli][info] Found matching plugin mixer for URL mixer.com/microsoftstore
[cli][info] Available streams: 1080p_hls, 480p_hls, 480p (worst), 1080p (best)
[cli][info] Opening stream: 1080p (rtmp)
[cli][erro

[2017-05-28 00:45] 1242637 opened #961 "[windows][streamlink standalone][hls] output to file (-o option) can't write more that the buffered cache (10 sec) to the file"
### Checklist

- [x] This is a bug report.
- [x] This is a question.
- [x] I have read the contribution guidelines.

### Description

I want to use the `-o` option to write a .m3u8 feed into a file instead of opening mpc, mpv or vlc. But, it seems that no matters what args i use, the stream closes after writing the buffered cache (about 10 seconds) into a file (.mp4 or ts) and cant get other segme

[2017-05-28 02:01] gravyboat commented on #957
@LufiaSelan Any chance it could potentially be a routing issue for you that your friend isn't running into?

[2017-05-28 06:19] aycgit commented on #951
i dont know if that works for you but it doesnt seem to work for me

[2017-05-28 06:33] horacio9a commented on #955
While I did not yet know thanks to you that there is a corrected version for the euronews plugin:

https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/euronews.py

I was trying to fix it and find some fix.

For english link must be 'fr' replaced with 'www'

_live_api_url = "http://www.euronews.com/api/watchlive.json"

when start in browser 'res = http.get(self._live_api_url

[2017-05-28 07:33] LufiaSelan commented on #957
There's a chance, but I'm not sure how to diagnose it. I get nice and steady pings to the addresses that are referenced to not being able to be opened and tracerts do not seem to have anything dropped either.

[2017-05-28 07:46] horacio9a commented on #951
Second jpg is with NL proxy ;)
Link was: https://smoote1f.omroep.nl/urishieldv2/l2cm667558003500592a7ab7000000.6eb26e50436a5600/live/npo/tvlive/npo3/npo3.isml/npo3-audio_nld=128000-video=1400000.m3u8

It should streamlink to make it also use NL proxy!

![2242](https://cloud.githubusercontent.com/assets/17076459/26526922/72d47d9e-4389-11e7-9aa8-2fe71e824030.jpg)
![2243](https://cloud.githubusercont

[2017-05-28 08:07] aycgit commented on #951
i guess this wont work and ill just have to use the specialized website, keep this open as a suggestion but all npo vids can be viewed on npo.nl on streamlink so ill use that.

[2017-05-28 08:43] back-to commented on #960
you need to use `hls://` or `hlsvariant://` for m3u8 [(?)](https://streamlink.github.io/cli.html#supported-streaming-protocols)

`hls://` for the index_X_av.m3u8 link
[code]

`hlsvariant://` for the master.m3u8 link, but this link works only 5 minutes before it will be expire
[code]

[2017-05-28 09:04] back-to commented on #955
@johnthecracker

http://www.euronews.com/api/watchlive.json
[code]
http://euronews-en-p-api.hexaglobe.net/.../.../euronews/euronews-euronews-website-web-responsive-2/en/stream_info.php?format=hls
[code]

_removed session ids_

---

**maybe the nightly version is broken**,
you should try to create a folder on `C:\` call it `plug` and paste a `euronews.py` in this folder

try this file
https://githu

[2017-05-28 09:08] limiteddi commented on #960
Did you try on a remote PC as well? I am getting 403 from a remote PC if I execute these commands

[2017-05-28 09:27] back-to commented on #960
`streamlink hls://"https://staragvod3-vh.akamaihd.net/i/videos/lifeok/mrs/2/1000170295_,16,180,400,800,1300,2000,_STAR.mp4.csmil/index_5_av.m3u8?null=0&id=AgCyXCJ8shLnVsbxKVloxcNlIkVkuEeq8RecGgjJIzgPcu0UoF7yTCh5H7fQPHE64PyPjIyZfXCPoQ%3d%3d" best -o 123.mp4`

@limiteddi not remote pc but virtual machine with vpn linux/windows both works

i tryed different ips, but some are geo blocked, make sure yo

[2017-05-28 10:14] limiteddi commented on #960
Thank you!

[2017-05-28 10:14] #960 closed

[2017-05-28 10:22] johnthecracker commented on #955
@horacio9a, @back-to, your replies helped.

I am not familiar with the situation and will have to do some reading.

This is how this will work with me after some scripting:

curl http://www.euronews.com/api/watchlive.json

{"url":"http:\/\/euronews-en-p-api.hexaglobe.net\/9fc62224bd153374cb2de89df10dc780\/592a9ed8\/euronews\/euronews-euronews-website-web-responsive-2\/en\/stream_info.php?format=hl

[2017-05-28 12:18] johnthecracker commented on #955
@back-to,

streamlink-0.6.0-20170527.exe, default plugin:

works explicitly with --plugin-dirs,

streamlink.exe --plugin-dirs C:\P\STREAMLINK\pkgs\streamlink\plugins http://www.euronews.com/live best

[cli][info] Found matching plugin euronews for URL http://www.euronews.com/live
[cli][info] Available streams: 90p (worst), 180p, 224p, 360p, 540p, 720p (best)
[cli][info] Opening stream: 720p (hls)

[2017-05-28 23:23] v1kn opened #963 "InsecureRequestWarning error on connecting to Twitch channels"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

error on connecting to Twitch channels
(formatted to increase readability):

    <user-pip-folder>/lib/python3.5/site-packages/urllib3/connectionpool.py:852
    InsecureRequestWarning: Unverified HTTPS request is

[2017-05-29 01:13] Ptibouc77 commented on #800
Can someone give this a try?

[2017-05-29 02:12] gravyboat commented on #800
@Ptibouc77 If someone feels like working on a plugin request they will add a comment saying as much, there's no need to bump a request. You're free to post a [bounty](https://www.bountysource.com/issues/44182172-plugin-request-ifriends-net-nsfw) if you want to pay someone to work on it. Please keep in mind that we are a group of unpaid volunteers spending our free time to work on this project.

[2017-05-29 09:13] johnthecracker commented on #959
**streamlink-0.6.0.exe**

streamlink.exe "http://www.dailymotion.com/video/x3b68jn"
[cli][info] Found matching plugin dailymotion for URL http://www.dailymotion.com/video/x3b68jn
error: Unable to parse manifest XML: syntax error: line 1, column 0 ('#EXTM3U\n#EXT-X-STREAM-INF:BANDWID ...)

**youtube-dl 2017.05.29**

youtube-dl.exe -v -F --no-check-certificate http://www.dailymotion.com/video/x3b68j

[2017-05-29 09:16] beardypig commented on #963
That's weird, certificate verification should be enabled on  any https request. Can you try curling the URL and see if it also gives a warning about certificates?

[2017-05-29 09:30] v1kn commented on #963
Sure, here is the output

    curl https://twitch.tv/<channel-name>

    <html>
    <head><title>302 Found</title></head>
    <body bgcolor="white">
    <center><h1>302 Found</h1></center>
    <hr><center>nginx</center>
    </body>
    </html>

[2017-05-29 11:02] back-to commented on #959
there `.f4m` file is a `.m3u8` file ... not sure if they did it on purpose or by mistake

maybe they will change it again, but here is a quick fix

https://github.com/back-to/streamlink/commit/3a939a2695ed575c568e8ab4720271557c655520

[2017-05-29 11:25] globau commented on #963
@beardypig the twitch plugin explicitly disables certificate verification:

https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/twitch.py#L207
[code]

changing to `verify=True` removes the warnings.

what's interesting is streamlink should be silencing these InsecureRequestWarnings:

https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugin/api/http_session

[2017-05-29 12:02] beardypig commented on #963
Ah true... I'll try to recreate it, I haven't seen those warnings recently... @globau do you get the warnings? Which python version/OS are you running?

[2017-05-29 12:12] globau commented on #963
@beardypig yes - Python 2.7.13 (homebrew) on OSX 10.12.5.

[2017-05-29 20:44] cirrusUK opened #964 "Non issue: user contributed arconai.tv plugin"
Hi, user @intact wrote an [arconai.tv](https://www.arconaitv.me/) plugin for livestreamer, i edited 4 or 5 lines to make it comaptible with streamlink, get it [here](https://paste.xinu.at/amdB3X/ )
enjoy + props to the author @intact

[2017-05-29 21:49] gravyboat commented on #964
Can you or @intact make a PR? If so we can add it to streamlink so it's available as a plugin by default and credit is properly attributed. I'm not willing to click on a shady looking paste URL.

[2017-05-29 23:48] thinkpad4 commented on #945
How goes solving the error?

[2017-05-30 10:05] beardypig commented on #963
@globau @v1kn could you let me know which version of `requests` and `urllib3` you are using. You should be able to find the versions by using `pip freeze`.

[2017-05-30 10:19] v1kn commented on #963
@beardypig
Up till yesterday I had `2.16.5`. My systemd service for updating pip packages ran yesterday, now requests are `2.17.3`, and the issue is gone. No more errors.

So this was a `requests` thing?

[2017-05-30 10:29] globau commented on #963
@beardypig `requests 2.16.5` and `urllib3 1.21.1`.

[2017-05-30 10:30] beardypig commented on #963
With `2.16.x` I do get the warnings, with `2.17.1+` I do not get the warnings, `2.15.x` also does not give the warnings. It appears to be an issue with `requests`.

@globau are you able to update to `requests>=2.17.1`.

[2017-05-30 10:34] v1kn commented on #963
@beardypig
good to know. For me the issue is resolved, at least for now.

[2017-05-30 10:41] beardypig commented on #961
Seems like it could be a bug in the playlist handling. You are using the `--player-passthrough hls` so `mpv`/`VLC` will handle the playlist, could you try playing it in `mpv`/`VLC` _without_ the `--player-passthrough hls` option?

Without seeing the actual playlist content it will be hard to work out what exactly is going on.

I also recommend you upgrade to version `0.6.0`.

[2017-05-30 10:45] globau commented on #963
@beardypig yes, upgrading requests resolves this issue for me too.

[2017-05-30 10:48] beardypig commented on #963
From testing versions `2.16.0`, `2.16.1`, `2.16.2`, `2.16.3`, `2.16.4`, `2.16.5`, `2.17.1` are all affected.

[2017-05-30 10:52] bastimeyer commented on #857
I'm going to close the thread since there hasn't been any activity in the past month.
@beardypig also kindly answered the question with some python code examples.

[2017-05-30 10:52] #857 closed

[2017-05-30 10:53] bastimeyer commented on #811
This thread can be closed, right?

[2017-05-30 11:00] beardypig commented on #811
We have abandoned Git LFS :) Still not decided how to do the `ffmpeg.exe` though.

[2017-05-30 11:21] beardypig opened #966 "Enable certificate verification for Twitch"
### Description

Certificate verification is disable when making API calls in the Twitch plugin. According to comments in the code, "The certificate used by Twitch cannot be verified on some OpenSSL versions." The commit to disable verification was done 3 years ago during Livestreamer development, but the specifics are unclear.

It might be risky to re-enable it and wait for people to complain tha

[2017-05-30 14:26] Takeoverkyle commented on #945
@thinkpad4
I found out how to find the env var, it just took me a bit. Here's what you do

- From the desktop, right click the Computer icon and click on properties
- Look for something called "Advanced System Settings
- A window called "Environment Variables" should popup
- Try and look for the locale variable in "System Variables" (I couldn't find it either honestly)

I've tried using other vers

[2017-05-30 16:30] #751 closed

[2017-05-30 16:31] gravyboat commented on #811
It's small enough to put into the new repo that was created right?

[2017-05-30 16:53] bastimeyer commented on #823
Closing this thread, since the plugin has been added in the 0.6.0 release a couple of weeks ago.

[2017-05-30 16:53] #823 closed

[2017-05-30 17:28] beardypig commented on #945
@thinkpad4 please don't bump issues, it just clogs up peoples notification lists and doesn't add anything to the conversation - it also might discourage people from actually working on the issue.

I have created a PR that should resolve the nightly build issues.

[2017-05-30 18:37] Takeoverkyle commented on #945
@beardypig
Thanks for that update. It somewhat helped, but there seems to be another problem that pops up. It's a lot shorter than the other one.

C:\Windows\System32>streamlink twitch.tv/lirik best
Traceback (most recent call last):
  File "D:\Streamlink\bin\streamlink-script.py", line 14, in <module>
    from streamlink_cli.main import main
  File "D:\Streamlink\pkgs\streamlink_cli\main.py", lin

[2017-05-30 19:06] beardypig commented on #945
@Takeoverkyle `urllib3` will be covered too, but there is no installer available that includes it yet. The nightly version is still built without the missing modules. The `urllib3` error is new in the last day or so from an updated version of `requests`. You'll have to wait until the fix is merged and the new nightly is available, or build the installer yourself on a Linux/macOS box.

[2017-05-30 19:09] Takeoverkyle commented on #945
Oh, not a problem then. Thanks

[2017-05-30 22:21] cirrusUK commented on #964
@gravyboat  ok i done that, thanks for the pointer, sorry i forgot windows users need to be wary of hyperlinks  ;P
joking aside,  thanks to you and the team for this splendid software.

[2017-05-30 22:38] gravyboat commented on #964
@cirrusUK Hah, I'm running Windows and Linux and wouldn't click on it either way! NP, we'll see about getting that reviewed and added: https://github.com/streamlink/streamlink/pull/970 for posterity.

[2017-05-30 22:39] #964 closed

[2017-05-31 08:05] bastimeyer opened #971 "Parsing issue in --player-args"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Original bug report by @404NetworkError here:
streamlink/streamlink-twitch-gui#464

Streamlink is exiting with an error if the first argument of the `--player-args` param is a single hyphen parameter. Defining the

[2017-05-31 09:18] beardypig commented on #971
This is a limitation of `argparse`. It can be worked around by using a `=` to set the value.
eg. `-a="-v {filename}"` or `--player-args="-v {filename}"`.

Here is a small snippet to recreate the issue:
[code]
There was a [bug report](http://bugs.python.org/issue9334) raised around 10 years ago for this issue :)

[2017-05-31 23:28] 1242637 commented on #961
i tried but without success

[code]

I might give up and just use vlc output option

[2017-06-01 00:20] steven7851 opened #972 "404 Client Error: Not Found for url"
### Checklist

- [x] This is a bug report.
- [x] I have read the contribution guidelines.

### Description

I am sure that is not network error, the url can open in browser or player, but 404 in streamlink.

### Comments, logs, screenshots, etc.
[code]

[2017-06-01 06:39] horacio9a commented on #959
Many thanks @back-to for fix

![2249](https://cloud.githubusercontent.com/assets/17076459/26667430/84f3f544-46a5-11e7-819e-1471639bec63.jpg)

[2017-06-01 07:48] beardypig commented on #959
@back-to are you going to open a PR for the fix? :)

[2017-06-01 10:59] skilleek opened #973 "Plugin request: TV2 Player Denmark"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

I would appreciate if you could develop a plugin to catch the stream found in this TV2 Denmark Player: https://play.tv2.dk/live/

As always, many thanks for all your support!

[2017-06-01 17:45] #945 closed

[2017-06-01 18:19] beardypig commented on #945
The next nightly should have this issue resolved.

[2017-06-01 18:56] #959 closed

[2017-06-01 20:47] x-traxion opened #975 "Streamlink sometimes closing stream after closing HTTP connection"
### Checklist

- [x] This is a bug report.
- [x] I have read the contribution guidelines.

### Description
Hi,
Im using Streamlink to get Twitch Streams in my Bouquet of my Linux Reciever (VU+ Solo4k).
Long time i dont use Streamlink or Livestreamer.
Yesterday i started Streamlink with a batch File on my PC as usual. It works fine till i zapped to another Channel (Sat) and zapped back to the Strea

[2017-06-01 23:04] 1242637 commented on #961
i opened a m3u8 link (5000k) and it look like this:
[code]

[2017-06-02 12:24] p1020119 opened #976 "run streamlink this happen"
[code]

[2017-06-02 13:34] beardypig commented on #976
Which version of python are you running? `2.7.?` (`python --version`).

[2017-06-02 13:57] back-to commented on #976
try to update your `requests` version, if you didn't try it already

https://stackoverflow.com/questions/28987891/patch-pyopenssl-for-sslv3-issue?answertab=votes#tab-top

[2017-06-02 15:48] horacio9a commented on #976
I don't know exactly how important is requests version in this story.
I have Python 2.7.13 and requests 2.16.2
I see that exist requests 2.6.0
With command:

pip install --upgrade requests

requests 2.16.2 is replaced with requests 2.17.3

I know I could use the command:

pip install requests==2.6.0

But I'm afraid for that ;)

[2017-06-02 16:22] horacio9a commented on #975
I don't know how much it will help my experience.
Operating system and version: Windows 7 x32 Ultimate
Streamlink version: 0.6.0

Started this link in last Firefox: http://twitch.tv/rocketbeanstv

With last IDM received https://video-edge-c2b008.fra02.hls.ttvnw.net ... ffplay has no problems with it
Same is with streamlink!
![2250](https://cloud.githubusercontent.com/assets/17076459/26734952/45279

[2017-06-02 16:42] beardypig commented on #976
@horacio9a are you having the same issue? `2.17.3` is the latest version of `requests`, there shouldn't be any need to revert to `2.6.0`. The `urllib3` version might be important too, but if you update `requests` then it should be up-to-date as well.

[2017-06-02 16:48] beardypig commented on #961
It's very hard to debug without the actual m3u8 playlist to experiment with...

Did you try watching it in VLC __without__ the `--player-passthrough hls` option?

[2017-06-02 16:50] beardypig commented on #975
This is almost certainly the same issue as reported in #916.

[2017-06-02 17:58] horacio9a commented on #976
Thanks for the explanation. I need to be honest and admit that I thought version 2.17.3 is older than 2.6.0 because number 1 is less than 6 ;)

[2017-06-02 18:49] beardypig commented on #976
It is slightly confusing because it doesn't follow the same rules as a decimal number, but then again it has 3 parts :)

[2017-06-02 23:24] ahtcx opened #978 "Handle different YouTube live links"
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Currently handles `/c/<channel>/live` but YouTube also supports that link without the `/c` part. Too small for a pull request.

### Expected / Actual behavior

Now able to match YouTube links without the `/c` prefix.

### Reproduction steps / Explicit stream URLs to test

1. `youtube.com/

[2017-06-02 23:26] ahtcx commented on #978
Here's a patch

[code]

[2017-06-03 01:53] thinkpad4 commented on #963
Other then editing the twitch.py file and change # The certificate used by Twitch cannot be verified on some OpenSSL versions.
res = http.get(url, params=params, verify=False, headers=headers) to True, is there something I can add to the configuration file to make it bypass the InsecureRequestWarning?

[2017-06-03 09:50] beardypig commented on #963
You can try the latest nightly, I think it should have thrown fix now...

[2017-06-03 10:11] beardypig commented on #978
Looks good, do you want to open a PR for it?

[2017-06-03 12:05] unlocKing opened #979 "dancetrippin.tv"
- [x ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x ] I have read the contribution guidelines.

### Description

Any chance of getting a plugin for the DanceTrippin channels?:

http://www.dancetrippin.tv/channels

Cheers!

[2017-06-03 15:06] kuh3h3 commented on #837
Maybe it need afreecatv login(username,password) routine for 19+.

[2017-06-03 18:51] azes commented on #879
Another example: https://vk.com/user?z=video46662242_456240009

[2017-06-03 19:36] azes opened #981 "hitbox.tv is now smashcast.tv"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

http://blog.hitbox.tv/smashcast-emerges/

[2017-06-03 19:58] beardypig commented on #981
I think this was fixed after 0.6.0, the nightly version supports it. You download the nightly version or wait for 0.7.0 to be released :-)

[2017-06-03 22:36] HerbertEttore commented on #981
I modified the original Hitbox plugin to support the new Smashcast.
Download the attached ".zip" file and place "smashcast.py" file in the pluguin folder.
It's working perfectly.
[Download "smashcast.zip"](https://github.com/streamlink/streamlink/files/1049987/smashcast.zip)

[2017-06-03 22:57] thinkpad4 commented on #963
Just tested the latest nightly and still
[cli][info] Found matching plugin twitch for URL twitch.tv/crream
[plugin.twitch][info] Attempting to authenticate using OAuth token
d:\Program Files (x86)\Streamlink\pkgs\urllib3\connectionpool.py:852: InsecureRe
questWarning: Unverified HTTPS request is being made. Adding certificate verific
ation is strongly advised. See: https://urllib3.readthedocs.io/e

[2017-06-03 23:56] gravyboat commented on #981
This was the existing issue: https://github.com/streamlink/streamlink/issues/935

[2017-06-03 23:56] beardypig commented on #963
That's strange, I cannot reproduce that warning. Could you re-download the latest nightly, uninstall and reinstall it. I used [streamlink-0.6.0-20170603.exe](https://bintray.com/streamlink/streamlink-nightly/download_file?file_path=streamlink-0.6.0-20170603.exe) (generated 6 hours ago), and I did not get the warning when playing a twitch stream.

[2017-06-03 23:57] gravyboat commented on #981
This was the existing issue: https://github.com/streamlink/streamlink/issues/935

[2017-06-03 23:57] #981 closed

[2017-06-03 23:58] #978 closed

[2017-06-04 00:08] beardypig commented on #978
No fix is too small for a PR! Well done for fixing your own issue @ahtcx ;)

[2017-06-04 00:11] thinkpad4 commented on #963
Yep, uninstalling the old version and install that nightly works with no issue

[2017-06-04 03:02] schtroumpfs commented on #655
do you know how to download from mytvysuper?

[2017-06-04 20:00] distommy opened #985 "python traceback error when trying to start any stream"
### Checklist

- [x] This is a bug report.
- [x] I have read the contribution guidelines.

### Description

Trying to run any command gives me a python related error

### Expected / Actual behavior

start a stream, e.g. `streamlink twitch.tv/imaqtpie` doesnt work, gives me an error message (see logs)

### Reproduction steps / Explicit stream URLs to test

1.just try starting any stream
2. error me

[2017-06-04 23:16] beardypig commented on #985
Try and do `pip install --upgrade streamlink`, to get it to install the missing module.

[2017-06-05 09:23] nicr4wks opened #988 "tvplayer.com 404 Client Error"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

tvplayer.com has started returning 404 client error:

streamlink https://tvplayer.com/watch/chilled
[cli][info] Found matching plugin tvplayer for URL https://tvplayer.com/watch/chilled
error: Unable to open URL:

[2017-06-05 10:25] roshavagarga commented on #985
Another option is to completely uninstall, restart and then install streamlink 0.6 and install the latest nightly on top of that. That seemed to fix the problem on my side.

[2017-06-05 10:42] beardypig commented on #988
@nicr4wks thanks for the bug report, I have submitted a PR to fix the issue.

If you want to manually replace the plugin file (`tvplayer.py`) it should be relatively straight-forward. You should be able to download [tvplayer.py](https://raw.githubusercontent.com/beardypig/streamlink/d60314c7c14abecf118a0f9ceaca382df371286d/src/streamlink/plugins/tvplayer.py) and replace the existing one (likely in

[2017-06-05 11:22] nicr4wks commented on #988
Thanks @beardypig  ! Working well.

[2017-06-05 11:43] distommy commented on #985
Doing `pip install --upgrade streamlink` didnt seem to do anything, everything apparently is up to date
[code]
I have a feeling that this is because of my python version (2.7) and maybe updating to 3.6 would help, anyone have an idea?

also, I completely reinstalled streamlinkg and also tried the development version, same error.

[2017-06-05 11:46] beardypig commented on #985
What does `cat /usr/local/bin/streamlink` return? Perhaps the `streamlink` script is pointing to the wrong place...

[2017-06-05 11:51] distommy commented on #985
Alright I solved it. Seems like installing via pip doesnt do it right, so I did it manually (cloning from git and executing setup.py) and now it seems to work. Thanks for all the help people, its works.

[2017-06-05 16:11] #988 closed

[2017-06-05 20:58] Truanifan commented on #789
I'd like to second this if possible.

[2017-06-05 21:59] beardypig commented on #789
Ah, was going to work on but forgot... I'll take a look :-)

[2017-06-06 14:17] back-to commented on #955
this should work now with the last version `streamlink-0.6.0-20170605.exe`, at least it works for me.

my update was `streamlink-0.6.0.exe` to `streamlink-0.6.0-20170605.exe`

https://dl.bintray.com/streamlink/streamlink-nightly/

---

I got the same error on **ubuntu**,

the issue was i wanted to build `streamlink`
but it did not overwrote the streamlink version from `pip install streamlink`

aft

[2017-06-06 15:15] beardypig commented on #789
I have created a branch on my fork which supports logins for Funimation - it could do with some real world testing: https://github.com/beardypig/streamlink/tree/funimation

[2017-06-06 22:28] johnthecracker commented on #955
@back-to ,

I can confirm euronews works with release streamlink-0.6.0-20170606.exe.

I don't want to close this issue because streamlink team is working on it
so they will probably close it when they see fit.

If I was as good as you, I would call myself johnthehacker.

[2017-06-07 16:00] DawgNewb opened #990 "Recent issues with facebook plug-ins."
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Hello there, I'm usally used facebook plug-in to record stuff.
Until 2 day ago it seem like fb changing somethings and it not working anymore.

I also had one more request is to do fb authentication for live in ag

[2017-06-07 20:44] azes opened #991 "Add support for looch.tv"
- [x] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
Any chance of getting a plugin for this?

https://looch.tv/channels

[2017-06-07 20:52] gravyboat commented on #991
Do you have any additional details? An example channel, what requests look like, etc.? Anything would be appreciated.

[2017-06-07 23:22] azes commented on #991
Example:
https://looch.tv/channel/KofyeinTV

[2017-06-08 16:16] #991 closed

[2017-06-09 14:50] distommy commented on #985
@beardypig I know its offtopic here but I didnt want to create another thread: how do I choose ffmpeg as the player rather than vlc?

[2017-06-09 16:16] gravyboat commented on #985
@distommy Check out the docs on this: https://streamlink.github.io/cli.html#player-options We just updated them to provide additional examples of using different players.

[2017-06-09 17:05] gravyboat commented on #985
Thanks @bastimeyer, a bit early for me it seems as I totally missed ffmpeg...

[2017-06-10 02:51] larryhastings opened #994 "Feature request: allow playing *and* archiving a stream simultaneously"
- [X] This is a feature request.
- [X] I have read the contribution guidelines.

### Description

The documentation for the `-o FILENAME` flag says: `Write stream data to FILENAME instead of playing it.`.

It's frequent that I want to *both* play *and* write a stream.  Right now this means I run two instances of streamlink, which uses 2x my incoming bandwidth, 2x the bandwidth for the streaming se

[2017-06-10 10:59] bastimeyer commented on #994
This has been asked in #105 and there's also a PR for this: #920.

Right now you can use the `-O` parameter and save the additional bandwidth like this:
[code]
This uses the standard output, pipes it into the tee process, which writes its input into a file and also outputs it again and pipes it into the vlc process which again reads from stdin.

https://github.com/streamlink/streamlink/issues/105#

[2017-06-10 22:58] saki4u opened #995 "add plugin request for poovee.net"
please add plugin for this site
http://poovee.net/embed/187/1?autoplay=1
link got token key
<source src="http://cdn.ebound.tv/tv/seetv/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ni8xMC8yMDE3IDEwOjU3OjMxIFBNJmhhc2hfdmFsdWU9dGhHRWw2QVlqSy9STzV4RFE1eUs3UT09JnZhbGlkbWludXRlcz02MCZpZD0x" type="video/mp4"  data-res="SD" data-default="true" >

[2017-06-11 13:14] Socialery opened #996 "Support the presence/status system for twitch"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Support the presence/status system for twitch

### Expected / Actual behavior

When watching a twitch stream, the user's status is expected to update to reflect that, It doesn't

### Reproduction steps / Explicit

[2017-06-11 17:06] bastimeyer commented on #996
I'm not sure if this kind of logic belongs into Streamlink. Streamlink's only job is to fetch stream data from streaming services and then do some stuff with that data.

I understand that the user activity status serves a purpose on the Twitch website, but it is totally unrelated to the functionality of Streamlink. IMO, this kind of stuff belongs into 3rd party applications. As a suggestion on my

[2017-06-11 19:21] dojima commented on #957
I have this same issue when I don't use player-passthrough=rtmp.  When I do use player-passthrough=rtmp, I don't get an error, but MPC-HC fails the render the file unless I choose to watch one of the HLS streams.  If I simply have streamlink output the stream URL via --stream-url and paste the resulting URL into MPC-HC, it works just fine.

[2017-06-11 23:20] LufiaSelan commented on #957
Thanks for the helpful reply. I had not realized that HLS seem to always work so far, yet the other ones behave seemingly randomly. At least that means it is not a personal routing issue and there is something going on here.

[2017-06-12 00:04] gravyboat commented on #996
I agree with @bastimeyer and his response covers the concerns I have thoroughly. We generally try to keep Streamlink exceptionally light with check ins (so much so that we even dropped checking for Streamlink updates automatically!) and that's something I really like about this project. We allow for integrations and wrappers pretty easily but the core portion of Streamlink needs to try and stay ti

[2017-06-12 02:47] voltagex opened #997 "Only the first frame of video is shown in VLC"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

streamlink opens fd://0 in VLC, but I only get the first frame of video

### Expected / Actual behavior

Stream plays correctly

### Reproduction steps / Explicit stream URLs to test

1. pip install streamlink on

[2017-06-12 06:13] gravyboat commented on #997
Thanks for the detailed report @voltagex! This is actually an issue with VLC that we've seen before so you were definitely on the right track there (https://github.com/streamlink/streamlink/issues/883) if you upgrade to VLC 3 that should resolve it.

[2017-06-12 06:33] voltagex commented on #997
Ah, sorry for the duplication. I'll use ffmpeg until VLC 3 is a little more
stable.

On 12 Jun 2017 16:13, "Forrest" <notifications@github.com> wrote:

[2017-06-12 16:11] gravyboat commented on #997
@voltagex Are you using the VLC nightly currently? This issue should only be occurring if you're using the stable VLC install.

[2017-06-12 17:35] beardypig commented on #997
There was a similar issue with VLC 3, #798.

@voltagex if you are able to test it, then it would be nice to know if it works with an earlier VLC3 nightly :)

[2017-06-12 21:32] Zero3K opened #998 "Issue with Chaturbate streams"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

I am getting an error trying to play a Chaturbate stream.

### Expected / Actual behavior

I expect it the stream to load in the media player I have configured it to use. Instead, the following error is shown:

er

[2017-06-12 22:08] back-to commented on #998
the **plugin itselt works fine**, tested on win7/win10/linux

---

- does the stream load in your browser? _(not the flash stream)_
- does other plugins work for you?
- is your internet connection ok?

[2017-06-13 03:36] voltagex commented on #997
Confirming the stream works as expected with a VLC 3 nightly: e.g.

[code]

[2017-06-13 03:42] voltagex commented on #798
Can't reproduce on the June 12 nightly of VLC 3.

[2017-06-13 04:29] gravyboat commented on #997
Thanks for the additional testing and details @voltagex, are you okay with me closing this since we've confirmed it's a VLC issue?

[2017-06-13 04:34] gravyboat commented on #998
Probably related to this yeah @back-to? https://github.com/streamlink/streamlink/issues/685 Seems like some streams just have issues based on previous reports.

[2017-06-13 05:43] voltagex commented on #997
Yep, no worries @gravyboat, thanks for the help. If you come across another thing where VLC is choking on the TS file, let me know and we can work together to get a sample / report for VLC

[2017-06-13 05:43] #997 closed

[2017-06-13 12:19] saki4u opened #1000 "how to play this"
how to play this
https://hls.ssh101.com/live/b4umovies/index.m3u8

[2017-06-13 13:13] horacio9a commented on #1000
Believe it or not I have plain to put a similar question.
I wanted to ask how to play this:

http://e15.voyeur-house.tv/realm9/stream/c30c61d3ca7031b498751681541e0b82.m3u8

The fact is there is no problem for ffmpeg/ffplay!

I try with: livestreamer "hlsvariant://http://e15.voyeur-house.tv/realm9/stream/c30c61d3ca7031b498751681541e0b82.m3u8" ... but no luck!

[2017-06-13 13:39] back-to commented on #1000
use `hls://`
https://streamlink.github.io/cli.html#supported-streaming-protocols

[code]

works for both urls

[2017-06-13 14:13] unlocKing commented on #1000
@back-to
off-topic, but did you close your repo?

[2017-06-13 16:54] horacio9a commented on #1000
@back-to
Thanks for the link and advice. With this we get a correct MP4 files and that is fine.
I wonder if there is a possibility to get FLV file. The difference is seen in this 2 screen shots.

![fplay](https://user-images.githubusercontent.com/17076459/27094154-792d5354-5069-11e7-830e-398ef5594a5b.jpg)
![sl](https://user-images.githubusercontent.com/17076459/27094169-861f6ac0-5069-11e7-8660-fd6

[2017-06-13 17:15] beardypig commented on #1000
@horacio9a in this case those `ffmpeg` options are not applied as they only apply to some stream type. The video and audio are already h264 and aac respectively so transcoding would have no effect anyway. HLS uses the TS container format rather than mp4 (which is a subset of flv). If you want to repackage it in to an flv you'll need to use ffmpeg or similar.

Nb. HLS does actually support mp4, but

[2017-06-13 18:56] #1000 closed

[2017-06-14 07:12] thinkpad4 commented on #963
I haven't encountered this issue since @beardypig suggested I uninstall and reinstall the nightly.

[2017-06-14 13:41] saki4u opened #1002 "plugin reuest latino-webtv.com"
can we make plugin for this website
http://embed.latino-webtv.com/channels/foxaction.html
source: MarioCSdecrypt.dec("U2FsdGVkX19emmTwgKl43+5D/nEexIgb88Rjw+8o/Ph4rg/5rl5QPOkqdt9U8b3IbTXBRGvmaZuZYCq1QIw7hwOW6Z4jQPuJwoZyVcd9wyfhaQzjNbGUoCDZDvlAaaoystcRC9HjdNJyaT03BOttd65cw2f5lhlAcJYi6gU89Iiw3IDEbbFG9e3xvUzeBFub3g24lUVbeS7sLCgQlwocLE7Yrw2Q0zAHvpFo2nnUXF0="),

[2017-06-14 16:11] gravyboat commented on #963
@thinkpad4 Thanks for the update, are we good to close this out then?

[2017-06-14 22:28] thinkpad4 commented on #963
And using the latest Nightly [cli][info] Found matching plugin twitch for URL twitch.tv/crream
[plugin.twitch][info] Attempting to authenticate using OAuth token
d:\Program Files (x86)\Streamlink\pkgs\urllib3\connectionpool.py:852: InsecureRe
questWarning: Unverified HTTPS request is being made. Adding certificate verific
ation is strongly advised. See: https://urllib3.readthedocs.io/en/latest/adv

[2017-06-15 07:51] tonybonykony opened #1003 "plugin request stripchat.com"
Please create a plugin for this site thanks Streamlink

[2017-06-15 15:16] bupmc opened #1004 "2017-06-20 Douyu.com error"
2017-06-20 new error:
streamlink https://www.douyu.com/17732 source -o "PATH & FILENAME"
[cli][info] Found matching plugin douyutv for URL https://www.douyu.com/17732
error: Unable to validate JSON: Unable to validate key 'data': {'hls_url': 'http://hlsa.douyucdn.cn/live/17732rtara_550/playlist.m3u8?wsSecret=25fea1e41c1af4dbf9f81b69b7ffa74e&wsTime=1497949895&did=&ver='} does not equal None or Key

[2017-06-15 16:19] gravyboat commented on #1003
Can you please provide an example URL or any other data you've collected regarding network traffic?

[2017-06-15 16:23] gravyboat commented on #1004
Hello I'm not sure if you meant to write this in your dialect or not but typically we want to keep all language on this repo in English since there are people from all over the world working on this project. I tried throwing your sentence there into Google translate and it just came back with: `In the case of sufficient popularity, the medium_http and medium parameters are invalid` and I have abso

[2017-06-15 16:36] tonybonykony commented on #1003
I do not know what I'm saying here is correct, but this is all I have
ex: https://stripchat.com/DisneyDee
------------------------------------------------------------------------
=> streamlink : rtmp://b-eu5.stripcdn.com/eu2?sessionHash=b77648d1ecea0fe1c597d66476041cc561591f49eeb39d675d1913f0783b&domain=stripchat.com/617705_aac
----------------------------------------------------------------------

[2017-06-15 17:16] gravyboat commented on #1003
Thanks for the additional details, if someone decides to work on this one they'll update the issue!

[2017-06-15 21:55] larryhastings commented on #994
Sorry--I did look for an existing issue, honest.  I guess my google-fu was not up to the task.

[2017-06-15 21:55] #994 closed

[2017-06-15 22:05] larryhastings opened #1005 "Feature Request: use Twitch stream title in player title bar / save filename"
### Checklist

- [x] This is a feature request.
- [x] I have read the contribution guidelines.

### Description

Right now, when streaming a Twitch stream via streamlink, the vlc title bar is left with its default value, usually something mysterious like "http://127.0.0.1:46821/".

Twitch's API publishes the current "title" of a stream, which is metadata set by the streamer.  (I see it in the v5 A

[2017-06-15 22:26] bastimeyer commented on #1005
This is already being discussed at #623...
The conclusion right now is that it's difficult to fight all the edge cases on different OSes in combination with different players while having clean and intuitive CLI options.

The best alternative for now is using a shell wrapper script or a third party application (eg. Streamlink Twitch GUI) that reads the stream title from the Twitch.tv API and sets

[2017-06-15 22:27] gravyboat commented on #1005
@bastimeyer I think some of the more recent discussion in #623 is supporting it specifically for the player (VLC and MPV based on the latest comment) and fall back to nothing otherwise. Not sure what the status is though as the PR hasn't been updated for that change.

[2017-06-15 23:00] horacio9a commented on #1002
How to use MarioCSdecrypt.dec ?

I am found this link: http://tutvplay.rf.gd/test.php

Did this script help in this case?

[2017-06-16 05:17] dahjin opened #1006 "picarto video -> mpv does not work?"
### Checklist

- [x] This is a bug report.
- [x] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
Using the command streamlink https://picarto.tv/videopopout/Pixiepowderpuff_2017.06.14.07.27.57.flv -o 1.mp4 gets me nothing except that it thinks the channel is offline.

### Expected / Actual behavior
use above c

[2017-06-16 05:24] dahjin commented on #1006
Using Youtube-dl i have actually gotten around this. But i'm not sure if this should be supported in Streamlink or not due to this being sort of like twitch vods but for Picarto.

[2017-06-16 10:46] beardypig commented on #1002
I cannot get this website to play many of the channels, only series channels seem to work.

`MarioCSdecrypt.dec` is a JavaScript implementation of the OpenSSL EVP based encrypt method. There is a python implementation in Streamlink, `streamlink.utils.crypto.decrypt_openssl`, it is straightforward to extract the stream URL using that method. The passphrase is `cipherbinary`, it was hidden in the `j

[2017-06-16 11:41] Uriei commented on #957
I think I know what's the problem with non-HLS streams, the DNS server can't locate most of Mixer's RTMP servers, so I made my own workaround, in the mixer.py file I replaced
`                "rtmp": "{0}/{1}".format(assets["base"], video["src"])
` with
`                "rtmp": "rtmp://dist1-rtmp.mixer.com:1935/beam//{1}".format(assets["base"], video["src"])
`
and for now it seems to be working, u

[2017-06-16 13:02] beardypig commented on #957
@Uriei is correct, they appear to be generating junk `rtmp` URLs. Hardcoding the `rtmp` base URL seems to work, but they might be removing support for `rtmp` - as it isn't returned via the API as standard. They tend to favour `hls` or their own custom streaming format, `ftl`. We could remove `rtmp` support from the `beam/mixer` plugin and just return`hls`, or as a work around users can set `--stre

[2017-06-16 13:14] beardypig commented on #1006
How do you get to the VOD page? I cannot find a link on the site... Are there are formats for the VOD links? ie. not videopopout?

[2017-06-16 13:50] Uriei commented on #957
@beardypig `rtmp` has one big advantage (for me at least) over `hls`, on non-FTL streams, `hls` has a 10-20 secs delay (exactly like watching from the website) and `rtmp` only has 2-4 secs (not quite like a FTL stream but really god for non-FTL streams).

[2017-06-16 14:45] beardypig commented on #957
Ah, that's a good point @Uriei :) I hadn't considered the delay.

`dist{1,2,3,4,5,6}-rtmp.mixer.com` all have dns records, but only `{1,2,3,4,6}` actually work for rtmp streams (for the ones I tried at least).

[2017-06-16 15:39] skulblakka commented on #1006
As far as I can tell only Premium streams have VODs. You can find a "Videos" tab under their stream. This one has some for example https://picarto.tv/LiLaiRa (I picked a random one from the popular tab, so I don't know if their content is NSFW)

[2017-06-16 16:33] ilfsn opened #1009 "Schoolism plugin not working"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
Schoolism plugin is not working, which i had subscription already.

### Environment details

Operating system and version: Windows 7 SP1
Streamlink and Python version: Windows Portable 0.6.0

### Comments, logs, sc

[2017-06-16 17:47] gravyboat commented on #1009
Try wrapping the url in quotes?

[2017-06-16 18:27] ilfsn commented on #1009
Fanstatic, it working fine now.
But why command-line tutorial didn't mention about url must be with quotes ?

[2017-06-16 19:27] gravyboat commented on #1009
This is because not every URL needs to have quotes, that ampersand between `st` and `id` was breaking it. For the vast majority of URLs quotes are not required. I'm going to close this out now, thanks for confirming that worked!

[2017-06-16 19:27] #1009 closed

[2017-06-16 20:59] johnthecracker commented on #1000
@saki,

I haven't seen answer to your question here or I missed it.

I can play that with ffplay.exe like this:

"C:\AP\FF\ffplay.exe" -i "https://hls.ssh101.com/live/b4umovies/index.m3u8"

ffplay version 3.3.1 Copyright (c) 2003-2017 the FFmpeg developers
  built with gcc 6.3.0 (GCC)
  configuration: --enable-gpl --enable-version3 --enable-cuda --enable-cuvid --e
nable-d3d11va --enable-dxva2 --en

[2017-06-16 21:50] BullHorn7 opened #1010 "Volume control in VLC with the mousewheel behaves abnormally"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

This is a bug since the days of Livestreamer.
When using Streamlink with VLC, the mousewheel for changing volume behaves abnormally, usually reacting slowly to the input as well as ignoring some (for ex: spinning

[2017-06-16 22:52] saki4u opened #1011 "plugin request moskvatv.club"
http://www.moskvatv.club/playlist.php?http://137.74.41.127/apid/channel_now
decoded php source.

[2017-06-16 23:07] LufiaSelan commented on #957
Thanks so much @Uriei ! The change that you suggested is working great! The short delay is the main reason that my friends and myself use beam/mixer for our streaming activities.

[2017-06-17 01:18] gravyboat commented on #1010
I've never encountered this issue on either my Windows 10 system, or my Ubuntu system, can you duplicate it in multiple VLC versions? What about the latest nightly from them? Have you been able to duplicate it on any other systems? This seems super weird to me.

[2017-06-17 03:12] saki4u opened #1012 "how to watch this"
<video id="player" class="player" autoplay="" webkit-playsinline="" playsinline="" src="blob:http://tvmucho.com/851c3ebf-15e3-454a-afae-625aa276ee6c" style="width: 266.667px;"></video>
http://tvmucho.com/player/tv/?channel=ch4-hd

[2017-06-17 03:14] tonybonykony commented on #1003
Could you explain to me the rules of plugin ? I want  to learn about it, thanks Streamlink team

[2017-06-17 03:36] scottbernstein commented on #1010
Also NOT seeing this on my Windows 10 Creators Update Edition, with the latest Streamlink and a very recent VLC 3 nightly build

Frankly I can't see how Streamlink could be responsible for issues with the volume control in VLC

________________________________
From: Forrest <notifications@github.com>
Sent: Friday, June 16, 2017 9:18:24 PM
To: streamlink/streamlink
Cc: Subscribed
Subject: Re: [stre

[2017-06-17 06:18] BullHorn7 commented on #1010
It's happening with the latest nightly too.

I noticed something else - When I click the volume bar to change volume, there's a small delay between the click and the adjustment occurring and I think it's related. This delay is causing the mousewheel input to be ignored until the delay is over.

Then I went to streamlinkrc and removed this from VLC's startup lines: "--network-caching 5000" and the

[2017-06-17 10:37] dahjin commented on #1006
Pretty much what skulblakka said the only way to access the vods is if that steamer has premium and it's below in a videos tab.

[2017-06-17 11:21] ilfsn opened #1013 "Schoolism plugin not working with some part in playlist"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
Schoolism plugin working fine but with some part of a Lesson ( playlist) it get error. I realize that some portion of error part exactly came from another course; maybe that is reason why plugin get error.

### Env

[2017-06-17 12:53] ilfsn commented on #1013
After login and logout a couple of times in Schoolism homepage, streamlink was able to download error part before. I don't know why but it seem all working good.

[2017-06-17 16:30] xdextremex opened #1014 "Crunchyroll not working with Premium videos"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Maybe there was some update in the Premium videos API, and the streamlink can't reproduce then anymore, this message appears when i try to play it: " No playable streams found on this URL"

This problem started re

[2017-06-17 18:28] beardypig commented on #1013
If you login/logout a lot, or download too many parts using streamlink too fast you might get blocked temporarily by schoolism... You might be hitting a rate limit on their side, try to space out the downloads and see if it helps.

[2017-06-17 18:58] gravyboat commented on #1010
Have you been able to duplicate the slowness caused by VLC's `network-caching` option with any other tools besides Streamlink? It might be worth testing that to confirm whether this is simply VLC or not.

[2017-06-17 19:55] BullHorn7 commented on #1010
Unfortunately not. It also happens without `network-caching` in cases when the stream is lagging/buffering. It might just be a VLC bug...

[2017-06-18 03:59] ilfsn commented on #1013
Great advice, I'm testing and seem working fine. Will report soon. Thanks so much.

[2017-06-18 05:46] ilfsn commented on #1013
Confirm that space out download work, 3-4 minutes between each download.

[2017-06-18 06:47] fozzysec commented on #1004
it seems that douyu changed the LAPI app key again, we need a new key to get the correct json from LAPI url.
[code]
The second JSON was returned by the following code.
[code]

[2017-06-18 06:58] bupmc commented on #1004
上次是这位高手破解的
https://github.com/spacemeowx2/DouyuHTML5Player/commit/5065e5e8e60f1eddf2eb8370b6fcb9136c6685a4
https://github.com/spacemeowx2/DouyuHTML5Player/commit/97c72a8f4e63f9b17c176d9c36d4841b5951e478

[2017-06-18 07:34] fozzysec commented on #1004
@bupmc I use that API previously, but after I found a better API I turn to the better one. It seems that douyu just changed their API key and the new SWF player was encrypted and not easy to decrypt, you can use the following files temporarily. Just replace `douyutv.py` by the following `douyutv.py` and download the second file under the `plugins` directory it will work. https://raw.githubusercont

[2017-06-18 11:30] nywiley commented on #160
SOLVED:  Add HLS Native Add-On to Chrome on Linux and your can sign in and watch Live TV.

[2017-06-18 12:36] bupmc commented on #1004
Thanks a lot!

[2017-06-18 19:03] gravyboat commented on #1013
Thanks for the update @ilfsn and for the excellent idea @beardypig, I'm going to close this out.

[2017-06-18 19:03] #1013 closed

[2017-06-18 19:35] gravyboat opened #1016 "What should we do with money people donate to the team via Bountysource or other tools (as oppossed to individuals)?"
### Description

A few days ago @liamkennedy very generously donated $120 USD to the bountysource (thanks Liam!). As this is the first ever team donation I'd like to discuss how we want to handle this. Currently only myself and @beardypig are marked as bounty hunters for the project, and I'm the only actual member of the project. I see a few potential options and if anyone else has other ideas ple

[2017-06-18 21:52] scowalt commented on #1016
Another option I would like to add: can we invest this money somehow back into the development of streamlink? A couple of examples:

- Pay for nightly build hosting (or any other development service that would be helpful to all of the contributors that isn't free)
- Commission artwork / logo / design for the website or program (if we ever want to get rid of the doggo 😛 )

I'm not sure if this is i

[2017-06-18 22:13] liamkennedy commented on #1016
Hi all.  Yes... I made the donation via bountysource as the three of you listed for donations to the project had different approaches to provide payment... and it would just take a lot of extra hassle on my side to handle things that way.  If you each posted a "paypal me" link I could have handled it that way - but the "project donation" via bountysource just seemed appropriate for my goals.

I ju

[2017-06-18 22:13] TheSneakySniper opened #1017 "Twitch Plugin Recording Streams Hosted on a Twitch Users Channel"
- [x] This is a bug report.
- [x] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

So, the problem is that when a streamer is hosting someone else on twitch, the plugin tends to record the hosted user. I think that this should have an option, such as --no-host to prevent this from happening.

1. Try to record anyone who is hos

[2017-06-18 22:32] gravyboat commented on #1016
@scowalt These are both good ideas! Thanks for adding on to the discussion.

@liamkennedy I totally understand the annoyance in donation methods, I've been trying to find services that would make it easy for distributed teams like this for a while but have had no such luck finding ones that support payins via a variety of options, and payouts for people no matter where they live via services other

[2017-06-18 22:38] bastimeyer commented on #1017
See the `--twitch-disable-hosting` parameter:
https://streamlink.github.io/cli.html#cmdoption-twitch-disable-hosting

[2017-06-19 08:21] skilleek opened #1019 "Livestream plugin issue"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Hi, I have problems catching a Livestream stream:
[](streamlink "http://original.livestream.com/blazinnation_993fm"
)

Returns:
[]([cli][info] Found matching plugin oldlivestream for URL http://original.livestream

[2017-06-19 08:54] beardypig commented on #1019
Streamlink grabs the mobile version of the streams (HLS) for "old" livestream, that stream doesn't seem support mobile streams. I'm not sure how hard it is to grab the "desktop" stream...

[2017-06-19 10:01] johnthecracker commented on #1019
Surprise, this is rtmp stream.

rtmpdump -r "rtmp://85.50.185.35.bc.googleusercontent.com/mogulus-stream-edge/blazinnation_993fm" -a "mogulus-stream-edge/blazinnation_993fm" -f "WIN 26,0,0,131" -W "http://cdn.livestream.com/chromelessPlayer/v21/playerapi.swf" -p "http://original.livestream.com/embed/blazinnation_993fm?showMoreVideos=false&hideInfo=true&autoPlay=true&lschannel=true&browseMode=false

[2017-06-19 10:06] johnthecracker commented on #1019
rtmpdump downloads it, rtmpsuck doesn't. rtmpsuck - sucks here.

[2017-06-19 10:51] beardypig commented on #1019
They appear to use RTMP RPC for their API to get stream URLs, etc. this is not easily supported in Streamlink so it's unlikely that it will be solved any time soon. This could be done with `librtmp`, but we have tried to avoid using it as it is not very user friendly to install - a pure python rtmp client would be ideal...

[2017-06-19 11:11] beardypig commented on #1014
All the links you posted are working for me at the moment. Streamlink uses the mobile version of the streams, there could be a delay for the episodes to become available in mobile formats.

[2017-06-19 11:13] johnthecracker commented on #1019
Rtmpdump may never be updated ever, librtmp will.

Effort would be worth for millions of them watching webcam sites.

If I was of high calibre, I would do it for streamlink, sadly I cannot do it.

[2017-06-19 18:18] AnsgarMans commented on #957
I'm getting the same issue @LufiaSelan was earlier even after the change made by @Uriei

[Streamlink for Windows v0.6.0 - Git f286765]
[cli][info] Found matching plugin beam for URL beam.pro/revocane
[cli][info] Available streams: 720p_hls, 240p_hls, 480p_hls, 1080p_hls, 240p (wo
rst), 480p, 720p, 1080p (best)
[cli][info] Opening stream: 1080p (rtmp)
[cli][error] Try 1/1: Could not open stream <RT

[2017-06-19 18:36] beardypig commented on #957
@AnsgarMans if you add `--retry-open 10` to your streamlink command does it fail 10 times? ie. If you try again, does it eventually work?

[2017-06-19 18:41] AnsgarMans commented on #957
Still fails to open. I've also discovered that Mixer has a status site: https://status.mixer.com/#

Which doesn't list RTMP in their video distribution. Is it possible they've phased it out?

[2017-06-19 19:44] nsmith1024 opened #1021 "What format is sent to VLC player"
Hello,

I need to stream the output from streamlink to a new "player" of sorts.

For example i type "streamlink twitch.tv/etojordi best" this opens up VLC and it starts playing. Nice, but i want to send this data to a new player so i include --stdout and then it starts sending the data to standard output.

Now i can capture this data with my new player, but i got no clue what kind of data this is

[2017-06-19 19:44] beardypig commented on #957
They are definitely phasing it out, they like their ftl distribution method now :-)

[2017-06-19 20:02] nsmith1024 commented on #1021
If i save the stream using "-o file.mp4" it saves the stream data into that file. I can double click on that file  and it plays in windows, but if i drag the same file into a browser it wont play, but if i drag a regular mp4 into the browser it plays.

So there is something special about the file streamlink saves in that it can be played but its not a regular mp4 file.

Anybody knows what kind of

[2017-06-19 20:12] beardypig commented on #1021
Generally speaking the format is the same as the original stream, and the same data goes to VLC as goes to a file. The container format of the stream depends on the provider and the stream type. HLS (which is what twitch uses) is TS (transport stream, could also be mp4 but that isn't supported in streamlink), rtmp and HDS are flv, HLS multi audio is repacked in to an mkv. Always the video and audi

[2017-06-19 20:36] nsmith1024 commented on #1021
hello beardypig,
Thanks so much for your comment, so i have a custom "in house" player that can only play mp4 and ogg, is there a program or programs, that can read the stdout of streamlink, and transform that to mp4 or ogg on the fly so it can be streamed to mp4 or ogg player?

[2017-06-19 21:38] Vangelis66 commented on #1021
@nsmith1024 wrote:

... When you manually specify an ".mp4" file extension, that doesn't mean that
streamlink will use the MP4 container, because streamlink doesn't do any remuxing
by default; as beardypig said,

If you install MediaInfo (`https://mediaarea.net/en/MediaInfo`) you can then inspect, say, a 5min stream capture to discover its details (raw streams + media container).

That is because

[2017-06-19 22:07] xdextremex commented on #1014
Still not working
![2017-06-19_19-06-22](https://user-images.githubusercontent.com/13919114/27307885-79db2444-5522-11e7-93e3-be9c2a60da04.png)

[2017-06-19 22:29] nsmith1024 commented on #1021
Vangelis66 thanks for your awesome comment. I really know absolute ZERO about video (excepting for watching it), but i read somewhere that ffmpeg can convert the HLS TS to mp4

ffmpeg -i input.ts -acodec copy -vcodec copy out.mp4
(https://stackoverflow.com/questions/33108105/converting-an-hls-m3u8-to-mp4)

So im guessing streamlink is sending the TS data out, so maybe i just need to capture that,

[2017-06-19 23:02] bastimeyer commented on #1021
As @Vangelis66 said:

The following command is basically what you want, but [ffmpeg needs a second pass](https://www.ffmpeg.org/ffmpeg-formats.html#Options-8) to process the data, so it's not going to work while using the live stream as input:
[code]
[code]
Saving the stream to the filesystem and remuxing it afterwards works fine:
[code]

[2017-06-19 23:15] nsmith1024 commented on #1021
bastimeyer - so streamlink --output commands saves individual ts files? I thought there were many little ts files that are sent during a live stream? so somehow need to separate each ts file, and convert each with ffmpeg to mp4 and re-stream each mp4 file

[2017-06-19 23:50] beardypig commented on #1014
And you're definitely logged in using `--crunchyroll-username`?

[2017-06-20 00:44] xdextremex commented on #1014
Yes, i can even watch in 1080p on non-premium videos

![2017-06-19_21-40-38](https://user-images.githubusercontent.com/13919114/27311565-25319ea8-5538-11e7-8e69-47298bbca7c5.png)

[2017-06-20 01:22] AnsgarMans commented on #957
Guess I'm stuck with HLS then, or using the browser version and dealing with Firefox eating all of my RAM.

[2017-06-20 03:08] FredThompsonII opened #1022 "https://www.ustream.tv/embed/12858204 drops frequently - idea how to prevent?"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

https://www.ustream.tv/embed/12858204 - stream is dropped frequently.

### Expected / Actual behavior

Well, stream shouldn't be dropped...

### Reproduction steps / Explicit stream URLs to test

Assuming stream i

[2017-06-20 05:48] beardypig commented on #1014
OK. Could you try running streamlink with some extra options:

[code]

And copy the output - with cmd you can right click, click mark (not sure what the Brazilian Portuguese translation will be), and drag to select text, the right click copy (or it might copy automatically). It's better to copy the text than to make a screenshot.

[2017-06-20 05:51] beardypig commented on #957
Sorry @AnsgarMans, that's the best we can do for now. I did look at implementing their ftl protocol but it's quite involved and would probably take a while :-)

[2017-06-20 07:56] beardypig commented on #1022
How frequently does it drop? I'm coming up to the 10 minute mark recording, just wondering how long I have to wait for it to fail? :)

[2017-06-20 10:24] bupmc commented on #1004
New error:
streamlink https://www.douyu.com/17732 source -o "D:\***"
[cli][info] Found matching plugin douyutv for URL https://www.douyu.com/17732
error: Unable to validate JSON: Unable to validate key 'data': {'hls_url': 'http://hlsa.douyucdn.cn/live/17732rtara_550/playlist.m3u8?wsSecret=25fea1e41c1af4dbf9f81b69b7ffa74e&wsTime=1497949895&did=&ver='} does not equal None or Key 'show_status' not fo

[2017-06-20 11:37] beardypig commented on #1021
The small `MPEG-TS` files can be combined by concatenating them in to a single stream, which is what streamlink does for both file output and player output. `MP4` has some extensions that make it more suitable for streaming, that @bastimeyer touched on. Depending on your version of `ffmpeg` this may work for you (worked for me with `3.3.1`):

[code]

[2017-06-20 12:39] beardypig commented on #1006
@dahjin hopefully the PR (#1023) will help you to understand life, and come to see that you we not wronged, it just took a little while to balance out ... or something.

[2017-06-20 13:33] nsmith1024 commented on #1021
beardypig, so your telling me that the command you posted will convert the streamlink output into an mp4 stream?

[2017-06-20 13:36] beardypig commented on #1021
Yes, but it will leave the video and audio codecs as they were in the original stream - for twitch this is h264 and aac, the standard for HLS.

[2017-06-20 13:55] nsmith1024 commented on #1021
ok, is leaving the video and audio in its original form a good thing (i got no idea)? I just want to be able to play the stream with my simple mp4 player.

[2017-06-20 14:19] beardypig commented on #1021
I have no idea about your simple mp4 player, if it plays h264 and aac I guess that's good for you - if not then it's not good for you and you'll need to transcode it using `ffmpeg`. Of course, if you need to transcode you'll use a lot of CPU doing it so you might as well use a different player that can actually play MPEG-TS. Why are you using whatever simple mp4 player anyway?

[2017-06-20 14:27] cdrage opened #1024 "0.7.0 release"
@beardypig @gravyboat

Any blockers? Going to run the script and create the changelog.

I've also thought of changing how we generate CHANGELOG.md by using: https://github.com/skywinder/github-changelog-generator

I've used this in three other projects, so it won't be hard to implement :+1: Would give links to all new releases and such, however, I'll have to make sure it updates the CHANGELOG on t

[2017-06-20 14:42] johnthecracker commented on #955
Here is backup euronews script if streamlink's plugin comes to a halt.

requirements:

autoit to compile euro.au3 to euro.exe

vlc.exe on the path, if not, specify path in script.

euro.au3

RunWait('cmd.exe /c curl http://www.euronews.com/api/watchlive.json | CLIP','',@SW_HIDE)
$sData = ClipGet()
$sData = StringTrimLeft($sData,StringInStr($sData,'"http:'))
$sData = StringTrimRight($sData,StringLe

[2017-06-20 15:01] xdextremex commented on #1014
like this ?
`streamlink - ldebug --crunchyroll-purge-credentials --crunchyroll-username=lDet --crunchyroll-password=exemple http://www.crunchyroll.com/berserk/episode-23-proclaimed-omens-734285 best`

usage: streamlink-script.py [OPTIONS] <URL> [STREAM]
streamlink-script.py: error: unrecognized arguments: http://www.crunchyroll.com/berserk/episode-23-proclaimed-omens-734285 best

[2017-06-20 15:10] beardypig commented on #1014
Ah, my bad. Should be `-ldebug` with out the space after `-`.

[2017-06-20 15:10] fozzysec commented on #1004
@bupmc comment the following lines in `douyutv.py` can temporarily fix this issue.
[code]

[2017-06-20 15:11] beardypig commented on #1024
Only that we should verify the Windows installer before deploying.

[2017-06-20 15:15] xdextremex commented on #1014
oh, and now the video is working

[cli][info] Found matching plugin crunchyroll for URL http://www.crunchyroll.com/berserk/episode-23-proclaimed-omens-734285
[plugin.crunchyroll][debug] Creating session with locale: pt_BR
[plugin.crunchyroll][debug] Session created
[plugin.crunchyroll][info] Attempting to login using username and password
[plugin.crunchyroll][info] Successfully logged in as 'lDet'

[2017-06-20 15:47] horacio9a commented on #1019
@beardypig

I am found this page for python-librtmp 0.3.0 plugin:

https://pypi.python.org/pypi/python-librtmp

There is also this script:

import librtmp
# Create a connection
conn = librtmp.RTMP("rtmp://your.server.net/app/playpath", live=True)
# Attempt to connect
conn.connect()
# Get a file-like object to access to the stream
stream = conn.create_stream()
# Read 1024 bytes of data
data = strea

[2017-06-20 16:04] steven7851 commented on #1004
@fozzysec Thanks for reminding, I'll fix soon.

[2017-06-20 16:10] fozzysec commented on #1004
@steven7851 By the way, we also need an API to get those special urls with `/t/` such as https://www.douyu.com/t/lpl works. For those urls, room_id can not be found in the html source code.

[2017-06-20 16:11] gravyboat commented on #1006
I think we can close this since #1023 is merged yeah?

[2017-06-20 16:12] Vangelis66 commented on #1021
@nsmith1024 wrote:

... You are welcome, but with all due respect, _you do need to start from somewhere_, as have most people
here... You should start by searching and learning the basic things about terms such a:
1. Audio and video codecs
2. Media containers
3. Audio/video codecs supported for a specific media container
4. Streaming of media content
5. Current streaming methodologies, like the HT

[2017-06-20 16:13] gravyboat commented on #1024
I'm fine with switching over to that changelog generator. Testing the Windows installer definitely needs to happen. Maybe we can tag someone that was having issues with it? I've never had any issues on my Windows 10 system so I don't think that would be thorough enough.

[2017-06-20 16:14] gravyboat commented on #1014
Could this potentially be a routing issue to whatever edge node you're hitting on Crunchyroll's end? If it starts happening again can you run the debug logging like you did before? I tested this last night on my Windows box and couldn't duplicate it.

[2017-06-20 16:16] gravyboat commented on #1024
I'll try to make some time tonight to see if there are any quick PRs we can get merged prior to this release, if anyone else has feedback there let me know.

[2017-06-20 16:18] beardypig commented on #1019
@horacio9a that module was a previous optional dependency for streamlink, for the ustream plugin. We made quite some effort to stop using it. The module was created by @chrippa and is now no longer maintained, it also requires a C module to be compiled to use it which makes it less user-friendly. A pure Python alternative would be much preferred.

[2017-06-20 16:20] steven7851 commented on #1004
@fozzysec room_id still can be found in source, but it has changed name, I'll fix. Thanks.

[2017-06-20 16:21] bupmc commented on #1004
无效 0.0

[2017-06-20 16:27] beardypig commented on #1014
It could be the authentication token expiring, IIRC the plugin for crunchyroll stashes the authentication token away to use later and it is possible that the auth token expired but the plugin didn't refresh it... I would have to do some experiments to confirm that though. @xdextremex did you change your password recently?

[2017-06-20 16:27] steven7851 commented on #1004
@bupmc Can you help me test this?
https://raw.githubusercontent.com/steven7851/streamlink/d9d7cabbf0767a6f80af2d5c9a9aff7b64e74e96/src/streamlink/plugins/douyutv.py

[2017-06-20 16:29] beardypig commented on #1024
@thinkpad4 was having issues before, maybe they'd be willing to test the latest installer for us :)

[2017-06-20 17:09] gravyboat commented on #1004
Please try to keep discussion in English when possible everyone, since we have a global audience it makes it much easier to communicate with each other.

[2017-06-20 17:10] gravyboat commented on #1014
@beardypig That actually seems plausible. The only thing I'm not sure about there is why 2 streams would work, but one would fail. If the authentication token was expired you think it would impact every stream...

[2017-06-20 17:21] bupmc commented on #1004
My comments aren't important， it's fozzysec & steven7851 contributing the code. :)

[2017-06-20 18:31] nsmith1024 commented on #1021
Awesome, thanks!!

[2017-06-20 18:55] gravyboat commented on #1016
@beardypig Can you put together invoices from your S3 costs (and probably convert to USD)? I think I can only cash out part of the total funds, which I'll convert to bitcoin and pass your way if no one has any objections.

[2017-06-20 19:58] thinkpad4 commented on #1024
Yeah, I'd be willing to test it.  Where do I get 0.7.0?

[2017-06-20 20:32] beardypig commented on #1014
I understood than none of them worked?

[2017-06-20 20:33] beardypig commented on #1016
Ok, I'll take a look and see how much it was, probably ~30-40USD.

[2017-06-20 20:37] mfrager opened #1025 "Ustream plugin non-functional"
The UstreamTV plugin is no longer able to access media streams.

$ streamlink http://ustream.tv/channel/iss-hdev-payload
[cli][info] Found matching plugin ustreamtv for URL http://ustream.tv/channel/iss-hdev-payload
[plugin.ustreamtv][warning] This stream is currently offline
error: No playable streams found on this URL: http://ustream.tv/channel/iss-hdev-payload

[2017-06-20 21:03] johnthecracker commented on #1024
There was a talk about removing exe s from windows installer.

Is it comming with version 0.7.0 ?

I haven't had any issues with windows installer on win 7 64.

[2017-06-20 22:14] gravyboat commented on #1016
Sounds good, just let me know and if there are no objections I'll get you paid. I'd just pay you now but I don't have any bitcoin currently.

[2017-06-20 22:15] gravyboat commented on #1014
@beardypig Hmm, I could definitely be confused, I was looking at https://github.com/streamlink/streamlink/issues/1014#issuecomment-309587396 which made me think that only that one wasn't working.

[2017-06-20 23:12] LufiaSelan commented on #957
Super sadface, it stopped working for me too. With the phasing out RTMP, HLS is the only answer. Thanks for all the help with this.

[2017-06-20 23:34] beardypig commented on #1025
That stream appears to be offline, I get a looping offline/repositioning video on the website.

[2017-06-21 00:06] mfrager commented on #1025
No that is typically part of the stream. I doesn't work when the cameras are active either.

[2017-06-21 09:10] beardypig commented on #1025
In this case the looping video is not part of the stream, it is a separate video being played as an offline placeholder. Unfortunately the stream is still offline so I haven't been able to test it when it is online, once the stream comes back I will see what is going wrong.

[2017-06-21 12:05] cdrage commented on #1016
All this discussion is good with me :+1:

I wish there was a service that's able to equally distribute donations based on maintainer commitment / contribution (this would be a good start-up idea! haha).

[2017-06-21 13:06] mfrager commented on #1025
I assure you that the offline video IS part of the regular stream. The problem I believe is that Ustream has redesigned their website and the video streams are no longer part of the HTML. Are there any other Ustream sources that are still working?

[2017-06-21 14:31] beardypig commented on #1025
Which version of streamlink are you using? You need at least `0.6.0` to be able to watch UStream streams. Most UStream channels work, there are a few that do not (ones that don't allow mobile streaming, which is what streamlink uses). I tested a few from the [top live streams](http://www.ustream.tv/explore/all), and they all worked.

The [ISS HDEV channel](http://www.ustream.tv/channel/iss-hdev-pa

[2017-06-21 16:13] gravyboat commented on #1016
Thanks for weighing in @cdrage! I wish there was a tool like that as well. I thought about building one but research I did really didn't show a good market for it.

[2017-06-21 16:20] beardypig commented on #1016
I've been through the AWS invoices and added up everything, the storage costs are estimates because I have some files in S3 already :) The total is approx. 46.28 USD. @gravyboat if you send BTC to cover that please deduct any fees/commission, I don't want my choice of cryptocurrency reducing the left overs for everyone else :)

| Month | Transfer cost | Approx. Storage Cost |
|---|---:|---:|
| Nov

[2017-06-21 16:38] gravyboat commented on #1016
@beardypig Sounds good, I'll try to make time tonight to see what the cash out process looks like!

[2017-06-21 16:39] beardypig commented on #1016
@gravyboat thanks, no rush :)

[2017-06-21 18:08] mfrager commented on #1025
Yes, I'm using version 0.6.0 built from the latest master branch. Also, are you referring to the "Please stand by. The High Definition Earth Viewing experiment is either switching cameras, ..." slide that is often there? If that's the case, that slide is part of the usual video stream.

I am trying to access the live feed, not pre-recorded videos. Thanks for your help on this, I hope we can get it

[2017-06-21 18:15] beardypig commented on #1025
Yeah I'm referring to that message. It may well be the case that that message is normal in the live stream. In the case it is not part of the live stream - there is no live stream at the moment, it's offline. The video playing on the hdev channel is a pre-recording of that slide, it plays for 1 minute 46 seconds, then loops but it's not part of a live stream.

I don't think anything else can be do

[2017-06-21 18:16] mfrager commented on #1025
Just confirmed it's an upstream issue. No problem with the "ustream" plugin after all. Closing the ticket.

[2017-06-21 18:16] #1025 closed

[2017-06-21 18:21] beardypig commented on #1025
Any specific reason why they are offline? I assume they are doing some work on the ISS that required them to be powered down, or maybe they need the bandwidth for something else?

[2017-06-21 18:23] mfrager commented on #1025
I read somewhere that the project was scheduled to end in 2017. I think it said they want to put some other experiment in the same place.

[2017-06-21 18:27] beardypig commented on #1025
Well that sucks :(

[2017-06-22 02:12] gravyboat commented on #1016
Okay I think we should be good @beardypig. I had to cash out a few dollars more due to fees, but I sent it directly to your bitcoin address (I had to put my US address in for tax purposes so I have no idea how that will work but I should be fine since it's only after a certain amount). Here's the screenshot of the cash out request:

![beardypig_cash_out](https://user-images.githubusercontent.com/1

[2017-06-22 12:01] gabitran opened #1026 "ine.py for source in data["playlist"][0]["sources"]: TypeError: 'NoneType' object is not subscriptable"
Hi, INE plugin is failing since recently:

[code]
Same error on mac OS and Windows.
This particular URL was 'downloadable' with no problem about a month ago or so.

[2017-06-22 12:13] gabitran commented on #1026
Same URL with '--loglevel debug' just in case:

$ streamlink -o ./streamlink.mp4 https://streaming.ine.com/play/1cfbc029-dd6d-4646-80b9-7316e3ac121a/introduction 720p --loglevel debug --http-cookie laravel_session=eyJpdiI6InA5d1h6T0JibFM5cjhiVUl2eW1zN1E9PSIsInZhbHVlIjoiOFhFQmVFRWplWXllNnl5Ump4bjFqcEpPQmpTblRJSW9KQnRcL05uSlBRaXhQMnZUNEJ1VlNPU1B6TFhYUlJwK3lcLzdGNXF0T0lsMHY3NCtBYndiMG94Zz09IiwibWFjIj

[2017-06-22 13:46] beardypig commented on #1026
Thanks the detailed report with the debug log. Looks like jwplayer changed their embedded player js source a bit. I'm preparing a PR to fix it now :)

[2017-06-22 16:24] #1026 closed

[2017-06-22 17:30] gabitran commented on #1026
Thanks for the quick fix, now works perfectly!

[2017-06-22 22:46] SeanDunford opened #1029 "Plugin Request for UFC Fightpass"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

Not sure if this is possible but would be cool to have a plugin for ufc fightpass. Happy to contribute to developing the plugin but python isn't my primary language so would need some help.

### Description
I would like to be able

[2017-06-22 23:40] renwokuang commented on #655
现在所有代码都失效了

[2017-06-23 02:34] gravyboat commented on #655
@renwokuang Please try to keep things in English when possible! We're a pretty international team so it makes things a bit easier for everyone.

[2017-06-23 04:40] gravyboat commented on #1029
Thanks for the detailed issue @SeanDunford! We'll see if someone is interested in picking this one up.

[2017-06-23 06:45] SeanDunford commented on #1029
@gravyboat - Cool!

Yeah, the encryption seems to be the tricky part. Does that count as DRM?

I actually spent a few hours today trying to capture the contents sent to chromecast but it doesn't do anything different than the swfobject. There's also an "isIos" flag that seems to make the video display differently but I haven't dug into it, yet.

[2017-06-23 07:41] renwokuang commented on #655
ok

[2017-06-23 07:46] renwokuang commented on #655
Can someone download mytvsuper?

[2017-06-23 09:22] beardypig commented on #1024
@thinkpad4, yeah the latest nightly will be the same - thanks for testing it!

@johnthecracker I don't think we plan to remove the binaries from the installer (at least not yet), but we were planning to remove them from the main repo. A "web install" type scenario for the `ffmpeg` binary might be an option later.

[2017-06-23 10:27] beardypig commented on #1029
Looks like the Kodi plugin is using pretending to be the mobile client, the API behaves differently depending on the User-Agent string. I have made a quick plugin that supports free videos, I'll have to sign up for a trial to do the non-free ones. If you are around you can test it out here: [ufctv.py](https://github.com/beardypig/streamlink/blob/ufctv/src/streamlink/plugins/ufctv.py)

I don't know

[2017-06-23 16:25] #1029 closed

[2017-06-23 17:26] SeanDunford commented on #1029
Thank you @beardypig suprised with how quick you resolved this.

[2017-06-23 19:54] bigotvuser opened #1031 "bigo.tv plugin - cannot seem to play saved file"
- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
Hey  guys, the people at bigo.tv have made changes again and now the streams are not playing and saved files open but do not show any content. Could require a similar fix as in issue 234. .
...

### Expected / Actual behavior
..

[2017-06-23 22:42] #972 closed

[2017-06-24 00:47] h633537 opened #1033 "BBC iPlayer Live TV"
When streaming live channels from iplayer e.g. http://www.bbc.co.uk/iplayer/live/bbcone (geoip restricted to UK) it defaults to 960x540 25fps video.

[code]

get_iplayer had a streaming option which allows streaming up to 720p 50fps [info](https://github.com/get-iplayer/get_iplayer/wiki/modesref#tv-modes). Unfortunately the developer removed the streaming feature from new versions.

[code]

Is it

[2017-06-24 01:56] gravyboat commented on #972
Related to https://github.com/streamlink/streamlink/pull/1032

[2017-06-24 02:00] gravyboat commented on #1016
Some nice discussion on this here: https://github.com/gratipay/inside.gratipay.com/issues/986 by the Gratipay team.

[2017-06-24 08:57] beardypig commented on #1033
It would require some development work, how much work I don't know. Unless someone else does it, I'll take a look at it at some point in the next couple of weeks.

[2017-06-24 10:06] bobvargas opened #1034 "vaughnlive plugin is buggy"
### Checklist

- [x] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

vaughnlive streams may not work all the time as it shows not found

### Expected / Actual behavior

...

### Reproduction steps / Explicit stream URLs to test

1. vaughnlive.tv/sherming66

### Environment details

[2017-06-24 10:51] beardypig commented on #1034
Could you please include what is printed out on the console when it does not work?

[2017-06-24 13:05] myskn opened #1035 "Could i continue to output file? not just overwrite"
### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

https://streamlink.github.io/cli.html#file-output-options
Only force overwrite file.

feature request:
continue to output file or auto rename file(NAME_1, NAME_2, ......), if it already exists

[2017-06-24 13:07] beardypig commented on #1035
Appending would most likely result in an unplayable, or partly unplayable video. Auto renaming is something we could add though, I think it would be quite a useful feature.

[2017-06-24 13:34] bobvargas commented on #1034
it prints out connection failed message sometimes when I open a vaughnlive stream.

[2017-06-24 13:35] beardypig commented on #1034
When it happens again can you copy the full message here, and if possible use the `-l debug` option as that will give us a much better idea of what is going wrong.

[2017-06-24 18:43] bobvargas commented on #1034
ok thanks. @beardypig

[2017-06-24 21:48] unnutricious commented on #1031
I can confirm that I see the same thing on any Bigo stream. I haven't figured out what has changed in the protocol yet, though (I wasn't very familiar with the original one). It still seems to be streaming data with FLV headers, but it's not valid.

The flash parameters all look the same as before, but I am guessing we need to send a different set of parameters after opening the socket now.

[2017-06-24 22:57] Vangelis66 commented on #1033
@h633537 wrote:

I'm not sure whether streamlink currently supports MPEG-DASH streams; youtube-dl does, but only for VOD, not live streams (dynamic manifests).
If you are willing to do some manual labour, then you can grab yourself the AdobeHDS manifests and/or AppleHLS playlists and feed those to streamlink directly...

 E.g. for BBC One (London), one can sniff the mediaselector URL to the stream

[2017-06-25 15:38] wwng2333 opened #1036 "youtube live can't get 1080p60 video"
only can get 1080p

[2017-06-25 18:41] DEDS3C opened #1037 "UFC.tv plugin cant get replays,"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

whenever i try to plug in an vod url for an ufc.tv replay or an right i get the following, [cli][info] Found matching plugin ufctv for URL https://www.ufc.tv/video/ufc-auckland-2017
error: Unable to open URL: http

[2017-06-25 20:48] gravyboat commented on #1036
We've discussed this a number of times before in various issues. 60 FPS videos on Youtube use DASH which we don't support (as noted here: https://github.com/streamlink/streamlink/pull/225#issuecomment-263821938). I'm going to close this out. If you want to open a bounty to get support added feel free to do so, otherwise someone will pick it up when they have time. It's a big undertaking.

[2017-06-25 20:48] #1036 closed

[2017-06-25 21:43] beardypig commented on #1037
Can you run it again with the `-l debug` option so we can see more details. I assume that you supplied your username and password?

[2017-06-25 22:23] DEDS3C commented on #1037
i havent tried with -l debug but i will do that right now

[2017-06-25 22:27] DEDS3C commented on #1037
so here is what i get for output with -l debug `[cli][info] Found matching plugin ufctv for URL https://www.ufc.tv/video/cage-warriors-85
Traceback (most recent call last):
  File "/usr/local/bin/streamlink", line 11, in <module>
    load_entry_point('streamlink==0.6.0', 'console_scripts', 'streamlink')()
  File "/usr/local/lib/python2.7/dist-packages/streamlink_cli/main.py", line 1027, in main

[2017-06-25 23:35] DEDS3C commented on #1037
@beardypig if you need more info just let me know

[2017-06-26 07:12] beardypig commented on #1037
Ah OK, that's useful. I will take a look when I can.

[2017-06-27 01:30] gravyboat commented on #1016
@beardypig Did you get paid?

[2017-06-27 14:36] beardypig commented on #1016
@gravyboat can you email me the bitcoin address you sent it to, I haven't seen anything yet...

[2017-06-27 15:21] saki4u opened #1041 "tvplayer plugin broken"
/usr/local/lib/python2.7/dist-packages/urllib3/util/ssl_.py:133: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. You can upgrade to a newer version of Python to solve this. For more information, see https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  I

[2017-06-27 15:25] cdrage commented on #1024
I'm really bad with getting back to you guys in terms of releasing this.

@beardypig @gravyboat All good for me to release :+1: ? I'll make the release in a few days as well as push a PR regarding modifying `release.sh` with https://github.com/skywinder/github-changelog-generator

[2017-06-27 16:25] gravyboat commented on #1024
@cdrage I think we're good, there are still a few open PRs people are trying to crank through, but those can wait till 0.8.0 I think.

[2017-06-27 16:25] gravyboat commented on #1016
@beardypig I just used the public one you have on the donation page.

[2017-06-27 16:28] gravyboat commented on #1024
@cdrage Let's get https://github.com/streamlink/streamlink/pull/803 merged first it's basically ready to go just needs a quick confirmation.

[2017-06-27 16:51] bastimeyer commented on #1016
@gravyboat is there a transaction on the blockchain that is still pending or are you talking about something else? on the blockchain you can always check the current status and transactions without a fee can take several hours, even days if you're unlucky

[2017-06-27 17:05] gravyboat commented on #1016
@bastimeyer It's the transaction for the payout itself from within bountysource. The second screenshot I linked here: https://github.com/streamlink/streamlink/issues/1016#issuecomment-310255940

[2017-06-27 22:16] beardypig commented on #1024
I concur.

[2017-06-27 22:32] gravyboat commented on #1024
Okay #803 is merged. There are a couple others that would be nice to get in but this has been put off long enough and I don't want to have one of these open for weeks and weeks like last time. Go for it @cdrage, maybe we should instead just increase the number of releases we try to do, I'm not sure.

[2017-06-28 01:39] gravyboat opened #1042 "Should we set up a Twitter account to notify people about new releases?"
The title pretty much says it all, is this something we want to do? Someone is already using twitter.com/streamlink, and I'm not sure if it's worth our time, but it might be nice to have for new releases. Potential downsides I see are people asking questions that we aren't going to answer because no one is monitoring it, but I guess we could have a disclaimer.

[2017-06-28 03:44] techNeffect commented on #1034
Vaughnlive recently switched to a HTML player from Flash, so that could be part of the issue. It says "no playable streams"

I got no extra meaningful output by applying the debug flag, but I could have done it incorrectly.

![screenshot001](https://user-images.githubusercontent.com/12178152/27619691-4f6391d0-5b92-11e7-8cda-5b1a282c9f96.jpg)

[2017-06-28 06:00] beardypig commented on #1034
Ah OK, I didn't know that - I haven't actually been able to check the website. Sounds like we might need a rewrite of the plugin if they have finally stopped using flash!

[2017-06-28 12:38] techNeffect commented on #1034
Seems they are still broadcasting a flash stream. If one appends /old to any Vaughnlive URL it'll access a flash version of the stream that'll work with Streamlink. Don't know how long it'll work.

[2017-06-28 17:03] johnthecracker opened #1043 "CBC News plugin"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
Canadian news broadcast.
Trivial, if size of Canada is trivial.
Geo restricted, I watch rtmp stream.

### Expected / Actual behavior

http://watch.cbc.ca/live/

### Reproduction steps / Explicit stream URLs to test

[2017-06-28 17:16] RedPenguin2 commented on #1034
I can attest to techNeffect's comment. If you attach /old to the URL, it works immediately but fails with the mentioned above error if you don't.

[2017-06-28 21:18] medialove opened #1044 "No information in docs about how to install plugins"
There is no information in the docs about how to install plugins. I expected something like
[code]
How to install plugins? Or are all plugins bundled with the streamlink distribution?
This should be then explained in the docs, thank you very much!

[2017-06-28 21:27] medialove opened #1045 "artetv plugin can not find streams in any arte.tv url"
The artetv plugin unfortunately can not find any source in any url on the actual arte.tv website. This is really unfortunate - this tv station produces very interesting documentaries.
Example:
[code]

[2017-06-28 21:52] Dedsec1 commented on #1037
sweet thanks

[2017-06-28 21:59] bastimeyer commented on #1045
It seems like the [VOD API calls](https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/artetv.py#L15) are missing the `?platform=ARTE_NEXT` query string:
`https://api.arte.tv/api/player/v1/config/en/072258-000-A`
`https://api.arte.tv/api/player/v1/config/en/072258-000-A?platform=ARTE_NEXT`

I'm not the creator of the plugin, I just wanted to see what's going on here and foun

[2017-06-28 22:13] bastimeyer commented on #1044
I think the plugin matrix on the website should cover this question:
https://streamlink.github.io/plugin_matrix.html

Installations of external plugins is covered by the docs here:
https://streamlink.github.io/cli.html#sideloading-plugins

But let's hear what others have to say about this. A brief line could be added to the install or CLI docs, because this is what most users will read, but person

[2017-06-28 22:19] bastimeyer commented on #1042
People are already asking questions in the /r/streamlink subreddit which is not being administrated by anyone here.

I'm not sure if it's necessary to add a Twitter account, but maybe it can help increasing the user base, who knows. Which name would you suggest, since `@streamlink` is already taken?

A little script could be added to the build config that automatically tweets on a new release, so

[2017-06-28 22:53] back-to commented on #1045
sadly they remove old videos, so you can't compare they with new videos.

But yes it looks like this works for all videos.

---

At opening some videos i found a different missing language name

`versionShortLibelle = "OmU"`

_original version with subtitles_

Not sure if they only use it on the german version of the API,
but i think the best way is to add this _language name_ to all languages

I

[2017-06-28 22:54] bastimeyer commented on #1035
@beardypig
Automatically using different output file names is not really intuitive, I think. Having something like file name templates would make much more sense if this should get implemented, something similar like yt-dl is doing.

@myskn
Using a shell wrapper script for automatically generating dynamic file names is a simple alternative:
[code]

[2017-06-28 23:06] bastimeyer commented on #1005
@gravyboat These are just some suggestions, but this hasn't been implemented yet (see the last paragraph of my comment here: https://github.com/streamlink/streamlink/pull/623#issuecomment-298603780)

I'm closing this thread here, this it's a duplicate and if there's anything to add or discuss, then it should be done in the original thread, although I have to say that I hate these long and never en

[2017-06-28 23:06] #1005 closed

[2017-06-28 23:08] bastimeyer commented on #998
Can this be closed? There hasn't been a response in over 16 days and the plugin should still be working fine.

[2017-06-28 23:20] bastimeyer commented on #1010
It is very very unlikely that a tool like Streamlink is responsible for audio volume or keyboard input issues of VLC. Please try to isolate Streamlink from that issue by using a different input source.

Player parameters are unrelated to the stream data fetching of Streamlink (unless you're using the `--player-passthrough hls` option). The caching options of your player only influence the bufferin

[2017-06-28 23:26] bastimeyer commented on #976
There hasn't been a response in almost a month, the issue is caused by an old `requests` version and instructions for upgrading have been provided. Can this be closed now?

@horacio9a
Regarding the versioning scheme, see http://semver.org/ 😃

[2017-06-28 23:28] bastimeyer commented on #985
Closing the thread since the issue has been solved.

[2017-06-28 23:28] #985 closed

[2017-06-28 23:46] gravyboat commented on #1005
@bastimeyer Yeah I know it's not supported yet, sorry if my wording caused any confusion, I was simply saying we've been discussing the potential ways it could be implemented. I also hate the never ending threads, you can be vice president of the club if you would like!

[2017-06-28 23:46] #998 closed

[2017-06-28 23:47] gravyboat commented on #998
@bastimeyer Yep I'm closing it.

[2017-06-28 23:47] #976 closed

[2017-06-28 23:47] gravyboat commented on #976
Yep I'm closing it @bastimeyer.

[2017-06-29 01:37] sync5 commented on #1042
@streamlinkUpdates
@streamlinkNews
etc...

[2017-06-29 03:59] ilfsn opened #1046 "Schoolism plugin not work anymore!"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

After a week working perfectly, now Schoolism not working anymore. At 2 times (lucky) it could download a worst ( 480p) video, I stopped download for 5 days in case the server block me but now the plugin stop work

[2017-06-29 15:36] duramato opened #1048 "Feature request: Automated Bitrate information"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
For: http://tubitv.com/video/290649/bad_seed_a_tale_of_mischief_magic_and_medical_marijuana

It isn't getting the best avaiable quality on tubi

### Expected / Actual behavior

Should get the best quality when usin

[2017-06-29 16:16] #1045 closed

[2017-06-29 17:33] back-to commented on #1048
you could use  `name_fmt={bitrate}`

[code]

[2017-06-29 20:22] duramato commented on #1048
But `streamlink` should show all avaiable sources which are five, right? it only shows 3 of them.

There is a discrepancy between the default mode:
`Available streams: 716p_alt, 716p_alt2, 716p (worst, best)`
and using the bitrate
`Available streams: 348k (worst), 816k, 1170k, 1495k, 2684k (best)`

[2017-06-29 20:26] Quaraxkad commented on #1048
The main issue here is that the streams listed in the master playlist provided are detected by Streamlink as being mirrors of each-other, and they are not. I can confirm this is not an isolated incident and can provide more example playlists where this occurs if necessary. Ideally, I would like if Streamlink returned available streams like this: 716p@348k (worst), 716p@816k, 716p@1170k, 716p@1495k

[2017-06-29 20:52] gravyboat commented on #1048
While the format isn't what you would like to see @Quaraxkad I believe that #731 should resolve this once it's merged as it will sort the streams more accurately. I understand the lack of total clarity, however the sorting will be accurate.

[2017-06-29 21:10] sync5 commented on #1034
since few moments, /old urls are now disabled on Vaughn

[2017-06-29 21:15] Quaraxkad commented on #1048
Reading the discussions under https://github.com/streamlink/streamlink/pull/731 it's not clear that those changes would actually fix the underlying problem. In this case there are five 716p streams and Streamlink will ignore all but three of them (one main and two alt, see https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugin/plugin.py#L281). Since none of these are "mirrors"

[2017-06-29 22:22] gravyboat commented on #1048
Hmm you're right. I don't think the new logic is going to impact that. Let's get it merged first and tested out on the nightly for this one, then we can confirm if modifying the number of alts resolves the issue. I imagine originally that made sense because the bitrate versus resolution in cases like this doesn't make much sense but we should definitey support it.

[2017-06-29 22:23] enzanki-ars commented on #1048
As the co-author of #731, I can confirm that @Quaraxkad is correct. #731 only reorders what is shown based only on it's name displayed, nothing else.  The stream in the example is not being parsed correctly before being sorted, and the sorting code throws out all but 3 of the same quality.  In this case, the stream is being reported to the display code as each stream being exactly the same: 5x 720

[2017-06-29 22:25] gravyboat commented on #1048
@enzanki-ars Thanks for weighing in. It's something we can definitely look at. I don't know if there's any reliance on the output being in the specific existing format for the gui, so we should talk to @bastimeyer just to confirm. I agree it would be a more transparent change.

[2017-06-29 22:26] gravyboat commented on #729
Closing this since #731 is merged.

[2017-06-29 22:26] #729 closed

[2017-06-30 02:45] #1035 closed

[2017-06-30 03:44] beardypig commented on #1046
Does it still work on the website?

[2017-06-30 03:55] beardypig commented on #1048
The name formats are plugin specific and the builtin hls plugin uses resolution only for the name. There is a limit of 2 alts currently, which I think is reasonable as they are meant to represent mirrors (I don't even this they shout be displayed to the user). I also think that the bitrate should be added to the name if there are multiple different streams at the same resolution but have different

[2017-06-30 05:48] ilfsn commented on #1046
Yes, video streaming on website working fine.

[2017-06-30 06:28] raulsifra commented on #506
Is there plugin for it to download:)

[2017-06-30 07:56] bastimeyer commented on #1048
@gravyboat
Changing the format of the streams/qualities would be a breaking change and would require a major version bump, as it affects the `--default-stream` and `--stream-sorting-excludes` CLI parameters and of course the second positional parameter.

I'm not sure if it's a good idea to use a different format by default for all plugins, as it's usually not expected by the user to see different

[2017-06-30 10:32] beardypig commented on #1046
@ilfsn what if you logout of the website, wait 20 mins or so and then try again - it could be that being logged in multiple times they might block you.

[2017-06-30 10:34] beardypig commented on #1048
@bastimeyer that would be nice too.

[2017-06-30 11:22] raulsifra opened #1049 "Yupptv.com how to ?"
Code  Issues 122  Pull requests 5  Pulse
 Open
Add plugin: yupptv #506
@digitalcelery
digitalcelery opened this issue 5 months ago • edited 5 months ago
 plugin request
I am suspecting that cookies/token expires and I am no longer able to play the stream, not even a restart as it returns 403 Client Error: Forbidden

Example of the links I am getting:

http://hlsbanglanews-lh.akamaihd.net/i/ams54_r

[2017-06-30 12:03] beardypig commented on #1049
This is an unnecessary duplicate of #506, please continue any discussion on that issue.

[2017-06-30 12:09] cdrage commented on #1024
@gravyboat @beardypig 0.7.0 has been released! Thanks everyone.

[2017-06-30 12:09] #1024 closed

[2017-06-30 12:45] raulsifra commented on #506
Can some help how to make plugin for it

[2017-06-30 12:47] #1049 closed

[2017-06-30 13:46] back-to commented on #775
already added in #875

[2017-06-30 13:47] ilfsn commented on #1046
Update Situation
After a couple of days stop download, now the funny thing is Streamlink just able to download worst video (480p) ( and working fine with all links), with best (1080p) it just like logs I posted above.
I will update if I get anythings new. Anyway, better than nothing. ^^

[2017-06-30 13:59] beardypig commented on #775
Yep, this should be resolved now. Thanks for pointing that out @back-to :-)

[2017-06-30 13:59] #775 closed

[2017-06-30 14:01] beardypig commented on #1046
That is interesting, unfortunately I don't have a schoolism account so it's pretty hard to debug :-) Can you try again with the `-l debug` to see if that gives any more details (it probably won't though).

[2017-07-01 01:56] #804 closed

[2017-07-01 01:59] gravyboat commented on #1014
@xdextremex Have you been able to duplicate this? If not I'm going to close it since I still can't duplicate it.

[2017-07-01 02:00] gravyboat commented on #1012
I'm not sure honestly, we don't currently support tvmucho so I don't know what the logic looks like for their retry system. If it's some kind of token based 'refresh' you might have to write a little timed loop that automatically retries if that's what you're talking about.

[2017-07-01 02:01] gravyboat commented on #996
I'm going to mark this as out of scope for the time being and close it since no one has weighed in.

[2017-07-01 02:01] #996 closed

[2017-07-01 02:07] FredThompsonII commented on #1022
well, it goes for about 3-5 minutes then drops for me. Noticed that happening on https://www.ustream.tv/embed/952665 as well, starting tonight.

I use the portable exe for windows. 0.7.0 automated builder files claiming some needed dependencies are missing. Don't know if 0.7.0 no longer has this stuttering/restarting.

[2017-07-01 03:36] xdextremex commented on #1014
Now is working fine after i did what beardypig said. you can close it.

Thank for the help guys

[2017-07-01 03:51] gravyboat commented on #1014
Good stuff, thanks for confirming!

[2017-07-01 03:51] #1014 closed

[2017-07-01 12:42] saki4u opened #1052 "how to watch this"
https://brittv.co.uk/watch/?channel=401

[2017-07-01 16:54] unnutricious commented on #1031
I confirmed that the 'login' protocol has not changed at all. The server is just now sending back different data. There are an extra 16 bytes pre-pending before the FLV stream starts, which causes the player to not recognize it. If you strip these bytes out, you can play the first frames of the video. However, there still appear to be errors in the stream, so I suspect it is inserting extra non-FL

[2017-07-01 17:14] back-to commented on #1031
the easy way would be to remove the flash stream and use **HLS** instead

with the **IPhone** User-Agent you will get something like

[code]

---

#843

[2017-07-01 17:46] gravyboat commented on #1052
You're going to need to provide more info. Have you looked at the network requests made when watching one of these channels or anything? You've created a good number of issues recently that really don't have enough details. Please keep in mind this is a community driven project run by volunteers. We need people to provide as many details as possible (especially for plugin requests which I assume t

[2017-07-01 21:34] unnutricious commented on #1031
@back-to thanks for the idea, that worked perfectly. I just added HLS support in hopes that flv streaming can still be repaired.

[2017-07-01 23:45] RenaKunisaki opened #1054 "Arch Linux build fails with UnicodeDecodeErrors"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Attempting to install on Arch fails.

### Expected / Actual behavior

Should install successfully.

### Reproduction steps / Explicit stream URLs to test

1. `yaourt -S streamlink`

### Environment details

Operat

[2017-07-02 00:02] gravyboat commented on #1054
You've already opened an issue with this Sphinx error here: https://github.com/sphinx-doc/sphinx/issues/3777 and they were unable to duplicate but asked for more information, do you have that information for them?

[2017-07-02 07:56] bigotvuser commented on #1031
this is great stuff guys. thanks. Hoping the build is successful so that I can give it a go.

[2017-07-02 10:59] bastimeyer opened #1055 "Fallback selection for --stream-sorting-excludes"
### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Related issue:
https://github.com/streamlink/streamlink-twitch-gui/issues/481

In certain situations, the usage of `--stream-sorting-excludes` can lead to an empty stream selection. This is an issue for applicatio

[2017-07-02 13:50] beardypig commented on #1055
To be honest I prefer the complex solution, let's call it more complete - logical operators would be nice :-)

[2017-07-02 15:44] RenaKunisaki commented on #1054
Whoops, I apparently missed the notification for that reply.

[2017-07-02 16:29] mmetak commented on #1054
How is this related to streamlink? Is there a reason why you're building an older version of `python-sphinx=1.6.1` when there's already binary available in official arch repos, `python-sphinx=1.6.2`?

To install streamlink just use `pacman -S streamlink` and avoid using `yaourt`!

The `streamlink-git` package that I maintain in aur I also build every day in clean env in opensuse-build-service and

[2017-07-02 16:37] andrewzwicky opened #1056 "DistributionNotFound Python Traceback on stream open"
### Checklist

- [X] This is a bug report.
- [X] I have read the contribution guidelines.

### Description

When I attempt to open any stream, I receive the following traceback:

[code]
### Expected / Actual behavior

stream starts

### Reproduction steps / Explicit stream URLs to test

1. install via pip in python 3.6
2. ```streamlink --version```

### Environment details

Operating system and ve

[2017-07-02 17:18] saki4u commented on #1052
i use snifer this comes out.
http://dev-live.ts.infinateblu.com/dag1.m3u8?sid=ezd&cid=nickjr&auth=c3RpbWU9MTQ5OTAxNTc5NyZ2YWxpZGl0eT0zJmFnbj0wJmNvbmY9dTAmc2lnbj1lMzcxMTE5YTYzZWVhMzMyZDVlNTEwNjE2MjBmZDE2OA==

on page source i see this
<script src='/js/brittv.player.js.php?key=aHR0cDovL2Rldi1saXZlLnRzLmluZmluYXRlYmx1LmNvbS9kYWcxLm0zdTg/c2lkPWV6ZCZjaWQ9bmlja2pyJmF1dGg9YzNScGJXVTlNVFE1T1RBeE5UZzFNU1oy

[2017-07-02 17:31] beardypig commented on #1056
Looks like you installed 0.1.0 globally and then 0.7.0 locally (per user) and they are conflicting. You might be able to do `sudo pip uninstall streamlink` to resolve it. You might need to update `pip` first `sudo pip install -U pip`.

[2017-07-02 17:47] mmetak commented on #1056
[Install the official package from fedora repos?](https://apps.fedoraproject.org/packages/python-streamlink)

The latest 0.7.0 version is already in testing for fc26 and should move to stable soon?

[2017-07-02 19:15] beardypig commented on #1052
@saki4u try out the plugin I created.

[2017-07-02 19:46] saki4u commented on #1052
do i have to update streamlink ?

[2017-07-02 20:13] saki4u commented on #1052
tnx mate it works...ty

[2017-07-02 22:37] #1052 closed

[2017-07-03 00:19] drejjmit opened #1058 "Stops after 24 hours."
----

### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Stops recording after exactly 24 hours.

Duration: 24 h 0 min

### Expected / Actual behavior

Should continue to record

### Reproduction steps / Explicit stream URLs to test

1. Should be easy to try out n

[2017-07-03 00:45] johnthecracker commented on #955
Euronews works with release 0.7.0

[2017-07-03 00:45] #955 closed

[2017-07-03 04:07] gravyboat commented on #1058
Hmm, I wonder if this is an issue with some kind of expiry that occurs on the open session on the Twitch end. It seems unlikely that Streamlink would just die like that, but if I were an admin over there I would definitely terminate connections that were open for very long periods of time. Can you try it again but run with `-l debug` as an option when you run the command? We're going to need more

[2017-07-03 16:21] johnthecracker commented on #1043
Accessed this through VPN: http://watch.cbc.ca/live/

This is not 24h broadcast as on http://www.livenewschat.eu/canada/.

Therefore, http://watch.cbc.ca/live/ is useless.

If there was an option to remove this issue, that would be the best thing to do for this issue.

[2017-07-03 16:21] #1043 closed

[2017-07-03 17:48] EFEVE commented on #1034
For me, it stopped working yesterday. This is the message I'm receiving. Curiously, even when I'm not using the '/old' appendix, the website still uses a Flash Player (on Firefox, at least):

[code]

[2017-07-03 19:27] beardypig commented on #1034
Looks like the player has changed more than expected. I'll take a look at the html player soon :-)

[2017-07-03 20:11] EFEVE commented on #1034
@beardypig Thanks  a lot for you effort!

[2017-07-03 21:22] RedPenguin2 commented on #1034
If it's any help, a buddy of mine is reporting that the /old with livestreamer 1.12.2 is working still with /old but streamlink is not.

[2017-07-04 07:17] JourneyOver commented on #1034
Getting the same error as @EFEVE though it still seems to be pulling up the flash player whenever I go to the site (on chrome) even without having the "/old" prefix. Hope this can be fixed soonish as I despise the vaughnlive site.

[2017-07-04 11:44] saki4u opened #1059 "tvplayer plugin broken"
https://tvplayer.com/watch/bbcone
Unable to open URL: http://api.tvplayer.com/api/v2/stream/live (400 Client Error: Bad Request for url: http://api.tvplayer.com/api/v2/stream/live)

[2017-07-04 15:19] back-to commented on #1011
you can get the
- session key `n.key`
- IP `n.playlist`

 from http://www.moskvatv.club/scripts/app.js

you can get every m3u8 url with this

replace \<IP\> with the IP from `n.playlist`

`http://<IP>/moskvatv/playlist.m3u`

when you download this file, open it and

replace `{KEY}` with the `n.key` from above

the session key and IP **did not change in the last weeks**,

just use the m3u8 url if y

[2017-07-04 17:02] gravyboat commented on #1034
@JourneyOver I despise vaughnlive and their constantly changing crappy design choices!

[2017-07-04 20:23] Ro-Den opened #1061 "Add PAC (proxy auto-config) support (feature request)"
### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

At least 1/4 of supported websites use geo-restrictions to prevent users from undesirable countries to watch the content. Free reliable proxy servers are hard to find. Espesially located in small countries.

Some

[2017-07-04 20:57] gravyboat commented on #1061
We do currently support proxies via https://streamlink.github.io/cli.html#cmdoption-http-proxy but PAC is definitely worth discussing, though I don't know if others will see it as being out of scope. Personally I'm not sure how far we want to extent proxy support in regards to potential legal issues, but it's an interesting consideration.

[2017-07-04 22:44] beardypig commented on #1061
Sounds like a pretty good idea, PyPAC looks like it would fit in quite easily. Currently I use privoxy with custom rules for each site that has geo restrictions that I need to work around, which does the same thing by via a local http proxy.

[2017-07-05 00:39] gravyboat commented on #1016
@rappo Sorry to tag you on this but are payouts still being processed on Bountysource? I submitted one for payout via BTC on June 21, 2017 but it still hasn't gone through. Just wanted to make sure I didn't screw something up.

[2017-07-05 01:27] RosadinTV commented on #1034
Looks like the HTML5 player use WebSocket protocol (WSS) to get the m3u8 url.
Example:
Connect to >  wss://sapi-ws-1x02.vaughnlive.tv
Send > MVN LOAD2 #vl-jandjtrip
Response > ACK2 #vl-jandjtrip;70;**CjAMPHqs2EVfoZ9FyKUI1vQehFWS5sNS**;**5940d648b3929**;0;1;1;0;ord
And the m3u8 url will be: https://5940d648b3929.streamlock.net/live/live_jandjtrip/playlist.m3u8?CjAMPHqs2EVfoZ9FyKUI1vQehFWS5sNS

[2017-07-05 01:49] techNeffect commented on #1034
Vaughnlive is back to using /old on the http website to access flash, but it no longer works in streamlink as others have said. Defaults to HTML 5 when using browser as normal.

When they reverted back to flash player a few days ago you could use /hls to access the HTML 5 player. It may do so again, so that may help in your testing if so.

Current output, targeting /old site:

![screenshot001](htt

[2017-07-05 02:00] gravyboat commented on #1034
Looks like they had an updated noting everyone should swap over for html5 by June 26th: https://blog.vaughnsoft.com/2017/06/17/video-encoder-settings/ so the plugin will need to be reworked.

[2017-07-05 06:28] drejjmit commented on #1058
`
M:\twitchrip\livestreamer>streamlink -l debug -o 24test-2.ts https://www.twitch.tv/gamesdonequick 720p
[Streamlink for Windows v0.6.0 - Git f60c40d]
[cli][info] Found matching plugin twitch for URL https://www.twitch.tv/gamesdonequick
[plugin.twitch][debug] Getting live HLS streams for gamesdonequick
[cli][info] Available streams: 720p_alt, audio_only, 160p (worst), 360p, 480p, 720p (best)
[cli]

[2017-07-05 07:04] gravyboat commented on #1058
Thanks @drejjmit. Looking at the log output it definitely looks to me as though this falls into one of a couple scenarios. The first to me being the most unlikely, and that's a problem with the edge node you are connecting to. I don't believe this is the issue as you're able to stream for exactly 24 hours before the connection is terminated. The second and also less likely one to me is something b

[2017-07-05 08:23] sophof opened #1062 "npo.nl live streams stopped working"
----

### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

npo.nl/live streams stopped working. Looks like npo changed its player.

### Expected / Actual behavior

streamlink shows a 'no streams found' error since about last night.

### Reproduction steps / Explicit

[2017-07-05 10:27] Ro-Den commented on #1061
As for legal issues, let's say it's for load balancing and proxy use facilitation. I would redact the initial post if necessary.

By the way, in some cases it is possible to bypass geo-restrictions with Google Translate. Would they sue or block Google? Or configure their sites properly?

[2017-07-05 12:49] karlo2105 commented on #1061
I already proposed Proxy feature for api access only : https://github.com/streamlink/streamlink/issues/594 ;)

[2017-07-05 14:51] drejjmit commented on #1058
Can't it sync the segments with a new connection since it know exactly when it will fail to get new segments from 24h old m3u8 connection? I mean if two connections are started at the same time they get the same segments from the server. http://i.imgur.com/J2KgibG.png

[2017-07-05 17:09] karlo2105 commented on #1062
It looks like they enabled Widewine. I suppose decryption key is here : https://npo-drm-gateway.samgcloud.nepworldwide.nl/widevine_player_cert.bin

[2017-07-05 17:16] RenaKunisaki commented on #1054
I can't remember now why I used yaourt specifically. I think because I was installing another package (from AUR) that depends on streamlink. Installing from pacman does work.

[2017-07-05 17:26] gravyboat commented on #1054
Okay I'm going to close this then. If you determine the yaourt issue is related to Streamlink and not that sphinx-doc issue that's open feel free to open this back up.

[2017-07-05 17:26] #1054 closed

[2017-07-05 17:30] mmetak commented on #1054
Like I said avoid `yaourt` because it's known to cause build problems as I saw quite a few post on archlinux forums about it. Use `pacaur`, it's much better.

[2017-07-05 18:22] back-to commented on #1062
# LIVE

- **DASH**
not supported by streamlink
- **HDS**
I don't know if they use HDS, i only found a HLS and a DASH link
- **HLS**
`METHOD=SAMPLE-AES` and this is **not supported by streamlink** #354 #836

[code]

# VOD

- **DASH**
not supported by streamlink
- **HLS**
this could work but i did not test it

[code]

[2017-07-05 18:32] cvcmv opened #1064 "plz add re-download function"
sometimes some segment download failed due to unstable network, but it resume download next segment, which had led to the final .ts file was not in synchronization. i tried set "--hls-segment-threads" (1 to 8), but it still failed

D:\streamlink.exe --hls-segm
ent-threads 2 "hls://http://144.217.68.106/live/3baf7db0d8f1d400816fb6166b297f46.m3u8" best
-o "C:\0.ts"
[cli][info] Found matching plugin

[2017-07-05 18:39] sfkpmr opened #1065 "Streamlink creating huge temp files"
### Checklist

- [x] This is a bug report.
- [x] I have read the contribution guidelines.

### Description

The past couple of weeks I've noticed that I lose a lot of hard drive space over and over, and when I close down my Streamlink streams, it immediately returns. The single file appears in C:\Windows\Temp. Files have ranged from 4 to 30+ GB, seems to be determined by how long I've watched a st

[2017-07-05 18:45] bastimeyer commented on #1064
You seem to be using Livestreamer... This is Streamlink, a fork of the dead Livestreamer project. Any bug reports, etc should be about Streamlink and not about Livestreamer. Please try running streamlink instead:
https://streamlink.github.io/install.html

As you can read in the documentation, this parameter doesn't affect segment download attempts. This will only increase the number of parallel se

[2017-07-05 19:28] bastimeyer commented on #1065
The *Streamlink Twitch GUI* is using the http player passthrough method by default. Maybe your player is writing its stream buffer to the filesystem after reading it from Streamlink's local http server. Or maybe another program is reading the data, eg. an antivirus software. I'm bringing this up because of the temp file name format, which would fit into this scenario, and since it's Windows I'd no

[2017-07-05 21:05] EFEVE commented on #1034
For whatever it's worth, I tried with @techNeffect method of using /hls and got a different error.

[code]

[2017-07-05 22:02] saki4u opened #1067 "arconaitv.me plugin broken"
anconai made changes to there website streams not working....tnx
http://arconaitv.me/stream.php?id=69

[2017-07-05 22:49] sfkpmr commented on #1065
Well, that's odd. I noticed that similar files are created when playing other content. However, not with Streamlink + hls.

Looks like it's an AV/FW issue as you said, the files weren't created when I disabled it. Perhaps an update on that end.

Thanks!

[2017-07-05 22:49] #1065 closed

[2017-07-05 23:25] gravyboat commented on #1065
Thanks for the update @sfkpmr, and thanks for the detailed explanation @bastimeyer!

[2017-07-06 04:07] Neclord9 opened #1068 "Vaughnlive.tv plugin no longer able to find playable streams"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is

[2017-07-06 06:22] gravyboat commented on #1068
We're aware of the issue and it's being discussed here already: https://github.com/streamlink/streamlink/issues/1034 they swapped over to an html5 player from their flash player (which is good) but the plugin hasn't been updated yet. I'm going to close this since we already have an existing issue. Thanks for your detailed report!

[2017-07-06 06:22] #1068 closed

[2017-07-06 06:23] #949 closed

[2017-07-06 06:23] gravyboat commented on #949
Closed since #1066 is merged.

[2017-07-06 08:46] unlocKing opened #1069 "Streamgaroo"
- [ x ] This is a feature request.

### Description

Plugin request for streamgaroo.com:
http://www.streamgaroo.com/tv-stream/united-kingdom/bbc-1-live-stream

### Expected / Actual behavior

streamlink http://www.streamgaroo.com/tv-stream/united-kingdom/bbc-1-live-stream
error: No plugin can handle URL: http://www.streamgaroo.com/tv-stream/united-kingdom/bbc-1-live-stream

[2017-07-06 11:50] Fironet commented on #614
Issue #134 is about player seeking, but it doesn't address VOD URLs that have timestamps, such as:

`https://www.twitch.tv/videos/156074788?t=12h14m25s`

PotPlayer doesn't support seeking in streamlink's current state anyway but having at least a way of launching at the desired timestamp for viewing would make it at least usable.

[2017-07-06 16:58] saki4u commented on #1059
i updated streamlink
now i see this
[cli][info] streamlink is running as root! Be careful!
[cli][info] Found matching plugin tvplayer for URL https://tvplayer.com/watch/bbcone
error: Unable to open URL: http://tvplayer.com/watch/bbcone (403 Client Error: Forbidden for url: http://tvplayer.com/watch/bbcone)

[2017-07-06 17:10] beardypig commented on #1059
@saki4u I have only created a PR, it has not been merged yet - did you update the plugin manually from my branch?

If you are getting a 403 for the channel page then maybe you are not in the UK?, it is geo-blocked does it work in a browser. Also, you probably shouldn't be running it as root.

[2017-07-06 17:11] unlocKing commented on #1059
Working for me in UK

[2017-07-06 17:23] saki4u commented on #1059
i m in uk.
how to update streamlink for ubuntu?

[2017-07-06 18:03] saki4u commented on #1067
PLEASE FIX ARCONAI plugin too....tnx

[2017-07-06 18:21] back-to commented on #1067
here you can test it

[code]

[2017-07-06 18:37] unlocKing commented on #1067
C:\Users\j>streamlink http://arconaitv.me/stream.php?id=30 best
[cli][info] Found matching plugin arconai for URL http://arconaitv.me/stream.php?id=30
[cli][info] Available streams: live (worst, best)
[cli][info] Opening stream: live (hls)
[cli][error] Try 1/1: Could not open stream <HLSStream('http://149.56.27.145/live/YXH3hmVh3Up6vr4DJ-_n0g/1499376775/a8107d2e6831bddc1fe8c05a804ca0c1.m3u8')> (Co

[2017-07-06 18:39] beardypig commented on #1067
@saki4u when creating issues please following the instructions in the issue template, it is also unnecessary to post "bump" comments.

[2017-07-06 19:12] back-to commented on #1067
@unlocKing maybe unlucky ? did you try some other ?

[code]

[2017-07-06 19:17] saki4u commented on #1067
yes its working m8...ty

[2017-07-06 21:39] unlocKing commented on #1067
Yep, working..

Prob a site error when I tested earlier.

Cheers!

[2017-07-07 12:07] tonybonykony opened #1072 "Traceback on stream open"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
I just got this error today when i upgraded to latest version. I tried to uninstall and reinstall Streamlink. but it's not working for me

C:\Users\admin>streamlink https://bongacams.com/colombiakinky best -o E:\ou

[2017-07-07 12:55] cirrusUK commented on #1054
builds fine for me on arch, dont use yaourt.

[2017-07-07 12:59] cirrusUK opened #1073 "Arconai.py plugin broken ?"
Well my plugin did not last long, can anyone confirm it is indeed broken and not just PEBKAC, cheers.
[edit] i see their site is going through a transition, and they have changed URL syntax so no doubt plugin is borken.

[2017-07-07 13:52] unlocKing commented on #1073
It was posted yesterday  #1067 by @back-to

Below is the fix:

import re

from streamlink.plugin import Plugin
from streamlink.plugin.api import http
from streamlink.plugin.api import useragents
from streamlink.stream import HLSStream

_url_re = re.compile(r'''https?://(www\.)?arconaitv\.me/stream\.php\?id=\d+''')
_playlist_re = re.compile(r'''source\ssrc=["'](?P<url>[^"']+)["']''')

class Arconai

[2017-07-07 14:01] bastimeyer commented on #1073
You should properly format code you're pasting in any comment section on Github before submitting it.
https://guides.github.com/features/mastering-markdown/
Let me fix this for you...

Btw, a better solution for posting code is using Github gists:
https://gist.github.com/

[2017-07-07 14:03] unlocKing commented on #1073
@bastimeyer that looks much better, thanks.

[2017-07-07 14:19] sophof commented on #1062
So even though the stream is freely available it is somehow DRM'ed? I saw that the author of the uitzending-gemist plugin for Kodi claims to have this working (although that doesn't use streamlink obviously), but going through his code I couldn't really figure out what he changed.

[2017-07-07 15:19] cirrusUK commented on #1073
cheers lads

[2017-07-07 16:06] Ro-Den commented on #1072
It's BongaCams related issue.

Looks like they implemented wss protocol authorisation (close code 1006): [https://stackoverflow.com/questions/19304157/getting-the-reason-why-websockets-closed-with-close-code-1006](url). Try blocking wss and you won't be able to play streams even with Adobe Flash Player.

And without wss authorisation BongaCams refuses to send our beloved plugin required AMF data.

[2017-07-07 16:29] horacio9a opened #1074 "Bongacams is now prefers hls"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
The last few days the bongacams plugin does not work.
We need new plugin, which should be somewhat shorter and simpler than the previous one that was based on the rtmp protocol.
Now it seems to prefer the hls proto

[2017-07-07 18:44] bobvargas commented on #1034
Hey @beardypig and @techNeffect  when the vaughnlive plugin is gonna be fixed because i hate using flash player on vaughnlive site because it really slows down the pc and uses up a lot of cpu usage. Plz help me guys thanks.

[2017-07-07 18:52] gravyboat commented on #1034
@bobvargas Someone will fix it when they have time to do so. Please remember that we are unpaid volunteers and this is an open source project that people work on in their spare time. If you would like to place a bounty on this issue feel free to do so here: https://www.bountysource.com/issues/46548041-vaughnlive-plugin-is-buggy. Otherwise it's all down to when someone has the time and interest to

[2017-07-07 19:05] bastimeyer commented on #1034
@bobvargas, @gravyboat has already explained this in one of your other threads:
https://github.com/streamlink/streamlink/issues/315#issuecomment-269572638

As [someone who's opened a couple of issues here](https://github.com/streamlink/streamlink/issues?utf8=%E2%9C%93&q=is%3Aissue%20author%3Abobvargas%20), you could consider [supporting the people](https://www.bountysource.com/teams/streamlink) wh

[2017-07-07 22:13] back-to commented on #1062
ok it's **still working with streamlink**,

streamlink is using some **OLD API**
all livestreams are **GEO Blocked to NL** in the **OLD API**,

livestreams are not blocked in the **NEW API** but they are DRM protected, so **not usable** for streamlink

until they don't shut the **OLD API** down all livestreams should work for now.

---

can you test it https://github.com/back-to/streamlink/commit/

[2017-07-07 22:22] gravyboat commented on #1074
There's more discussion on this here: https://github.com/streamlink/streamlink/issues/1072

[2017-07-08 02:22] X1011 commented on #614
chrippa/livestreamer#1210 added support for starting at a beginning timestamp with a flag "--hls-start-time", and then you could pipe to ffmpeg to stop the download at your desired point, too.

[2017-07-08 02:24] X1011 commented on #884
I believe #614 would cover this.

[2017-07-08 04:16] beardypig commented on #614
Oops, keep forgetting to PR my suggested solution.

[2017-07-08 06:49] gravyboat opened #1076 "I think we should apply for Open Collective"
I think it would be nice if we could take credit card payments for donations. Paying people out will still be problematic, but this would give users the ability to easily donate to us. This is Open Collective: https://opencollective.com/ it's a pretty good platform for us (though their fees are a bit steep) since it allows for recurring donations which is a realistic model for this software. It al

[2017-07-08 07:39] tonybonykony commented on #1072
Thanks @Ro-Den , I will close this issue and wait for updating of Streamlink team

[2017-07-08 07:39] #1072 closed

[2017-07-08 09:53] bobvargas commented on #1034
ok thanks guys.

[2017-07-08 10:13] Fironet commented on #614
This appears to have been over a year ago and for the no longer maintained livestreamer repo. Sorely wish these PRs could be merged into streamlink, as livestreamer has issues for me.

[2017-07-08 10:59] beardypig commented on #614
I think I will add negative start offsets (as per #884) for live streams, and add a duration option to my existing start offset code. That way you can watch a 20 minute segment from the middle of a stream, or skip back 45 minutes in a live stream.

[2017-07-08 12:07] karlo2105 commented on #1062
@back-to
I confirm everything is working fine. Thanks for fix. ;)

[2017-07-08 14:51] xamphear commented on #916
Any decision on this? I'm stuck on version 0.5.0 because 0.6.0 and 0.7.0 both exhibit this behavior with PotPlayer.

[2017-07-08 17:14] volt4ire opened #1077 "Plugin request found Soundcloud"
### Checklist

- [] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ x] I have read the contribution guidelines.

### Description
I would love plugin support for Soundcloud. Is there any possibility of this being added? Thanks!

[2017-07-08 18:08] gravyboat commented on #1077
Streamlink is designed for video streaming sites, not audio track sites (though we do support audio only options) so this doesn't really fall into our scope and as far as I'm aware they don't do any live streaming. On top of that Soundcloud is about to go bankrupt so it seems like it would be a bit of a waste to build something for it. There are also already quite a few excellent applications for

[2017-07-08 18:08] #1077 closed

[2017-07-08 18:09] gravyboat commented on #916
@xamphear Definitely a bug that needs to be resolved we just haven't gotten around to it yet.

[2017-07-08 18:11] bastimeyer commented on #1077
In addition to @gravyboat's comment:

Streamlink definitely violates the soundcloud TOS...
https://developers.soundcloud.com/docs/api/terms-of-use#general

Then there's also an API rate limit which is set per clientID and which is reset daily. This makes a potential implementation even more questionable.

[2017-07-08 18:13] gravyboat commented on #1077
Yep good notes by @bastimeyer. It's been a while since I wrote any code to interface with the Soundcloud API and I forgot how crappy their TOS are when it comes to the API.

[2017-07-08 20:14] kebabkalle commented on #795
@beardypig Is there any update on the xp installer? I checked #680 but I didn't quite get if there was an xp installer available or only test builds. Thank you.

[2017-07-08 20:59] gravyboat commented on #795
@kebabkalle We haven't come to a conclusion yet on proper storage of all the extra binaries and such that would have to be provided for an XP build. I am still of the mind that we should not provide support for XP. It's extra work for very little benefit and an extremely small minority of people as we would basically be supporting malware machines due to all the recent compromises found on XP.

[2017-07-09 18:45] popolihu123 commented on #655
Ask God to provide super code

[2017-07-09 21:20] sophof commented on #1062
Can also confirm it works. Does look like the best resolution is lower than before, but that could be because of the change to DRM I guess? I must admit I can't really follow the discussion

[2017-07-09 22:25] Bazkip opened #1078 "Unable to open Smashcast streams"
I get the following error whenever I try to open a Smashcast stream

[code]

Tried with multiple different streams and using a hitbox url instead of smashcast and it still occurs. It still works perfectly fine on Livestreamer, so I'm not really sure what's up. Asked a friend to test it out to see if it's not just me and he had the same error.

Using the latest version (0.7.0) on Windows 7, and my

[2017-07-10 08:16] NikoTQ opened #1080 "/"

[2017-07-10 08:21] NikoofDeath opened #1081 "WWE Network seeking + 3500K audio"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

1 (bug). For both first week VODs and live streams on WWE Network, the full quality 4500K versions are not available, as is discussed here: https://github.com/streamlink/streamlink/issues/636. While AFAIK this can

[2017-07-10 11:00] beardypig commented on #1081
@NikoofDeath streamlink does not currently support seeking in streams, there are a number of issues where this has been discussed before. Sometimes the `--player-passthrough hls` option can be used, but I don't think it will work in this case due to authentication.

As for the lack of audio track that does sound like a bug that needs fixing; I did not experience that when creating the plugin so po

[2017-07-10 14:41] hubballoon opened #1083 "No longer works with ESPN"
As recently as January, Watch ESPN videos were easy to download. They used HLS, and it was just a matter of using URL Snooper, filtering URLs by "content-aus", playing the video, getting a link like this: http://content-ause1.uplynk.com/.../g.m3u8?...
and plugging that into streamlink.

However, since January, ESPN seems to have changed things. They now use Brightcove Player instead of Flash, and

[2017-07-10 15:51] back-to commented on #1062
the stream that you will get from this plugin are the same as before,

the new streams won't work with streamlink.

If you want the best resolution, you need to use your browser.

[2017-07-10 16:24] jabhq opened #1085 "tvplayer.com 404 Client Error [again?]"
- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x ] I have read the contribution guidelines.

Having same symptoms as previous with TVPlayer Plugin (404 Client Error #988)
With some activity on new version i.e. ...
plugins.tvplayer: fix bug with some channels not loading
plugins.tvplayer: fix bug with some channels when not authenticate

[2017-07-10 17:11] beardypig commented on #1085
Ah yeah, that has been fixed in #1070 but I broke the tests in the process... Need to fix them :-)

[2017-07-10 18:53] gravyboat commented on #1076
No opinions on this? I think it gives us a good opportunity to get people involved who don't want to donate via our existing methods since they accept credit cards. Octobox has a good implementation in their readme: https://github.com/octobox/octobox#backers

[2017-07-10 23:44] gravyboat commented on #1016
@beardypig I just received confirmation via email that my cash out request to you was processed. If you can please confirm when you have a minute that would be great, I think it should be instant? I'm not sure how bitcoin processing works.

[2017-07-11 01:54] #1078 closed

[2017-07-11 01:54] gravyboat commented on #1078
@Bazkip Thanks for the report, #1082 has been merged which should resolve this if you want to give the nightly build a shot.

[2017-07-11 02:04] gravyboat commented on #1083
If they've started using brightcove that basically means that it's now locked down via DRM (https://www.brightcove.com/en/online-video-platform/content-protection-encryption-drm). Unfortunately breaking DRM is something we're not willing to spend development time on and we talked about similar DRM related issues over here: https://github.com/streamlink/streamlink/issues/354. I don't have a cable s

[2017-07-11 02:05] #1062 closed

[2017-07-11 04:05] hubballoon commented on #1083
I took a look at some more of the URLs URL Streamer gets when watching the ESPN video I linked to. I think what the Brightcove player is doing mostly is just obfuscating the URL. Notice that in the following URLs that were detected, there is a hint of a URL similar to the uplynk.com one I mentioned at the top of my first post, of the form http://content-ause1.uplynk.com/.../g.m3u8?..., which was a

[2017-07-11 07:30] jgilf commented on #1029
Thanks for implementing this @beardypig

It looks like the mobile version only pulls the videos at 1600k whereas the desktop version pulls 4500k. This is quite a significant difference. Any chance the plugin could be updated to support the desktop version's custom adaptive video transport?

[2017-07-11 08:21] jgilf commented on #1029
After a bit of investigation it also seems as though you can manually change the url to access the HLS 4500 stream.

i.e. the highest quality the plugin can find is:

However simply changing 1600 to 4500 nets you a new m3u8:

However when I do this manually I have issues with accessing the key file.

Any help with this is much appreciated!

[2017-07-11 10:11] beardypig commented on #1076
Sounds cool. I haven't had time to digest it yet, bountysource doesn't seem to have worked out to well...

[2017-07-11 10:17] beardypig commented on #1016
@gravyboat got it :)

[2017-07-11 10:27] beardypig commented on #1083
Is there even an ESPN plugin, seems like we don't support ESPN :) I think we have discussed supporting sites that use cable provider logins and decided against it because of the amount of maintenance work required to continue support.

@hubballoon without a cable login it's hard to say if it's still possible to grab the streams.

[2017-07-11 10:51] jgilf commented on #1029
Thanks for the reply!

The available qualities are 4500, 3000, 2400, 1600, 1200, 800 and 400.

I tried playing around with different UAs but iPhone and iPad only get 1600 whereas Android seems to get only 1200.

[2017-07-11 11:03] beardypig commented on #1029
Interesting, I wonder if Apple TV would get the higher qualities...

[2017-07-11 11:14] jgilf commented on #1029
I gave it a shot using this UA:

and I was was able to pull the 3000k stream.

Is that the correct UA that I should be using?

[2017-07-11 11:22] jgilf commented on #1029
Just checked and Chromecast also pulls the 3000k stream.

[2017-07-11 11:46] jgilf commented on #1029
Great, that should work.

I'm not entirely sure how to test it with my account as I get errors relating to parsing the key file. This is probably related the session being parsed incorrectly though.

[2017-07-11 12:19] beardypig commented on #1029
@jgilf are you able to modify the plugin python file to test/experiment?

[2017-07-11 12:38] jgilf commented on #1029
Sure I'll do it now.

[2017-07-11 13:05] skilleek commented on #1034
Hi there,

I have found a temporary solution until masters @beardypig and @gravyboat can fix the problem with streamlink plugin.

In order to play vaughnlive streams, just use the /old url and livestreamer with this [script](https://raw.githubusercontent.com/intact/livestreamer/fix-vaughn/src/livestreamer/plugins/vaughnlive.py). Example of command:

`livestreamer --plugin-dirs "Directory where vau

[2017-07-11 13:36] Aylon1 opened #1087 "Authentication for FilmOn Plugin - Required since 01.05.2017 even for SD streams"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

As FilmOn has ceased to provide free SD streams since 01.05.2017, streamlink can only stream app. 2min of SD content. After that "taser"-time the reloading of the playlist will fail and produce a timeout error (se

[2017-07-11 14:54] beardypig commented on #1087
From the logs it seemed to run for 1h17m was the output file invalid? (By the way it should be `.ts`, no `.flv`)

[2017-07-11 16:15] gravyboat commented on #1076
Bountysource is good for bounties, it's not great for recurring or tip style payments because the infrastructure wasn't really designed for that (with Open Collective you could have just put in an invoice for your hosting costs). Unless someone has other opinions I'll probably apply in the next couple days, I'm not sure how long they take to approve an org, or if we'll even get approved.

[2017-07-11 17:11] JourneyOver commented on #1034
so @skilleek method works for the time being, you don't need to download livestreamer at all though.

what you can do is download the script from his link and put it in the plugins folder for streamlink (Default for me was "C:\Program Files (x86)\Streamlink\pkgs\streamlink\plugins"), rename the old plugin to vaughnlive.py.bak (or just replace the old script with the one from the script above) and

[2017-07-11 17:25] EFEVE commented on #1034
@skilleek method works perfectly, even more so with @JourneyOver 's correction, you don't even need to put '/old' at the end of the link.

[2017-07-11 17:51] JourneyOver commented on #1073
Honestly I could never get arconia to work all that great with livestreamer/streamlink anyways, streams would work for a while and then all of a sudden the stream would freeze because of how arconia has his site/stream setup. Does the same crap even if you are just on his site watching the stream instead of using livestreamer/streamlink.

[2017-07-11 18:36] Aylon1 commented on #1087
Hmmm, sorry about this, but I tested multiple times before and the streams (different channels) always broke off @ round about 2 - 2,5 minutes. Its automatically recording and this particular case did go through until the end for the first time in 48hrs.

Here the log files from the next attempt which again failed:

[stderr.txt](https://github.com/streamlink/streamlink/files/1139894/stderr.txt)
[s

[2017-07-11 18:53] JourneyOver opened #1088 "Plugin request : cytu.be streams"
### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Dunno if this site will be possible or not tbh, but requesting a plugin non-the-less. If it's possible then great, if not then that is fine.

### Expected / Actual behavior

...

### Reproduction steps / Explicit

[2017-07-11 19:40] gravyboat commented on #1083
@beardypig You're right. I forgot people were using a work around to pull the free streams from ESPN previously and there wasn't a dedicated plugin. Anything that requires a cable subscription login has pretty much been a no go from the issues I can remember.

[2017-07-11 22:11] rcached commented on #1083
@hubballoon I confess I am a complete and utter n00b, but maybe this suggestion will help?

Try a different sniffer/analyzer.

URL Snooper is _usually_ pretty good at URL detection, but it does have some deficiencies and quirks.  A good example are some Uplynk URLs from sources like ABC.  URL Snooper v2.42.01 doesn't correctly parse &amp; so the resultant URL won't work with Streamlink/Livestreame

[2017-07-12 00:56] #1059 closed

[2017-07-12 00:58] gravyboat commented on #879
Closing since #1063 is merged.

[2017-07-12 00:58] #879 closed

[2017-07-12 00:59] gravyboat commented on #1064
I'm going to close this for now as it appears @bastimeyer has provided details for what is supported. Thanks @bastimeyer!

[2017-07-12 00:59] #1064 closed

[2017-07-12 01:01] gravyboat commented on #1087
@Aylon1 It seems like something is messed up with those text files you posted (I can't access them for some reason), can you post to gist.github.com if you're still seeing problems?

[2017-07-12 01:03] gravyboat commented on #1017
Closing this since it's solved.

[2017-07-12 01:03] #1017 closed

[2017-07-12 01:14] gravyboat commented on #354
I'm going to close this since we aren't going to fix it anyways. Thanks for all the discussion everyone.

[2017-07-12 01:14] #354 closed

[2017-07-12 01:15] gravyboat commented on #494
Closing since they use DRM.

[2017-07-12 01:15] #494 closed

[2017-07-12 01:17] gravyboat commented on #669
@Gfurst Just looked back through some old issues and realized my comment from March 20th may have come across as somewhat rude, my apologies there.

[2017-07-12 03:41] gravyboat commented on #72
Closing this out since it's resolved.

[2017-07-12 03:43] gravyboat commented on #262
The only thing we're missing at this point is opensuse in the docs but https://build.opensuse.org/request/show/444737 was approved so I'm going to close this out.

[2017-07-12 03:43] #262 closed

[2017-07-12 11:36] Aylon1 commented on #1087
@beardypig here the gist link https://gist.github.com/Aylon1/019d53e895e6d63080f0e164a35f9da0

Seems to be working sometimes and sometimes i get the reload attempt max exceeded and it stops.

[2017-07-12 12:25] cirrusUK opened #1090 "vaughnlive.tv plugin broken"
Hi

[cli][info] Found matching plugin vaughnlive for URL https://vaughnlive.tv/columboseries
[plugin.vaughnlive][info] Found player_version=0.1.1.796, info_url_domain=mvn.vaughnsoft.net, info_url_path=None
[plugin.vaughnlive][error] Could not detect info_url_path
error: No playable streams found on this URL: https://vaughnlive.tv/columboseries

      I guess the http://vaughnlive.tv site has chang

[2017-07-12 12:44] mmetak commented on #1090
https://github.com/streamlink/streamlink/issues/1034

[2017-07-12 13:13] cirrusUK commented on #1090
thanks @mmetak
sorry for the noise !

[2017-07-12 13:13] #1090 closed

[2017-07-12 14:17] javiercantero commented on #72
@gravyboat How is this solved? There is not official Debian package yet. Or I am missing something?

[2017-07-12 15:46] zmho12 commented on #837
sorry.
afreeca rtmp;//110 closed the address again.

Is there another address?

[2017-07-12 16:36] gravyboat commented on #72
@javiercantero You're right I thought I read Debian last night but I didn't. Opened back up.

[2017-07-12 20:11] sigmap commented on #957
Will Mixer be included in a future update?

[2017-07-12 20:53] gravyboat commented on #957
@sigmap It's going to take a lot of work to get Mixer working correctly. We would like to support it though.

[2017-07-13 01:31] fadster commented on #1034
It's broken again after today's update. The script returns with the error "No data returned from stream" now. I decompiled VaughnSoftPlayer.swf and it seems changes have been made in the way the player obtains the streaming server URL and the stream token. I believe it no longer uses INFO_URL to get this information. Instead, it uses an external call to MvnApi.getFlashData(). The output of this fu

[2017-07-13 01:40] fadster commented on #1034
It's broken again after today's update. The script returns with the error "No data returned from stream" now. I decompiled VaughnSoftPlayer.swf and it seems changes have been made in the way the player obtains the streaming server URL and the stream token. I believe it no longer uses INFO_URL to get this information. Instead, it uses an external call to MvnApi.getFlashData(). The output of this fu

[2017-07-13 01:49] fadster commented on #1034
It's broken again after today's update. The script returns with the error "No data returned from stream" now. I decompiled VaughnSoftPlayer.swf and it seems changes have been made in the way the player obtains the streaming server URL and the stream token. I believe it no longer uses INFO_URL to get this information. Instead, it uses an external call to MvnApi.getFlashData(). The output of this fu

[2017-07-13 03:07] #1067 closed

[2017-07-13 03:07] #1073 closed

[2017-07-13 03:09] gravyboat commented on #1034
@fadster Yeah if we're going to fix it then it might as well be changed to no longer support the flash player, moving to an html5 player is the first thing that vaughnlive has done in a while that hasn't been annoying in terms of Streamlink functionality. Thanks for putting the time in to take a look and see what's up with it!

[2017-07-13 03:36] gravyboat commented on #1076
Okay we're pending approval over here: https://opencollective.com/streamlink. I only added a few people to the list of contributors to start with so if you don't see your name on the list of contributors (I know there are other people who are doing plenty of contributions that I didn't add) I'm happy to add you if we get approved!

[2017-07-13 04:06] bastimeyer commented on #1076
An alternative to opencollective could be [Liberapay](https://liberapay.com/), which is a non-profit organization that doesn't take any fees, is open source, doesn't require paypal and is located in France. They only support recurring payments, though, but donations can be coordinated between team members.

[2017-07-13 04:09] fadster commented on #1034
@gravyboat Well, flash or html5, all we really want is a stream URL to pass to an external player! :)

[2017-07-13 05:02] JourneyOver commented on #1034
bet once they do finally move everything over to the html5 player they are still going to try and fuck with livestreamer/streamlink a ton just because they want their stupid ad money :/

[2017-07-13 05:05] gravyboat commented on #1076
@bastimeyer Very cool! I haven't heard of Liberapay. The more options we have the better!

[2017-07-13 05:06] gravyboat commented on #1034
@JourneyOver I can't really blame them for wanting to stay fed with the hard work they're doing. It's one of the reasons we encourage people to donate to streaming services they like when possible. Without those ads/donations/subscriptions the services won't exist for us to help people stream!