[2018-06-01 18:15] beardypig commented on #1719
You need to specify the quality you want, eg `best` - `streamlink http://... best`. However, that stream is broken, it not longer exists - for some reason the `live.m3u8` file is still there but not the others.

[2018-06-01 18:16] back-to commented on #1723
sure https://gist.github.com/back-to/bc2437374b0ae1a47d67eb3a5b386e2f

[2018-06-01 18:21] beardypig commented on #789
@vinnyA3, sorry was slow to push the fix - just done it :)

[2018-06-01 18:40] beardypig commented on #1723
@back-to would you be able to upload 2 mpds 5 seconds apart? I cannot see why it wouldn't work. (I don't use Facebook).

[2018-06-01 18:46] back-to commented on #1723
here is a git-diff

https://gist.github.com/back-to/bc2437374b0ae1a47d67eb3a5b386e2f#file-123-diff

it does not change that much

---

the probleme is

it works for **2 sec**,
but it won't reload for the next segments

[2018-06-01 18:47] beardypig commented on #1723
Perfect, thanks @back-to

[2018-06-01 19:45] vinnyA3 commented on #789
@beardypig No, please.  Wish I could've helped a bit more.

I just tried the new auth, it's working great!  Premium content is now accessible :)

Now, the only issue I'm running into is with the `mpv` player--the stream closes after a couple of minutes.  This is definitely an issue with `mpv` since `vlc` is working just fine, so I am going to debug this myself.

I appreciate the work you put into

[2018-06-01 23:31] beardypig commented on #1723
Turns out you don't need to login to see most of the streams :)

[2018-06-02 01:31] #1723 closed

[2018-06-02 03:09] Marty665 commented on #1384
Can this be reopened? I  am getting this error as well when using streamlink to on a channel - can't use the video URL since it changes. It works with the video URL if you look it up manually do ````streamlink https://youtube.com/videolink```` but doing it with a channel gets a 403 error for the search API.

Here is the debug log:

[code]

[2018-06-02 04:59] Marty665 opened #1728 "Youtube API returns 403 forbidden error (exceeded quota) most of the time when using streamlink on a channel URL"
- [x] This is a bug report.
- [x] I have read the contribution guidelines.

### Description
I have been getting 403 forbidden errors returned from the Youtube API when using streamlink on channel URLs (since livestreams often have new URLs, so if you want to monitor whether or not someone is streaming you need to check that) about 90% of the time I try any channel. I don't have any issues on a vid

[2018-06-02 07:45] Twilight0 commented on #1728
This is normal. This means that the number of free requests for resolving a video have exceeded a certain quota.

[2018-06-02 07:50] Texnozaur commented on #1719
@beardypig -Understood,Sensey.You`re very first person,who tolled me this important moment.
Now,if you isn`t tired of my incompetence-yes I`m real noob  can you tell me,how can I fix this
` streamlink --http-header "User-Agent=Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.130 AOL/9.8 AOLBuild/4346.2019.US Safari/537.36" --http-header "Referer=https://

[2018-06-02 11:41] beardypig commented on #1719
This is not really the forum for this kind of support. If you have an official website that has a stream for the channels you want, you should create a plugin request issue describing the site that you want Streamlink to support.

[2018-06-02 14:52] Texnozaur commented on #1719
@beardypig Thank you!

  &#127866

[2018-06-02 14:52] #1719 closed

[2018-06-02 18:34] jshir opened #1730 "Vaughnlive RTMP port changed from 1935 to 2935"
Very brief bug, very simple fix.

rtmp_server_map for all requests uses 192.240.105.171:1935 and doesn't work. (No data returned from stream)
rtmp_server_map change all requests to 192.240.105.171:2935 works for me.

[2018-06-02 19:12] beardypig commented on #1730
Thanks for the info @jshir, did you want to create a PR?

[2018-06-02 20:35] jshir commented on #1730
Sure, can you authorize me on this repository then?

[2018-06-02 21:13] jshir commented on #1730
Never mind, I was doing something wrong. Check PR 1731.

[2018-06-02 23:43] #1730 closed

[2018-06-03 00:13] nOLanSea opened #1733 "How to play VOD @ Afreeca TV ?"
Good day.

Please advise is there possible to watch VOD from Afreeca?
For example like this http://vod.afreecatv.com/PLAYER/STATION/33963812

If yes, please show how.

Thanks a lot in advance.
Best regards.

[2018-06-03 00:38] beardypig commented on #1574
Some shows are very picky for some reason, you need to have a session ID generated from the US and access the stream from an IP in the US (doesn't have to be the same IP though).
There does seem to be an issue with this particular show where it doesn't work with the session IDs generated by streamlink.

[2018-06-03 09:36] back-to commented on #1728
there are some solutions

1. Adding more than one API_KEY
2. only using there API as a **fallback**, instead use the html code for the video_id

[2018-06-03 10:28] beardypig commented on #1728
Multiple keys is a bit of a pain as you need a verified (by sms/call) Google account, iirc, to create an account. I was looking at scraping the channel page HTML too, using the API as a fallback is a good idea :)

[2018-06-03 10:42] KynikossDragonn opened #1734 "TwitchTV HLS Playlist reload resulting in 404 errors"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

I'm getting 404 not found errors attempting to reload the HLS playlist while viewing some streams but not all of them.

### Expected / Actual behavior

The stream should load like any other stream, including all q

[2018-06-03 10:58] beardypig commented on #1734
@KynikossDragonn does it work in your browser, it's not working for me - getting 404s even in my browser.

[2018-06-03 11:03] back-to commented on #1328
it works again, ssl parameter is not required

[code]

[2018-06-03 11:03] #1328 closed

[2018-06-03 11:08] KynikossDragonn commented on #1734
Twitch hasn't worked in my browser for a long time now, I just get a black screen where the video player should be.

[2018-06-03 11:12] back-to commented on #1132
It's not important, because there **old urls are still valid**.

**Closing** since **renaming** plugins will result **in some cases in errors** https://github.com/streamlink/streamlink/issues/1223 (when the plugin gets an update)

[2018-06-03 11:12] #1132 closed

[2018-06-03 11:40] beardypig commented on #1734
@KynikossDragonn is it working now? Seems to be an issue on twitch's side rather than a streamlink issue.

[2018-06-03 11:52] KynikossDragonn commented on #1734
Yes now it's working, so I guess it's not really a plugin issue but a issue with Twitch's own servers.

I was worried something happened like some API change or something, I suppose this issue is closed?

[2018-06-03 11:52] #1734 closed

[2018-06-03 12:54] back-to commented on #1697
@Bilge
**it works** with `--player-http` on win7 and 10,
you will have to select `Install Codec pack` when you install this player.

[code]

[2018-06-03 18:12] #1551 closed

[2018-06-03 18:13] #1574 closed

[2018-06-03 19:15] Twilight0 opened #1738 "Support for facebook VOD?"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [] This is a

[2018-06-03 21:20] Twilight0 opened #1739 "Is it possible to get the dash manifest url via python?"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [ ] This is

[2018-06-03 21:35] beardypig commented on #1739
I did not implement that method as it doesn't quite fit with the meaning in the context of the other Stream types. You can get it via `stream.mpd.url` though.

[2018-06-03 21:48] Twilight0 commented on #1739
It works, thank you.

[2018-06-04 01:28] #789 closed

[2018-06-04 02:52] rollykaunang opened #1741 "vidio plugin [https://www.vidio.com]"
- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

Hello Admin Could you guys take a look vidio plugin it is broken now.

Unable to open url
403 Client Error Forbidden for url
Here is the the link https://www.vidio.com/live/204-sctv-tv-stream

Https://www.vidio.com

...

### Expected / Actual be

[2018-06-04 07:15] BZHDeveloper opened #1742 "Problem with '--quiet' or '--json' options"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

With previous versions, add '--json' option to command line print JSON information without traditional debug info : `[console][info] ....`
Today, these debug lines are constantly present, whether the '--quiet' opt

[2018-06-04 07:20] BZHDeveloper commented on #1742
ok. I've to specify `-l none` ...

[2018-06-04 08:50] majuss opened #1743 "Streamlink execution takes 13 seconds"
My raspberry pi 3 b is working as a webserver which serves twitch .m3u URLs from a given channel. It takes a significant time to get back the .m3u stream. Version of python is 3.5, Raspbian is up to date.

### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
When I w

[2018-06-04 08:55] beardypig commented on #1743
Would you be willing to run some commands to help benchmark it?

First `time treamlink http://example.com/no-stream-here`

[2018-06-04 09:03] majuss commented on #1743
Of course I will :)

`real: 0m19.294s; user: 0m9.892s; sys: 0m1.167s`

I'am just asking myself whats so performance intensive? Streamlink is not calculating quantum physical equations :D

[2018-06-04 09:15] Erk- commented on #1743
I ran it on a faster machine to get:
[code]

[2018-06-04 09:38] beardypig commented on #1743
OK, maybe a better test is
[code]

[2018-06-04 09:41] beardypig commented on #1741
Could you provide a debug log too (`-l debug`)? The `vidio` plugin was fixed recently, so you'll need to be running the [latest dev version](https://streamlink.github.io/install.html#source-code) for it to work.

[2018-06-04 09:54] beardypig commented on #1742
Thanks for the report @BZHDeveloper, I've submitted a PR that should resolve it.

[2018-06-04 10:02] back-to commented on #1743
the twitch plugin can be speedup
with changing the way of `self.options.get("disable_hosting")`
`hosted_channel` runs every time

https://github.com/streamlink/streamlink/blob/c1489782cf2644e9194c4d2fdcc3f6198e49a538/src/streamlink/plugins/twitch.py#L579

normal

[code]

removed

[code]

[2018-06-04 10:06] back-to commented on #1738
https://github.com/streamlink/streamlink/pull/1740

[2018-06-04 10:06] #1738 closed

[2018-06-04 10:10] beardypig commented on #1738
Thanks for the report @Twilight0, this has been resolved in #1740 :)

[2018-06-04 10:14] Twilight0 commented on #1738
This one doesn't play, however: https://www.facebook.com/prokolgotki/videos/1032870746862832/

[2018-06-04 10:15] back-to commented on #1738
you could try to use cookies

[2018-06-04 10:55] beardypig commented on #1743
There are a few cases to consider:

with up-front check:
 - If channel is not hosting, 3 API calls (get hosted, get stream)
 - If channel is hosting, 3 API calls (get hosted, get stream)
 - If channel is hosting and `disable-hosting`, 1 API call (get hosted)

without up-front check:
 - If channel is not hosting. 2 API calls (get stream)
 - If channel is hosting, 5 API calls (get stream, get hosted

[2018-06-04 11:45] Twilight0 commented on #1738
Facebook plugin doesn't support login, yet, as far as I understand. As for cookies where do I find them in the first place to load them into streamlink.

[2018-06-04 12:19] Erk- commented on #1743
Could the `disable-hosting` value be exposed to the commandline somehow.

[2018-06-04 12:33] beardypig commented on #1743
@Erk- `--twitch-disable-hosting` is already available.

[2018-06-04 13:42] cdrage opened #1745 "Let's have a celebratory 1.0.0 release!"
We've got a new release script, awesome work done by @beardypig and @gravyboat including a HUGE contribution with MPEG DASH support.

In my opinion, streaming / using Streamlink has been super-stable. No major API changes / CLI changes, nor any negative feedback from the community.

Should we celebrate this milestone and finally push a 1.0.0 release out?

[2018-06-04 13:52] beardypig commented on #1745
I'm all for it. Need to closely monitor the process though, with all the release changes :)
Does anyone have any features that are blocking 1.0.0?

I would say that #1744 is blocking this.

[2018-06-04 17:34] techmouse opened #1747 "Vaughnlive stopped working. This fix worked for me."
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

---

Vaughnlive stopped working again.

It seems all you have to do is change:
[code]

to:
[code]

[2018-06-04 17:39] beardypig commented on #1747
Dup of #1730, fixed in #1731.

Thanks for report @techmouse, this has already been noted a fixed :)

[2018-06-04 17:40] #1747 closed

[2018-06-04 17:51] techmouse commented on #1747
@beardypig Oh my bad. I looked around in the issues section and didn't see any mention of it, so I tried to fix it myself before posting anything. I didn't know somebody already beat me to it.

I guess I'll just go ahead and ask this here before making a new thread. The ustream.tv plugin is pretty much foobar'd. It's been buggy for a while but several retries could eventually get it working in the

[2018-06-04 18:05] beardypig commented on #1747
I haven't looked at ustream for a while, if you create a new issue we can discuss it there :)

[2018-06-04 18:08] beardypig commented on #1739
Actually, the correct way to do this is to use the `to_url()` method on `Stream`.

[2018-06-04 18:54] gravyboat commented on #1745
Most of the work was done by @beardypig I've just been reviewing all the work! I think we need a new logo before we do a 1.0.0 release personally which we own all rights to. This means we can use it on stickers, t-shirts, or whatever else may be needed in the future to support continued development and pay for any fees that may come up without having to worry about someone claiming ownership. In B

[2018-06-04 18:58] #1742 closed

[2018-06-04 19:31] kgor93 opened #1749 "There should be a way to make capture stop after a certain amount of time"
### Checklist

- [] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
Right now when capturing a live stream, it just records indefinitely, up to 6 hours. After 6 hours, it stops. Making a script to restart capturing is trivial, but what ends up happening is that you end up with 6 hou

[2018-06-04 22:01] beardypig commented on #1749
If it’s an HLS stream you can use `--hls-duration`, works for live streams in the latest dev version.

[2018-06-05 04:09] rollykaunang commented on #1741
@beardypig
I installed the latest dev version.
It is work..
Thank You so much Mr Beardpig.
So this issue is closed now.

[2018-06-05 04:49] #1741 closed

[2018-06-05 07:30] roshavagarga opened #1750 "Small update issue with Windows installer"
----

### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
After wondering for a day or so why Facebook live streams were only giving me 360p, I finally discovered that even though I'd been installing new versions for several days (nightlies), my current version was

[2018-06-05 07:33] roshavagarga commented on #1745
@gravyboat - Have you considered reaching out to supporters through Reddit? You could very well have one that's an illustrator/graphical artist that would be willing to make a logo for free, that way enabling the team to save the cash and use it towards something else.

[2018-06-05 10:19] johnthecracker commented on #1602
Sad.

We won't know the truth without Israeli news.

I will be missing Netanjahu a lot, for sure.

He was better than any other clown on the internet.

[2018-06-05 10:37] PostMalone opened #1751 "How can i get this (look inside)"
So i had a look arround the web and i saw that some people are Streaming on their website ESPN2 for free. With just HLS (.m3u8), their hls looks like this: http://ak-hls-brs-espn2.espn.go.com/hls/live/218615/p/espn2-p.m3u8

And a lot of people can watch it. How is it possible? Also i noticed that i need some "Keys". Is this right?

Here is a screenshot of the website Source code: http://prntscr.co

[2018-06-05 11:17] beardypig commented on #1751
They are sharing one ESPN account by rewrite the encryption key path in the M3U8.

This is not something that we will support in Streamlink.

[2018-06-05 11:17] #1751 closed

[2018-06-05 12:53] majuss commented on #1743
So I did some benchmarks with the hosting disabled and enabled. Here are the results:

With hosting:
[code]

WIthout hosting:
[code]

As you can see, it doesn't make any difference. I still ask myself why the parsing is so heavily depended on the CPU power. I don't see how something so simple can take up a so long time.

[2018-06-05 14:20] beardypig commented on #1743
@majuss could you try with a different plugin, for example with a YouTube video and see if that takes a long time too?

[2018-06-05 14:33] WolfganP commented on #1743
Just an idea. As streamlink is using 'logging' module for the logs, isn't there any way to allow it print the timestamp of the events in debug level and use the logs as a basic profiler for initial troubleshooting? (as in logging.basicConfig example at https://docs.python.org/2/library/logging.html)

[2018-06-05 15:02] beardypig commented on #1743
@WolfganP a good idea :)

[2018-06-05 15:07] Twilight0 commented on #1738
Well, thank you to say the least for adding VOD support.

[2018-06-05 15:14] beardypig commented on #1738
You'll need to login to Facebook and look at the cookies and work out which ones you need. You can set them using `--http-cookie`.

[2018-06-05 16:47] WolfganP commented on #1743
I have no access to my system right now, so I'm not sure if code needs to be modified, but with the logging.basicConfig formatting example seems to be only needing to be changed once and globally, then it applies to each debug call.

[2018-06-05 16:50] beardypig commented on #1743
@WolfganP pretty much, there is some slightly customised logging logic to handle backward compatibility with the old logger module and differences between Python 2 and 3. But mostly it's straight forward. I would not add the time option when debug logging is enabled, as this could possibly break some other peoples scripts. We added a new logging level, trace, which could be used as a signal to tur

[2018-06-05 16:52] beardypig commented on #1061
I created a branch (https://github.com/beardypig/streamlink/tree/pac-proxy) that adds support for PAC, however the `pypac` module depends on quite a few thing and I'm not sure if we want to add all that to the dependency list :)

[2018-06-05 17:53] mmetak commented on #1745
I agree with @roshavagarga , all the moniez to @beardypig !  ;-)   He definitely deserves it.
Couldn't care less about the logo, it's more important to get that money to devs who spend their time and energy to keep this project alive. Keep it up everyone.

[2018-06-05 19:32] gravyboat commented on #1745
@roshavagarga In terms of which subreddits? We don't maintain the Streamlink subreddit and there's barely anyone subscribed there any way. If you have ideas I'm open to them, but the key issue we've had with people offering design services (as discussed in #1123) is they either want to be credited in more ways than we're willing, or people have wanted to retain rights to the image which could plac

[2018-06-05 19:33] beardypig commented on #1743
I added a time stamp when using the `-l trace` option.

@majuss are you able to install the latest version from git and run it again with `-l trace`, and post the output?

[2018-06-06 03:48] gravyboat commented on #1745
@Ike348 Thanks for the kind words. I'm definitely of the same mind that money should go to contributors and I really hate to spend it in this sort of way but we haven't had luck finding someone to create a logo for us that's willing to do it for free and give us ownership of the image without various requirements. For me we have to make sure we own things like the logo so we can try other methods

[2018-06-06 06:54] beardypig commented on #1745
@Ike348 glad you’re find the dash support useful :)

@gravyboat @cdrage maybe we should do a 0.13.0 release to test the script, and get the dash stuff in to the hands of more people for more testing :)

[2018-06-06 07:33] gravyboat commented on #1745
@beardypig I'd be down for that. It would be kind of funny if the 1.0.0 release was messed up due to some sort of release script bug and we had to do another release. There are some major changes though so I'm not sure how @bastimeyer would feel about doing a release that wasn't a major bump.

[2018-06-06 09:11] beardypig commented on #1745
I don't think anything API-wise changed that doesn't remain backward compatible (at least, that's the intention) and in terms of console output it's mostly the same too.

[2018-06-06 12:19] Troyciv opened #1753 "No man page with pip install"
### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

When installing streamlink with pip, no man page gets installed

### Expected / Actual behavior

a man page gets installed during installation of streamlink with pip

### Reproduction steps / Explicit stream URLs

[2018-06-06 12:19] cdrage commented on #1745
@beardypig @gravyboat No problem! Should I go ahead with a 0.13.0 release? Any blockers?

[2018-06-06 12:21] beardypig commented on #1745
Nothing from me :)

[2018-06-06 14:47] bastimeyer commented on #1753
Is it even pip's job to create man pages? If you're using the `--user` parameter, there's no way for pip to install man pages in the `manpath`, as those man paths are usually configured only system-wide and are user independent. And even if pip is used for globally installing packages (which is bad and will result in file conflicts sooner or later), it is not its job to write files in one of the s

[2018-06-06 14:56] bastimeyer commented on #1745
@gravyboat
AFAIK, there were no breaking changes. The only changes that could break the Twitch GUI are some of the log outputs, but none of them got changed. A major version bump would be an opportunity though for changing the log format, as I've suggested [here](https://github.com/streamlink/streamlink/pull/1635#issuecomment-392619939), which would make applications relying on log output resistan

[2018-06-06 15:28] beardypig commented on #1745
Reading the log output is pretty fragile... how much does the Twitch GUI do? It would be better to define some json-based communication protocol, it would also allow for plugins to communicate (twitch delay??) ;-)

[2018-06-06 15:46] beardypig commented on #1753
I imagine most distros would _require_ a man page to be accepted, and that's definitely something that should be handled by the package maintainer.

If `pip` did install man pages, they would not work for `--user` (as @bastimeyer said), without updating `$PATH`. System-wide and virtualenv installs would work though.

We could use sphinx to build the man page and include that in the sdist/wheel - a

[2018-06-06 15:56] bastimeyer commented on #1745
That would be an even better solution, because it could add data to it.

[2018-06-06 15:57] cdrage commented on #1745
I'm going to try and push a 0.13.0 release today. Hopefully nothing breaks :heart:

[2018-06-06 16:17] cdrage commented on #1745
Pushed: https://github.com/streamlink/streamlink/releases/tag/0.13.0

Hopefully Travis CI builds this correctly / pushes it :+1: @beardypig @bastimeyer @gravyboat

[2018-06-06 16:23] cdrage commented on #1745
@beardypig @gravyboat

Looks like it's missing the previous CHANGELOG? https://travis-ci.org/streamlink/streamlink/jobs/388850835#L3035

I tried debugging this locally but no luck. Was there a step I was missing on adding a new CHANGELOG.md?

[2018-06-06 16:35] cdrage commented on #1745
@beardypig Ahh.

So what should the steps be? Do I create a tag as well as push a PR that updates the CHANGELOG or just CHANGELOG?

[2018-06-06 16:39] beardypig commented on #1745
You should do like you did before, create a PR to update CHANGELOG - then we merge that, then create a tag :)

[2018-06-06 16:41] cdrage commented on #1745
Ahhhh okay.

[2018-06-06 19:20] gravyboat commented on #1753
I'm not familiar with any Python packages which install man pages via pip and would actually be against it due to packaging standards and this being unexpected behavior. Man pages should be handled by distro packages and have specific requirements based on the distro (take the debian docs for example: https://www.debian.org/doc/debian-policy/#manual-pages).

There has also been discussion on this

[2018-06-06 19:38] back-to commented on #1750
https://github.com/streamlink/streamlink/issues/1340
https://github.com/streamlink/streamlink/issues/1391#issuecomment-354275115

[2018-06-06 19:38] #1750 closed

[2018-06-06 19:38] Troyciv commented on #1753
updated this issue to feature request.

just a little FYI, youtube-dl does come with a man page when installed with pip, even when used ``--user``

[2018-06-06 19:38] Troyciv commented on #1753
gg

[2018-06-07 07:47] majuss commented on #1743
Stupid question: how can I view the logs? When I use: `-v -l trace` its still shows nothing in the terminal and I couldn't find a filepath in the source.

[2018-06-07 08:01] beardypig commented on #1743
@majuss `-l trace’ should do it. If you update to 0.13.0 it should work now, previously you needed the dev version from git. You can double check the specific version you have with `--version`.

[2018-06-07 08:14] majuss commented on #1743
`streamlink -l trace https://www.twitch.tv/beyondthesummit best --stream-url` is resulting in just the .m3u URL.

[2018-06-07 11:10] beardypig commented on #1743
@majuss Ah, OK! :) Drop the `--stream-url` as that is silencing the logs :) You can drop `best` too as it should take the same amount of time.

[2018-06-07 19:12] beardypig commented on #1745
Just to update; the `wheel` for `0.13.0` has been remove from PyPI and from the GitHub release, this is because it is broken on Python 2.7.

[2018-06-07 19:33] beardypig commented on #1743
Could try

[code]

too see if start-up is slow...

[2018-06-07 19:38] majuss commented on #1743
[code]

I watched with the IO with `iotop -aoP` but python doesn't r/w anything.

[2018-06-07 19:44] beardypig commented on #1743
We could probably add a bit more trace logs, for loading plugins - I imagine that is slow on the RPi. Maybe you can delete all the plugins except twitch and see then.

[2018-06-07 20:07] Twilight0 opened #1761 "Facebook plugin broke again?"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is

[2018-06-07 20:48] beardypig commented on #1761
Do you need to login for that video?

[2018-06-07 20:55] Twilight0 commented on #1761
No I don't, its public. It must have been something random I guess, but from my tests I am still getting errors.

Error Type: <class 'streamlink.exceptions.PluginError'>
                                            Error Contents: Unable to parse XML: 'NoneType' object is not callable ('<?xml version="1.0"?>\n\n<MPD\n  t ...)
                                            Traceback (most recent call l

[2018-06-07 21:00] Twilight0 commented on #1761
No I don't, its public. It must have been something random I guess, but from my tests I am still getting errors.

    Error Type: <class 'streamlink.exceptions.PluginError'>
    Error Contents: Unable to parse XML: 'NoneType' object is not callable ('<?xml version="1.0"?>\n\n<MPD\n  t ...)
    Traceback (most recent call last):
    File "P:\GitHub\Testers\Krypton\Kodi\portable_data\addons\plugin.v

[2018-06-07 21:38] Twilight0 commented on #1761
I cleaned up python's cache and it appears ok now.

[2018-06-07 22:11] beardypig commented on #1761
Cool, I just tested it and it worked fine too.

[2018-06-07 22:11] #1761 closed

[2018-06-07 23:51] 314pi opened #1762 "[plugin request] http://thvli.vn/live/thvl1-hd/aab94d1f-44e1-4992-8633-6d46da08db42"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [ ] This is

[2018-06-08 01:08] gravyboat commented on #1745
#1758 is now merged.

[2018-06-08 01:18] gravyboat commented on #1762
This issue doesn't contain anywhere near enough information for us to do anything with it, we'll need more details before we can consider it. I also have no idea if this site is legitimate. Looking at it this appears to be a site containing a bunch of Vietnamese TV shows from different areas and doesn't seem legitimate, but I'm not familiar enough with Vietnamese TV to say otherwise, and I can't f

[2018-06-08 19:32] #1728 closed

[2018-06-08 21:20] erich-b opened #1763 "[Plugin] FirstOneTV"
### Checklist

- [] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Website https://www.firstonetv.eu offers lots of channels in good quality.

### Expected / Actual behavior

The site generates m3u8 URLs when beeing accessed by a user agent that does not seem to allow embedded vid

[2018-06-09 01:14] gravyboat commented on #1763
This site is just hosting stolen content and we've been taking the stance to avoid adding any more sites like this.

[2018-06-09 01:14] #1763 closed

[2018-06-09 03:15] iball commented on #1728
C:\WINDOWS\system32>streamlink -l debug "https://www.youtube.com/channel/UCQeWZ0ninG-2pzlaenh2ECw" best
[console][debug] OS:         Windows 10
[console][debug] Python:     3.5.2
[console][debug] Streamlink: 0.13.0
[console][debug] Requests(2.18.4), Socks(1.6.7), Websocket(0.48.0)
[console][info] Found matching plugin youtube for URL https://www.youtube.com/channel/UCQeWZ0ninG-2pzlaenh2ECw
[plugin

[2018-06-09 03:16] iball commented on #1728
The link above goes to this:

{
 "error": {
  "errors": [
   {
    "domain": "youtube.quota",
    "reason": "quotaExceeded",
    "message": "The request cannot be completed because you have exceeded your \u003ca href=\"/youtube/v3/getting-started#quota\"\u003equota\u003c/a\u003e."
   }
  ],
  "code": 403,
  "message": "The request cannot be completed because you have exceeded your \u003ca href=\"/

[2018-06-09 03:33] iball commented on #1728
Updated the YouTube plugin using the newly-modified files from 8 hours ago with the latest 13.0 version of Streamlink and YouTube live now works.
Thanks!

[2018-06-09 05:14] erich-b commented on #1763
So Filmon doing the same thing in worse quality and also charging money for most channels is ok, but firstonetv is not?!

[2018-06-09 05:54] sokkycakes opened #1767 "ustream plugin broken"
Ustream plugin cannot get a stream, it returns this error:

[code]

[2018-06-09 06:52] gravyboat commented on #1763
Filmon has existed as a plugin for quite some time. As I noted above we want to avoid adding any MORE plugins like this. Not adding new plugins is a lot easier than removing old ones that are already supported.

[2018-06-09 10:14] johnthecracker commented on #1763
Sadly, there are too few developers here and too many demands.

There are streamlink forks starting to emerge, you may find it if you look for it.

You may ask the same thing there, who knows.

Your provided some good information in Expected / Actual behavior.

Cheers.

[2018-06-09 11:05] beardypig commented on #1763
The legality of this type of website is a bit of a grey area. TV companies have tried to remove channels from FilmOn, but have mostly be denied by the courts (in the US). It seems like channels that are broadcast “free to air” are fair game, encrypted channels (without license) are not.

@gravyboat I think we should write up a policy for which type of sites we want to support. It would be good to

[2018-06-09 11:11] beardypig commented on #1767
Looks like something has changed with their m3u8 playlists, I will take a look. Thanks for the report @sokkycakes.

[2018-06-09 11:18] stefan327 opened #1768 "[plugin improvement] bigo url with dot inside username not working"
### Checklist

- [] This is a bug report.
- [] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
Can not stream bigo URLs with a dot inside user name

### Reproduction steps / Explicit stream URLs to test

Example:
http://www.bigo.tv/WARANYA.B
http://www.bigo.tv/nomlay_jj.

### Logs
Result:
No plugin can handle

[2018-06-09 13:13] majuss commented on #1743
So I cloned the repo, deleted all plugins except twitch and ran the setup.

[code]

[2018-06-09 13:41] ChristianAylward opened #1770 "Add an option to disable the download progress log message"
### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Apart from regular console use, I also run Streamlink from Java (through a Java Process) and redirect the system output & error streams to Java. If I tell Streamlink to use a player, all is fine. However, if I tel

[2018-06-09 15:45] Twilight0 commented on #1763
Most streams if not all are legit as I can see because they are public ones. A good chance to try and make my first plugin, although this site does not "host" plain m3u8 only, they have youtube ones, like this:
https://www.firstonetv.net/Live/Greece/ERT1-(EPT1)-3

[2018-06-09 16:43] wiemar7 commented on #734
little info
url to profile like: https://showup.tv/user123
someone making java script:
`javascript:(function(){window.prompt("Gotowa komenda :) Skopiuj CTRL+C",'rtmpdump -r "rtmp://5.135.128.167/liveedge/'+transmission.streamID+'" -o "'+document.location.pathname.replace(/\//g,"")+"_"+(+(new Date/1e3)).toFixed(0)+'.flv"')})()`
when user123 start streaming we use this script to get:
rtmpdump -r "rt

[2018-06-09 18:40] aykuter opened #1772 "Usage of ustv plugin ?"
Hey guys! I'm struggling with ustvnow plugin and i couldn't figure it out. Username checked password checked but what is station code ? How can i find it ? Is that enough to use it ? Thanks.

[2018-06-09 19:52] gravyboat commented on #1763
@beardypig Yeah we definitely need to get some sort of policy out regarding this. My issue with many sites like this the streams are already available fro free elsewhere (and a lot of the time supported by other plugins) so why do we need to support a site that is simply streaming content that's already available? It's just a waste of time and bloats Streamlink while providing almost no benefit. W

[2018-06-09 19:58] gravyboat commented on #734
I'm going to close this. A while back we decided we don't want to add any more cam sites.

[2018-06-09 19:58] #734 closed

[2018-06-09 20:19] beardypig commented on #1770
I think the best thing here would be to only show that progress counter when there is a valid terminal to write to (can also remove it when using -q). Then you can set the log level to warning and still get those messages.

[2018-06-09 20:57] beardypig commented on #1772
Unfortunately you need to know the station code, which is the internal name for the channel. They are a bit cryptic, but if you the url and don’t give a station code it should print them out.

[2018-06-10 02:47] aykuter commented on #1772
Thanks for the reply. I don't get it should i enter url to streamlink for print them out ? I can't actually get any link ustvnow made you watch all channels in home screen. Can you please give me a little more detail ?

[2018-06-10 04:37] nOLanSea commented on #1733
No one knows ?

[2018-06-10 08:15] beardypig commented on #1772
Did you try anything? `streamlink http://watch.ustvnow.com/` with the username and password?

[2018-06-11 00:39] tgmasterx1987 commented on #1767
Same Problem on Desktop, but on Android works all fine...
Solution: uninstall ffmpeg, then ustream links working again. But Video only! It seems to be ibm stream audio over different stream... :/
If the stream over the site the chunk files are no hls files. they are mov (e.g. Quicktime) files...

[2018-06-11 01:33] Ordval commented on #1772
O.K. , really, really sorry to bother you **beardypig**,  but put in a command line (argument?)
how would it (precisely) look ?
[code]
The input in cmd won't accept a password so I had to leave the field empty.

--ustvnow-email=xxx --ustvnow-password=xxx
 ustvnow username: xxx  USTV Now account password: xxx  etc., etc. won't work,
 so how ?

[2018-06-11 06:56] beardypig commented on #1772
@Ordval that should work, could you file a bug ?

[2018-06-11 09:19] beardypig commented on #1767
@sokkycakes Could you give an example of the streams that fail with this error? I have tried a few, but I cannot find one that doesn't work.

[2018-06-11 09:57] campones opened #1774 "401 forbidden when on ubuntu"
[x] I have read the contribution guidelines und used the search function to find already existing threads.

Description

When I try to restream an iptv channel, a demo link that is supposed to work only on vlc (I setup user agent vlc), then I tried on the shell of my ubuntu server, and I get a 401 client forbidden. While doing the same with the windows run command, it works just fine.

[code]

Is

[2018-06-11 10:32] beardypig commented on #1774
Looks like you don't have a space between `VideoLAN"` and `-O`, linux will read this as part of the User-Agent, where as Windows will not. So, I think if you put in a space it should work.

[2018-06-11 10:34] campones commented on #1774
Yes I should try to correct this.  Thanks

[2018-06-11 12:43] back-to commented on #509
website is not reachable and got removed in https://github.com/streamlink/streamlink/pull/1766

[2018-06-11 12:43] #509 closed

[2018-06-11 12:46] back-to commented on #1749
for `hls` see above

for other duplicate of #68

[2018-06-11 12:46] #1749 closed

[2018-06-11 12:48] back-to commented on #1698
as it's solved https://github.com/termux/termux-packages/issues/2456

closing

[2018-06-11 12:48] #1698 closed

[2018-06-11 12:54] back-to commented on #1733
you could use https://mpv.io/

[code]

the video is split into **14 m3u8 urls**, so it's a bit ugly for streamlink

[2018-06-11 14:30] back-to commented on #655
the original website got already replaced with a different one.

The new website is not really accessible,
so I don't see someone adding support for this website in the near future.

closing

[2018-06-11 14:30] #655 closed

[2018-06-11 14:41] campones commented on #1774
Nope, that wasn't the reason.  I guess he banned ip range (datacenter) to use his service..  I m trying from a small swiss vps and it works with the following command

` livestreamer --yes-run-as-root "httpstream://http://xxx:8080/live/xxx/xx/xx.ts" best --http-header "User-Agent=VLC/3.0.3 LibVLC/3.0.3" -O | /usr/local/bin/ffmpeg -re -i pipe:0 -c:v copy -c:a libfdk_aac -f flv "rtmp://xxxx"`

[2018-06-11 14:42] campones commented on #1774
(I couldn't install streamlink for some odd reason on the vps reason I used livestreamer but this is unrelated)

[2018-06-11 14:43] back-to commented on #1767
http://www.ustream.tv/channel/18525677  from https://github.com/streamlink/streamlink/issues/1653

[code]

---

and http://www.ustream.tv/channel/live-iss-stream works only for 20 sec or won't start at all

[code]
because `[stream.hls][debug] Reloading playlist` won't get any new data

[2018-06-11 15:26] beardypig commented on #1774
I will close this, as you seem to have fixed it yourself :)

[2018-06-11 15:26] #1774 closed

[2018-06-11 15:26] beardypig commented on #1767
Thanks @back-to

[2018-06-11 15:31] ischmidt20 opened #1776 "[Feature Request] Option to play/output audio only from a video stream"
----

### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

I think a great additional feature would be to add an option to only play the audio track from a given stream. This would be a great option for someone who just wants to listen to say, a sports game, but he'

[2018-06-11 15:39] beardypig commented on #1776
This would only be possible with a small subset of streams. Most streams have the video and audio muxed together (that is, combined in the same data stream) and to discard one you still need to download both.

This is changing now though, as streaming providers move towards DASH streams which generally have a separate audio and video track - for these streams (and some HLS streams), it would work

[2018-06-11 16:25] lki2019 opened #1778 "What is the command to parse the live source address?"
What is the command to parse the live source address?

For example: I want to parse https://www.douyu.com/520 this live source and export it to local e://1.txt

[2018-06-11 16:44] back-to commented on #1778
this https://streamlink.github.io/cli.html#cmdoption-stream-url ?

[2018-06-11 17:34] Ordval commented on #1772
I've never written a bug file nor a report, however, the "Submit new issue"-button is greyed out,
also for the form in its original state.

[2018-06-11 18:35] gravyboat commented on #1776
@beardypig For the time being I'd say we close this since there's nothing we can do until the stream itself supports it (Twitch is a good example of a site that does support audio only). It's a feature request that is blocked by providers and an individual issue should probably be opened for each item.

[2018-06-11 18:39] #1762 closed

[2018-06-11 18:40] Ike348 commented on #1776
@gravyboat @beardypig Fair enough. I forgot that it doesn't really matter that VLC or ffmpeg distinguishes streams when a lot of times all you can do to get any stream is download a segment file that already has both.

[2018-06-11 22:23] aykuter commented on #1772
I tried this one (i see this arguments on streamlink's webpage) :
`streamlink http://watch.ustvnow.com/ --ustvnow-username xxxx@xxxx.com --ustvnow-password xxxxx`
but it's giving me error :
`streamlink-script.py: error: unrecognized arguments: --ustvnow-username xxx@xxxxx --ustvnow-password xxxxxx`

And i tried @Ordval suggestions too but failed.

`error: No plugin can handle URL: http://watch.ust

[2018-06-11 23:10] lki2019 commented on #1778
@back-to
Not。

streamlink --stream-url https://www.douyu.com/nvliu >e:\1.txt

The result of the export is：Available streams: source_http, low (worst), medium, source (best)

This is not what I want

==========================

http://hls3.douyucdn.cn/live/156277rT0JMz7x1A/playlist.m3u8?wsSecret=1aa057a292704da5ed61811cb5d281a8&wsTime=1528758481&ct=app-wp

What I want is the resolved address。。Expor

[2018-06-11 23:20] back-to commented on #1778
you have to provide a quality

`streamlink URL best --stream-url > 1.txt`

you can also use `--json`

`streamlink URL best --json > 1.txt`

[2018-06-11 23:29] lki2019 commented on #1778
I get it, thank

[2018-06-11 23:33] #1778 closed

[2018-06-11 23:35] beardypig commented on #1772
@aykuter looks like you are not using the latest version, you should upgrade to 0.13.0 to get the ustvnow plugin.

[2018-06-11 23:36] beardypig commented on #1772
@Ordval this link doesn’t work? https://github.com/streamlink/streamlink/issues/new

[2018-06-12 00:01] aykuter commented on #1772
@beardypig I updated it and i'm taking this output:
[code]
It's starts playing but saying me stream ended after 4-5 seconds

[2018-06-12 01:32] Ordval commented on #1772
@**beardypig**

Still greyed out. Do the acceptance of cookies play any role in this ? Well, restarted  Firefox.
Reload of the page makes the button highlight for a moment, then greys down.

[2018-06-12 01:36] jshir commented on #1767
#1777 does not seem to resolve the problem of no audio stream being output. I have the same problem as tgmasterx1987.
Testing http://www.ustream.tv/channel/rdaextra and http://www.ustream.tv/channel/rainbowtownfm and they both do this.
Don't know if it warrants a separate issue.

[2018-06-12 01:54] Ordval commented on #1772
Following **aykuter**'s example, with and without `--default-stream`, I also get it to open
but only with the worst quality:
[code]

[code]
I usually use “Video Download Helper” to get maximum quality,
We have installed Streamlink to different directories, does that play any role ?
I just let S. install itself where it wants to, doing it: uninstall, reinstall.

@**aykuter** Do you have a paid for

[2018-06-12 02:36] liamkennedy commented on #1767
Looks like this is the issue that is most related to mine (I think).  Ustream channels quit after 15 seconds or so.  Let me know if I can help with testing a fix (wish I could help actually come up with the FIX.. but alas.. that's a little out of my capabilities).  The PR for #1777 definitely does not fix the "reloading playlist"  issue for me (I implemented the PR for ustreamtv.py on 0.13.0 just

[2018-06-12 02:39] MediaJunkie1 opened #1779 "[Plugin Request] MTV.com"
### Checklist

- [] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

I believe it would be a quality addition to add a plugin for MTV (http://www.mtv.com/live-tv) so users would be able to quickly and easily dvr their live shows.  Not only from MTV, but many other services.  (There'

[2018-06-12 04:28] bastimeyer commented on #1772
You have to enter a title and edit the template in order to be able to submit an issue.

[2018-06-12 04:30] bastimeyer commented on #1779
Duplicate of #336.

[2018-06-12 05:19] Ordval commented on #1772
Embarrassing.  Could you see my awkward mistake with the title ?
Seems perhaps **aykuter** have rectified this topic's problem
so I'll have to wait and see if **beardypig**  still want the, I suppose, Bug report.

[2018-06-12 05:32] gravyboat commented on #1779
I'm going to close this one out since it's a duplicate. @MediaJunkie1 We've discussed this a bit here: https://github.com/streamlink/streamlink/issues/1656#issuecomment-389319380 and why we aren't supporting it. Thanks for making a thorough issue!

[2018-06-12 05:32] #1779 closed

[2018-06-12 05:34] gravyboat commented on #1767
@liamkennedy Are you getting any useful output if you run Streamlink with `-l debug` or is it just the typical stuff that then shows the playlist failing to reload?

[2018-06-12 06:21] liamkennedy commented on #1767
@gravyboat Yeah.. just getting the usual stuff showing a few segments loading.. then goes in to the "Reloading playlist" loop

repost of my comment on #1777

[2018-06-12 06:50] markosjal opened #1780 "Vaughn Live returns invalid links"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [X] I have read the contribution guidelines.

### Description

...

### Expected / Actual behavior

...

### Reproduction steps / Explicit stream URLs to test

1. streamlink https://vaughnlive.tv/everything80s --stream-url --best >>my.m3u
2. streamlink https://vaughnlive.tv/f

[2018-06-12 07:11] beardypig commented on #1780
Vaughnlive changed the port number for their rtmp servers the other week, I think this was fixed in 0.13.0. Make sure you are using the latest version of streamlink.

[2018-06-12 07:30] beardypig commented on #1772
@Ordval better to file a report, otherwise you’re issue will get lost :)

[2018-06-12 07:33] beardypig commented on #1772
Only some streams are available at 720p, and some channels you need to subscribe. From what I saw (don’t have a subscription) I could only get pretty low quality streams.

[2018-06-12 08:57] techmouse commented on #1780
I've been having problems with it too, even when using port 2935.

[code]

[2018-06-12 14:40] aykuter commented on #1772
@Ordval I created my account 1 week ago and it's free not paid.
@beardypig I tried this script too with my free account. It's creating m3u8 file but i can't watch it with vlc player. Owner of script says :

So when i try to watch it with another m3u8 player it's working perfectly on 720p quality without any freeze problem. I don't have much experience but streamlink's problem will be user-agent fo

[2018-06-12 15:01] Ordval commented on #1772
@**aykuter**
Most likely your account will change to lower quality's after a month or so.
Now I suspect, you can use all of their channels ?

[2018-06-12 15:14] aykuter commented on #1772
@Ordval Nope i only have 6 channels available. I will create new account after a month it's no big deal for me.

[2018-06-12 15:21] Ordval commented on #1772
Do you use a new e-mail address each time ?

[2018-06-12 16:07] BZHDeveloper opened #1781 "plugins : CanalPlus / CNEWS split"
Hi all.

- I am writing a plugin for cnews, changes in the CanalPlus plugin would be too ugly and complex, so I split plugin and move the CNEWS part in a new plugin.
- Can someone test my work ? https://github.com/BZHDeveloper/streamlink . There seems to be a 403 error with any URL that is supposed to be compatible ( example : http://www.cnews.fr/emission/2018-06-12/toute-lactu-2e-debat-du-1206201

[2018-06-12 16:23] beardypig commented on #1781
Probably best to create a PR for the changes, then we can all directly review/suggest improvements :) Don’t be shy about opening incomplete PRs - you/we can add the WIP tag too.

[2018-06-12 16:34] BZHDeveloper commented on #1781
ok :)

[2018-06-12 16:34] #1781 closed

[2018-06-12 17:15] Ordval opened #1783 "[Bug] USTV won't accept Password."
- [x] This is a bug report.

### Description
According to **beardypig**, putting "streamlink.exe "http://watch.ustvnow.com/watch/<here: any free channel>" best" (or with `--default-stream best`)
in a cmd, then being asked:
"Enter ustvnow username: xxxxx@xxx.xx
Enter USTV Now account password: xxxx"  should work.
[code]
The input in cmd won't accept a password (not even through a batch)
so I had to

[2018-06-12 17:35] yoya3312 commented on #1780
The first 3 bytes of the given stream should be 'FLV' instead of 'MVN'.

[2018-06-13 04:39] danpilch opened #1788 "ITV player uses DASH"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Expected / Actual behavior
running streamlink against itv player does not work for new streams as they use DASH encoding. Is there any way to get dash working with itv player?

[code]

### Logs

_Logs are always required for a

[2018-06-13 04:45] IgelRM opened #1789 "Twitch closed captions support"
Support for [Twitch closed captions](https://help.twitch.tv/customer/portal/articles/2564215) (subtitles) would be nice.

----

### Checklist

- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

[2018-06-13 09:34] beardypig commented on #1788
@danpilch the VOD streams that I have seen that are DASH are protected by ClearKey DRM - at this time, DRM (even ClearKey) is not supported. However, it might be worth adding ClearKey support, as this is similar to the basic encryption supported by HLS streams.

[2018-06-13 11:07] beardypig commented on #1789
I could only find one stream with closed captions was Twitch Presents showing Doctor Who. The closed captions are muxed in to the stream and are picked up by mpv.

Did you have a counter example where the closed captions do not work?

[2018-06-13 11:56] back-to commented on #1789
works also with vlc, you will have to **enable it manually** or with player args automatically

[code]

[code]

[2018-06-13 13:25] Twilight0 opened #1793 "PyCharm complains of invalid syntax for Python 2.7.15, plugin btsports"
### Description

PyCharm complains of invalid syntax for Python 2.7.15, plugin btsports, i.e. super() must have arguments,  [line #38](https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/btsports.py#L38)

    def __init__(self, url):
        try:
            super().__init__(url)
        except SyntaxError:  # This is my input for the forked sl implementation on Kodi.

[2018-06-13 13:37] beardypig commented on #1793
Yeah, should have the arguments - works in Python 2 and 3.

[2018-06-13 13:47] MediaJunkie1 commented on #1779
Hi Gravy Boat.  Thank's for addressing.

I understand this is off-topic for streamlink, however perhaps you could provide some guidance on how I may begin to fix this issue.

Youtube-dl work around seems to not support live stream on these websites , only VOD.   When attempting to use the live stream url (ex. mtv.com/live-tv), the script just dumps the entire page html in to a file.

I've watched

[2018-06-13 15:48] fadster commented on #1780
Up until last week, I was able to play the streams directly in vlc by opening the URL passed to flv.js, namely: `https://mp4.vaughnsoft.net/live?app=live&port=2935&stream=live_<channel_name>` (also specifying the appropriate referrer). Something was then changed on the site and this method now fails with codec errors as playback is attempted. I'm assuming this is due to the modification of the fir

[2018-06-13 16:48] Ordval commented on #1783
Pasting it exactly as it is in the batch or cmd won't take,
writing it however will not show any imprint, but it _does_ make it open.

But you managed without ?

Well, as long as there is some working solution we have to be content,
but here was the report anyway.

[2018-06-13 17:13] Twilight0 commented on #1793
My point is that they don't have any arguments now. Can we change that? The except statement I have in the comment is only found in my fork.

[2018-06-13 17:41] Vangelis66 commented on #1788
@beardypig
Hello 😃
I urge you to be careful in the way you modify the ITV plugin...
For LIVE ITVHub streams,
[code]
streamlink still uses a legacy playlist API
[code]
that returns RTMPE streams;
at this time of posting, it appears that it is only for ITV1+ITV4 that the
old API returns working streams (for the rest, you get errors of the type:
[code]
The advantage of the old live API is it can be a

[2018-06-13 19:19] beardypig commented on #1793
Yeah, I’m saying it correct to change it - it’s currently broken. Do you want to open a PR? You don’t need the try..except as with the arguments will work in both python 2/3.

[2018-06-13 19:21] #1780 closed

[2018-06-13 20:18] beardypig commented on #1783
No, I used an account - it’s just not a paying account.
Did you fix it then? If you type the password is works? It shouldn’t print anything to the console (the standard behaviour for passwords).

[2018-06-13 20:32] beardypig commented on #1788
@Vangelis66 quite the essay, as usual ;)

I can leave the rtmp/hds streams intact, it’s quite easy as they have changed it a bit so you don’t need to build the silly SOAP request. In the current PR, only HLS streams are returned - they are on akamai so I imagine they are geoblocked (I didn’t try as I have a proxy configured by config file).
As for the DASH streams; they use DRM, but ClearKey is an

[2018-06-13 20:48] Twilight0 commented on #1793
Done https://github.com/streamlink/streamlink/pull/1796

[2018-06-13 21:04] Ordval commented on #1783
Yes on both.
This is how I've put it in my batch:
`call streamlink.exe "http://watch.ustvnow.com/" --ustvnow-username xxxxx@xxxx.xx  --ustvnow-password xxxxxx --ustvnow-station-code whphd --default-stream best`

Thank You !

[2018-06-13 21:32] IgelRM commented on #1789
Thanks for the helpful information.

It seems I didn't wait long enough for subtitles to appear when I went through the different subtitle channels that are selectable in VLC 3.0.3 64-bit for Windows (The first in the list is also the third channel which doesn't contain anything for some reason).

There is no information about subtitles in the documentation.

This is the command I used (needed to

[2018-06-13 21:32] #1789 closed

[2018-06-13 21:42] #1783 closed

[2018-06-14 07:15] danpilch commented on #1788
@beardypig thanks for your update. I'll look forward to your implementation 😀

[2018-06-14 10:00] #1768 closed

[2018-06-14 11:23] #1793 closed, assigned to nobody

[2018-06-14 11:39] back-to commented on #1683
**just for your interest, nobody here has an account**

if someone wants this feature,
the person must share it with someone who wants to add this feature

---

**at some point** it's not worth to have an **unfixable issue** open
like some of the other Schoolism issues https://github.com/streamlink/streamlink/issues/1046#issuecomment-386712317 _(over one year)_
and it will be closed, so it can dis

[2018-06-14 11:47] back-to commented on #1661
this is more of a **player / encoding issue**,
than a streamlink issue.

closing as it's not a streamlink issue

_there are some more informations above._

[2018-06-14 11:47] #1661 closed

[2018-06-14 12:01] back-to commented on #1462
not sure if this feature should be added to the master branch,
but you can sideload this plugin and it should work for you locally

https://streamlink.github.io/cli.html#sideloading-plugins

https://raw.githubusercontent.com/back-to/plugins/master/plugins/hlskeyuri.py

---

the old url parts can be reused **scheme, netloc, path, query**

**example url**

[code]

https://docs.python.org/3/library/u

[2018-06-14 12:52] beardypig commented on #1788
@Vangelis66 OK, I added back the legacy Flash streams - I don't like it cos it bloats the plugin up ... If it was anyone else, I would have said "too bad".

[2018-06-14 13:27] e2pluginss opened #1799 "multiple instances to stdout"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is

[2018-06-14 14:08] beardypig commented on #1799
Can you do two instances without `ffmpeg`?
[code]

Which version of `ffmpeg` are you using?

[2018-06-14 14:10] e2pluginss commented on #1799
yes this works

[2018-06-14 14:14] beardypig commented on #1799
What about piping it to a simple ffmpeg invocation, `ffmpeg -y -i pipe:0 -f mpegts /dev/null` for example - I cannot replicate this issue.

[2018-06-14 14:33] maanich opened #1800 "tvplayer handshake failure"
streamlink --tvplayer-email=hxxxxx@gmail.com --tvplayer-password=xxxxx33 https://tvplayer.com/watch/drama best
[cli][info] streamlink is running as root! Be careful!
[cli][info] Found matching plugin tvplayer for URL https://tvplayer.com/watch/drama
error: Unable to open URL: https://tvplayer.com/account/login ([Errno 1] _ssl.c:510: error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert ha

[2018-06-14 14:44] bastimeyer commented on #1799
The issue here is that ffmpeg is stopping due to invalid arguments and not because of a Streamlink related issue (see `[Errno 32] Broken pipe, exiting`). If the second process of the pipe fails, so does Streamlink.

This also looks like a re-broadcast/distribution of the streams stolen from tvcatchup.com on a private server (being run as root) which then get published via HLS (https://ffmpeg.org/f

[2018-06-14 14:49] beardypig commented on #1799
I think tvcatchup is legit :) I also think this is a perfectly valid use case for ffmpeg on an e2 box.

@e2pluginss double check your ffmpeg command :)

[2018-06-14 14:52] bastimeyer commented on #1799
I don't know what an e2 box is, but we've got similar questions in the past and every time I receive those mails from people trying to pay for something they don't want to discuss publicly, it just sounds fishy, you know.

[2018-06-14 14:58] beardypig commented on #1800
Try with `--http-no-ssl-verify`, looks like you might be running on an old OS version with old certs.
It helps if you include a debug log, because we can see which version of Streamlink, what OS, etc. you are running and this helps us to help you.

[2018-06-14 15:05] beardypig commented on #1799
@e2pluginss you might want to look at the [LiveProxy](https://github.com/back-to/liveproxy) project from @back-to as well.

[2018-06-14 15:09] e2pluginss commented on #1799
Was just looking for some tuitions as i didn't think this was a software issue and im quite a noob at this stuff, so didn't think it was appropriate to use the issue tracker

[2018-06-14 15:14] maanich commented on #1800
thanks i will try i m using ubuntu 14 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: beardypig <notifications@github.com> Date: 14/06/2018  15:58  (GMT+00:00) To: streamlink/streamlink <streamlink@noreply.github.com> Cc: maanich <manigorgeous@gmail.com>, Author <author@noreply.github.com> Subject: Re: [streamlink/streamlink] tvplayer handshake failure (#1800)
Try

[2018-06-14 15:20] back-to commented on #1800
you can find a solution at https://github.com/requests/requests/issues/2022

duplicate of https://github.com/streamlink/streamlink/issues/1597

[2018-06-14 15:30] beardypig commented on #1800
Ubuntu 14.04? is pretty old now - you are likely running in to the issue that @back-to has linked to.

[2018-06-14 16:10] maanich commented on #1800
well cant change as running a server alot 9f stuff in it will try once i back from ground

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: beardypig <notifications@github.com> Date: 14/06/2018  16:30  (GMT+00:00) To: streamlink/streamlink <streamlink@noreply.github.com> Cc: maanich <manigorgeous@gmail.com>, Author <author@noreply.github.com> Subject: Re: [streamlink

[2018-06-14 16:11] back-to commented on #1704
if you want to use **Kodi** and a **m3u** file,
I could get you a Guide for `Kodi v18 "Leia" nightly`

but thats maybe not what you want.

[2018-06-14 16:20] back-to commented on #1549
@dreamboxco
If you want, you can send me an email with your login informations
and I will take a look if there are m3u8 urls.

you can find the email here
https://gist.github.com/back-to/febd930985447e07d95345c0d5a7cf93

[2018-06-14 18:35] beardypig commented on #1549
The question is, is it SmoothStreaming? I started work on supporting that too :)

[2018-06-14 20:34] maanich commented on #1800
streamlink -l debug --tvplayer-email hxxx@gmail.com --tvplayer-password xxx3 --http-no-ssl-verify hls://https://tvplayer.com/watch/drama best
[cli][info] streamlink is running as root! Be careful!
[cli][info] Found matching plugin stream for URL hls://https://tvplayer.com/watch/drama
[cli][info] Available streams: live (worst, best)
[cli][info] Opening stream: live (hls)
[stream.hls][debug] Reload

[2018-06-14 20:39] maanich commented on #1800
streamlink 0.7.0
 ubuntu 14 64 bit

[2018-06-14 22:35] maanich commented on #1800
usinng proxy as its geo restricted    proxy ok with web browser
treamlink --http-proxy "http://xxxx.xxxx.xxxx:8000/" --tvplayer-email xxx@gmail.com --tvplayer-password xxxx--http-no-ssl-verify https://tvplayer.com/watch/drama
[console][info] streamlink is running as root! Be careful!
[console][info] Found matching plugin tvplayer for URL https://tvplayer.com/watch/drama
error: Unable to open URL:

[2018-06-14 22:36] maanich commented on #1800
streamlink --http-proxy "http://xxxxxxx2:8000/" --tvplayer-email xxxx@gmail.com --tvplayer-password xxxxhttpstream://https://tvplayer.com/watch/drama best
[console][info] streamlink is running as root! Be careful!
[console][info] Found matching plugin http for URL httpstream://https://tvplayer.com/watch/drama
[console][info] Available streams: live (worst, best)
[console][info] Opening stream: liv

[2018-06-14 22:48] maanich commented on #1800
streamlink -l debug --tvplayer-email xxxx@gmail.com --tvplayer-password xxxx https://tvplayer.com/watch/dave best
[cli][info] streamlink is running as root! Be careful!
[cli][info] Found matching plugin tvplayer for URL https://tvplayer.com/watch/dave
[plugin.tvplayer][debug] Getting stream information for resource=dave
error: Unable to open URL: http://api.tvplayer.com/api/v2/stream/live (400 Cli

[2018-06-14 22:53] beardypig commented on #1800
Try with `--https-proxy` set to the same value as `--http-proxy`.

[2018-06-14 23:58] maanich commented on #506
anyluck with  yupptv.com plugin

[2018-06-15 01:00] #1516 closed

[2018-06-15 02:02] maanich commented on #1800
https://tvplayer.com/watch/natgeowild
but this doesnt owrk and some other from tvplayer not work too
manifest file while debug
Request URL: https://plus-secondary.tvplayer.com/tiana/natgeowild/bitrate1.isml/Manifest.mpd
Request Method: GET
Status Code: 200  (from disk cache)
Remote Address: 54.230.9.144:443
Referrer Policy: no-referrer-when-downgrade
accept-ranges: bytes
access-control-allow-crede

[2018-06-15 04:15] ryanjgillies opened #1801 "ImportError: cannot import name __version__"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

I've been using the PPA version of streamlink provided by WebUpd8, but realised (today of all days, just before the World Cup) that it's still on 0.9.0 and Streamlink has progressed to 0.13.0 since then.

So I uni

[2018-06-15 05:18] ryanjgillies commented on #1801
I have no idea what the issue was, but this can be closed now.

I uninstalled streamlink and reinstalled via pip. After a brief cffi version mismatch issue, the problem has now been resolved and everything is functioning perfectly again!

[2018-06-15 10:59] beardypig commented on #1800
The `tvplayer` plugin does not support DASH, also all the DASH streams from TVPlayer.com are protected by DRM - which is also not supported by Streamlink. These channels (the subscription channels + channel 5) will not work (and will likely never work) with Streamlink.

[2018-06-15 11:17] maanich commented on #1800
tvplayer we can get only free channels?

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: beardypig <notifications@github.com> Date: 15/06/2018  11:59  (GMT+00:00) To: streamlink/streamlink <streamlink@noreply.github.com> Cc: maanich <manigorgeous@gmail.com>, Author <author@noreply.github.com> Subject: Re: [streamlink/streamlink] tvplayer handshake failure (#1800)
Th

[2018-06-15 11:20] beardypig commented on #1800
Correct. The rest are protected by DRM.

[2018-06-15 11:48] maanich commented on #1800
is filmon fully supported with streamlink

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: beardypig <notifications@github.com> Date: 15/06/2018  12:20  (GMT+00:00) To: streamlink/streamlink <streamlink@noreply.github.com> Cc: maanich <manigorgeous@gmail.com>, Author <author@noreply.github.com> Subject: Re: [streamlink/streamlink] tvplayer handshake failure (#1800)

[2018-06-15 15:05] beardypig commented on #1800
@maanich the `filmon` plugin supports free channels, there is no support for login - you can request support for authentication in a separate issue.

This issue is going off topic, I believe the original question has been answered and as such I will close this issue.

[2018-06-15 15:05] #1800 closed

[2018-06-15 20:36] beardypig commented on #506
@digitalcelery @raulsifra @maanich sorry for the delay - I have created a plugin for yupptv. Maybe you can help test it? It’s on this PR #1805

[2018-06-15 21:29] maanich commented on #506
what i need to do is to reinstall streamlink to try

Raja Imran Aslam

On Fri, Jun 15, 2018 at 9:36 PM, beardypig <notifications@github.com> wrote:

[2018-06-15 21:53] maanich commented on #506
streamlink --YuppTv-email=xxx@gmail.com --YuppTv-password=xxxx --http-no-ssl-verify https://www.yupptv.com/channels/etv-telugu/live best

cant work whats the right format to do that

ido upgrade streamlink but looks like u hvnt implement it yet  please let me know how to upgrade streamlink with the plugin.

[2018-06-15 22:06] beardypig commented on #506
The arguments should be lowercase, `--yupptv-email` and `--yupptv-password`.

But, you'll have to manually install [yupptv.py](https://raw.githubusercontent.com/beardypig/streamlink/7bbfb2a79ffd3a9c692333d8242faf257139e3a5/src/streamlink/plugins/yupptv.py) to use the plugin, you will also need to "sideload" it. Please refer to the documentation on [sideloading plugins](https://streamlink.github.io

[2018-06-15 22:29] maanich commented on #506
git clone git://github.com/streamlink/streamlink.git

i added yupptv.py in streamlink/plugins manual to
/root/streamlink/src/streamlink/plugins/

then run this..

cd streamlink
python setup.py install

is it the right path or do i need some other way  thanks

Raja Imran Aslam

On Fri, Jun 15, 2018 at 11:07 PM, beardypig <notifications@github.com>
wrote:

[2018-06-15 22:32] beardypig commented on #506
@maanich that should work too :) If you do `streamlink --help` are the `yupptv` options listed?

[2018-06-15 22:38] maanich commented on #506
streamlink --yupptv-email xxxx@gmail.com --yupptv-password xxxx4
--http-no-ssl-verify https://www.yupptv.com/channels/etv-telugu/live
--player-no-close --stdout | /var/tmp/youtube/ffmpeg -y -i pipe:0 -vcodec
copy -acodec copy -flags -global_header -hls_flags delete_segments
-hls_time 10 -hls_list_size 6 /mnt/hls/ind.m3u8
ffmpeg version 4.0-static https://johnvansickle.com/ffmpeg/  Copyright (c)
20

[2018-06-15 22:47] maanich commented on #506
yupptv option not shown with help

Raja Imran Aslam

On Fri, Jun 15, 2018 at 11:32 PM, beardypig <notifications@github.com>
wrote:

[2018-06-15 22:53] beardypig commented on #506
[--plugins](https://streamlink.github.io/cli.html#cmdoption-plugins) - the docs are your friend.

[2018-06-15 23:08] maanich commented on #506
while compiling

byte-compiling build/bdist.linux-x86_64/egg/streamlink/plugins/vaughnlive.py
to vaughnlive.pyc
byte-compiling build/bdist.linux-x86_64/egg/streamlink/plugins/yupptv.py to
yupptv.pyc
byte-compiling build/bdist.linux-x86_64/egg/streamlink/plugins/__init__.py
to __init__.pyc
byte-compiling build/bdist.linux-x86_64/egg/streamlink/plugins/camsoda.py
to camsoda.pyc

copying build/lib.li

[2018-06-16 00:32] beardypig commented on #506
Can you provide a debug log? (include the `-l debug` option.)

[2018-06-16 01:00] maanich commented on #506
streamlink -l debug --yupptv-email xxxx@gmail.com --yupptv-passwordrrrrrr
--http-no-ssl-verify https://www.yupptv.com/channels/bbo/live best
--player-no-close --stdout | /var/tmp/youtube/ffmpeg -y -i pipe:0 -vcodec
copy -acodec copy -flags -global_header -hls_flags delete_segments
-hls_time 10 -hls_list_size 6 /mnt/hls/ind.m3u8
ffmpeg version 4.0-static https://johnvansickle.com/ffmpeg/  Copyright

[2018-06-16 01:08] MediaJunkie1 commented on #1779
Thanks Gravyboat.   :)

[2018-06-16 02:38] balalaXD opened #1806 "How to resume last failed download?"
### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

When i download a **_Youtube_** video, say maybe 100GB, then at 50GB the download was failed, complaining `[stream.hls][warning] Failed to reload playlist: Unable to open URL: https://manifest.googlevideo.com/*`
H

[2018-06-16 08:18] BullHorn7 opened #1807 "Piping video into Chrome"
### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

The Streamlink readme says "Streamlink is a CLI utility that pipes flash videos from online streaming services to a variety of video players such as VLC, **or alternatively, a browser**."

There is no documentatio

[2018-06-16 08:52] maanich commented on #506
as i told that in local pc is fine i logged in with same account but same account in vps it says need subscription.

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: beardypig <notifications@github.com> Date: 16/06/2018  02:22  (GMT+00:00) To: streamlink/streamlink <streamlink@noreply.github.com> Cc: maanich <manigorgeous@gmail.com>, Mention <mention@noreply.github.c

[2018-06-16 09:43] beardypig commented on #1807
This is probably referring to `--player-external-http`. Which, in theory, you could use to play in a browser. I’m not aware of any other method that would allow you to do it ...

[2018-06-16 09:46] beardypig commented on #506
I don’t have a subscription, so it’s hard to debug. Make sure you are logged out on the other devices first. It might be because you were logged in on a different IP address shortly before. Try logging out of on your local pc, leaving it 5 minutes, then try on the vps.

[2018-06-16 10:28] maanich commented on #506
do u think ip block can be the issue but i tried on three different vps all
start with 62.210 .xxxxx   will it be the case. or if i  send u the account
privately to debug.

Raja Imran Aslam

On Sat, Jun 16, 2018 at 10:46 AM, beardypig <notifications@github.com>
wrote:

[2018-06-16 10:54] beardypig commented on #506
@maanich, you can send it - but I won't be able to help until next week now. My email address is on my GitHub profile page.

[2018-06-16 14:52] Orsidus opened #1808 "No streams found for newest CR episodes that are only available to premium users"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is

[2018-06-16 16:42] beardypig commented on #1808
I will take a look. Are you in the correct region? It’s not a geoblocked episode is it?

[2018-06-16 16:45] Orsidus commented on #1808
Nope, I'm able to watch it fine through the website.

[2018-06-16 20:02] gravyboat commented on #1808
We've had this happen in the past @beardypig: https://github.com/streamlink/streamlink/issues/1014. @Orsidus Can you try this: `streamlink --crunchyroll-purge-credentials --crunchyroll-username=USER --crunchyroll-password=PASSWORD http://www.crunchyroll.com/my-hero-academia/episode-49-one-for-all-768957 best`

[2018-06-16 20:07] gravyboat commented on #1807
@beardypig That line of documentation hasn't been updated since we started maintaining the project as far as I know, I'm wondering if it just hasn't been updated and is either referring to what you noted, what @BullHorn7 noted with NPAPI, or somehow using Flash player when it used to be built into many browsers by default. I would consider that functionality dead at this point @BullHorn7 and we sh

[2018-06-16 20:15] Orsidus commented on #1808
Excluding the initial line for password reasons.

[code]

[2018-06-16 21:09] Orsidus commented on #1808
@gravyboat Don't take this personally, but unfortunately I don't feel comfortable doing that. However, my suspicion of it being directly linked to the fact the episode is currently not available to free users yet and only to premium users. The issue you referred to earlier the person claimed it said it was working over 2 weeks later than when he made his post.

Episodes on CR switch from being pre

[2018-06-16 21:28] confusionx opened #1809 "Specific streamer can't be played"
## Description
I'm trying to streamlink for shroud, who streams on Twitch. When I put his link into my Terminal, this is what pops up:
I type in: streamlink twitch.tv/shroud
This comes up:
[console][info] Found matching plugin twitch for URL twitch.tv/shroud
error: No playable streams found on this URL: twitch.tv/shroud

When I try it with other streamers, it works, but not with shroud.
Is it that

[2018-06-16 21:40] back-to commented on #1808
you could try to change your locale settings with `--locale en_US`
https://streamlink.github.io/cli.html#cmdoption-locale

but reset your session with `--crunchyroll-purge-credentials`

maybe it changes something.

[2018-06-16 21:45] back-to commented on #1809
which stream url?

works for me

[code]

**could you run**

[code]

[2018-06-16 21:49] gravyboat commented on #1809
I can't duplicate this either, stream works fine for me.

[2018-06-16 22:04] confusionx commented on #1809
Thanks, it works now. I guess there was a weird error before or something.
Could I ask how you get to a specific stream of his? I typed in the name, but this pops up:
$ streamlink twitch.tv/shroud JURASSSIC PAAARRKK
usage: streamlink [OPTIONS] <URL> [STREAM]
streamlink: error: unrecognized arguments: PAAARRKK
Could you help me with this, or should I start a new post?

[2018-06-16 22:10] back-to commented on #1806
i don't think you can easily resume the file,
it fails because **youtube has a timelimit of 6 hours.**

---

but there are two other options

---

**1.** use a script where `"TV.ts"` will have a **timestamp** in  the name, with this you will get different files.

---

**2.** **custom plugin** that will reload your error and the download won't fail

*of course your internet connection is not allowe

[2018-06-16 22:10] Orsidus commented on #1808
[code]

Same result.

[2018-06-16 22:12] back-to commented on #1809
you will have to use the url from your browser

https://www.twitch.tv/videos/272865827

[code]

[2018-06-16 23:01] confusionx commented on #1809
Thank you so much!

[2018-06-16 23:01] #1809 closed

[2018-06-17 10:11] ryanjgillies opened #1810 "eltaott.tv plugin request"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Taiwan has a TV station called ELTA which also has online streams. One of their streams is (legitimately) free World cup coverage at the following URL: https://eltaott.tv/channel/play/110/6

I was able to pull out

[2018-06-17 13:05] RyuzakiKK opened #1811 "Error with nos.nl plugin"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
When I try to open a nos.nl live stream this is the output I get:
[code]

### Expected / Actual behavior
I have a Netherlands IP and I expect to see the stream like in the web browser.

### Reproduction steps / Exp

[2018-06-17 14:39] for-coursera opened #1812 "[plugn request] lrt.lt"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Would it be possible to add a plugin for the Lithuanian National Television? Video streams are located [here](https://www.lrt.lt/mediateka/tiesiogiai/lrt-televizija), [here](https://www.lrt.lt/mediateka/tiesiogiai

[2018-06-17 16:49] balalaXD commented on #1806
Thanks for the reply, FIXED :+1:
btw, you can add line  `export $XDG_CONFIG_HOME=~/local` at your  `~/.bash_profile`

[2018-06-17 22:37] beardypig commented on #1811
@RyuzakiKK you can try out the update plugin from my PR: [nos.py](https://raw.githubusercontent.com/beardypig/streamlink/e217004b4df48b01be79c448f5a94cc6e030adbb/src/streamlink/plugins/nos.py)

[2018-06-17 23:03] maxj88 commented on #1763
@gravyboat
Yeah, FirstOne TV has many official or public streams, but they also have some quite good and stable HD streams on their own servers.
Like BBC, ITV, France, Italy, German... channels

I found a access token for their API:
https://www.firstonetv.net/api/?action=channel&ctoken=apptest&c=uk&id=4
c is the country code, id is the channel id which can be found on the end of the link.

example

[2018-06-17 23:21] beardypig commented on #1812
You can test out the plugin by downloading and [sideloading](https://streamlink.github.io/cli.html#sideloading-plugins) this file [lrt.py](https://raw.githubusercontent.com/beardypig/streamlink/573e3144025bb73ee73a25fe4a3c316aa367e318/src/streamlink/plugins/lrt.py)

[2018-06-17 23:56] beardypig commented on #1763
They are re-hosting a bunch of streams, the BBC streams for example. They also include a lot of subscription channels, which I cannot believe they have license for... This website is almost certainly *not* legit. It is a simple site to write a plugin for though.

[2018-06-18 00:03] beardypig commented on #1743
That's about the same speed as on my VM, and my PC does it in around 4 seconds. I don't think 6-7 seconds is too bad for a Pi :)

[2018-06-18 00:29] #1812 closed

[2018-06-18 00:48] beardypig commented on #1808
Seems like a similar issue to #1574. @Orsidus, do you have an Android smart phone? If so, could you test out the Android App and see if those premium streams play?

[2018-06-18 04:20] for-coursera opened #1815 "[plugin request] delfi.lt"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

[And just one more, please... :)]

Would it be possible to add a plugin for the [Delfi](https://en.wikipedia.org/wiki/Delfi_(web_portal)) web portal? Video streams' examples can be found [here](http://www.delfi.lt

[2018-06-18 04:29] for-coursera commented on #1812
That was very impressive, @beardypig, thank you so much :).

[2018-06-18 09:01] Ro-Den opened #1816 "Option to restart player"
### Checklist

- [ ] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

I use VLC player and sometimes it immediately crashes before playing a stream.

Is there any option to restart a player without restarting Streamlink?

Or is it possible to add an option like `--player-restart SEC

[2018-06-18 09:31] Orsidus commented on #1808
@beardypig The error I get only ever gets is "No playable streams found on this URL". To update, the link for Food Wars Episode 22 now works but the rest do not as predicted. I have an android phone and just tested that all episodes linked earlier work on the android app.

[2018-06-18 09:57] beardypig commented on #1808
Thanks @Orsidus. It believe it is related to the session ID generation - which was the root cause of #1574 :)

[2018-06-18 10:13] Orsidus commented on #1808
@beardypig Fingers crossed! Thanks for the helped so far, let me know if there's anything else you need testing wise.

[2018-06-18 10:50] beardypig commented on #1815
We'll leave this open until #1817 is merged.

[2018-06-18 12:41] RyuzakiKK commented on #1811
@beardypig I can confirm that with your fix now it works, thanks.

[2018-06-18 13:07] pshotsf opened #1818 "Streaming in vlc"
### Checklist

- [ ] This is a bug report.
- [x ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Ability to stream in HTTP with vlc

### Expected / Actual behavior

I want to stream the live video i get from streamlink with vlc.but i don't find any way to do so

[2018-06-18 13:29] back-to commented on #1799
This is **not a streamlink issue**,
your **ffmpeg** script has an error.

**ffmpeg forums**
https://www.ffmpeg.org/contact.html#Forums

closing

[2018-06-18 13:29] #1799 closed

[2018-06-18 13:30] #1806 closed

[2018-06-18 13:38] back-to commented on #1818
No sure what you really want,
maybe give us some more details.

---

you can select a player with `--player vlc`
https://streamlink.github.io/cli.html#cmdoption-p

**or**

create a HTTP stream with ` --player-external-http`
https://streamlink.github.io/cli.html#cmdoption-player-external-http

[2018-06-18 14:47] ryanjgillies opened #1819 "Plugin(s) subject to DMCA takedown notice"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

I was saddened to read after catching up on the latest streamlink issues that a certain plugin has been removed due to a DMCA notice. I do however totally understand and agree with the developers' decision to avoi

[2018-06-18 14:52] beardypig commented on #1808
@Orsidus are you able to test out a new version of the plugin?

You will have to replace two files [src/streamlink/cache.py](https://raw.githubusercontent.com/beardypig/streamlink/5b519e863d7f383f7f28dd13ab7d6191678dbec2/src/streamlink/cache.py) and [src/streamlink/plugins/crunchyroll.py](https://raw.githubusercontent.com/beardypig/streamlink/5b519e863d7f383f7f28dd13ab7d6191678dbec2/src/streamlink

[2018-06-18 14:56] beardypig commented on #1819
If that plugin still works you can [sideload](https://streamlink.github.io/cli.html#sideloading-plugins) it in to the latest version of Streamlink.

If it doesn't work, and anyone wants to fix it they can. However, do not link to it on the issue tracker.

[2018-06-18 15:12] Orsidus commented on #1808
@beardypig I have updated the python files in my Streamlink installation with the ones you linked and I have tested the following command lines:

[code]

and

[code]

The first one using --locale en_US now works with all of the premium links though it does spam my console a little with https warnings a few times that's not a big issue.

The second however without the --locale en_US results in the

[2018-06-18 15:20] ryanjgillies commented on #1819
@beardypig the current plugin isn't working for me when sideloading, but given the DMCA notice I didn't want to tempt fate by mentioning the name of it or asking for suggestions on how to fix it!

Alternatively if someone else were to sideload and test it, and then feedback whether or not it works for them, I could at least know if its an issue local to me or a problem with the plugin itself.

[2018-06-18 15:22] Orsidus commented on #1808
Apologies for the double post. I ran another test using the following command line

[code]

and this results in the following python error

[code]

[2018-06-18 15:26] beardypig commented on #1808
@Orsidus thanks, can you include the debug logs for those? If you are concerned about credentials you can PM me on gitter.im with some private gists.

[2018-06-18 15:36] Orsidus commented on #1808
Log for the commandline without --crunchyroll-purge-credentials and with --locale en_US:
[code]

Log for with both --crunchyroll-purge-credentials and --locale en_US:
[code]

There seems to be something odd going on, now all of sudden it is also working with --locale en_US but every attempt without purging the credentials first fails with unauthenticated request despite having my credientials in t

[2018-06-18 16:05] uNouss opened #1821 "vrt.nu plugin: doesnt works anymore"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
vrt.nu (Belgian Flemish television) plugin doesnt works anymore

### Expected / Actual behavior
is there a way to fix this issue ?

### Reproduction steps / Explicit stream URLs to test
1.  type command in terminal

[2018-06-18 16:32] beardypig commented on #1808
I think caching the session ID is the problem, I will remove that. I will also update it so that when using a session ID, no login happens.

[2018-06-18 16:35] beardypig commented on #1808
@Orsidus can you try again (you'll have to replace both those files): [src/streamlink/plugins/crunchyroll.py](https://raw.githubusercontent.com/beardypig/streamlink/4751c57e8c40dc134fa5c2b9d19e45c328af799d/src/streamlink/plugins/crunchyroll.py) [src/streamlink/cache.py](https://raw.githubusercontent.com/beardypig/streamlink/4751c57e8c40dc134fa5c2b9d19e45c328af799d/src/streamlink/cache.py)

[2018-06-18 19:27] fozzysec commented on #1612
When I was trying to fix another bug caused by indentation, I added the support for xingyan.panda.tv, the flash player directly use the http stream that embedded in the HTML source code.
#1822

[2018-06-18 21:01] Orsidus commented on #1808
Sorry for the late reply. Can confirm that any combination of the previously tried command lines is working now for all premium links. There is no longer any errors when attempting to login without purging the credentials and both with and without --locale en_US works.

[2018-06-18 23:14] pshotsf commented on #1818
Ya,it is like the --player-external-http option.But use vlc to start the HTTP stream instead of streamlink

[2018-06-18 23:18] nOLanSea commented on #1733
Many thanks.

[2018-06-19 00:12] beardypig commented on #1821
@uNouss I have created a PR to fix this issue.

In the meantime, you can test it out by [sideloading](https://streamlink.github.io/cli.html#sideloading-plugins) the [vrtbe.py](https://raw.githubusercontent.com/beardypig/streamlink/e70053511331db579e4adde085ebf049d34e4ecf/src/streamlink/plugins/vrtbe.py) plugin file.

[2018-06-19 02:10] #1821 closed

[2018-06-19 02:12] gravyboat commented on #1612
Closing since https://github.com/streamlink/streamlink/pull/1822 is merged.

[2018-06-19 02:12] #1612 closed

[2018-06-19 02:16] gravyboat commented on #1819
@ryanjgillies I'd rather not discuss circumventing a DMCA notice by suggesting someone else work on it so I'm going to close and lock this. I really don't feel like dealing with anything else related to that plugin, and I don't want to give them any sort of ammunition against us by saying we are trying to circumvent.

[2018-06-19 02:16] #1819 closed

[2018-06-19 02:19] #1811 closed

[2018-06-19 02:20] #1815 closed

[2018-06-19 03:54] Symbian9 opened #1824 "Failed to install on Debian 9 using pip/pip3"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Can't install `streamlink` on Debian 9.x using `pip`/`pip3`.

### Actual behavior

Install `streamlink` using `pip` or `pip3` failed.

### Reproduction steps / Explicit stream URLs to test

1. Open terminal;
2. Ru

[2018-06-19 04:51] gravyboat commented on #1824
This is typically due to old versions of Python2.7. You need to install wheel via `pip install wheel`. You may also wish to upgrade your version of setuptools/pip  via `pip install --upgrade setuptools` and `pip install --upgrade pip`.

[2018-06-19 05:13] Symbian9 commented on #1824
As you can see in log: `$ pip3 install streamlink` , - it mean that I try install it using `pip3` aka Python3.

OK, I just `pip3 install wheel` and got next:

[code]

[2018-06-19 10:22] beardypig commented on #1824
[code]
This indicates an old version of `setuptools` - did you upgrade `setuptools` for Python 3 too?

[2018-06-19 10:33] beardypig commented on #506
@maanich If you still want to send me the account you can do so, my email address if on my public github profile.

[2018-06-19 11:18] Symbian9 commented on #1824
Yes, but I update all above, including `pip3`, BUT now `pip3` failed on start too:
[code]

[2018-06-19 11:22] maanich commented on #506
ok i will s3nd u in 30 min

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: beardypig <notifications@github.com> Date: 19/06/2018  11:34  (GMT+00:00) To: streamlink/streamlink <streamlink@noreply.github.com> Cc: maanich <manigorgeous@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [streamlink/streamlink] Add plugin: yupptv (#506)
@maanich If you still

[2018-06-19 11:33] beardypig commented on #1824
You could try a couple of things

- see if `python3 -m pip` works
- if not, do `hash -d pip` then try again
- and as a last resort `curl https://bootstrap.pypa.io/get-pip.py | python3`

[2018-06-19 12:01] back-to commented on #1824
because you are not using `sudo` to update pip, you are having this pip issue with pip10

https://github.com/pypa/pip/issues/5221
https://github.com/pypa/pip/issues/5221

you can uninstall **your local** pip version with
`python3 -m pip uninstall pip`

and this will restore the system pip version

**if you want** an updated system pip use, **which is not required**

`sudo python3 -m pip install -U

[2018-06-19 12:17] back-to commented on #1818
I can imagine what you maybe want,
but could you give us more details about the expected behavior.

**The current description is just not enough.**

[2018-06-19 12:19] Orsidus commented on #1808
I'm going to close this issue as you've seemed to fix the bug and haven't noticed any new bugs since. Feel free to message me should you need anything else.

[2018-06-19 12:57] Symbian9 commented on #1824
Done. Not solve issue yet.

Done. Here is output:

[code]

[2018-06-19 13:18] back-to commented on #1824
streamlink is installed but there might be no bin file or the PATH is not set

[code]

could you try if one of this bin file for streamlink is installed on your system

---

if yes, make sure the `$PATH` is set  _like I explained it above._

---

if not you can install streamlink again with the `--user` flag

`python3 -m pip install --user -U streamlink` _like I explained it above._

---

you can

[2018-06-19 14:31] kenichi512 opened #1825 "RTS and TVC"
- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

I'm requesting a plugin for cloudfront.net

its streamed it serves a generated .m3u8 (for 30ish seconds) along with its 1ish second chunk every second or so

Sites that use this server to stream:
http://www.rts.com.ec/envivo
http://www.tvc.com.e

[2018-06-19 14:41] beardypig commented on #1825
You want plugins for http://www.rts.com.ec/envivo and http://www.tvc.com.ec/envivo? Rather than cloudfront, cloudfront is just the CDN they use.

[2018-06-19 14:42] beardypig commented on #1808
We'll leave this open until #1820 is closed :)

[2018-06-19 15:14] kenichi512 commented on #1825
I would like it to work for both sites. But what would happen if would there be more sites that also use cloudfront for their streams? For example these two web pages

http://www.elnueve.com.ar/envivo
http://www.repretel.com/envivo

There are other sites that are part of the same international network (Albavisión) and they use the same server, but have geoblocking.

[2018-06-19 15:22] jedahan commented on #8
It would be nice if for some options, like the oauth tokens, streamlink also looked at environment variables like `$STREAMLINK_TWITCH_OAUTH_TOKEN` or something similar.

[2018-06-19 15:58] beardypig commented on #8
@jedahan that could be pretty useful ... and not too hard.

[2018-06-19 16:04] beardypig commented on #1825
So, you want a plugin for all the Albavisión sites? :)

[2018-06-19 16:36] kenichi512 commented on #1825
I'm interested in RTS and TVC :)

I just set the example other similar streams that are from other countries in case someone could be useful in the future.

[2018-06-19 18:38] Symbian9 commented on #1824
Found `streamlink` in `$HOME/.local/bin/streamlink`.

Then update it path as you said:
[code]

Now I **got it**

[code]

P.S.: So, why it not installed from first try?

[2018-06-19 19:14] Ro-Den commented on #1816
@gravyboat

No, VLC player doesn't support any kind of restart function. I think it's not so easy to find the cause of crashing. It crashes randomly. Maybe, the problem is on the server side.

@bastimeyer

Other stream output methods would cause other problems. It's not so difficult to restart Streamlink manually. The idea is to automate the proccess.

So, I added/changed the following in the main

[2018-06-19 21:31] back-to commented on #1824
here is a list of your issues

---

**1.** `error: invalid command 'bdist_wheel'`

some old version / package missing

**2.**

[code]

known **pip10** issue

**3.** `bash: streamlink: command not found`

you did an [User Install](https://pip.pypa.io/en/stable/user_guide/#user-installs) which installs it somewhere in `$HOME` instead of globally _(sudo as root user)_

some OS will have `$HOME/.local

[2018-06-19 21:31] #1824 closed

[2018-06-19 22:30] beardypig commented on #1816
@Ro-Den, maybe you could call `output_stream(stream)` instead - it's not very clean to do either `output_stream` or `handle_url` though :)

When VLC crashes, what log message do you get from streamlink? `Player closed` or `Error when reading from stream`?

[2018-06-19 23:11] #1808 closed

[2018-06-19 23:13] #1807 closed

[2018-06-20 04:13] gitfamhub opened #1828 "Kodi add-on dead?"
https://github.com/beardypig/plugin.video.streamlink

Hasn't been updated since May 2017, which means Ustream support is probably broken (and that's what I'd like to use it on). Also I'm having the same issues installing it as someone else in the issues, but they've gotten no reply. Any word on what's going on with it?

[2018-06-20 06:45] Twilight0 commented on #1828
First of all here you can ask support only for the Streamlink cli utility/library, not other software.
@beardypig has enough burden maintaining streamlink itself along with a couple of other developers, wouldn't it be a pain to maintain yet another one?
I took the liberty to package streamlink into a module myself by removing some dependencies [like pycountry](https://github.com/Twilight0/script.m

[2018-06-20 07:33] gitfamhub commented on #1828
Thank you, sorry, just wanted to know if it was still maintained, no pressure! Thanks for all your hard work.

[2018-06-20 07:33] #1828 closed

[2018-06-20 09:51] beardypig commented on #1828
I don't have a Kodi box at the moment, so no real motivation to maintain it I'm afraid.

@back-to also maintains a version of `streamlink` for Kodi (but Leia only, I think), as well as another plugin ([liveproxy](https://liveproxy.github.io/) which has some cool features for using `streamlink` in Kodi.

[2018-06-20 16:38] skilleek opened #1829 "Ott Streams (ellobo) plugin error"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Plugin for ott streams streann.py, returns the error:

[code]

url: http://www.ellobo106.com/index.php/vivo/solo-3audio

I would be grateful if you could fix it. Thank you as always for all your support!

[2018-06-20 17:17] beardypig commented on #1829
Works for me. You didn't include a debug log, or details of which python version and OS you are using.

It could be that you have an old Python version, or an older version of requests. If you give a debug log, it will contain that information.

[2018-06-20 19:20] steveooo9 commented on #19
This still exists in default DigitalOcean 18.04 with Python2 and Python3

[2018-06-20 21:10] maanich opened #1830 "br omini vista app alot of latino request for plugin"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is

[2018-06-20 21:11] maanich commented on #1830
a request for the app it has alot for everyone

[2018-06-20 21:19] beardypig commented on #19
@steveooo9 can you create a new issue with all the details?

[2018-06-20 22:19] amurzeau opened #1831 "Python 3.6: DeprecationWarning: inspect.getargspec() is deprecated"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Running tests with python 3.6 triggers a deprecation warning on inspect.getargspec().
I'm not sure there are better way to handle this and still support python 2.7 though.

Maybe waiting this function to be remove

[2018-06-20 22:32] skilleek commented on #1829
Effectively, I was running streamlink with Python 2.7.10. Running with Python 3.6.5 works perfectly. Thank you as always for your help!

[2018-06-20 22:32] #1829 closed

[2018-06-20 22:56] jiahaoliang opened #1832 "Vod from bilibili.com"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [ ] This is

[2018-06-20 23:19] gravyboat commented on #1830
There's not enough detail in this issue for us to do anything with, it's basically blank minus the title. What's the website that you're looking to see supported? I Googled the title and don't see anything useful.

[2018-06-21 00:08] maanich commented on #1830
https://www.google.co.uk/url?sa=t&source=web&rct=j&url=https://www.azforum.com.br/2018/04/novo-aplicativos-cinebox-omni-vista-e.html%3Fm%3D1&ved=2ahUKEwiF5IeZu-PbAhXUasAKHYvkDm4QFjAAegQIAhAB&usg=AOvVaw1m4cG4t5Q2KvRSAaX6PZrz

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Forrest <notifications@github.com> Date: 21/06/2018  00:19  (GMT+00:00) To: streamlink/streamli

[2018-06-21 09:18] beardypig commented on #1831
@amurzeau I've opened a PR that should fix it :)

[2018-06-21 11:06] back-to commented on #1831
there are also some other warnings

with `python setup.py test` (#1833 streamlink version)

[code]

[2018-06-21 11:09] beardypig commented on #1831
Which version of Python was that on @back-to?

[2018-06-21 11:10] back-to commented on #1831
Python 3.6.5

[2018-06-21 11:12] beardypig commented on #1831
Hmm, that's what I was using for my tests - seems like some of these warnings don't always appear ... maybe it's some option I inadvertently have set...

[2018-06-21 11:14] back-to commented on #1831
they don't appear with `pytest` only with `python setup.py test`

[2018-06-21 14:19] maanich opened #1834 "plugin rerquest for mjunoon"
https://www.mjunoon.tv/

streamlink https://www.mjunoon.tv/a-tv-live
[cli][info] streamlink is running as root! Be careful!
error: No plugin can handle URL: https://www.mjunoon.tv/a-tv-live

[2018-06-21 15:16] maanich commented on #1830
here is the android app for cinebox omnivista
https://www.google.co.uk/url?sa=t&source=web&rct=j&url=https://www.azforum.com.br/2018/04/novo-aplicativos-cinebox-omni-vista-e.html%3Fm%3D1&ved=2ahUKEwiF5IeZu-PbAhXUasAKHYvkDm4QFjAAegQIAhAB&usg=AOvVaw1m4cG4t5Q2KvRSAaX6PZrz

[2018-06-21 15:39] beardypig commented on #1676
Small update on this; with my new segmented downloader code I have managed to get Streamlink in-sync with Twitch for non-low latency videos, using `--hls-live-edge 1`. I am still working on low latency streams.

However, Streamlink will likely never be able to reduce the delay to the same as Twitch. This is because the Twitch player _speeds up_ the video if it is lagging behind and it has sufficie

[2018-06-21 18:56] gravyboat commented on #1830
We don't support streaming from apps. If there is a website you can go to in your browser where you can access the streams we'll take a look at it, but otherwise this is out of scope.

[2018-06-21 18:56] #1831 closed

[2018-06-21 19:08] maanich commented on #1830
Thanks dear there is mjunoon.tvgoonj.pk live webstreams

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Forrest <notifications@github.com> Date: 21/06/2018  19:56  (GMT+00:00) To: streamlink/streamlink <streamlink@noreply.github.com> Cc: maanich <manigorgeous@gmail.com>, Author <author@noreply.github.com> Subject: Re: [streamlink/streamlink] br omini vista app alot

[2018-06-21 23:13] gravyboat commented on #1830
Closing as https://github.com/streamlink/streamlink/issues/1834 has been opened.

[2018-06-21 23:13] #1830 closed

[2018-06-22 01:09] maanich opened #1835 "plugin request poovee net"
http://poovee.net/video/140444/ary-digital/

[2018-06-22 02:13] Ordval commented on #1772
What is the station code for ABC ?
`Invalid station-code: wgal`

[2018-06-22 05:26] exxfzc opened #1836 "Can't play live stream with mpv"
os:mac os 12.1
mpv:0.28.2(install with homebrew)
streamlink:0.13.0(install with homebrew)

I didn't install vlc,mpv is useful for me.After installing streamlink,I did not find a configuration file on my
mac.I can't edit the config by myself.
When i want to open the url in the ternimal,show"The default player (VLC) does not seem to be installed. You must specify the path to a player executable with

[2018-06-22 07:52] beardypig commented on #1836
You can just create the config file at `~/.streamlinkrc` and add a line with `player=mpv` line - it's what I have :)

[2018-06-22 09:20] beardypig commented on #1772
Here is what I get...

[code]

[2018-06-22 10:38] bastimeyer commented on #1835
This is, once again, a very low effort plugin request from you.
You should at least provide some information about the website and the streams you would like to see being supported. Posting a single link is not enough.
https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

[2018-06-22 10:52] exxfzc commented on #1836
Enter ~/.streamlinkrc at the terminal?It show "No such file or directory''

[2018-06-22 10:52] exxfzc commented on #1836
Enter ~/.streamlinkrc at the terminal?It show "No such file or directory''

[2018-06-22 10:52] #1836 closed

[2018-06-22 10:52] exxfzc commented on #1836
Enter ~/.streamlinkrc at the terminal?It show "No such file or directory''

[2018-06-22 10:52] exxfzc commented on #1836
Enter ~/.streamlinkrc at the terminal?It show "No such file or directory''

[2018-06-22 10:52] exxfzc commented on #1836
Enter ~/.streamlinkrc at the terminal?It show "No such file or directory''

[2018-06-22 11:01] beardypig commented on #1836
@exxfzc try doing this in a terminal
[code]

[2018-06-22 11:01] maanich commented on #1835
i think there is a huge data in website n links  if u need more links i will send a list of it. thanks

[2018-06-22 11:06] exxfzc commented on #1836
Thank you very much!!

[2018-06-22 11:08] beardypig commented on #1836
You're quite welcome.

[2018-06-22 14:21] AshUK commented on #1788
looks like the legacy playlist API is now fully deprecated

[2018-06-22 14:29] Ordval commented on #1772
You truly go out of your way to do it even more profound, Thank you,
but I was quite tired when I wrote my question.
“wgal” should of course have referred to NBC as it says on its URL
[http://m.ustvnow.com/images/WGAL.png].

I can get a quality 4 stream with V. D. H. as I wrote higher up,
(just alter the now1) so shouldn't there be a station code here to ?

[2018-06-22 14:37] beardypig commented on #1772
@Ordval these are the codes I see with my free account (over 2 years old) ... not sure if there are more that I don't see :)

[2018-06-22 14:44] beardypig commented on #1788
@AshUK I get a 503 error now, looks like you are right...

@Vangelis66 if this message reaches you in the future, can you confirm that the old API is no longer working?

[2018-06-22 15:35] back-to commented on #1697
closing, as there is a solution.

[2018-06-22 15:35] #1697 closed

[2018-06-22 15:42] fozzysec commented on #1832
This project focus on streams rather than videos. It has plugin for live.bilibili.com

[2018-06-22 15:53] maanich commented on #1834
live streeams
https://www.mjunoon.tv/urdu-1-live

https://www.mjunoon.tv/filmazia-live

https://www.mjunoon.tv/aruj-live

and more vod stream

https://www.mjunoon.tv/watch/tonight-with-jasmeen-21june2018-kanwar-dilshad-amjad-shoaib-khawaja-fareed-u913yoexxyg

https://www.mjunoon.tv/watch/tax-aur-aap-ep-28-10-feb-2017-opnbtxuuzxu

anything else required lett me know

[2018-06-22 16:29] back-to opened #1837 "Update Plugin requests policy"
**I opened this so it won't go under.**

---

### Description

as discussed in https://github.com/streamlink/streamlink/issues/1763

The **Plugin requests** Guide should be updated with some rules about plugins.

https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

in https://github.com/streamlink/streamlink/issues/1763 were mentioned

- stolen content
- rehosted c

[2018-06-22 16:52] #1818 closed

[2018-06-22 19:19] Ordval commented on #1772
Try open it plainly in your browser.

[2018-06-22 19:43] gravyboat commented on #1837
I like this a lot, I'll take a crack at putting something together this afternoon for consideration. Thanks @back-to.

[2018-06-22 21:35] maanich commented on #1835
this site has many good original free to air streams related to live pakistan channels and alot of recorded programms to watch. no stolen or restream website.

[2018-06-22 22:35] johnthecracker commented on #1602
This will play i24NEWS Live:

streamlink.exe http://play.tv/live-tv/908/i24-news-english/ best

C:\>streamlink.exe http://play.tv/live-tv/908/i24-news-english/ best
[cli][info] Found matching plugin playtv for URL http://play.tv/live-tv/908/i24-news-english/
[cli][info] Available streams: 300k (worst), 800k (best)
[cli][info] Opening stream: 800k (hls)
[cli][info] Starting player: C:\P\VLC\vlc.exe

[2018-06-22 23:39] maanich opened #1839 "schoener-fernsehen plugin requested"
https://schoener-fernsehen.com/html5/stream/PRO7MAXX/pro7maxx_sd/

https://schoener-fernsehen.com/html5/stream/UKCHANNEL4/channel4_sd/

https://schoener-fernsehen.com/html5/stream/USWNBC/wnbc_sd/

the website has many live uk and germany fta streams with 5 euro for a year subscription.
if u can lookinto it to benifit everyone  to use. regards.

[2018-06-23 01:26] #1839 closed, assigned to nobody

[2018-06-23 04:35] Ordval commented on #1772
No, try opening NBC just by clicking on either its icon or allowed TV program item.

[2018-06-23 14:13] beardypig commented on #1772
I still only get the one stream quality. Maybe you can be more specific and give some more details @Ordval.

[2018-06-23 15:08] Ordval commented on #1772
My new raised question is (sorry **bastimeyer**):
What is NBC's  station code, if it won't open with `wgal` through the Plug-In ?
Because as you could see, it would open with a free account in the Browser, right ?

(You can lose the quality issue unless you want to make the Plug-In add any change(-s)
to the quality like **d3n1s** did with his “USTVNow” app.
Today his gone Pay-for, but if he still

[2018-06-23 17:06] beardypig commented on #1772
NBC missing looks like a bug. But we don’t want to circumvent their premium content protection - I assume you can only get the HD streams with a subscription?

[2018-06-23 17:40] maanich commented on #1839
ok

[2018-06-23 19:34] Ordval commented on #1772
I would assume the same, but it has become a habit using it.
I mean, there is something strangely monophonic-like with the sound
so I haven't considered it to be the full premium quality even at the 4th level.

@**bastimeyer**  Well, ... aren't I'm being "off topic" ?

[2018-06-23 19:39] gravyboat commented on #1772
I think we've exhausted all the discussion for this topic and have gone above and beyond in terms of support so I'm going to close it now. We can't get the HD streams since we don't circumvent DRM I don't think there's anything else to discuss on the topic of usage. Thanks for all the assistance @beardypig.

[2018-06-23 19:39] #1772 closed

[2018-06-23 19:51] beardypig commented on #1772
Well, there is a bug here. NBC is missing and should be available :)

[2018-06-23 19:53] gravyboat commented on #1772
@beardypig Yeah but let's open a new issue for that, this one is getting off-topic.

[2018-06-23 22:40] Ordval commented on #1763
I've come with this Plug-In request myself (#1369), but got rejected.
If most of its content is available in already existing Plug-Ins
I'd like to know which channels to which Plug-Ins,
but who'd want to make that kind of list ?

On the subject to "subscription channels"
I got the answer to a request made by me to FirstOneTV
(marked as X here):
" 'X' Channels are not possible due to legal reasons,

[2018-06-24 04:23] Ordval commented on #1772
Thank You  **beardypig** for the new update  !

[2018-06-24 11:32] beardypig commented on #1590
@filko always best to open a new one :) Can always be closed if it’s a duplicate, but it won’t get lost.

[2018-06-24 21:35] #173 closed

[2018-06-25 02:44] #1788 closed

[2018-06-25 13:05] uNouss opened #1841 "streamlink not work anymore since i updated it"
- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
I have been using streamlink for a while.
I updated it to the latest version this morning and can not launch it anymore.

### Expected / Actual behavior
I wish I could use it again and if this version does not work at home how to

[2018-06-25 13:28] bastimeyer commented on #1841
If you're using pip's `--user` parameter, it'll install the module and its dependencies into your home directory, more precisely `$XDG_DATA_HOME`, or if it isn't defined `$HOME/.local`.

If you're simply running `streamlink`, the used shell (eg. bash) will try to resolve executable paths with the same name in one of the directories listed in `$PATH`, which are by default just system-wide paths, li

[2018-06-25 14:01] Ro-Den commented on #1816
@beardypig, VLC always crashes with `Player closed: [Errno 32] Broken pipe`.

`output_stream(stream)` is not working:

        prebuffer = stream_fd.read(8192)
    AttributeError: 'NoneType' object has no attribute 'read'

As I understand, when a video player gets closed, Streamlink automatically shuts down stream output. And it is not so easy to amend. So, `handle_url()` is the only option in thi

[2018-06-25 19:11] djkanoko opened #1842 "Question: How to rename the stream name/title when it is passed to VLC"
### Checklist

- [x] This is a bug report.
- [x] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description
 Recording a stream in VLC  will use the title/name of the stream in the recorded file's filename which is just "0" when using the default streamlink arguments:
streamlink (stream name) (stream quality)
Is it possi

[2018-06-25 19:42] bastimeyer commented on #1842
- **VLC**
[code]
- **MPV**
[code]

Depending on your OS and the parser of the used shell, the quotation marks (single / double) have to be escaped.
https://streamlink.github.io/cli.html#cmdoption-a

If you just want to record the stream, why don't you simply use Streamlink's `--output` parameter?
https://streamlink.github.io/cli.html#file-output-options

[2018-06-25 19:57] #254 closed

[2018-06-25 20:59] DjUnknown opened #1843 "Atresplayer"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
Links Live:
https://www.atresplayer.com/directos/antena3/
https://www.atresplayer.com/directos/lasexta/
https://www.atresplayer.com/directos/neox/
https://www.atresplayer.com/directos/nova/
https://www.atresplayer.

[2018-06-25 21:15] #506 closed

[2018-06-25 22:05] beardypig commented on #1843
Thanks for bug report, there is a fix PR pending.

[2018-06-25 22:15] DjUnknown opened #1845 "Mitele"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

Channel Energy:
https://www.mitele.es/directo/energy
[code]

Channel Be Mad:
https://www.mitele.es/directo/bemad
[code]

Channel Boing:
https://www.mitele.es/directo/boing
[code]

[2018-06-25 22:17] DjUnknown commented on #1843
@beardypig
Thanks to you ! ;)

[2018-06-25 22:58] Ordval opened #1847 "Zattoo with Captions ?"
- [x] This is a feature request (or whatever).

 This locale setting thing, how does it work ?

`--locale system locale` `error: unrecognized arguments: best`
`LookupError: Invalid language code: system_locale`
`--locale sp_CH`   `KeyError: 'sp'`
`LookupError: Invalid language code: sp`
`LookupError: Invalid language code: es_CHE`

It says "Spanish" on their home page (under the video).
Spanish in

[2018-06-25 23:56] DjUnknown opened #1849 "MPEG-DASH"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description
MPD link extracted from https://www.atresplayer.com/antena3/series/el-secreto-de-puente-viejo/julieta-y-los-hermanos-ortega/25-06-18_5b2bdd907ed1a8d25b535d21/

[code]

[2018-06-26 00:05] Ordval commented on #1847
No, trying it currently, (thought of it, but it wasn't logical).
On a preliminary view, watching it as it downloads,
it doesn't seem to, but am getting back to you when all is completed.

[2018-06-26 00:19] DjUnknown opened #1850 "tv3cat"
### Checklist

- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [ ] I have read the contribution guidelines.

### Description

Links Live:
http://www.ccma.cat/tv3/directe/tv3/
http://www.ccma.cat/tv3/directe/324/
http://www.ccma.cat/tv3/directe/33/
http://www.ccma.cat/tv3/directe/esport3/

Channels 324 / Esport3 / 33 / TV3:
[code]

[2018-06-26 00:35] Ordval commented on #1847
Played it back with VLC and SMPlayer but no visible subtitles, nor in their respective submenus.
What wasn't logical is that Z.'s country code is CH so it should have been that,
but now both have been tried.

[2018-06-26 01:16] #1845 closed

[2018-06-26 01:17] Ordval commented on #1845
@**DjUnknown**
For me Energy opens now (with the update) but only with X-F-F.
If you don't know what that is I'd rather PM you.
(Para mí, Energy abre ahora (con la actualización) pero solo con X-F-F.
Si no sabe qué es eso, prefiero que le envíe un PM).
(Está en España ? si en ese caso, no se necesita añadir nada).

[2018-06-26 01:18] #1843 closed

[2018-06-26 02:48] DjUnknown commented on #1845
@Ordval
Vivo en españa, el Be Mad y Boing funciona con la actualización de beardypig pero no el energy, le estaré eternamente agradecido si me dice como lo ha conseguido ver.

[2018-06-26 03:49] Ordval commented on #1845
(I live in Spain, the Be Mad and Boing works with beardypig's update but not the energy one,
I would be eternally grateful if you'd tell me how you've managed to see it).

Si empieza con estos tres, ¿qué sucede?
(If you'd start with these three, what happens ?)
`call streamlink.exe  --player-passthrough hls --player-continuous- --retry-streams 1 --retry-open 86400 "https://www.mitele.es/directo/en

[2018-06-26 05:47] DjUnknown commented on #1845
@Ordval
Funcionan los tres, el comando "streamlink.exe https://www.mitele.es/directo/energy best --player ffplay" ahora si me funciona.

[2018-06-26 05:52] DjUnknown commented on #1843
Thanks very much beardypig. ;)

Greetings from Spain !!!

[2018-06-26 08:06] beardypig commented on #1847
@Ordval, are you able to get Spanish subtitles on the website?

[2018-06-26 08:36] uNouss commented on #1841
@bastimeyer thank you for answer. It helps me to better understand how it works. I added `~/.local/bin` in my `$PATH` and it works now.

[2018-06-26 09:54] back-to commented on #1847
there **normal hls** streams **don't have any subtitles**, this streams are **used by streamlink**.

---

there **other** hls streams are **muxed** like this

https://github.com/streamlink/streamlink/blob/master/tests/test_hls_playlist.py#L12-L42

they **have subtitles**, but I don't know if streamlink can handle the subtitles automatically with muxed streams.

---

there dash streams also have su

[2018-06-26 10:19] beardypig commented on #1847
Streamlink doesn't mux subtitles by default - we could support it, it's just another complication in the HLS parser :)

[2018-06-26 11:54] thomasschmiedl opened #1854 "Pipe ffmpeg output to streamlink"
Hello,

I transfer this MPEG-DASH-stream 'https://live.idnes.cz/slow/slowtv7_720p/manifest.mpd' in ffmpeg (output as MP4 in ffmpeg's listen mode) via xupnpd2 media-server (or gerbera as open-source alternative) to my TV. Everything run on a router. I try to overlay the map from [1] as an image [2]. The router is too slow for the ffmpeg's overlay video-filter, because of the re-encoding. My idea is

[2018-06-26 12:03] #1841 closed

[2018-06-26 15:25] back-to commented on #899
because of https://github.com/streamlink/streamlink/pull/1802

the **old key** can be removed from

https://github.com/streamlink/streamlink.github.io/settings/keys

and this could be closed.

[2018-06-26 15:44] beardypig commented on #899
I believe `encrypted_25fada573976_iv` and `encrypted_25fada573976_key` can be removed from the Travis settings too.

[2018-06-26 15:59] beardypig commented on #899
All the variables have been updated since the breach.

[2018-06-26 15:59] #899 closed

[2018-06-26 16:18] beardypig commented on #899
Related to this, I created a [streamlink-bot](https://github.com/streamlink-bot) account that is a member (not owner/admin) of the Streamlink organisation, but only has write access to the `streamlink` repo at the moment. I have updated the `RELEASES_API_KEY` one for the [streamlink-bot](https://github.com/streamlink-bot) user, so that releases will be made by [streamlink-bot](https://github.com/s

[2018-06-26 16:28] back-to commented on #1854
http://www.ffmpeg-archive.org/bitmap-subtitle-in-stream-td4684135.html

htdocs-folder as HLS on the router ...

They have hls URLs, you can probably skip this

your **example** is **dead** but all the other streams have normal **HLS streams**,
just change the URL

`http://` and `master.m3u8`

[code]

---

if your ffmpeg script creates a local file, streamlink could play it.

https://streamlink.git

[2018-06-26 16:53] back-to commented on #1081
As there are **no other complaints** or **any logs** in such a **long** time,
it is probably a **non issue**, just temporarily or player related.

**Closing**

[2018-06-26 16:53] #1081 closed

[2018-06-26 17:03] dd00 commented on #1653
... but with ustream web player this stream is ok
it is hard to find another source for this channel

[2018-06-26 17:49] Ordval commented on #1845
Genial.

Translating for Moderators and members:
(**DjUnknown**:) All three work, the command "`streamlink.exe https://www.mitele.es/directo/energy best --player ffplay`" also work for me now.

[2018-06-26 18:06] Ordval commented on #1847
@**beardypig**
Maybe already answered by **back-to**  but yes, most of Tve's broadcasts (streams?)
have subtitles (in its original language, mind you). It varies from channel to channel.

[2018-06-26 18:40] #1850 closed

[2018-06-26 18:46] beardypig commented on #1847
With the zattoo plugin? It could be added, but @back-to would know better than I. The `rtve` has an option to mux the subtitles `--rtve-mux-subtitles`.

[2018-06-26 18:47] gravyboat commented on #1854
Agreed, this question is ffmpeg related, not Streamlink related so I'm going to close this.

[2018-06-26 18:47] #1854 closed

[2018-06-26 18:49] #1849 closed

[2018-06-26 18:49] djkanoko commented on #1842
I'm getting an error:
Streamlink.py: error: unrecognized arguments: <the stream URL>

Could you perhaps give a literal example (no text placeholders) with a working twitch link perhaps?

[2018-06-26 18:56] djkanoko commented on #1842
I'm having trouble getting this to work.  In my case, I don't need to specify the filename, just the tite.  If I try this:
streamlink -p  vlc -a "--input-title-format test1" https://www.twitch.tv/gamesdonequick best
VLC is loaded but no stream is loaded
If I do this:
streamlink -a "--input-title-format test1 {test2}" https://www.twitch.tv/gamesdonequick best
I get the following error:
Traceback (m

[2018-06-26 19:21] djkanoko commented on #1842
OK, so I used this command-lin string to change the title:
streamlink https://www.twitch.tv/ninja worst -p "C:\Program Files\VideoLAN\VLC\vlc.exe --input-title-format TITLE"
But when I record from  this stream the file is still saved using the "fd://0" identifier.  The title says "TITLE" but under media information the title is still  ilsted as "fd://0".  I think I need to modify a different param

[2018-06-26 20:02] bastimeyer commented on #1842
There are also the `--meta-title` and `--video-title` VLC parameters, maybe you can try one of these.
https://wiki.videolan.org/VLC_command-line_help

But again, if you just want to record, use Streamlink's `--output` / `-o` parameter instead of using VLC:
https://streamlink.github.io/cli.html#file-output-options

The question about viewing and recording at the same time has been answered dozens o

[2018-06-26 20:13] Ordval commented on #1847
I take it, the first of your options is what I have to wait for then.
I presume the `--rtve-mux-subtitle` option is exclusive to RTVE's site,
and I won't find what I'm looking for there, but they have other videos of course .

[2018-06-26 20:38] back-to commented on #1847
this is **different**, the **subs** url is **stand alone**,
for **zattoo** the subs url is **built into the m3u8 / playlist** file
which is not supported by streamlink without bigger changes.

---

`--locale` works only for the **AUDIO** when a stream has more than one language,
that could easily be added for zattoo

[2018-06-26 20:49] Ordval commented on #1847
The reason for me to look into it is that it says:

on the support pages.

[2018-06-26 20:56] djkanoko commented on #1842
Great!  It looks like --meta-title is used in the recorded filename.  However in my case, I found that using --input-record-path worked better for my particular scenario.

Thanks for your help!

[2018-06-26 20:58] back-to commented on #1834
some details about the website, it looks **legal** to me.

https://www.mjunoon.tv/about-us

https://play.google.com/store/apps/details?id=com.convex.mjunoon.TV&hl=en_US

Grants Mobile TV License to Convex Interactive
https://propakistani.pk/2016/04/01/pemra-grants-mobile-tv-license-to-convex-interactive/

[2018-06-26 21:00] maanich commented on #1834
yeah its hundread percent legal

[2018-06-26 21:05] #1842 closed

[2018-06-27 14:14] beardypig commented on #1110
I think we should close this as "won't fix". 9anime.to hosts videos on multiple other platforms that we do not support and some that require captchas, etc. If you are determined you can reverse engineer the JavaScript that protects the links quite easily.

[2018-06-27 14:38] beardypig opened #1858 "8tv.cat live broadcast gone"
### Description

8tv.cat no longer broadcast live streams. We should remove the plugin as it no longer works, and is not fixable.

It never actually worked quite right, the URL regex was wrong - if you used the wrong URL it worked fine, but with the actual URL it did not work.

[Love Streamlink? Please consider supporting our collective. Thanks!](https://opencollective.com/streamlink/donate)

[2018-06-27 17:25] 097115 opened #1861 "Any chance for a plugin for fanat.tv?"
### Checklist

- [ ] This is a bug report.
- [ ] This is a feature request.
- [x] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

Would be grateful if someone could code a plugin for http://fanat.tv. Streams are [like this](http://fanat.tv/channels/france-24-english) or [like this](http://fanat.tv/channels/lyubimoe-kino).

EDIT: just in case

[2018-06-27 19:02] gravyboat commented on #1110
@beardypig Agreed.

[2018-06-27 19:02] #1110 closed

[2018-06-27 19:03] #1858 closed

[2018-06-27 19:10] gravyboat commented on #1861
I don't think so. This site is hosting a lot of content that you would get with a cable subscription or would normally need to pay for. I'll leave it open in case anyone else wants to weigh in but there's a lot of questionable content.

[2018-06-27 19:20] gravyboat opened #1862 "Remove 9anime.to"
As discussed over here: https://github.com/streamlink/streamlink/issues/1110#issuecomment-400687075 9anime.to isn't worth supporting at this point and is broken so I'm proposing we remove it.

[2018-06-27 19:46] beardypig commented on #1110
Yeah, it’s marked as broken right now, but we can remove it :)

[2018-06-27 19:51] beardypig commented on #1861
I couldn’t find any information to suggest it was legit either.

[2018-06-28 01:52] sazrocks opened #1864 "[Question] NBC Streaming"
- [x] This is a Question

### Description

I can't figure out how to stream from nbc.com/live. I'm pretty sure I need a cookie of some kind since I have to log in through my TV provider (DISH) when I visit the site. The problem is I have absolutely no idea which cookie it is that I need to provide. If someone could show me what cookie it is or better yet, how to figure out which cookie it is, that

[2018-06-28 08:42] Billy2011 opened #1865 "No playable streams with youtube live streams"
- [x] This is a bug report.
- [ ] This is a feature request.
- [ ] This is a plugin (improvement) request.
- [x] I have read the contribution guidelines.

### Description

### Expected / Actual behavior

### Reproduction steps / Explicit stream URLs to test

1. www.youtube.com/user/euronewsde/live
2. www.youtube.com/user/deutschewelle/live
3. www.youtube.com/user/ROCKETBEANSTV/live

### Logs

stre

[2018-06-28 09:22] mmetak commented on #1865
It works just fine if you use the direct links:

for euronewsde: https://www.youtube.com/watch?v=uEiyA-V9IHM
for deutschewelle: https://www.youtube.com/watch?v=mEB8WDOOF_4
etc.

[2018-06-28 09:32] beardypig commented on #1865
These pages seem to have slightly different layouts. The YouTube plugin is kind of a mess and could do with some major refactoring :)

[2018-06-28 09:34] Billy2011 commented on #1865
Yes, that's why I did not start to fix it :)

[2018-06-28 10:52] maanich opened #1867 "playtv some streams gives error"
some stream gives 404 error while most works ok.

streamlink -l debug  --http-no-ssl-verify http://playtv.fr/television/ntd  best
[cli][info] streamlink is running as root! Be careful!
[cli][debug] OS:         Linux-3.13.0-149-generic-x86_64-with-Ubuntu-14.04-trusty
[cli][debug] Python:     2.7.6
[cli][debug] Streamlink: 0.13.0+35.g933126d
[cli][debug] Requests(2.19.1), Socks(1.6.7), Websocket(0.4

[2018-06-28 10:55] maanich commented on #1834
any update on these web streams any hope we get in near future.

[2018-06-28 11:05] beardypig commented on #1834
@maanich https://github.com/streamlink/streamlink/pull/1857

[2018-06-28 11:06] beardypig commented on #1867
For me, they do not work on the website either - doesn't seem to be a streamlink issue.

[2018-06-28 11:12] maanich commented on #1834
just tested and found this error streams not up with player.

streamlink -l debug https://www.mjunoon.tv/channel-24ive  best --player vlc
[cli][info] streamlink is running as root! Be careful!
[cli][debug] OS:         Linux-3.13.0-149-generic-x86_64-with-Ubuntu-14.04-trusty
[cli][debug] Python:     2.7.6
[cli][debug] Streamlink: 0.14.0+12.g0cf6ce0
[cli][debug] Requests(2.19.1), Socks(1.6.7), Webso

[2018-06-28 11:18] beardypig commented on #1834
Seems to play fine for me with `mpv 0.28.2 (ffmpeg 4.0.1)`, I watched for 3 minutes without problem. With `mpv 0.14.0 (ffmpeg 2.8.14-0ubuntu0.16.04.1)` I get some errors, but it seems to play fine.

[2018-06-28 11:41] maanich commented on #1834
Thanks  its working actually i was doin it with debug command.  great  work.

[2018-06-28 12:35] back-to commented on #1865
**1. quick fix**
remove the __/live__ part

**2.**

this part could be used for the streamlink plugin

[code]

[2018-06-28 12:54] beardypig commented on #1865
@back-to does **2.** appear on every page with a video (it seems to be)? This could be used for a more concise implementation.

[2018-06-28 12:59] back-to commented on #1865
idk, only tested for `/live` urls

i would just use it as a fallback if this fails
https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/youtube.py#L224-L225

---

and maybe the api fallback should be removed completely
**or**
at least the `else:` or it won't work most of the time

https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/youtube.py#L231-L24

[2018-06-28 13:04] beardypig commented on #1865
Yeah I was thinking that too when I looked at it again. `currentVideoEndpoint. watchEndpoint.videoId` exists for all the videos I checked, so far.

[2018-06-28 13:23] back-to commented on #1664
looks like everything from this list is merged

closing

[2018-06-28 13:23] #1664 closed

[2018-06-28 13:44] karlo2105 commented on #1865
It's working to me with this build : `streamlink 0.12.1+8.ge2a5546`

[code]

[2018-06-28 14:11] maanich commented on #1834
like neotv  and many others we can fixed to best its pixilating i f any way to fix bitrate.

[2018-06-28 14:28] maanich commented on #1834
streamlink https://www.mjunoon.tv/neo-tv-live best
[cli][info] streamlink is running as root! Be careful!
[cli][info] Found matching plugin mjunoon for URL https://www.mjunoon.tv/neo-tv-live
/usr/local/lib/python2.7/dist-packages/urllib3-1.22-py2.7.egg/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised.

[2018-06-28 14:36] maanich opened #1869 "tfc.tv plugin requested"
http://tfc.tv/live/details/41623/anc-live-streaming

http://tfc.tv/live/details/87039/its-showtime-live

http://tfc.tv/live/details/41729/tv-patrol-live

100 % legal and liceneced site

[2018-06-28 14:37] beardypig commented on #1834
@maanich SSL verification is disable for this host, even the latest versions of Python will not verify it. To remove this warning you may need to update `requests` or `urllib3`. Alternatively, you can try
[code]

[2018-06-28 15:42] maanich opened #1870 "filmon plugin issue still there"
[code]
improved time for 3 min to 6 mins n then crashed

[2018-06-28 15:53] beardypig commented on #1870
Looks like it ran for 13 minutes before failing.

[2018-06-28 15:55] maanich commented on #1870
some time times is not fixed of nowi tried and it not last 2 min bbcone  football match  max i saw was 8 mi beofre it fails

[2018-06-28 16:25] remek30 opened #1872 "Problem with live.russia.tv"
I have  Problem with the Plugin live.russia.tv :
[code]
The Channels not working on streamlink - from PC work the channels ok.

[2018-06-28 16:48] remek30 commented on #1872
I wanted to watch the following Russian channels via streramlink available at https://live.russia.tv:

Rossija 1
Mockba24
Rossiya RTR

and others available on this page. And then I pasted into the channel list and I have neither image nor sound - channels just do not work.

[2018-06-28 17:23] jalba69 opened #1873 "Shouldn't the settings inside a Plugin specific configuration file get top priority above others?"
Hello all and thanks for this great tool,

I use a small Batch script with this program and have some parameters set in stone like the quality "Best", usually I just have to enter the URL and select a very few options in my script and i'm good to go.

The problem is when i try to use a " Plugin specific configuration file", the settings i set there do not get the priority above either the initial

[2018-06-28 17:30] back-to commented on #1870
there **server** was probably **overloaded**,

could it only reproduce once

[code]

so not a real issue of streamlink.

[2018-06-28 17:55] beardypig commented on #1870
I also experienced that error @back-to

[2018-06-28 18:08] bastimeyer commented on #1872
You have to provide the debug log which the issue template is asking for, otherwise it is impossible for anyone else to understand your issue. What you have posted is no Streamlink log output.

Here is the issue template again:
https://raw.githubusercontent.com/streamlink/streamlink/master/ISSUE_TEMPLATE.md

?
Are you even using Streamlink, or are you using something else?

[2018-06-28 18:14] maanich commented on #1870
a friend of mine using a php script n its worki g perfect  only issue i hv no access to it  .looxxx

[2018-06-28 18:45] back-to commented on #1873
your example with `default-stream=480p` works for me,

---

can you give us some **more details.**

- OS?
- How was streamlink installed?
- streamlink version?
- only tested with `default-stream=480p` ?
- Path of `streamlinkrc.XXX`? is it all lower case?

[2018-06-28 18:49] back-to commented on #1867
This is **not a streamlink issue**,
the streams **won't work on there website**, they are unavailable at the moment.

closing.

[2018-06-28 18:49] #1867 closed

[2018-06-28 18:51] #1861 closed

[2018-06-28 18:56] maanich commented on #1869
@beardypig i will email you now

[2018-06-28 19:14] #1862 closed

[2018-06-28 19:17] back-to commented on #1141
removing it **completely** might be better than `ls tags`,
since tags like this are **not made for any streamlink changes**.

since running an **old version** of streamlink is **not** that **efficient**.

[2018-06-28 19:21] #1834 closed

[2018-06-28 19:30] maanich commented on #1867
some stream not included in play tv and reffer to direct website of channel which are mostly works without user pass  but no plugin supported. i will try to mention stream links here to be helpful for all

[2018-06-28 19:31] gravyboat commented on #1869
@maanich Can you please not create so many plugin requests so quickly? You are creating a lot of requests with very few details and I have a hard time believing that you are using all of these sites. While we consider requests it's getting to a point where you are simply making too many requests for plugins. It's also not fair to abuse @beardypig's kindness in terms of implementation and expecting

[2018-06-28 19:32] #1584 closed

[2018-06-28 19:34] maanich commented on #1869
noted. i replied as plugin has notification account needed so i sent.  will
take care of it  Regards

Raja Imran Aslam

On Thu, Jun 28, 2018 at 8:31 PM, Forrest <notifications@github.com> wrote:

[2018-06-28 19:57] beardypig commented on #1873
Order of priority goes `.streamlinkrc` < `.streamlinkrc.<plugin>` < command line.

The command line always overrides, this is by design :)

[2018-06-28 20:01] jalba69 commented on #1873
Hello,
Sorry for not giving more details on the first post, i thought it was how it worked but seems like your answer suggests it might not be the normal behavior.

- OS : win7 x64 Pro
- Using the Streamlink Portable, the standalone exe
- Version [Streamlink for Windows v0.14.0 - Git 0cf6ce0] built earlier today on latest snapshot with the tool provided from the portable version
- Tested with vari

[2018-06-28 20:06] jalba69 commented on #1873
Just seeing reply above after posting, sorry for the double posting but editing might be missed.

@beardypig :
That's what i thought too :/
But won't it make more sense to have the dedicated plugin file getting the absolute priority above all the rest ?

It will also allow more fine tuning especially in cases where there is semi automated commands sent via some scripts.

Maybe it will need too muc

[2018-06-28 20:07] bastimeyer commented on #1873
`streamlink [PARAMETERS] [URL] [QUALITY]`

Regarding the URL:
https://streamlink.github.io/cli.html#cmdoption-arg-url

Regarding the QUALITY:
https://streamlink.github.io/cli.html#cmdoption-arg-stream

If you're specifying the `best` quality parameter, you're overriding any `--default-stream` parameters set in your default and plugin based config files.

[2018-06-28 20:11] beardypig commented on #1873
@jalba69 the behaviour you describe is the intended behaviour :)

If you provide `best` on the command line it will be the quality that you get. If you want to default to `best`, I suggest setting `default-stream=best` in your main `streamlinkrc` file, rather than using a wrapper `bat` file.

[2018-06-28 20:17] jalba69 commented on #1873
@bastimeyer
It makes sense seen like this of course,  it's the same with the player command :

Command line :
`Streamlink.exe" --player="H:\MPC-HC\mpc-hc64.exe" https://www.youtube.com/watch?v=AbvjWY6tMyg Best`

Inside the streamlinkrc.youtube  :
`player="H:\ffmpeg\\ffplay.exe"`

MPC is the one used.

@beardypig
No worries it looked more logical from my point of view to have the plugin dedicated f

[2018-06-28 20:45] nifker opened #1875 "feature request: vivo"
How about a plugin for this stream-only site? https://vivo.sx

[2018-06-28 22:16] markosjal opened #1876 "Youtube issues started recently"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first! (see the link above)*
*Also check the list of known issues before reporting an issue!*

*Feel free to use the following template. Be as detailed as possible.*
*Please see the text preview to avoid unnecessary formatting errors.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is

[2018-06-28 22:50] markosjal commented on #1876
Please ignore previous post .

URLS all changed!

[2018-06-29 00:58] #1872 closed

[2018-06-29 06:07] gravyboat commented on #1875
According to their site the videos are not publicly available in any sort of directory, and it's meant to only be for sharing videos with friends so I don't see a very good reason to implement this one.

[2018-06-29 16:23] beardypig commented on #1876
@markosjal are you experiencing this issue on other videos?

[2018-06-29 16:47] back-to commented on #1876
it's a `Python2.7` - `UnicodeEncodeError`

https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/youtube.py#L311-L313
https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/youtube.py#L262-L263

the message from Youtube can contain `ü` or similar and this would error on python2

the `maybe_encode()` from https://github.com/streamlink/streamlink/pull/1576

[2018-06-29 17:38] beardypig commented on #1876
Ah yeah, that’s where it is @back-to. It has weird encoding too though, need to update the scheme. I’m preparing a PR for the YouTube plugin, using that property for the video you suggested. It works for everything except embed URLs, but if you get the canonical URL from the embed page then it works too. Completely avoids using the API.

[2018-06-29 18:18] remek30 opened #1880 "Toya TV plugin"
I would like to ask you to rewrite the toya.py plugin, which I give below, so that you can watch Toya TV smoothly. The current problem is that the image and sound are stopped every 2-3 seconds and then operate normally but again after 2-3 seconds the picture is jammed all the time. When I watch Toya TV through a PC, it is a picture without stopping.

Toya TV broadcasts on this website: http://tvto

[2018-06-29 18:43] Ordval commented on #1847
Is the question answered ?
Could the label be taken away ? or does it need further digging (investigation) into ?

[2018-06-29 19:39] back-to commented on #1880
_I did not use your plugin,_
but the **lag** is **stream/player related**

you could try to use `--hls-live-edge 10`
at least on the **pc** **with vlc** it is a bit better.

https://streamlink.github.io/cli.html#cmdoption-hls-live-edge

[2018-06-29 19:47] remek30 commented on #1880
Could you please edit this toya.py plugin with what you proposed or "--hls-live-edge 10"? I would not want to make a mistake and that is why I am asking for your help.

[2018-06-29 19:56] back-to commented on #1880
you can use it like this, just **don't mix tabs and spaces** when you copy it.

[code]

if **10** is still laggy try more

[2018-06-29 20:06] Ordval commented on #1864
I can understand that you'd prefer very good quality,
but would you be content with the USTV Plug-In ?
#1772 (in the midst of the thread I talk about "Video Download Helper",
**aykuter** creates new e-mail accounts), #1705 "plugin to support ustvnow.com"
and #911.
I'm just a member suggesting.

[2018-06-29 20:15] back-to commented on #1229
1. As **nobody has an Account** for this site, we can't take a quick look if it could work with streamlink
2. The Kodi Addon needs **DRM** for some live streams
    https://github.com/olavopeixoto/plugin.video.brplay
    which won't work with streamlink

**closing**, because of this points.

[2018-06-29 20:15] #1229 closed

[2018-06-29 21:09] Ordval opened #1882 "[Update] TV4 Play."
- [x] This is a plugin (improvement) request.

### Description
tv4play.py needs an update.
They now separate audio and picture.
### Log
[code]
also tried with Streamlink: 0.14.2
but could this easily be accomplished in the old Plug-In with the [`--ffmpeg-ffmpeg FILENAME`](https://streamlink.github.io/cli.html#cmdoption-ffmpeg-ffmpeg) commands ?
If so as usual, I need a very hands on command line e

[2018-06-29 21:36] remek30 commented on #1880
thank you very much . it works perfectly now

[2018-06-29 22:00] #1837 closed

[2018-06-30 06:20] beardypig commented on #1880
@remek30 did you want this added to streamlink? If you create a PR we can it in - with some extra improvement suggestions :)

[2018-06-30 07:38] gravyboat commented on #1880
@beardypig Why does this need to be added? The user can just specify the live edge value on the command line.

[2018-06-30 08:29] back-to commented on #603
https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

[2018-06-30 08:29] #603 closed

[2018-06-30 08:29] back-to commented on #800
https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

[2018-06-30 08:29] #800 closed

[2018-06-30 08:30] back-to commented on #1003
https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

[2018-06-30 08:30] #1003 closed

[2018-06-30 08:31] back-to commented on #1357
https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

[2018-06-30 08:31] #1357 closed

[2018-06-30 08:31] back-to commented on #1279
https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

[2018-06-30 08:31] #1279 closed

[2018-06-30 08:32] back-to commented on #1207
https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

[2018-06-30 08:32] #1207 closed

[2018-06-30 08:39] back-to commented on #1835
The frontpage of these website has dead streams.

https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

[2018-06-30 08:39] #1835 closed

[2018-06-30 08:50] back-to commented on #1321
Most of the videos are just **under one minute length**,
which is not really an improvement for Streamlink.

---

https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#plugin-requests

[2018-06-30 08:50] #1321 closed

[2018-06-30 11:53] karlo2105 opened #1884 "OK.ru broken : solved credits to back-to"
## Plugin Issue

- [x] This is a plugin issue and I have read the contribution guidelines.

### Reproduction steps / Explicit stream URLs to test

1. `streamlink "https://ok.ru/video/266205792931" best`

### Logs

[code]

[2018-06-30 12:06] bastimeyer commented on #1884
This is not a broken plugin, VODs are simply not supported:
https://github.com/streamlink/streamlink/blob/0.14.2/src/streamlink/plugins/ok_live.py#L8
https://github.com/streamlink/streamlink/blame/0.14.2/docs/plugin_matrix.rst#L137

[2018-06-30 12:19] back-to commented on #1884
I have a better custom version for this plugin
https://raw.githubusercontent.com/back-to/plugins/master/plugins/ok_live.py
if you want to use it ...

[2018-06-30 12:36] karlo2105 commented on #1884
@back-to
Sure yours works fine. ;))

Normally I don't use streamlink for VOD but I can't play nor save video from this hoster with VLC and Firefox add-ons.
Thanks very much. ;)

[2018-06-30 12:51] remek30 commented on #1880
@beardypig
here is a fully working toya.py plugin - it is tested and works steadily without any problems :

toya.py

import re

from streamlink.plugin import Plugin
from streamlink.plugin.api import http, useragents
from streamlink.stream import HLSStream

_url_re = re.compile(r"http(s)?://tvtoya.pl/live")
_RE_PLAYLIST = re.compile(r'data-stream="([^"]+)"')

class Toya(Plugin):
    @classmethod

[2018-06-30 12:51] karlo2105 commented on #1865
OK since I upgraded to latest streamlink build, Youtube this link above doesn't work for me either.

[code]

But this one is working fine :

[code]

[2018-06-30 13:16] AeolusDraco opened #2287 "Streamlink no longer provides streamlink-script.py"
As of version 0.14.0 streamlink does not install the streamlink-script.py script,
because of this streamlink-twitch-gui does not work as it cannot load the script.
This may an issue in streamlink, as there is no mention of its removal in the changelog.

[2018-06-30 13:31] karlo2105 commented on #1876
Youtube recently adopted new layer. To make Youtube plugin workins you have to add this at the end of address : `?disable_polymer=1`

[2018-07-01 05:14] xalex1878 opened #1890 "Play list of mp4 files from a directory"
Any one know how to play list of mp4 videos from a directory ?

[2018-07-01 06:15] gravyboat commented on #1890
You can play local files as noted (here)[https://streamlink.github.io/cli.html#id3] in the docs, you can also find some more examples if you search for `files` on that docs page. If it's not a playlist you'll need to write a wrapper script which is outside the scope of this project so I'm going to close this.

[2018-07-01 06:15] #1890 closed

[2018-07-01 06:16] #1884 closed

[2018-07-01 22:47] johnthecracker opened #1892 "Streamlink plugins question"
## Plugin Issue

- [x ] This is a plugin issue and I have read the contribution guidelines.

### Description

I have 2 questions to ask here:

How to modify plugin from another github fork to adapt it to work with streamlink?

Is Streamlink checking each and every plugin for being politically correct after starting itself
and only after that running plugin that I actually want to use ?

### Reprod

[2018-07-01 23:19] Erk- commented on #1892
Could you try and remove the fc2.py file?

[2018-07-01 23:36] johnthecracker commented on #1892
I have a reason to keep it because I want to use it.

Now you give me one good reson why should I remove it.

[2018-07-01 23:40] beardypig commented on #1892
You replace `livecli` with `streamlink`, which should mostly work. I believe @back-to has abandoned that project in favour of `streamlink` and a custom plugins repo - which probably contains compatible versions of the plugins you want.

Yes, it checks all the plugins - that’s the only way it knows if the url you give it is supported and by which plugin. Not sure what you mean by politically correc

[2018-07-01 23:47] bastimeyer commented on #1892
Depends on the changes of the fork. You have to ask the maintainer(s) of the fork or fix it yourself. In cases when a project gets forked and something gets changed, it is not up the maintainers of the upstream project (Streamlink in this case) to fix or support any of the changes being made by the fork. Since Streamlink is being licenced under the 'BSD 2-Clause "Simplified" License', you can see

[2018-07-01 23:50] johnthecracker commented on #1892
Thank you @beardypig and @bastimeyer.

[2018-07-01 23:56] gravyboat commented on #1892
Closing since this seems to have been answered.

[2018-07-01 23:56] #1892 closed

[2018-07-02 01:19] johnthecracker commented on #1892
Thanks @beardypig and @back-to if you are reading this,
here I can study where I was wrong with fc2.py modification:

https://github.com/back-to/plugins/blob/master/plugins/fc2.py

[2018-07-02 07:54] DjUnknown opened #1893 "Detect name"
## Feature Request

- [ ] I have read the contribution guidelines.

### Description

They are going to implement a similar command like this one that is used for youtube-dl "-o %(title)s.%(ext)s", I tried to download the video https://www.atresplayer.com/antena3/series/el-secreto-de-puente-viejo/julieta-y-los-hermanos-ortega/29-06-18_5b3107d47ed1a8a40d941e4f/ but the name does not detect it, it ha

[2018-07-02 08:29] johnthecracker commented on #1892
@beardypig,

answer to your quote:

Not sure what you mean by politically correct

I mean doing something for nothing, in simple words open only plugin that I want to use.
There are 190 other plugins sitting there which I will never use.
Why OPEN each of them for reading every single time I start the program.

If File.Exists Method (String) then...

without OPENING other 196 plugins. Streamlink OP

[2018-07-02 11:54] back-to commented on #1864
streamlink supports only vods for `nbc.com`

there is no plan in adding support for cable logins

---

you could try to use **every** cookie from your webbrowser
https://streamlink.github.io/cli.html#cmdoption-http-cookie

but you will most likely need the direct URL `https://....m3u8?...` not `nbc.com/live `

[2018-07-02 12:03] back-to commented on #1882
the last change for this plugin is **3 years old**, this plugin is **99.9%** broken

https://github.com/streamlink/streamlink/blame/master/src/streamlink/plugins/tv4play.py

---

a login is requiered which is not supported by streamlink

---

what are you doing with `--ffmpeg-ffmpeg` ?
remove it and read the description
https://streamlink.github.io/cli.html#cmdoption-ffmpeg-ffmpeg

---

`.m3u8` is

[2018-07-02 14:23] back-to commented on #1893
there is currently no `title` support in streamlink,
it might be possible with https://github.com/streamlink/streamlink/pull/1576

But this issue is a **duplicate** of https://github.com/streamlink/streamlink/issues/791 **not directly**, **but** it requires the **same steps**.

closing

[2018-07-02 14:23] #1893 closed

[2018-07-02 18:08] maanich commented on #1626
streamlink https://www.itv.com/hub/itv2
[cli][info] streamlink is running as root! Be careful!
[cli][info] Found matching plugin itvplayer for URL https://www.itv.com/hub/itv2
error: Unable to open URL: https://magni.itv.com/playlist/itvonline/ITV2 (403 Client Error: Forbidden for url: https://magni.itv.com/playlist/itvonline/ITV2)
 i got this error on uk based server

[2018-07-02 18:39] back-to opened #1895 "DASHStream - TypeError - 'NoneType' and 'int' - t += tsegment.d"
## Bug Report

- [x] I have read the contribution guidelines.

### Description

DASHStream is **not valid for streamlink**,
the stream **works with vlc and mpv**

### Reproduction steps / Explicit stream URLs to test

1. https://zattoo.com/ondemand any vod there
    free account required,
    but the url is probably different in the webbrowser (drm)
    use the logs.

### Logs

**error**

https://

[2018-07-02 18:55] beardypig commented on #1626
@maanich some IP addresses are blocked even if they are inside the U.K. Can you check it works in the browser?

[2018-07-02 19:05] beardypig commented on #1895
I’d say the problem is on line 633. Should check `if tsegment.t is not None` before swapping them :)

[2018-07-02 19:15] maanich commented on #1626
yes working in browset

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: beardypig <notifications@github.com> Date: 02/07/2018  19:55  (GMT+00:00) To: streamlink/streamlink <streamlink@noreply.github.com> Cc: maanich <manigorgeous@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [streamlink/streamlink] itvplayer still not working (#1626)
@maanich some IP

[2018-07-02 19:57] maanich commented on #1626
working in browser well

[2018-07-02 20:01] maanich opened #1896 "bbciplayer ok with v13 but v14 error"
v13 log on home pc with 3 mb upload..
[code]

best u get 1700k

but v14 on  vps 1gb

[code]

[2018-07-02 20:05] bastimeyer commented on #1626
@beardypig He just got banned by Github for opening another issue with lots of links, which triggers their spam detection system... Same happened two days ago again with another user. I'm not sure who it was, but since the Gitter hook for certain issue events has been set up last month, those issue links are still in the log of the streamlink Gitter channel.

[2018-07-02 20:08] Ordval commented on #1882
Thanks for the answer.

so with an added  login what do you reckon about  an update ?

I have, hence the link:  [`--ffmpeg-ffmpeg FILENAME`](https://streamlink.github.io/cli.html#cmdoption-ffmpeg-ffmpeg)
[code]
console,  verbose ? I'm sorry but I don't understand,
that's why I wrote:

but I've come as far as this:
[code]

still without any sound. Maybe if fluent in English it's a given, but I'm no

[2018-07-02 20:20] back-to commented on #1882
there is no audio because you are using the wrong url,

you are only using the video url, try this.

[code]

[2018-07-02 20:21] back-to commented on #1895
yes this works.

[2018-07-02 20:34] maanich commented on #1626
i m here buddy just message back to github and released.

[2018-07-02 20:35] maanich commented on #1896
sorry its not the version issue just tested stream again in vps with local pc proxy  and it got 1700k but vps i found 540p

[2018-07-02 20:37] beardypig commented on #1626
@maanich can you open a new issue with a debug log included?

[2018-07-02 20:39] maanich commented on #1626
should i add log as text or its fine live log in new ticket

[2018-07-02 20:42] maanich commented on #1626
looks like ip banned might be ovh . with proxy all working

[2018-07-02 20:45] bastimeyer commented on #1882
You've read something else... Read again (from the top of the link-anchor):
https://streamlink.github.io/cli.html#cmdoption-ffmpeg-ffmpeg

If you're using the `--ffmpeg-ffmpeg` parameter, the next parameter will be used as `FILENAME` value. Your command didn't include a value, so the URL was used as value and was not interpreted as the actual URL. The error message of both of your commands is tell

[2018-07-02 21:32] Ordval commented on #1882
@**back-to**
That did it, and I can of course use your model stream string for their other videos,
won't find it out though using V.D.H. #1772 (just getting the seperate aac and video) nor “URL Helper”,
what did you use ?
@**bastimeyer**

I'm reading, I'm reading.
Figuring out how to make the system work (Chinese), if I'll be needing it again,
is going to take an exceedingly amount of time and the

[2018-07-02 21:49] gravyboat commented on #1864
As @back-to noted we don't support cable logins so I'm going to close this out.

[2018-07-02 21:49] #1864 closed

[2018-07-02 21:53] #1865 closed

[2018-07-02 21:53] #1876 closed

[2018-07-02 22:51] maanich commented on #1896
vps server

streamlink -l debug --bbciplayer-username xxxx@gmail.com --bbciplayer-password xxxxx https://www.bbc.co.uk/iplayer/live/bbcone best
[cli][info] streamlink is running as root! Be careful!
[cli][debug] OS:         Linux-3.13.0-149-generic-x86_64-with-Ubuntu-14.04-trusty
[cli][debug] Python:     3.4.3
[cli][debug] Streamlink: 0.14.2+14.g0e48e2f
[cli][debug] Requests(2.19.1), Socks(1.6.7),

[2018-07-02 22:56] maanich commented on #1896
i think vps looks  banned but the issue comes in both itv and bbciplayer on that  ovh server. i am confused how i newly bought uk based server ip blocked.

[2018-07-02 23:58] bastimeyer commented on #1896
This is not a Streamlink error

[2018-07-03 00:22] maanich commented on #1896
but i f u see bitrates on top one and bottom  [cli][info] Opening stream: 540p (hls)
[cli][info] Opening stream: 1700k (hds)

[2018-07-03 00:50] vinnyA3 commented on #789
Hi again!

I've been gone for a bit, but after checking back with streamlink & premium funimation videos, I am getting the *no experience id* error again:

[code]

I am currently running the latest streamlink available in the official Arch repo ...

**version:**  0.14.2

[2018-07-03 02:48] pshotsf commented on #1896
@beardypig just some off-topic question. If i keep seeing  "Invalid timestamps stream=1" when using streamlink+ffmpeg, is it normal?Thanks

[2018-07-03 02:49] pshotsf commented on #1896
@maanich try this
"streamlink http://a.files.bbci.co.uk/media/live/manifesto/audio_video/simulcast/hls/uk/abr_hdtv/ak/bbc_one_hd.m3u8 best

[2018-07-03 09:39] beardypig commented on #1896
@maanich & @pshotsf, [--bbciplayer-hd](https://streamlink.github.io/cli.html#cmdoption-bbciplayer-hd).

@maanich, the range of IPs from ovh will be blocked, doesn't matter if it's new or old (well, you might get lucky with a new one if it's in another IP block). The HDS streams are hosted by a different company with different IP blocking rules. Not a streamlink issue as far as I can tell.

@pshots

[2018-07-03 09:39] #1896 closed

[2018-07-03 09:40] beardypig commented on #789
@vinnyA3 could you open a new issue and provide debug logs.

[2018-07-03 12:11] DjUnknown opened #1898 "Audio playlist.m3u8"
Can someone please tell me which command I have to execute in order to hear this video?

[code]

[2018-07-03 12:41] beardypig commented on #1898
@DjUnknown, please use the issue template and post the commands you tried (eg. `streamlink <URL> best`? Please post `debug` logs.

You might need `ffmpeg` installed, however with the logs we cannot help you. The templates are there so that we can help you more easily. If you don't follow the template you will not get an answer.

[2018-07-03 13:39] maanich commented on #1800
is drm supported in v14 of streamlink for dash streams .  or no support for tvplayer dash streams.

[2018-07-03 13:50] beardypig commented on #1800
@maanich no support for DRM. It's not likely there ever will be support for DRM.

[2018-07-03 14:25] vinnyA3 opened #1899 "Funimationnow plugin failing: no exp. ID"
## Bug Report

- [x] I have read the contribution guidelines.

### Description

The funimation plugin is failing to play content when authenticating

### Expected / Actual behavior

**Expected behavior**:  mpv opens a video via the funimation api

**Instead got**:  the error via console ...
[code]

### Reproduction steps / Explicit stream URLs to test

1. `streamlink --loglevel debug -p mpv --funi

[2018-07-03 14:46] beardypig commented on #1899
Thanks you for the report - I will investigate.

[2018-07-03 17:40] DjUnknown commented on #1898
@beardypig

## Bug Report

- [ ] I have read the contribution guidelines.

### Description
[code]

### Reproduction steps / Explicit stream URLs to test

[code]

### Logs
[code]

### Additional comments, screenshots, etc.

I do not hear the video

[2018-07-03 18:30] #1895 closed

[2018-07-03 23:35] back-to commented on #1898
same as https://github.com/streamlink/streamlink/pull/1853#issuecomment-401041683

there streams are invalid

[2018-07-04 00:28] maanich opened #1900 "plugin pluzz for URL https://www.france.tv issue"
[code]

tried but not working

[2018-07-04 00:32] maanich commented on #1900
withh ffmpeg   log

streamlink --http-no-ssl-verify https://www.france.tv/france-o/direct.html best --player-no-close --stdout | /var/tmp/youtube/ffmpeg -y -i pipe:0 -vcodec copy -acodec copy -flags -global_header -hls_flags delete_segments -hls_time 10 -hls_list_size 6 /mnt/hls/fro.m3u8
root@dedi-par-Vod:~# streamlink  --http-no-ssl-verify https://www.france.tv/france-o/direct.html  best --player

[2018-07-04 00:36] Ike348 commented on #1864
Just to follow up on this if I could... Streaming from NBC Sports live is giving me a very odd error. I can find the m3u8 URL with my snooper, and I can both download that m3u8 file from the browser and also download it from my command line with wget. However, when I try to use streamlink, I get a 403 forbidden error. The killer is that I can also download the individual .ts files on their own (ag

[2018-07-04 00:47] bastimeyer commented on #1900
You have not specified a player, as the error message is telling you.
The stream is working fine via Streamlink, just tested it with my French socks5 proxy...

This is your 10th issue now within the past two weeks and most of them were no real issues/bugs and just caused by user errors. Asking questions or requesting new plugins is absolutely fine, but I guess it's not only me who would really app

[2018-07-04 00:54] bastimeyer commented on #1864
Are you using a vpn/proxy server (different IP address) or different HTTP request headers when downloading the files via your browser or via wget? Often times the `User-Agent` or `Referer` request headers are being used for blocking requests and returning a `403` error.

[2018-07-04 00:59] Ike348 commented on #1864
@bastimeyer I'm not using a proxy server. My wget command is a simple default `wget 'link'` and it works just fine. Then running `streamlink "hlsvariant://link"` fails. It's really weird, but since I figured out a workaround to get the stream otherwise, I didn't bring it up on here until now. The link also works with `youtube-dl -F 'link'` and even `ffmpeg -i 'link'` seems to be working (and I've

[2018-07-04 01:09] bastimeyer commented on #1864
When happens when you add a custom user agent http header?

[code]

[2018-07-04 01:13] Ike348 commented on #1864
That works! Odd that that would be required. Thanks for the help!

[2018-07-04 01:16] bastimeyer commented on #1864
Streamlink doesn't add the User-Agent header by default. In plugins this is done manually by the plugin author, but just using a HLS playlist as URL requires you to also set the header. Could be improved, though. The current user agent situation needs to be fixed anyway, so maybe adding a default header could be considered.

[2018-07-04 11:55] hpmueller1971 opened #1901 "Generic Stream Detector"
## Feature Request

- [x] I have read the contribution guidelines.

### Description

For Firefox (original-non-quantum-fatfox-flavor) there is an addon "[HLS Stream Detector"](https://addons.mozilla.org/en-US/firefox/addon/hls-stream-detector/?src=api) which can detect any HLS Streams on a website like i.e.

http://www.livenewson.com/american/cnn-news-usa.html, it detects one HLS Stream,

http://2

[2018-07-04 12:10] bastimeyer commented on #1900
Your last command is using the `--stdout` parameter, which lets Streamlink output the data to stdout instead of launching a player. If you don't use this parameter, the default player has to be launched and if the executable of the default player in its default location can not be found, Streamlink will output this error message and exit.

[2018-07-04 12:10] #1900 closed

[2018-07-04 12:13] unlocKing commented on #1745
@gravyboat

How far have you got with the new logo, was anything ever presented?

If not I can recommend the dude that does the artwork for most of the top Kodi addons..

His work is always great and he never charges open source projects.

Let me know and I'll ask him to present some ideas :)

[2018-07-04 12:13] beardypig commented on #1900
@maanich what is the issue? You just posted logs. What exactly are you expecting to happen. If you don’t follow the template and answer the questions, how can we help you?

[2018-07-04 12:15] maanich commented on #1900
well i use it to get it as hls m3u8 and then use it in remote server through nginx http stream . reason of showing u all is that stream itself gives error while before three days all is well with the same command .

[2018-07-04 12:15] beardypig commented on #1898
It seemed to work for me with `ffmpeg 4.0.1` and `mpv 0.28.2` - just takes a while to start. As @back-to said, their streams are a bit broken.

[2018-07-04 13:10] maanich commented on #1900
leave it as alot of guy start commenting for nothing  log clearly showed stream not working. with errors shown keeps connect disconnect.

[2018-07-04 14:28] back-to commented on #1847
https://github.com/streamlink/streamlink/pull/1902 will allow the usage of the **muxed streams**

`--locale` for different **audio** sources will work,
but **not subtitles** because streamlink does not support it.

[2018-07-04 17:53] jalba69 commented on #1898
Works for me using ffplay or MPC-HC, no delay to start either, but using the dash stream HLS-Multi stream i have issues on this website, command used :

`Streamlink --player "M:\FFMPEG\ffplay.exe" --stream-priority=dash https://www.atresplayer.com/antena3/series/el-secreto-de-puente-viejo/julieta-y-los-hermanos-ortega/03-07-18_5b3408497ed1a8c72cd472b5/ best`

[2018-07-04 18:45] DjUnknown commented on #1898
The mpd, f4m and link atresplayer.com...... I can see and hear it without any problem, the only one that does not work properly is the m3u8, I see it without sound.

[2018-07-04 19:21] gravyboat commented on #1745
@unlocKing We haven't gotten anywhere with a new logo unfortunately. None of us are designers, and the few people who were interested wanted to either keep the rights to the image, or they wanted additional advertising for their site/company past what we currently are willing to do. We had a lot of discussion on it here: https://github.com/streamlink/streamlink/issues/1123, and we are willing to p

[2018-07-04 19:42] Ordval commented on #1901
Good luck to you if you get this one through ! (Member)
The normal procedure here is to request for a plug-in for that particular site etc.
you know this already, right ?
But Hey, you just promoted an Add-On for me !

[2018-07-05 06:53] beardypig commented on #1901
@back-to has a plugin called `resolve` that does some of what you want. However, it doesn’t execute any JavaScript, etc., for the sites where the stream is hidden behind JavaScript you would need a specific plugin.

[2018-07-05 08:56] johnthecracker commented on #1901
Sounds like 2 or 3 more plugins like resolve.py

makes 200 fewer plugins like my_wish_plugin.py

[2018-07-05 11:44] unlocKing commented on #1745
@gravyboat The artwork he has always provided is always given to us to do with as we please, he has never asked for anything in return which is cool.. obviously at the same time, don't be rude by not saying thanks publicly! :)

Only thing I ask is that we be allowed to use the artwork for our streamlink-kodi addon icon or a variation of it depending on the final image.

If you're cool with that, l

[2018-07-05 11:46] back-to commented on #1901
you can take a look at
https://developer.mozilla.org/en-US/docs/Tools/Network_Monitor
this is basically your Firefox plugin.

---

yes, I have a generic plugin

https://github.com/back-to/plugins/blob/master/plugins/resolve.py

but adding it directly to streamlink might **confuse** to many **people**,

as there are **false positives**

[2018-07-05 12:42] johnthecracker commented on #1901
You made plugins that (Member) doesn't want here, and I appreciate that.

false positives ?

fc2.py and likes work.

[2018-07-05 13:00] beardypig commented on #1901
@johnthecracker it's not that the `resolve` plugin is not wanted, it's about usability. `resolve` is a complex and advanced plugin - it can be very useful, but what I think @back-to is saying is that it would put extra support burden on us if it were included with vanilla streamlink. By all means use it, but you probably own't get much support :)

[2018-07-05 13:56] johnthecracker commented on #1901
(Member) is gravyboat, not you.

If it was his way, streamlink would be for twitch only.

[2018-07-05 16:31] remek30 opened #1904 "tvp.py"
I noticed a problem with the tvp.py plugin consisting of freezing the image and sound every 2-3 seconds - a similar problem was in the toya.py plugin, which has already been solved. Please fix the tvp.py plugin so that it will not jam every 2-3 seconds while watching.

[2018-07-05 17:11] Ordval commented on #1901
Well there **hpmueller197**,
who knows what you might find if you dig real deep.
Tell us it it helped.

[2018-07-05 17:48] back-to commented on #1904
There is no issue with the streamlink plugin or there streams,
if you have locally lags you can use commands such as

https://streamlink.github.io/cli.html#cmdoption-hls-live-edge

or cache the stream with using the pause button.

[2018-07-05 17:48] #1904 closed

[2018-07-05 18:11] gravyboat commented on #1745
@unlocKing We would of course thank/pay the person, it's just been an issue in the past so I like to be up front as to not waste their time. I don't want it to become an issue in the future if we make stickers or something and the creator of the art wasn't aware we would potentially use it for that purpose and feels slighted in some way.

I don't have any issue with the artwork being used for the

[2018-07-05 18:40] beardypig commented on #1745
@unlocKing which `streamlink-kodi` addon is that???

[2018-07-05 18:48] bastimeyer commented on #1904
@remek30
@back-to already anwsered your question and told you to configure Streamlink's HLS options if you're experiencing lags. This is not a plugin issue. Same as your other issue #1880

[2018-07-05 19:30] remek30 commented on #1904
I know that this is not a problem with the plugin but I have too little knowledge and I ask you why, if you can edit this TVP plugin for me, I do not have problems with you interrupting the picture every 2-3 seconds. I apologize for the inconvenience, but I am asking you for help.

[2018-07-05 19:37] beardypig commented on #1904
`streamlink --hls-live-edge 10 <url> <quality>`

[2018-07-06 00:04] remek30 commented on #1904
in which place should I paste it - and should it be pasted into the TVP.py plugin or streamlink itself? Sure, I am asking for help.

[2018-07-06 01:34] gravyboat commented on #1904
@remek30 This is the command you would run on the command line when you invoke Streamlink, it does not need to be added to the plugin, we support a large number of command line options specifically for instances like this. You should take a look at the [documentation](https://streamlink.github.io/index.html#quickstart), and especially the [command line interface documentation](https://streamlink.g

[2018-07-06 01:35] maanich opened #1905 "Playtv uk"
playtv.fr working fine is there any possibility to run http://uk.play.tv/    looks like both sites france and uk owned by same  company. As streamlink support tvplay.fr. hope u get support for uk playtv.
http://uk.play.tv/live-tv/363/pick-tv/
http://uk.play.tv/live-tv/752/itv4-1/
http://uk.play.tv/live-tv/1106/itv3-1/
http://uk.play.tv/live-tv/1105/itv-1/

[2018-07-06 01:35] limiteddi opened #1906 "AES-128 decryption"
Streamlink is complaining about a decryptor. I was able to get the contents of the m3u8 file but now I am not sure whether I need to be able to download the key file or there is a workaround?

[code]
Here is what streamlink returns:

[code]

[2018-07-06 01:38] gravyboat commented on #1901
I'm going to close and lock this as there's nothing more to discuss on this topic. A generic stream detector isn't something we're going to support as it would be way too problematic and open us up to too many issues both from users and potential DMCA claims. It would be nothing for a headache and we're already stretched thin.

[2018-07-06 01:38] #1901 closed

[2018-07-06 01:42] bastimeyer commented on #1906
Can you please follow the issue template and provide a debug log?

[2018-07-06 01:44] gravyboat commented on #1905
This doesn't meet the plugin request template requirements and I believe you were notified of this before on another issue, so why are you not using the template and including the required information?

[2018-07-06 01:45] gravyboat commented on #1906
We've discussed a very similar issue before as well: https://github.com/streamlink/streamlink/issues/618. You can try to take a look in the contents of that `EXT-X-KEY` file and if it looks like DRM there's nothing we can do as Streamlink doesn't support streams that use DRM.

[2018-07-06 01:52] limiteddi commented on #1906
I can't download the .key file, returns 401 message. I am assuming I am not passing enough parameters to authorize my request? So without the key file the .ts files are all encrypted?

[2018-07-06 02:11] gravyboat commented on #1906
Yeah if you can't download/access the key and pass it over then there's nothing that can be done if the actual stream is encrypted in some way. As I said before even the key may not be enough if it uses some sort of DRM.

[2018-07-06 02:58] limiteddi commented on #1906
If I manage to get the key, what would be the next step to play the link in streamlink?

[2018-07-06 03:29] gravyboat commented on #1906
Maybe send the key along with the header or decrypt the files after download somehow? I'm not really sure as I don't watch any encrypted streams.

[2018-07-06 07:53] beardypig commented on #1906
You probably net to set the correct auth cookies using the `--http-cookie` option.

[2018-07-06 15:32] maanich commented on #1905
@gravyboat i m happy to do it mate. any donation link here. and please if u add link of tel=mplaye i m happy to do it throught that process. regards.

[2018-07-06 15:50] maanich opened #1907 "Mjunoon plugin issue"
Hi  first all of all extreme sorry if i am publishing in wrong area.

mjunoon plugin while running gives continous error which makes streamlink crash at the end

/streamlink -l debug --player-continuous-http --player-external-http --player-external-http-port=2000 https://www.mjunoon.tv/express-news-live best
[cli][info] streamlink is running as root! Be careful!
[cli][debug] OS:         Linux-3.13

[2018-07-06 17:02] back-to commented on #1904
@remek30

As you are **not using streamlink from the command line**,
we don't know what your third party application supports or how it works.

**Changing plugins is bad**, when you **update** Streamlink it **will be overwritten**.

The best way is to use plugin specific config files

https://streamlink.github.io/cli.html#plugin-specific-configuration-file

new file

[code]

with this text

[code]

[2018-07-06 17:05] back-to commented on #1907
you cut the logs where you opened the stream

[2018-07-06 17:12] back-to commented on #1906
You already opened **exactly the same Issue** for a different website,
it is still the same as before you will have to add http headers/cookies

https://github.com/streamlink/streamlink/issues/1557
https://github.com/streamlink/streamlink/issues/1557#issuecomment-373911892

[2018-07-06 17:12] #1906 closed

[2018-07-06 17:22] unlocKing commented on #1745
@gravyboat He is reachable on Keybase.. I'm sure he would be happy for a payment if that's what you want to do, but that'll be between you and him to decide.

@beardypig We're a small group of 3rd party Kodi developers who have some some of the most popular addons in the past. We now have just taken on the work started by @Twilight0 and started to make several enhancements with a focus on crypto a

[2018-07-06 17:30] maanich commented on #1907
i was afraid of previous statements so i make it short . i able to get it done with uninstalling streamlink completly installed  pip3 install certifi
pipenv install "urllib3[secure]"
pipenv shell
and then reinstalled streamlink look smooth. will update if it still crash.

[2018-07-06 17:39] #1907 closed

[2018-07-06 18:55] maanich commented on #1907
. . drew x  ?? lb.?.  vtc. t ?  7  7.

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: back-to <notifications@github.com> Date: 06/07/2018  18:05  (GMT+00:00) To: streamlink/streamlink <streamlink@noreply.github.com> Cc: maanich <manigorgeous@gmail.com>, Author <author@noreply.github.com> Subject: Re: [streamlink/streamlink] Mjunoon plugin issue (#1907)
you cut the

[2018-07-06 19:58] collinsurvive opened #1908 "Issue when attempting to connect to a twitch stream"
## Bug Report

- [X ] I have read the contribution guidelines.

### Description

Version: Most Recent
Player: VLC, most recent
Type of Stream: Twitch.tv (occurred on various larger names such as Lirik/shroud/moonmoon_ow along with smaller names such as Zizaran)
Issue: The player anywhere from 30s to 1min in stops and returns this: https://i.imgur.com/MXY520d.png
Oddly enough it was working fine th

[2018-07-06 20:40] Githubaccountlol commented on #1908
Same for me, new behavior as of today.  Same behavior in the log.

[2018-07-06 21:52] bupmc opened #1909 "douyu plugin broken"
https://www.douyu.com/directory/subCate/yz/773
地址为http://9699.liveplay.myqcloud.com/live/9699_*
为了不浪费您的时间，连麦前的直播流不用中断。

[2018-07-06 22:52] gravyboat commented on #1908
I'm not able to duplicate this. I just watched a large stream for 10 minutes without issue.

[2018-07-06 23:18] collinsurvive commented on #1908
Yeah, just checked shroud's stream again and I'm in the same reloading playlist loop. Its a bit odd because it works fine in browser and worked just fine earlier this morning and now it just doesn't work without any changes made to my system nor network.

![image](https://user-images.githubusercontent.com/40900602/42403724-cb29922e-8148-11e8-99fb-93a6945419ca.png)

The reloading playlist continues

[2018-07-06 23:54] bastimeyer commented on #1908
I can't reproduce this either.

@collinsurvive You don't seem to be using the latest version, because it doesn't show the debug information at the beginning of the output, which was added a couple of versions back. Log output should also be posted in text format and not via screenshots, because this kind of information can't be indexed by github or search engines and also can't be copied.

This mi

[2018-07-06 23:59] collinsurvive commented on #1908
Sorry, I'm using the latest stable, 0.14.2.

I'll be sure to export to a text document if the issue persists or returns.

I think it may have been on twitch side as of 10 mins ago I've been able to have it work again.  Otherwise, I really have no clue to be honest.  If a moderator wants to mark this as closed feel free.  Again, I'm not sure what caused the issue at all, but it seems to have resolv

[2018-07-07 01:31] gravyboat commented on #1908
I'll close it for now and if it happens again we can always reopen it.

[2018-07-07 01:31] #1908 closed

[2018-07-07 08:59] back-to commented on #1908
@collinsurvive

_for your interest_

your **log** output does **not** look like the **latest version**,
it look like `0.9.0`

use `streamlink --version` to find out

for more informations see

https://github.com/streamlink/streamlink/issues/1391#issuecomment-354275115
https://github.com/streamlink/streamlink/issues/1340

[2018-07-07 09:34] back-to commented on #1847
The muxed streams are now available in the dev version,
as noted above subs are not support by streamlink only the audio.

**Audio example**

`streamlink URL best --zattoo-stream-types hls5 --hls-audio-select "*"`

https://streamlink.github.io/latest/cli.html#cmdoption-hls-audio-select
https://streamlink.github.io/latest/cli.html#cmdoption-zattoo-stream-types

[2018-07-07 09:34] #1847 closed

[2018-07-07 13:30] jtechpro opened #1910 "405 Not allowed for AES-128 stream"
## Issue

- [x] I have read the contribution guidelines.

### Description

I tried loading a live stream m3u8 which has AES-128 encryption with appropriate headers.
Streamlink tried to open the stream, but it is not able to pass the full parameters that is in the m3u8 file as a result I got 405 Not allowed error.

[code]

I get the error
**405: Not allowed for URL:
stream.xyz.com/live_stream/live_

[2018-07-07 15:49] collinsurvive commented on #1908
@back-to

Thanks for the comment links, the streamlink command line was still referencing the 0.10.0 version.  Took care of that, cheers.

[2018-07-07 18:07] Githubaccountlol commented on #1908
I ran the latest installer when this happened to me, I don't know what it did, but it certainly didn't change what was in the directory I pointed it to.  Didn't occur to me to check the version again afterwards, but that revealed the problem.  Derp.

FWIW, and this is user error, to be sure - the installer doesn't catch your stupidity if you've been using a portable install and try to run it on to

[2018-07-07 19:35] Ordval commented on #1847
....but it could with/ through the muxed streams I hope ? I mean, why else the update ?
The issue with dual audio was already briefed in #804 and wasn't it solved then ?
I'm still in the process of finding an acceptable VPN service so I'll have to get back with an evaluation.

[2018-07-07 21:06] beardypig commented on #1908
@collinsurvive did you resolve the issue?

[2018-07-08 06:01] collinsurvive commented on #1908
It seemed to have resolved itself @beardypig , may have been something on twitch's end.

[2018-07-08 09:47] maanich opened #1911 "mjunoon plugin streamlink stop after some time"
Hi all  i added live streams from mjuoon website and make them as script to run together but streamlink shutdown after some time must restart streamlink to see streams in vlc.

script i made like this
#!/bin/bash
#############################
killall streamlink
streamlink --player-continuous-http --player-external-http --player-external-http-port=9200 https://www.mjunoon.tv/such-tv-live best > std

[2018-07-08 12:22] mlindner opened #1912 "Crunchyroll Plugin fails to load some links with error "error: Media lookup error: You don't have permission to do this.""
streamlink http://www.crunchyroll.com/cells-at-work/episode-1-pneumococcus-774883 -v
[cli][info] Found matching plugin crunchyroll for URL http://www.crunchyroll.com/cells-at-work/episode-1-pneumococcus-774883
[plugin.crunchyroll][info] Successfully logged in as 'censored'
error: Media lookup error: You don't have permission to do this.

[2018-07-08 13:00] back-to commented on #1912
**You will have to provide way more details**, use this template for plugin issues

https://raw.githubusercontent.com/streamlink/streamlink/master/.github/ISSUE_TEMPLATE/Plugin_Issue.md
https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#reporting-issues

[2018-07-08 13:02] back-to commented on #1910
same as

https://github.com/streamlink/streamlink/issues/1557#issuecomment-373911892
https://github.com/streamlink/streamlink/issues/1906

[2018-07-08 13:02] #1910 closed

[2018-07-08 13:05] back-to commented on #1905
All of these streams are just embedded, just use the source website.

[2018-07-08 13:05] #1905 closed

[2018-07-08 13:07] back-to commented on #1909
some more details would be helpful and and please in English.

https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#reporting-issues
https://raw.githubusercontent.com/streamlink/streamlink/master/.github/ISSUE_TEMPLATE/Plugin_Issue.md

[2018-07-08 13:35] mlindner commented on #1912
There isn't any more information to provide. This is the full logs. I listed reproduction steps. I gave which plugin is affected.

[2018-07-08 13:38] mlindner commented on #1912
Here's a bit more (was unaware of the -l debug option) (I edited it to censor some info):

streamlink http://www.crunchyroll.com/cells-at-work/episode-1-pneumococcus-774883 -l debug
[cli][debug] OS:         macOS 10.10.5
[cli][debug] Python:     3.6.5
[cli][debug] Streamlink: 0.14.2
[cli][debug] Requests(2.18.4), Socks(1.6.7), Websocket(0.47.0)
[cli][info] Found matching plugin crunchyroll for URL

[2018-07-08 13:41] mlindner commented on #1912
Here's some more info (I was unaware of the -l debug option) (I edited it to censor some fields):

streamlink http://www.crunchyroll.com/cells-at-work/episode-1-pneumococcus-774883 -l debug
[cli][debug] OS:         macOS 10.10.5
[cli][debug] Python:     3.6.5
[cli][debug] Streamlink: 0.14.2
[cli][debug] Requests(2.18.4), Socks(1.6.7), Websocket(0.47.0)
[cli][info] Found matching plugin crunchyroll

[2018-07-08 13:45] mlindner commented on #1912
This is very easy to reproduce, please follow the steps I gave and any needed information can be easily obtained.

[2018-07-08 14:16] beardypig commented on #1912
@mlindner what region are you in?

[2018-07-08 14:21] mlindner commented on #1912
Continental United States (lower 48).

[2018-07-08 14:30] bupmc commented on #1909
If english is my first language, I won't use chinese.
There is no 连麦 in recorded file, because 连麦 is in another stream, stream url is http://9699.liveplay.myqcloud.com/live/9699_*

[2018-07-08 14:35] beardypig commented on #1912
OK, I will take a look when I can.

[2018-07-08 14:36] mlindner commented on #1912
To be clear, other links play without issue. Just specifically this one (at least so far that I've seen) has an issue.

[2018-07-08 15:13] beardypig commented on #1911
Any chance of following the issue template this time?

Please provide the debug logs.
How much time is “some time”? 10 seconds, 5 minutes, 10 minutes, 6 hours?
Perhaps try on a desktop with a player like VLC or mpv and see it still stops.

[2018-07-08 16:20] maanich commented on #1911
i added all links in a script and run but it goes some time 1 hrs some time 30 min some time less can i add a log option in script with in the line so we know when it crash.

[2018-07-08 18:43] gravyboat commented on #1911
@maanich If you can't follow the template and provide the required information we cannot, and will not help you. You've been warned several times about this and are creating a ton of issues. We also don't provide support for custom scripts of any kind. You will need to provide debug output from Streamlink commands only.

[2018-07-08 18:48] gravyboat commented on #1912
@mlindner Can you try using the `--crunchyroll-purge-credentials` to see if you still get the same error?

[2018-07-08 18:51] mlindner commented on #1912
I had already tried that. It made no difference.

[2018-07-08 18:54] mlindner commented on #1912
I just tried playing the video again. It appears something changed on Crunchyroll's end and the video is now playable. I'm sure not coincidentally, it now also appears in http://www.crunchyroll.com/videos/anime/updated (from 1 day ago) when it did not before, but was still accessible directly from their page.

[2018-07-08 18:55] mlindner commented on #1912
If I see this again I'll report it again to this same issue (I suggest that its left open) and a reproduction is tried quickly.

[2018-07-08 19:35] gravyboat commented on #1911
When you create a new issue you can select the template you want to use. There are 4 available and you should select the appropriate one then fill everything out that it asks for.

[2018-07-08 19:36] gravyboat commented on #1912
@mlindner I'm going to close the issue for now since it seems to be an issue on their end. If it does crop up again we can just re-open the issue since it still accepts comments. Thanks for the update.

[2018-07-08 19:42] mlindner commented on #1912
To be clear, the video plays fine in their player even during this and others have managed to rip the stream during that period. So it's something that streamlink should be able to support.

[2018-07-08 19:43] gravyboat commented on #1912
@mlindner I thought your comment was referring to being able to play it with Streamlink, are you still unable to do so?

[2018-07-08 19:47] mlindner commented on #1912
No, I am now able to play it with streamlink. I was saying that I previously was unable to play it with streamlink despite it being playable with things that are not streamlink.

[2018-07-08 19:54] gravyboat commented on #1912
Ahh okay gotcha. Yeah I agree it should be playable, I'll open this back up and we can see if it crops up next week since we'll need to be able to duplicate it to troubleshoot anything.

[2018-07-08 20:02] maanich commented on #1911
i select no.3 plugin issue and typed the details.

[2018-07-08 20:13] beardypig commented on #1912
Sounds like a time sensitive thing, difficult to debug :)

[2018-07-08 20:15] beardypig commented on #1911
@maanich did you delete everything that was automatically filled it?

[2018-07-08 20:19] maanich commented on #1911
yes i did    just added three example streamlinks the way i try to use. simple stuff  i didnot find any thihg wrong if u got any thing u can add screen shot of it so i know where i am wrong and how i addee that filled stuff.

[2018-07-08 21:08] beardypig commented on #1911
You need to read the text in the box when you create an issue. It explains all the information we _need_ you to give us to help you. For example the debug logs (or any logs), which you still haven’t provided.

[2018-07-08 22:36] steven7851 commented on #1909
@bupmc 现在 streamlink 用的 API 没有连麦串流网址，新的 API 才有，但目前没有人解密出算法

[2018-07-08 23:02] kuon commented on #1676
@beardypig Wouldn't be possible for streamlink to jump ahead instead of speeding up the video? A threshold could be used, for example 5 seconds. If streamlink has more than 5 seconds of future video buffered, it drops 5 second of video and makes the player jump ahead. This is of course just an idea, I don't know if it is feasible. But as I user, I wouldn't mind this behavior (if it is an option I

[2018-07-09 00:16] beardypig commented on #1676
@kuon good idea :) It might work - entire segments would have to be skipped. In twitch’s case that would be a second or two. The problem is that it might corrupt the stream and cause issues for some players, but if it is an option with sufficient warnings that should be up to the user. (Of course, there will always be people that don’t read those warnings...)
It is unlikely that streamlink will ha

[2018-07-09 02:35] Ordval commented on #1882
@**back-to**        Still wouldn't mind that update.
What I _can_ find following your example is this bit: `/efeaa/pid500519856_3939062(3939062_ISMUSP)`
What I can't find is: `cmoreseusphlsvod69`
But perhaps with the adequate device.....

[2018-07-09 20:32] DjUnknown opened #1914 "RTVE"
Delete this topic please.

[2018-07-09 20:39] DjUnknown opened #1915 "Improve RTVE plugin"
Hello, you can possible when the channels of rtve cannot be streamed online for copyright reasons let's see this video?
[code]

I hope you have understood me, I do not speak English, it has been translated by Google.

[2018-07-09 21:13] #1914 closed

[2018-07-09 21:20] beardypig commented on #1915
You post Spanish and English translation.
puedes escribir español e inglés traducido

[2018-07-09 21:30] DjUnknown commented on #1915
He intentado preguntar en ingles
"Si es posible cuando un programa de RTVE no pueda emitir por internet por derechos de autor se nos aparezca en el reproductor este video...
[code]

Sería grandioso si lo consigue beardypig

[2018-07-09 22:45] bastimeyer commented on #1915
Yes, I understand this, but if a requested resource cannot be played, eg. when it's blocked or geo-restricted, Streamlink should return an error message and exit with an error status code. Playing a static error video in these cases is not the job of the plugin, as it would make Streamlink return a different resource and would make it exit with a success code instead. This would not only be incons

[2018-07-09 22:58] back-to commented on #971
the last message on the bug report has a workaround https://bugs.python.org/issue9334

not sure if there is any downside of it.

[code]

**diff** between **master 3.7** and **patch**
https://gist.github.com/back-to/d940a2273a7e58152f4fb9fca79cf454/revisions#diff-df389dc0f92c4a0567555d1f96ff2bf9

**master 3.7**
https://github.com/python/cpython/blob/3.7/Lib/argparse.py#L2065-L2084

**patch**
https:

[2018-07-10 00:14] DjUnknown commented on #1915
youtube-dl does try to show the mp4 video when I execute the command "youtube-dl http://www.rtve.es/directo/la-2/ -o - | ffplay" but it is not displayed because of this error...

[http @ 0000000000574c80] HTTP error 400 Bad Request
http://mvod.lvlt.rtve.es/resources/TE_NGVA/mp4/0/0/╩ÿu?$JrY´┐¢´┐¢´┐¢:

[2018-07-10 01:13] Toni195 opened #1917 "Audio Spanish"
I don't hear this video in Spanish, why?,  Is there any way I can keep it from being heard in English?
[code]

### Logs

[code]

[2018-07-10 07:38] Ordval commented on #1915
He visto que a veces se muestra el final de algún programa de TV y luego,
(I've seen sometimes the end of some TV-program is shown and then,)
a menudo, eso cartel/ letrero de que está hablando, (con la ayuda del plug-in)
(often that sign your talking about. [with the aid of the Plug-In] ),
pero, ¿ es tan esencial ?
(but is it that important ?)

Thanks for the translator **bastimeyer**.

[2018-07-10 12:34] back-to commented on #1745
if you want to release `1.0.0`,
some dependencies should probably be updated for the Windows installer

https://github.com/streamlink/streamlink/blob/e5995ee1a9c329d7ec9f0ac16fcf740aa24433e2/script/makeinstaller.sh#L36
https://github.com/streamlink/streamlink/blob/e5995ee1a9c329d7ec9f0ac16fcf740aa24433e2/script/makeinstaller.sh#L69
https://github.com/streamlink/streamlink/blob/master/win32/ffmpeg/

[2018-07-10 17:10] ScienceZone opened #1920 "Can't open CCTV Live"
Why can't play this video? http://tv.cctv.com/live/

[2018-07-10 18:47] PlaceboPRS commented on #1636
Huge thanks Ike348 that worked for me! :)

[2018-07-10 19:07] beardypig commented on #1745
`ffmpeg` we need to remove from the repo...

[2018-07-10 19:43] johnthecracker commented on #1920
I can't play it in Europe as well.

<a href='https://postimg.cc/image/mnuojht4n/' target='_blank'><img src='https://s15.postimg.cc/mnuojht4n/Screen_Shot.jpg' border='0' alt='Screen_Shot'/></a>

If you can get playlist, m3u8, it works.

<a href='https://postimg.cc/image/k6ixca6o7/' target='_blank'><img src='https://s15.postimg.cc/k6ixca6o7/Screen_Shot2.jpg' border='0' alt='Screen_Shot2'/></a>

Mayb

[2018-07-10 21:19] DjUnknown commented on #1915
To me if I think it's important, it's the only platform that uses this apart, the others have it in their m3u8, it would be nice if it was implanted, the player stays loading for a long time and you don't know if it's down or if the server is overloaded.

[2018-07-10 23:33] johnthecracker commented on #1920
<a href='https://postimg.cc/image/y39j7ejo7/' target='_blank'><img src='https://s15.postimg.cc/y39j7ejo7/Screen_Shot.jpg' border='0' alt='Screen_Shot'/></a>

[2018-07-10 23:41] johnthecracker commented on #1920
``
[cli][info] Found matching plugin hls for URL http://cctv1-lh.akamaihd.net/i/cctv1_1@619500/master.m3u8?contentid=2820180516001
[cli][info] Available streams: 46k (worst), 360p, 540p (best)
[cli][info] Opening stream: 540p (hls)
[cli][info] Starting player: C:\P\VLC\vlc.exe
 ``

[2018-07-11 06:18] ScienceZone commented on #1920
Different URLs, different experiences！！It can play online, but it is said to use encryption. Flashplayer can play it, why  streamlink can't?