[2016-12-26 21:36] beardypig commented on #327
Which subprocess? The player or stream subprocesses? I don't think either is possible at the moment, but it is possible to add an option.

[2016-12-26 21:36] gravyboat commented on #261
@beardypig Can you modify the release page with the newest version? If not I can do it, just don't have time to do the build right now since I'm working.

[2016-12-26 21:48] beardypig commented on #261
Yep, updated it. Do you have time to test it?

[2016-12-26 22:50] xkbd commented on #327
Stream subprocess. Option `--errorlog`.
I'd like to set the path but this parameter is a boolean.

[2016-12-26 23:00] beardypig commented on #327
It is possible to add an option like `--errorlog-path` or similar. Would probably be worth while adding a path option for `--verbose-player`.

[2016-12-26 23:03] xkbd commented on #327
By the way, it would be great to store logs in one place.

when i use `--errorlog` dest path for log file: %tmp%
In %appdata% i see `Streamlink.launch.pyw.log`
Also at `%appdata%` exists direcory `streamlink`
Why not store all the logs by default in the %appdata%\streamlink\logs?

[2016-12-27 06:02] gravyboat commented on #261
@beardypig Yeah I have time this evening, will do so right now.

[2016-12-27 15:47] Magciool opened #330 "Twitch API down or problem on my end?"
Can not open any stream anymore this is what im getting:

[code]

resynced internet & changed DNS still getting this

[2016-12-27 16:51] Vangelis66 commented on #327
@xkbd wrote:

This is a sensible request, I am "+1"ing it for the installed versions
of streamlink; however, I am mostly running portable installations
myself, so I wouldn't want additional leftovers on the host machine;
some prevision should be taken for the portable flavours (currently
two exist, one from @beardypig and another from @RosadinTV),
so that the logs folder is created inside the port

[2016-12-27 17:08] RosadinTV opened #331 "Bug with --can-handle-url"
For example if we use:
Streamlink.exe --can-handle-url "http://ThisLinkMagic.hahaha/TEST"
The program tries to HEAD the url, i think with --can-handle-url the only thing the program must do is check if the url matches with an associated plugin regex, with current method a long latency can be produced by waiting for HEAD task on a non-streamlink compatible url, what is really painfull in external e

[2016-12-27 17:19] gravyboat commented on #261
@beardypig I'll check it later tonight when I'm on my Windows box.

[2016-12-27 19:01] Gameplayer9198 commented on #229
"Sembiance commented on Jun 13, 2015
I figured out how to do this with code.

Here is a node.js script that will take a myfreecams URL or model name, and output the correct livestreamer hlsvariant url: https://gist.github.com/Sembiance/df151de0006a0bf8ae54
Note: You need to run npm install websocket before running the node.js script.

Essentially the steps are:

Connect to the myfreecams websocket

[2016-12-27 20:40] chiefstank commented on #190
@beardypig sorry for late response and happy holidays. I have the latest version but have not tried nightly.

[2016-12-27 22:34] RosadinTV commented on #326
@jessica19921 You can see the dog icon in the Streamlink.exe file?
The message 'This App cant run on your pc' makes me think the .exe is corrupt.

[2016-12-28 01:20] gravyboat commented on #261
@beardypig I'm seeing `0.2.0` now so the clean rebuild did the trick!

[2016-12-28 03:30] CyberBotX opened #332 "'Read timed out' appears to not be handled properly as of 0.2.0"
I use streamlink under FreeBSD (I've made a port for it and submitted it, but I need to update it for the latest version) to watch streams on Twitch. With 0.1.0 and earlier, whenever a read timeout seemed to occur, I'd get a message such as this:

`[stream.hls][error] Failed to open segment 4370: Unable to open URL: https://video-edge-835ef0.ord02.hls.ttvnw.net/transcode-x2-835b70/sinister1_240516

[2016-12-28 03:30] RosadinTV commented on #331
I fixed this, soon i'll post a PR

[2016-12-28 04:43] zp commented on #332
Yea this happens to me as well under Windows (also tested on Alpine Linux, same thing), happens very frequently on HLS streams for me after beb3f08 (crappy ISP), the stream eventually dies and doesn't properly reconnect when the exception occurs.

HLS streams prior to beb3f08 will reconnect normally after internet hiccups.

Also happens on a "Connection Reset Error"

[code]

[2016-12-28 05:43] gravyboat commented on #331
Do you want to get this into the main repo? Right now it's just in the portable repo.

[2016-12-28 11:27] beardypig commented on #332
Good points. That's an oversight on my part, I'll get a patch together for proper retry and resume support in the next week or so. It's relatively straightforward to do :-)

[2016-12-28 14:43] jessica19921 commented on #326
Yes, I can see the dog icon in the streamlink.exe file.
I have downloaded the app to different workstation but I get the same message.
Does anyone have a guide how to use stream link to download ine.com videos?
Thanks in advance.

[2016-12-28 15:06] RosadinTV commented on #326
@jessica19921 And if you just type Streamlink.exe in cmd you got the same error message or this is something exclusive to this stream ?

[2016-12-28 15:11] beardypig commented on #326
@jessica19921 which version of Windows are you using?

[2016-12-28 16:29] beardypig commented on #261
OK. Well, we got there in the end...

I was going to suggest that we get the automatic release builds set up (#328) and release a 0.2.1 version as a fix for the installer before merging anything else. Some people will have the old incorrect installer still, and it would probably remove some confusion to put out a 0.2.1 release :-) That  way everyone will have the same latest version.

[2016-12-28 17:33] Koisell opened #335 "Help install streamlink on fedora"
I just discover and install streamlink on my fedora 25(I used livestreamer before).
Because pip didn't directly work, I put here instruction for fedora users.

For the installation on a fedora OS you need to install the python-devel package before ;)
$ sudo dnf install python-devel
$ sudo pip install -U streamlink

I see their is a package project in WIP: #262
If I can give my help :)

[2016-12-28 17:43] gravyboat commented on #261
@beardypig I merged one PR last night since we said we would after we packaged up `0.2.0`. I'm fine with releasing a `0.2.1` release anyways.

[2016-12-28 17:56] Koisell commented on #335
I just see that a guy melmorabity make a build in the fedora Copr. I uninstall streamlink with pip and re install it using:
$ sudo dnf copr enable melmorabity/streamlink
$ sudo dnf install streamlink

It works fine.
So if your using fedora  23, 24, 25 I recommand you this way.
But the way explained above should work on fedora, CentOS and REHL (replace dnf by yum).

[2016-12-28 18:11] beardypig commented on #335
Strange that `pip` is installed without `python-devel`, on debian `pip` depends on `python-dev` :-)

[2016-12-28 18:17] Koisell commented on #335
pip is installed by default on fedora ;)

[2016-12-29 00:32] bobvargas opened #336 "Please support plugin Mtv.com"
Hey guys I wanted to watch my favorite tv shows on mtv via Vlc. Can you make a plugin to support mtv.com to use on future version of streamlink thanks.

[2016-12-29 00:34] bobvargas commented on #315
1 last thing @beardypig  after the holidays will anyone fix this streamlive.to bug so we can watch espn anytime? please answer.

[2016-12-29 02:25] gravyboat commented on #336
Is there a URL where you would currently stream MTV content?

[2016-12-29 12:44] jessica19921 commented on #326
@beardypig I am using windows 10 enterprise edition
@RosadinTV if I just type streamlink.exe i get a pop which gives me three option "step 1- choose flavor- Standlone.exe        step2-download snapshot- start downloading         step3- build release- start building"

[2016-12-29 12:49] stevek123 commented on #326
I think somehow you have downloaded the portable version generator. Download the latest streamlink version (streamlink-0.2.0.exe) here: https://github.com/streamlink/streamlink/releases After installation, it should work.

[2016-12-29 12:52] jessica19921 commented on #326
Thanks, should i download streamlink-0.2.0.exe 14MB?

[2016-12-29 12:53] stevek123 commented on #326
Yes

[2016-12-29 12:55] jessica19921 commented on #326
thanks, i have installed it.
C:\Program Files (x86)\Streamlink
But now I cant find any .exe file?

[2016-12-29 12:56] jessica19921 commented on #326
There is .exe inside - C:\Program Files (x86)\Streamlink\bin but that .exe does not have the dog icon?

[2016-12-29 12:57] jessica19921 commented on #326
is that the one I need to run? cmd , then cd to C:\Program Files (x86)\Streamlink\bin and then run streamlink ?

[2016-12-29 13:10] jessica19921 commented on #326
C:\Program Files (x86)\Streamlink\bin>Streamlink.exe -o C:\test.mp4 https://streaming.ine.com/play/80a51234-99dd-4a08-9197-52e88bc37fd9/accessing-your-rack/ 360p --http-cookie laravel_session=(REMOVED)
[cli][info] Found matching plugin ine for URL https://streaming.ine.com/play/80a51234-99dd-4a08-9197-52e88bc37fd9/accessing-your-rack/
[cli][info] Available streams: 120k (worst), 180p, 360p, 720p,

[2016-12-29 13:10] stevek123 commented on #326
You can run it just by simply typing streamlink and then the arguments. It should run.

[2016-12-29 13:11] jessica19921 commented on #326
I am getting permission denied

[2016-12-29 13:11] stevek123 commented on #326
Only softwares with administrative privilages can write to the main directory. Run it as admin, or use a different folder

[2016-12-29 13:23] jessica19921 commented on #326
Thanks, its working.

I am new to this app, do we have a guide which talks about how to use this app for different websites etc

[2016-12-29 14:59] jessica19921 commented on #326
Does any one know how I can download the whole series from INE.com, at the moment i have to download each video one by one. Is there is a way it can do a bulk download ?
Thanks

[2016-12-30 10:01] xkbd opened #337 "python interpreter crash"
Environment:
windows 8.1 x64
streamlink: latest nightly build for windows

- First, i get a message "rtmpdump.exe has stopped working"
Like this:
![error img](http://thewindowsclub.thewindowsclubco.netdna-cdn.com/wp-content/uploads/2014/02/sqlstoped2.png)

- Then "Python has stopped working"

streamlink output:
[code]

I also have windows 7 x32 and error sometimes reproduced on win 8 only.

[2016-12-30 13:07] beardypig commented on #288
@mjevans can you check out this version of [picarto.py](https://github.com/beardypig/streamlink/blob/d13219209782c6b8fd5d7355e32854e919ef0568/src/streamlink/plugins/picarto.py) and see if it solves your issue. I could not find a stream that didn't work with the HTML5 player... I tested a lot of them :)

[2016-12-30 14:53] beardypig commented on #318
@yhs4260 I submitted a PR to fix this :)

[2016-12-30 16:38] beardypig commented on #325
The video on demand stuff that is free and not geo-restricted should be simple enough. They appears to be plain HLS streams. However, the live streaming stuff requires a cable subscription, which I don't have, so I cannot test if it will be possible or not...

[2016-12-30 18:18] gravyboat commented on #325
@beardypig I don't know if we should support that anyways, the cable subscription stuff seems to change regularly and be a pain in the ass for most of these sites. Seems like it's more work than it's worth and we don't want them trying to take us down.

[2016-12-30 18:18] #318 closed

[2016-12-30 20:12] gravyboat commented on #337
Does this only occur on the latest nightly build or the stable build as well?

[2016-12-30 20:16] gravyboat commented on #312
This has been resolved, the latest download on the Releases page is now correctly labeling the package as `0.2.0`.

[2016-12-30 20:16] #312 closed

[2016-12-30 20:18] gravyboat commented on #272
I'm going to close this out since it's historical at this point. I would just like to reiterate that if you don't have 2FA enabled please do so.

[2016-12-30 20:18] #272 closed

[2016-12-30 20:20] gravyboat commented on #261
I'm going to close this since the release is working correctly. If we want to do another one we can open a new issue.

[2016-12-30 20:20] #261 closed

[2016-12-30 20:43] xkbd commented on #337
- I never used stable build, can't say.
- I used my plugin from here: https://raw.githubusercontent.com/xkbd/streamlink/4271aa099ae10a66e6c74b825907f2f3737b10ac/src/streamlink/plugins/bongacams.py (copied it to pkgs\streamlink\plugins)
- streamlink https://site_name.domain/streampath
Plus in the config:
default-stream=best

I don't think that this is due to some specific plug-in. With any which us

[2016-12-30 22:02] beardypig commented on #315
livestream.to have added some extra protections to there streams (similar to this https://iiibuntu.wordpress.com/2011/06/22/testing-wowza-vod-media-security-to-protect-vod-contents/), and in doing so have made is much more difficult to extract the streams. It may be a while before this plugin is working again.

[2016-12-30 22:45] gravyboat commented on #315
@beardypig I wouldn't worry about it then, if companies are actively trying to protect their content it's not really worth our time to get into an arms race with them to circumvent it.

[2016-12-30 22:50] beardypig commented on #315
We can mark the plugin as broken, there is a decorator @broken if I remember correctly. We should annotate the plugin with that and reference this ticket if you can have a message.

[2016-12-30 22:55] beardypig commented on #315
Like this #339 :)

[2016-12-30 23:05] gravyboat commented on #315
Good stuff, I'm going to close this.

[2016-12-30 23:05] #315 closed

[2016-12-31 07:13] bastimeyer commented on #261
Can we get a new release?
I'm relying on the output of `--version` in the Twitch GUI and would like to be able to have a working output, so I can have `>=0.2.1` as a dependency (because of #293, it's currently set to `>=0.2.0`).
I'm also intending on publishing a new release today there, so I'd really appreciate having a new release here if possible. 😄

[2016-12-31 12:46] melmorabity commented on #335
I submitted streamlink for inclusion in Fedora:
https://bugzilla.redhat.com/show_bug.cgi?id=1405271

[2016-12-31 20:01] Kevin- commented on #67
What is the workaround?  Link above is 404.

[2017-01-01 02:24] bititanb opened #341 "Chat method: Custom application not working."
I use Chatty, but wrapped it in .ps1 script just to hide a few interface elements on Chatty startup (the only way I found). But for some reason nothing passed to  "custom chat application command" field in the chat settings does not getting executed when I'm trying to open chat ("chat method: chatty" works perfectly however). Tried 'C:\...\powershell.exe ...\chatty.ps1 args', even tried to open cm

[2017-01-01 02:55] skulblakka commented on #341
This is the streamlink repository. Please post your issue on the [streamlink-twitch-gui](https://github.com/streamlink/streamlink-twitch-gui) issue tracker.

[2017-01-01 02:57] bititanb commented on #341
Omg, I'm sorry, my bad.

[2017-01-01 02:57] #341 closed

[2017-01-01 12:43] bobvargas opened #342 "Earthcam plugin on streamlink"
Happy new year streamlink team! Listen I want everyone to make a plugin for earthcam so I can look at the live camera around NYC and the world thanks.

[2017-01-01 13:56] bobvargas commented on #336
@gravyboat yes like http://www.mtv.com/full-episodes/8xqewl/true-life-i-have-misophonia-season-22-ep-misphon

[2017-01-01 19:12] beardypig commented on #336
Looks like you need a cable subscription to get that series? The conent is likely protected by DRM as well as requiring a cable subscription login, which means it probably not something we'd be able to support. If there is other free content on MTV we can take a look at that if you can provide a URL :-)

[2017-01-01 19:40] gravyboat commented on #342
Can you please provide details regarding what the URL looks like for specific cameras/streaming?

[2017-01-01 20:39] beardypig commented on #342
I started work on a plugin, it's not too hard. A few things to work out, detecting offline/unavailable streams etc.

[2017-01-02 02:43] bobvargas commented on #342
@gravyboat  Cameras such as times square, Midtown, Rio, And Japan

[2017-01-02 03:34] 0x24D opened #344 "Cannot install with pip, error whilst building pycryptodome"
When I try to install streamlink using pip I get an error whilst building pycryptodome and then again at the end of the installation.

Details:
OS: openSUSE Tumbleweed
Python version: 3.5.1
pip version: 9.0.1
Log: https://gist.github.com/0x24D/227d1c919d54501be386e57136a03935

[2017-01-02 05:01] 0x24D commented on #344
Installed python3-devel and it works, thanks!

[2017-01-02 05:01] #344 closed

[2017-01-02 20:51] rodolfofanti opened #345 "AES encryption, HLS stream. What syntax?"
Hi guys, I was on Livestreamer but somebody suggested me to try streamlink so here I am!

Sorry for my profane language but I'm no programmer.

I'm trying to download a .m3u8 stream. I'm subscribed to the service offering that stream but I wouldn't know what command to write to pass my key.
Actual website is hidden for privacy reasons.

Right now I write
`streamlink "hls://https://fakelinkto.m3u8"

[2017-01-02 21:05] skulblakka commented on #345
[```--http-cookie```](https://streamlink.github.io/cli.html#cmdoption-http-cookie), [```--http-header```](https://streamlink.github.io/cli.html#cmdoption-http-header) or [```--http-query-param```](https://streamlink.github.io/cli.html#cmdoption-http-query-param) might help solving your issue.

[2017-01-02 21:31] rodolfofanti commented on #345
Hey @skulblakka could you be so kind to write me an example with my syntax in the windows command prompt? Should I add those strings at the end like this:
`streamlink "hls://https://fakelinkto.m3u8" best -o video.ts --http-cookie`

[2017-01-02 21:34] gravyboat commented on #345
There's a command line usage example [in the docs](https://streamlink.github.io/cli.html#command-line-usage).

[2017-01-02 21:53] flijloku commented on #345
@rodolfofanti   You can find many examples if use the search: https://github.com/chrippa/livestreamer/issues?utf8=%E2%9C%93&q=--http-cookie

[2017-01-02 21:54] Skarablood opened #346 "After installing v0.2.0, the --version command still returns v.0.1.0"
I'm using the Streamlink Twitch GUI, whose developers recently decided to implement a version check, requiring the newest version of Streamlink, v0.2.0, to be installed. I therefore downloaded that version (Windows 10 user, so streamlink-0.2.0.exe) and installed it. Afterwards, the Streamlink Twitch GUI threw the same error, claiming the version was still v.0.1.0.

I checked myself to be sure:
`C:

[2017-01-02 21:56] rodolfofanti commented on #345
Ok, thank you guys.  After a quick glance at the docs I wrote this command:
`streamlink "hls://https://site.m3u8" best -o video.ts --http-cookie KEY=0xb87f84a4ced179cfc020624ade3d7f71`

I got the key from the m3u8 manifesto, I'll paste the first few lines:
`#EXTM3U
#EXT-X-VERSION:3
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-ALLOW-CACHE:YES
#EXT-X-TARGETDURATION:13
#EXT-X-KEY:METHOD=AES-128,URI="https://site/k

[2017-01-02 22:15] flijloku commented on #345
As I understand you may be required developer tools in the browser or programs such as Wireshark to form a correct command.

[2017-01-02 22:45] skulblakka commented on #346
Did you try removing and reinstalling streamlink? There also was a problem with a previous version of the 0.2.0-installer causing the package still reporting version 0.1.0 (see #310).

[2017-01-02 22:48] skulblakka commented on #345
Correct my if I'm wrong, but unless the key is actually named "KEY" you have to find the correct name for the value.

[2017-01-02 23:04] beardypig commented on #345
@rodolfofanti you need to find the authentication cookie for the site, which you can probably find using the developer tools in your browser (as @flijloku mentioned). The cookie is needed to authenticate you so you can get the key, and you set it with `--http-cookie` option. The `0xb87f84a4ced179cfc020624ade3d7f71` you had before is some extra data needed for AES (the Initialization vector, IV).

[2017-01-02 23:12] Skarablood commented on #346
I downloaded the installer again and tried removing and reinstalling as well as removing, restarting and reinstalling, but it didn't help.

[2017-01-02 23:46] skulblakka commented on #346
I just tried it myself and it works as expected (returning 0.2.0). If you enter ```where streamlink``` into cmd what is the result?

[2017-01-03 00:59] Skarablood commented on #346
It returns
`C:\>where streamlink`
`C:\Program Files (x86)\Streamlink\bin\streamlink.exe`

[2017-01-03 05:14] bastimeyer commented on #20
I have just seen that this issue has not been resolved yet...

Twitch has added a new API version (v5) two months ago in mid november and announced that v1 and v2 will be removed **2017-02-14**. As I've said in my post above, not specifying an API version defaults to the latest version (which is v3), but this will change when v1/v2 have been removed. v5 will then become the default. There's also a

[2017-01-03 08:06] gravyboat opened #347 "Should we set up methods by which people can donate?"
I've modified this based on some discussion below. Should we set up either a donation page with individuals and their donation information, or set up something like bountysource as mentioned by @bastimeyer?

Edit: I should note I would like to run team donations, but pretty much every service requires PayPal which I personally am very against using since they're a scummy organization. The other op

[2017-01-03 08:27] bastimeyer commented on #347
For projects where multiple people work on, bountysource is a better alternative. Individual bugfixes, feature requests, plugin requests, etc. can be supported with donations this way instead of using a single service for multiple devs.

https://www.bountysource.com/
https://github.com/bountysource/core/wiki/Frequently-Asked-Questions

[2017-01-03 08:31] gravyboat commented on #347
Yeah I've got an account over on bountysource so that's definitely an option. I'm not sure how much traction we would get for people posting bounties over there, but it's a good idea.

[2017-01-03 14:00] skulblakka commented on #346
That looks correct to me.

As it works for me I'm still guessing that the old version was not correctly removed when uninstalling. Did you make sure that no files remain in ```C:\Program Files (x86)\Streamlink``` after you uninstalled it?

[2017-01-03 15:01] Skarablood commented on #346
I did, the whole folder was gone after removing Streamlink. Maybe I'll just try a different folder once I get home from work, just to be sure.

[2017-01-03 15:02] javiercantero commented on #20
I haven't read the v5 API yet, so I'm going to push some initial patches to upgrade to v3.

[2017-01-03 16:01] beardypig commented on #323
`pyCryptodome` wheels for Python 3.6 are now available. @fireattack are you now able to install `streamlink` on Python 3.6 with pip?

[2017-01-03 16:12] BarryCarlyon commented on #347
Given that Streamlink prevents Adverts on Twitch playing, that means that the use of Streamlink is against Twitch TOS (theres a clause about advert bypassing buried somewhere)

So, therefore, why would Twitch partner something against Twitch TOS when, Curse, which Twitch bought, has a Twitch player built into it. And thus Streamlink is _technically_ a competing product.

[2017-01-03 17:38] gravyboat commented on #347
@BarryCarlyon Thus why I started the discussion of if it's even worth approaching Twitch about since we fall into a weird gray area (as we don't purposefully circumvent ads). I'm not willing to get into a discussion about Streamlink versus Curse as I believe they serve completely different markets, plus we support way more sites. I'll modify the topic of this issue however to move more in a direct

[2017-01-03 17:43] gravyboat commented on #346
Can you try the nightly build from here: https://streamlink.github.io/install.html#windows-binaries

[2017-01-03 19:01] Skarablood commented on #346
Works like a charm! Thank you!

[2017-01-03 19:29] gravyboat commented on #346
Awesome glad to hear it! I'm going to close this for now. We'll try to get a new release out which should hopefully address the versioning issue. We had to re-release 0.2.0 and it seems like it has caused a few oddities.

[2017-01-03 19:29] #346 closed

[2017-01-03 19:31] gravyboat commented on #332
@beardypig Once we get a few things fixed I think we should do a new `0.2.1` (or 0.3.0) release. There are some things that have been fixed and the upgrade issue for users who already had `0.2.0` installed seems to be causing some one off issues.

[2017-01-03 20:38] beardypig commented on #332
Sounds good to me. I've been working on this issue, I just need to work out a good way to test it. Hopefully I'll submit a PR tomorrow :-)

[2017-01-03 20:55] gravyboat commented on #332
No worries, this was a relevant issue that wasn't going to be closed for a bit so I wanted to make the note here.

[2017-01-03 23:33] rodolfofanti commented on #345
Hey @beardypig I got all the details from the Chrome console and I also found a similar case to mine in another post where a user suggested this command which I tried:

`streamlink --http-header "Cookie=CloudFront-Signature=JGMFS1pfIWiwG58vKIf0WECwmsLJHRKvN3hSGpTikipKaEhmKpkzv0l9cc4YMgZL~JPc4mptxri30KCgt~tBytDWv4a74IyR5Gj6f42ZsXBjaF3ENpOnqFrEchL8m5sH4~j2NMpFEANVciLu01vdnLWcUurpy8IVnMO3LuhwlCVjc8dr

[2017-01-04 00:15] beardypig commented on #345
It's hard to say, there might be other cookies, or something else. Would be easier to tell with the actual URL :-)

[2017-01-04 01:58] mjevans commented on #288
Thank you for the update.  I can confirm that it works on the streamer that I was having issues with as well as on another artist that I checked out.

[2017-01-04 02:55] thinkpad4 opened #352 "Getting a Youtube plugin error when using streamlink"
http://i.imgur.com/Xmh5cE9.jpg I get that when loading Twitch, Vaughnlive, anything.

Never mind, it was me doing something dopey

[2017-01-04 02:59] #352 closed

[2017-01-04 07:11] beardypig commented on #288
Great, I'll reopen this issue until those changes are merged though :-)

[2017-01-04 07:47] gravyboat commented on #288
Closing since the associated PR has been merged.

[2017-01-04 07:47] #288 closed

[2017-01-04 09:15] rodolfofanti commented on #345
@beardypig This is one of the URLs

`https://d8u31iyce9xic.cloudfront.net/36/1/part1.m3u8?Policy=CiAgICAgICAgICAgIHsgCiAgICAgICAgICAgICAgICJTdGF0ZW1lbnQiOiBbCiAgICAgICAgICAgICAgICAgIHsgCiAgICAgICAgICAgICAgICAgICAgICJSZXNvdXJjZSI6Imh0dHBzOi8vZDh1MzFpeWNlOXhpYy5jbG91ZGZyb250Lm5ldC8zNi8xLyoiLAogICAgICAgICAgICAgICAgICAgICAiQ29uZGl0aW9uIjp7CiAgICAgICAgICAgICAgICAgICAgICAgICJEYXRlR3JlYXRlclRoYW4iOnsiQVd

[2017-01-04 09:30] beardypig commented on #345
Cool. I think you'll need the cookies from the main site (after you have logged in) rather than cloudfront, as the key is hosted on the main site. I cannot test it as I don't have an account :)

[2017-01-04 09:51] rodolfofanti commented on #345
Thanks @beardypig . Now pardon my illiteracy but could you suggest me how to retrieve that? So do you think that those values aren't the actual keys?

[2017-01-04 09:58] BarryCarlyon commented on #347
@gravyboat all good. I was skimming past projects on git and was perusing the Issues list. :-) Was just using Curse as an example.

On a side note, donations are tax deductable and go to charity. Which this project is not, the correct terminology is "Tip" but I aint no lawyer. Yay for weird words and meanings

[2017-01-04 10:00] beardypig commented on #345
You should be able to retrieve it using your browsers developer tools or a debugging proxy like mitmproxy, Charles, or fiddler. I mainly use Chrome developer tools, you can find the cookies in a couple of places under the dev tools: under Network, you can select a request (you should be able to see a request to `key.php` and in the Headers tab you'll see Request Headers including the Cookie header

[2017-01-04 10:22] rodolfofanti commented on #345
I found it! But I'll need to wait till tonight to try it out. We'll let you know hot it went. Thanks again!

[2017-01-04 16:38] beardypig commented on #321
Without a complete rewrite of the StreamProcess class it won't be possible to affect this. `pbs` has been replaced by `sh`, however `sh` does not support Windows so is not a viable alternative. `pbs` also has some patches made to it for `streamlive` (from `livestreamer` days)...

[2017-01-04 17:25] gravyboat commented on #321
@beardypig I would say it isn't worth investigating further then since Windows compatibility is a deal breaker. This might be adding to known issues, then closing this issue.

[2017-01-04 17:36] beardypig commented on #321
Yep. Not that rewriting the StreamProcess is a big piece of work... I'll add it to the TODO list ;-)

I'll do some more work on the Plugin Writing guide and I'll make a note of this in there :-) Suppose you'd need to do something similar to give multiple connect parameters on the command line too.

[2017-01-04 18:38] rodolfofanti commented on #345
@beardypig hopefully I'm getting closer. I opened the header and got the cookie header. I then pasted the command but still getting the evil error 403 forbidden for URL.

`streamlink --http-cookie "X-Mapping-fjhppofk=1DD470BC39AD89B1AC96FFC23E09F35C; PHPSESSID=vkguk2cpc5e9tflfmtn7qpjdh7; __utmt=1; email=hidden; password=hidden; __utma=241488896.136387593.1483185636.1483485600.1483554630.4; __utmb=

[2017-01-05 03:51] unlocKing opened #354 "Failed to create decryptor: ('Unable to decrypt cipher {0}', 'SAMPLE-AES')"
Anyone able to help with this:

[cli][info] Found matching plugin stream for URL hlsvariant://https://yahoo7p-a.akamaihd.net/2376984108001/201612/1664/2376984108001_5262246578001_5262237941001.m3u8?pubId=2376984108001&videoId=5262237941001
[cli][info] Available streams: 360p (worst), 576p, 720p (best)
[cli][info] Opening stream: 720p (hls)
[stream.hls][error] Failed to create decryptor: ('Unable t

[2017-01-05 07:04] bastimeyer commented on #293
Having the same issue on Linux now...

This seems to be related to single quotes:
[code]

This works:
[code]

https://github.com/streamlink/streamlink-twitch-gui/issues/362#issuecomment-270432414

[2017-01-05 07:36] beardypig commented on #354
Sorry @unlocKing, @Vangelis66 is right and there's not a lot we can do. Streams using Apple FairPlay, Microsoft PlayReady or Widevine are not currently supported and likely never will be.

[2017-01-05 08:16] gravyboat commented on #354
I'm really against spending development time breaking stupid DRM software. If they want to lock their streams down then screw 'em. @Vangelis66 I like the suggestion but yeah, no Windows support = no go on these kinds of issues. @beardypig I think we need to add a section to the known issues talking about the fact we're not going to waste time breaking DRM for people, if they want that kind of supp

[2017-01-05 08:48] beardypig commented on #354
@Vangelis66 `SAMPLE-AES` is different encryption scheme where NAL units are optionally encrypted with extra information embedded in to the transport streams, rather than encrypted the entire transport stream (as in the regular AES-128 method). This means that you have to parse the transport stream to work out what to decrypt, which is not trivial. [hlsdl](https://github.com/selsta/hlsdl) uses `lib

[2017-01-05 09:54] beardypig commented on #293
In the first case the error is correct, `"--title '\'' {filename}"` is equivalent to `"--title ''' {filename}"` (they are python string rather than shell parameters), which does has an unpaired quote mark.

I would, however, have expected this to work, which it does not.
[code]

These work as expected:
[code]

[2017-01-05 10:14] bastimeyer commented on #293
The double backslash is ofc right in this example, I was thinking about "shell-unparsed"-parameters. And yes, it fails, which is exactly the error I was reporting :)

[2017-01-05 11:36] beardypig commented on #293
Right. As far as `shlex` is concerned this is the correct behaviour as it implements strict POSIX. From the [IEEE Std 1003.1-2008](http://pubs.opengroup.org/onlinepubs/9699919799/), specifically section [2.2.2](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_02_02).

In fact, you can reproduce it in `sh`, `bash`, `zsh`, plus any other POSIX compatible shell; you wil

[2017-01-05 12:32] Coacher opened #356 "test_cmdline: use unittest.mock instead of mock if possible"
test_plugin_api_http_session does this right: https://github.com/streamlink/streamlink/blob/f29b08c58cc2a83c09f1bf1100a190ff68e4d616/tests/test_plugin_api_http_session.py#L6

Please do the same here: https://github.com/streamlink/streamlink/blob/f29b08c58cc2a83c09f1bf1100a190ff68e4d616/tests/test_cmdline.py#L9

[2017-01-05 13:31] beardypig commented on #356
A sensible suggestion.

[2017-01-05 17:32] gravyboat commented on #332
Closing since the fix is merged.

[2017-01-05 17:32] #332 closed

[2017-01-05 18:27] beardypig commented on #356
Updated for ya.

[2017-01-05 18:27] #356 closed

[2017-01-06 00:49] mjevans opened #364 "The Picarto arms race continues - HTML5 HLS is now a thing for (some ?) streams."
The Picarto arms race continues - HTML5 HLS is now a thing for (some ?) streams.

[2017-01-06 02:39] gravyboat commented on #364
Again?! This is getting ridiculous, if they want to keep us from handling their apps is it even worth doing? Jeez what a pain...

[2017-01-06 02:48] mjevans commented on #364
They've actually changed from an integer to text for the stream type.

Oddly the place stream option has a /different/ value in the popout for the page than in this snip.

Flash is now literally 'flash'.  In the popout the value returned is 'hls'.

This method needs one line changed to fix for the current interface change.

@staticmethod
    def _get_stream_arguments(page):
...
        player_id,

[2017-01-06 05:33] bluesaphiresky commented on #364
Ah yes I just noticed my streamlink not working for picarto, I'm sorry because I am computer illiterate but how do I take what mjevans changed into my picarto plugin script?

[2017-01-06 05:49] Keisonne commented on #364
my streamlink also has stopped functioning for picarto, we must band together brothers and defeat this new evil.

[2017-01-06 06:06] Hotwire75 commented on #364
It took me a few to figure out, but in picarto.py, you will want to change the one section to read

[code]

[2017-01-06 07:58] bluesaphiresky commented on #364
Hmmm i copy pasted what you gave me I can't seem to get it to work but thanks anyways hotwire :)

[2017-01-06 09:07] mjevans commented on #364
You really only need to change the last part of the array you're passing in to the map function to be eaten by the lambda.  The change is pre-digesting the value of is_flash based on a string comparison (which makes the result already boolean) using an in-line-if statement equivalent know as a ternary conditional operator.

I think that ultimately, however, recognizing the existence of the divs wi

[2017-01-06 12:15] beardypig commented on #364
@Hotwire75, looks like you're using an old version of the plugin which is why it probably didn't work for @bluesaphiresky.

The simplest fix would be to change line 37 from
[code]
to
[code]

However, I have created a more sophisticated fix in #365

@gravyboat, I don't think this change was designed to intentionally break support for picarto, they just changed their player code slightly :)

[2017-01-06 14:58] fusionfan opened #366 "streamlink 0.2.0 won't launch on Mac OS X 10.9"
I have recently upgraded streamlink via pip, but it would give me loads of error messages (see attached file). v 0.1.0 ran fine. Then tried easy_install, and also installation from source. Always the same result. Tried to upgrade all necessary python packages to their latest versions.
Tried googlink the error messages and various bits of it, either nothing is found, or the solution listed wouldn't

[2017-01-06 15:06] beardypig commented on #366
Try installing the latest version from git
[code]
That might fix your issue.

[2017-01-06 15:19] fusionfan commented on #366
OK, when I do this I get a bunch of "SNIMissingWarning" and "InsecurePlatformWarning". (see attached) However, I have urllib3 version 1.19.1 and python version 2.7.13. None of the solutions lsited here
https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
are valid or working. I start to suspect it might be a python installation issue.
[streamlink2.txt](https://github.com/strea

[2017-01-06 15:21] beardypig commented on #366
`pip` has its own built in `urllib3` you should update `pip` too.
[code]
After installing `streamlink` from git what errors do you get now when running `streamlink`?

[2017-01-06 15:29] fusionfan commented on #366
So when I run this, I still get the `SNIMissingWarning` and `InsecurePlatformWarning`, see
[streamlink3.txt](https://github.com/streamlink/streamlink/files/690202/streamlink3.txt)
Now when I rerun streamlink the error message is similar: the first few lines about plugins disappeared, but the rest is much the same
[streamlink4.txt](https://github.com/streamlink/streamlink/files/690204/streamlink4.t

[2017-01-06 16:21] beardypig commented on #366
What does it have at the top of the `/usr/local/bin/streamlink` file? If you run
[code]
what does it print? It should have something like
[code]
The run whatever command it lists with `--version` argument, eg. `/usr/bin/python --version` and see what version it reports.

[2017-01-06 16:46] fusionfan commented on #366
Oh yay, this should be the issue. I have multiple python installations and they are getting tangled up.
The head of `/usr/local/bin/streamlink` points to `/System/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python`
(same for pip etc), which is only 2.7.5. Same for `/usr/bin/python`. Probably this is because I am still using Mavericks (10.9).
However, my def

[2017-01-06 16:55] beardypig commented on #366
Cool, no problem. Glad you got it working.

[2017-01-06 17:10] #366 closed

[2017-01-06 17:32] gravyboat commented on #364
Sounds good, I'm closing this out since it's been addressed.

[2017-01-06 17:32] #364 closed

[2017-01-06 18:11] gravyboat commented on #335
I'm going to close this out since it's resolved.

[2017-01-06 18:11] #335 closed

[2017-01-06 19:25] Hotwire75 commented on #364
@beardypig, I'd copypasta'ed from here straight into fresh from git and added a missing '/', which is right at my limit on things python, lol.

I'm now using your current fix, and it's working well.

Thanks for all y'alls work on this program, it means I can lounge back and lurk a while with high quality video on an ancient laptop that otherwise has problems with even 360p flash/html5. (early 32 b

[2017-01-06 19:34] stepshal opened #370 "Adult Swim doesn't play any streams."
https://www.adultswim.com/videos/streams
https://www.adultswim.com/videos/streams/toonami
https://www.adultswim.com/videos/streams/williams-stream

[2017-01-06 19:44] gravyboat commented on #370
Can you please provide the command you're running, as well as what the error output looks like?

[2017-01-06 19:45] stepshal commented on #370
@gravyboat `error: No plugin can handle URL:`

[2017-01-06 19:55] gravyboat commented on #370
What version of Streamlink are you running? Your command (minus passing the player variable) works fine for me on `0.2.0`.

[2017-01-06 20:22] beardypig commented on #370
@stepshal that is a bug, if you drop the `s` from `https` it should work. I'm preparing a PR to fix it right now :)

[2017-01-06 20:27] gravyboat commented on #370
@beardypig That's weird, it worked fine for me with `https`.

[2017-01-06 20:34] beardypig commented on #370
@gravyboat agreed, very weird...
@stepshal this should be fixed if you update to the latest nightly.

[2017-01-06 20:38] beardypig commented on #319
This has be fixed in the included `flashmedia` package.

[2017-01-06 20:38] #319 closed

[2017-01-06 20:40] beardypig commented on #285
Seems like this has resolved itself, if there is a continuing issue please reopen this :)

[2017-01-06 20:40] #285 closed

[2017-01-06 23:32] Decagon opened #372 "Feature: default quality setting"
When I do,

[code]

I was initially confused as to why it wasn't working (streamlink just exited.) I suggest to add a default quality (e.g. medium) so that you can just type the url without a quality setting and see the stream.

[2017-01-06 23:37] Brainzyy commented on #372
@Decagon The thing is, not all Twitch streams have the quality "medium". Some twitch streams have qualities like "240p" and "480p" and so on.

[2017-01-07 00:02] gravyboat commented on #372
As @Brainzyy we need to allow users to select this value because there are many different quality settings available that are dependent on the stream. There are several options in scenarios like this. The first is to modify the main configuration file as noted here in the docs: https://streamlink.github.io/cli.html#configuration-file to set values, or you can set values for a specific plugin here:

[2017-01-07 00:02] #372 closed

[2017-01-07 01:16] jake2xr opened #373 "Wrong Version number returned from --version command"
Even though I have version 0.2.0 installed, `streamlink --version` returns:
`streamlink-script.py 0.1.0`
and the output of `streamlink --version-check` notifies me that there is a new version available.
Windows Programs and Features reports correct version number.

Minor issue, just letting you know about it. Or perhaps it's something on my end?

[2017-01-07 01:17] Brainzyy commented on #373
Take a look at this: https://github.com/streamlink/streamlink/issues/312

[2017-01-07 01:19] jake2xr commented on #373
Ah, didn't look at the closed issues. Thanks.

[2017-01-07 01:19] #373 closed

[2017-01-07 01:43] mjevans commented on #364
Thanks, the latest git works for both live_hls and the flash style options, and they are discovered as /options/ now.

[2017-01-07 09:11] roshavagarga opened #374 "Support for Bulgarian national TVs?"
Most of these are readily available to just input into VLC as a network stream, but are not recognized by streamlink. If possible, I'd like a few simple plugins available, as I watch TV on my PC, but I can't forward them easily to my actual TV that I use as a home entertainment system with Ubuntu and streamlink as part of its core.

Most of these channels are polythemed or News-oriented channels.

[2017-01-07 09:56] karlo2105 opened #375 "Support to raiplay.it"
They have several channels mostly geoblocked to Italy some work outside too.
http://www.raiplay.it/dirette/
I think they provide HDS and HLS, it would be nice to cover both systems.

[2017-01-07 10:48] beardypig commented on #374
Apart from the geo-locked streams, and the one that requires registration they all seem fairly straightforward :-) Any chance you can provide a proxy for the geo-locked ones?

[2017-01-07 10:54] beardypig commented on #375
Looks pretty straight forward and I have a suitable proxy, should be able to whip something up in a couple of days :-)

[2017-01-07 11:14] roshavagarga commented on #374
@beardypig Yes, sorry I forgot to add some options. Here you go:
1. http://bgproxy.org/
2. https://nqma.net/
3. http://www.bgproxy.net/bg/index.php
4. http://www.php-proxy.net/

If none of these work, I have no problem setting up a proxy via TOR for you. I can also give you a registration for BTV if you give me some sort of contact.

[2017-01-07 11:32] karlo2105 opened #376 "Mytf1.fr : TF 1, TMC, NT 1, HD 1, LCI"
http://www.tf1.fr/direct
Channels on TF 1 site require only a free login and French proxy. They use HDS and HLS.
LCi doesn't require login just proxy : http://www.lci.fr/direct/

But it would be of course better if you can bypass login.

[2017-01-07 11:33] karlo2105 commented on #375
Many thanks for your contribution. ;)

[2017-01-07 14:28] javiercantero commented on #20
@thinkpad4 Could you change the title to "Move Twitch plugin to use Twitch API v5"? Thanks.

[2017-01-07 14:46] beardypig commented on #374
Cool I'll try with those first time. My email address is on my profile page, if you could send me details for a BTV account that would be useful too.

[2017-01-07 14:47] beardypig commented on #20
Maybe it's better to open a new issue to track the move to v5 and reference this one?

[2017-01-07 14:49] javiercantero commented on #20
@beardypig Or that and close this. Whatever you all prefer.

[2017-01-07 14:50] beardypig commented on #376
Can take a look, do you know any good proxy for lci? I can use unlocator for tf1 but I don't know any good http proxies for France.

[2017-01-07 14:51] roshavagarga commented on #374
@beardypig - Sent you the account details, if you need anything else hit me up here or on my email.

[2017-01-07 17:38] karlo2105 commented on #376
You can try here :
http://spys.ru/free-proxy-list/FR/
http://www.freeproxylists.net/?c=FR&pt=&pr=&a%5B%5D=0&a%5B%5D=1&a%5B%5D=2&u=0
https://www.proxynova.com/proxy-server-list/country-fr/

[2017-01-07 21:11] gravyboat commented on #20
@javiercantero Let's close this one out and create a new issue to move to v5.

[2017-01-07 21:11] #20 closed

[2017-01-07 21:12] gravyboat opened #377 "Move Twitch plugin to use Twitch API V5"
Moving discussion from https://github.com/streamlink/streamlink/issues/20 to here as there is a patch applied for V3, but we should stay ahead of the game by moving directly to V5.

[2017-01-07 21:16] Vangelis66 commented on #376
@karlo2105 wrote:

@beardypig wrote:

I am not inside France, but I find accessing the live (direct) stream from Greece
does not need a French proxy; the "HDS Link detector" Firefox addon reveals
the following HDS manifest:

`http://lcilivhlshdslive-lh.akamaihd.net/z/lci_1@301585/manifest.f4m?hdnea=st=1483822658~exp=1483824458~acl=/*~hmac=1bd7f429b37a778f80a7654e2f2db1d7a813fe5c0d050acb5279451fbd1

[2017-01-07 21:28] karlo2105 commented on #376
I think through HLS, they provide 720p stream.

[2017-01-07 22:15] Vangelis66 commented on #376
@karlo2105 wrote:

The 2596k AdobeHDS stream is **720p**, too.
But I have stumbled upon a problem;
AdobeHDS.php would download streams
from the manifest fine,
but streamlink fails to, citing:
`error: This manifest requires the 'pvswf' parameter to verify the SWF`

[2017-01-07 22:18] beardypig commented on #376
[code]
Works for me :)

[2017-01-07 22:33] Vangelis66 commented on #376
@beardypig

Thanks!
Where exactly in streamlink's documentation is the `pvswf parameter` detailed?
I've searched, but to no avail :-(
BTW, this HDS parameter reminds me of the `--swfUrl` one used in RTMP streams...

[2017-01-07 22:40] beardypig commented on #376
@Vangelis66 it's not really documented, there is a section about passing extra parameters to streams here https://streamlink.github.io/cli.html#playing-built-in-streaming-protocols-directly. There is an example for rtmp but it works for everything I think. You have to know the `pvswf` parameter though...

[2017-01-07 22:41] beardypig commented on #376
LCI is only sometimes geo locked, it should be quite straightforward to make a plugin :-)

[2017-01-08 01:55] karlo2105 commented on #376
http://www.wat.tv/get/androidliveconnect/591997?getURL=1
http://www.wat.tv/get/androidlivelci/591997?getURL=1
http://www.wat.tv/get/androidlivent1/591997?getURL=1
http://www.wat.tv/get/androidlivehd1/591997?getURL=1
http://www.wat.tv/get/androidlivetmc/591997?getURL=1

[2017-01-08 03:41] Vangelis66 commented on #376
@karlo2105 wrote:

Hello Karlo :smile:
I have only tested LCI on a desktop browser, the manifest URIs sniffed either via
Firefox's web console or (more easily) via "HDS Link Detector" addon are of the form

`http://lcilivhlshdslive-lh.akamaihd.net/z/lci_1@301585/manifest.f4m?hdnea=st=1483843039~exp=1483844839~acl=/*~hmac=2afc34bd7b2a0c8c1782d4f2b48eb2732f0e99a3cb8dd7701e9e2102f727daf6&hdcore=2.11.

[2017-01-08 04:59] JourneyOver opened #378 "vaughnlive "error: Unable to validate response text: Minimum length is 3 but value is 1""
Dunno when it happened exactly, but at some point today Vaughnlive must of updated something and broken streamlink, as any link to a stream I try always just results in it erroring out..

Example -

[code]
it pretty much does this for any stream url I use from vaughnlive, even tested with the nightly build and it does the same thing.

[2017-01-08 05:13] gravyboat commented on #378
Unless this is a new change I believe it was fixed over here: https://github.com/streamlink/streamlink/pull/311, give the nightly build a shot: https://streamlink-builds.s3.amazonaws.com/nightly/windows/streamlink-latest.exe

[2017-01-08 06:02] JourneyOver commented on #378
think one of the main reasons they do it is because it circumvents their dumb ad thing that shows up on livestreams when ever you go to a livestream since as I recall livestreamer (streamlink) are the only two options that are able to show the livestreams without said ad since you can't place the ads on any media players and ad blockers don't seem to be able to block the ad without also blocking t

[2017-01-08 06:09] thinkpad4 commented on #378
There has to be a way to compensate for Vaughnlive changing the player version all the time

[2017-01-08 07:03] Vangelis66 commented on #378
Surely related, is @fadster actually proposing a fix?

https://github.com/chrippa/livestreamer/issues/1566

[2017-01-08 15:42] lawli3t commented on #245
I'm taking a look on this today

[2017-01-08 19:34] scowalt commented on #245
Sure thing! Thanks for checking

[2017-01-08 19:41] beardypig commented on #245
Closing this as #380 is merged, thanks @lawli3t :)

[2017-01-08 19:41] #245 closed

[2017-01-08 19:57] beardypig commented on #378
@Vangelis66 yep, that is the new info url :)

[2017-01-08 20:10] #327 closed

[2017-01-08 20:17] gravyboat commented on #378
I'm going to close this since #383 is merged. Thanks for the report @JourneyOver!

[2017-01-08 22:29] JourneyOver commented on #378
@gravyboat yep looks like everything is working now in the nightly build *. so this can now be closed for now (going to go ahead and close it since you seemed to forget about closing it) >..< and it's not a problem at all, love that you guys have decided to fork livestreamer and keep things going ^^

*until Vaughn decides to go and break things again..

[2017-01-08 22:45] beardypig commented on #378
@JourneyOver I'm working on a more robust fix, but I need to wait to see if it will actually work when the player version or info URL changes :-)

[2017-01-08 22:53] JourneyOver commented on #378
@beardypig ah okay gotcha, well I'll re-open this for the time being then, and haha that would be nice if we could get something to work that'll always work even when Vaughn decides to break things again since vaughnlive is really the only place I ever watch tv show livestreams (that have shows on a loop) from much anymore since every other site I have tried since justin tv went down has sucked..

[2017-01-08 22:53] karlo2105 commented on #376
Some HDS streams are not working.

TMC
[code]

NT 1
[code]

HD 1
``
livestreamer --http-header "X-Forwarded-For=185.26.239.95" "http://www.tf1.fr/hd1/direct" best
[cli][info] Found matching plugin tf1 for URL http://www.tf1.fr/hd1/direct
error: Unable to open URL: http://hd1livhdsandliv-lh.akamaihd.net/z/andlive_1@90
743/manifest.f4m?hdnea=st=1483915819~exp=1483917619~acl=/*~hmac=3c8731afcfae9226

[2017-01-08 23:23] beardypig commented on #376
Do the stream work in a browser with the proxy?

[2017-01-08 23:33] karlo2105 commented on #376
Yes it is.
Take a look.

http://www.wat.tv/images/v70/PlayerLite.swf?videoId=L_TMC
http://www.wat.tv/images/v70/PlayerLite.swf?videoId=L_NT1
http://www.wat.tv/images/v70/PlayerLite.swf?videoId=L_HD1

[2017-01-09 01:03] beardypig commented on #376
Looks like there is some extra verification some of the time for some of the streams. Need to work out how the `g` argument is calculated...

[2017-01-09 01:54] lokmiin opened #384 "Please make a plugin for (www)indostreamings(dot)com"
Hello, streamlinker please help me to make a plugin for (www)indostreamings(dot)com also if possible 123movies(dot)com  thank U very much.

[2017-01-09 02:35] RobListon opened #386 "Streamlink works with newer episodes on crunchyroll but not older ones."
From the CLI on a windows box "Streamlink.exe http://www.crunchyroll.com/chain-chronicle-the-light-of-haecceitas-/episode-4-the-light-of-haecceitas-726411 ultra" works fine but "Streamlink.exe http://www.crunchyroll.com/alderamin-on-the-sky/episode-1-a-stormy-encounter-715601 ultra"
The output from this command is:
[Streamlink for Windows v0.2.0 - Git b145d24]
[cli][info] Found matching plugin cru

[2017-01-09 02:44] shadowht opened #387 "mfc doesnt work using hlsvariant"
i can use "hlsvariant://link.m3u8" just fine on livestreamer
but on streamlink i get "error: Unable to open URL: link.m3u8 (No connection adapters were found 'link.m3u8')

[2017-01-09 03:41] gravyboat commented on #386
I actually get a similar error for both of these addresses.

[2017-01-09 04:03] c769214 opened #388 "python problem PLAYER_VERSION is not defined"
user@user-Sys:~$ streamlink  http://vaughnlive.tv/sherming9 best
[cli][info] Found matching plugin xxx_vaughnlive for URL http://vaughnlive.tv/sherming9
Traceback (most recent call last):
  File "/usr/local/bin/streamlink", line 9, in <module>
    load_entry_point('streamlink==0.0.2', 'console_scripts', 'streamlink')()
  File "/usr/local/lib/python2.7/dist-packages/streamlink_cli/main.py", line 90

[2017-01-09 06:11] RobListon commented on #386
I'm seeing intermittent issues trying to view episodes now too. This must be some type of backend issue with crunchyroll tonight that just happened to look like a weird parsing issue.
Sorry to bug you about this.

[2017-01-09 06:11] #386 closed

[2017-01-09 06:33] gravyboat commented on #386
@RobListon No worries, thanks for double checking and confirming it was on their end.

[2017-01-09 06:35] gravyboat commented on #388
This was fixed here: https://github.com/streamlink/streamlink/pull/383 which was merged earlier today, give the nightly a shot: https://streamlink-builds.s3.amazonaws.com/nightly/windows/streamlink-latest.exe

[2017-01-09 07:38] #388 closed

[2017-01-09 07:59] beardypig commented on #387
Which version of streamlink are you using? How did you install it? The full URL might help debug, from the error it sounds like the URL is invalid.

[2017-01-09 12:50] beardypig commented on #376
@karlo2105 can you try out the plugin version in this branch [beardypig/streamlink/tree/tf1](https://github.com/beardypig/streamlink/tree/tf1), note that [src/streamlink/stream/hds.py](https://github.com/beardypig/streamlink/blob/tf1/src/streamlink/stream/hds.py) has also been updated to add the `g` parameter. It works for me for all the channels with HDS and HLS (except TMC, where HLS does not wo

[2017-01-09 13:00] melmorabity commented on #376
@beardypig Works like a charm from France, both HDS and HLS . Even TMC :)

[2017-01-09 13:10] melmorabity commented on #376
@beardypig Some issues with Python 3 (Python 2 is OK)
[code]
string.uppercase isn't available anymore in Python 3

[2017-01-09 13:18] beardypig commented on #376
@melmorabity thanks for testing the streams :) Also, quite right about `uppercase` :)

[2017-01-09 17:13] shadowht commented on #387
I am using the last streamlink version 0.2
Since there isnt any plugin, this is the method i use to get the links https://github.com/chrippa/livestreamer/issues/561#issuecomment-73791874
And again, the links are working just fine on livestreamer.
![feelsbad](http://i.imgur.com/PBT6PqR.png)

[2017-01-09 17:42] #376 closed

[2017-01-09 17:46] beardypig commented on #387
Can you try `hlsvariant://http://...playlist.m3u8`? That is a strange error to see.

[2017-01-09 17:54] karlo2105 commented on #376
I confirm working fine now. Thanks for fix.

[2017-01-09 17:55] beardypig commented on #387
Looks like a regression in 707df4f27bf144f4e33dc76ffafbcf2fac2519b8 I'll fix that right up :)

[2017-01-09 18:42] gravyboat commented on #387
https://github.com/streamlink/streamlink/pull/393 is merged so I'm going to close this.

[2017-01-09 18:42] #387 closed

[2017-01-09 21:32] RuKeBo commented on #58
Not trying to be the squeaky wheel but this was slated to be worked on long before Christmas.

[2017-01-09 22:11] gravyboat commented on #374
Closing since the associated PR is merged.

[2017-01-09 22:11] #374 closed

[2017-01-10 02:12] Tristanx commented on #58
I have put together a temporary fix of the current ustream plugin for my own purposes. I know beardypig is working on a new version but if there is demand for it in the mean time, I can send a pull request. see my fork: https://github.com/Tristanx/streamlink (note: only tested on linux)

[2017-01-10 11:25] beardypig commented on #375
Closing this as #382 has be merged.

[2017-01-10 11:25] #375 closed

[2017-01-10 11:26] beardypig commented on #370
@stepshal is this working with the latest nightly?

[2017-01-10 11:29] beardypig commented on #323
Closing this as the required wheels are available. @fireattack if you still have problems feel free to reopen this issue.

[2017-01-10 11:29] #323 closed

[2017-01-10 14:19] Apollo2000 opened #397 "cdnwiz.com plugin req"
Hi,

If someone can make plugin for this CDN.

Example: http://live.ch20-cdnwiz.com/ch20-abr/ch20-abr/playlist.m3u8

Thank you.

[2017-01-10 14:58] beardypig commented on #397
For HLS URLs you can use the builtin HLS support:
[code]

[2017-01-10 15:32] stepshal commented on #370
@beardypig
I have this:
`[cli][error] Could not open stream: Unable to open URL: http://adultswimhls-i.akamaihd.net/hls/live/249295/adultswim_6/main/1/stream_Layer4.m3u8 (403 Client Error: Forbidden for url: http://adultswimhls-i.akamaihd.net/hls/live/249295/adultswim_6/main/1/stream_Layer4.m3u8)`
So it's geo-restricted? But i can watch it in browser.

[2017-01-10 15:48] beardypig commented on #370
Which URL are you trying to watch? I think some if not all are geo-restricted to the US.

[2017-01-10 16:00] stepshal commented on #370
@beardypig i can watch all of them in browser without proxy.

[2017-01-10 16:06] beardypig commented on #370
And do they all give the same error?

[2017-01-10 16:15] stepshal commented on #370
@beardypig Seems that all streams work except Toonami. But i can still watch it in browser.

[2017-01-10 16:18] beardypig commented on #370
OK. I get same error when trying from outside the US. I'll try and correct it.

[2017-01-10 16:23] widestm opened #398 "Add streamlink to homebrew"
It would be great to see streamlink added as a formula in homebrew as it's a very convenient way to keep everything up to date and in one place on mac osx.

[2017-01-10 16:24] stepshal commented on #370
@beardypig and that all vods from archive doesn't work. It's showing live stream instead.

[2017-01-10 16:25] beardypig commented on #370
VOD is not currently supported. The toonami stream is slightly weird, might take a little while to fix.

[2017-01-10 17:41] gravyboat commented on #398
This is a good idea, if you're interested in doing so or know someone who is feel free to open a PR! Looks like it requires extra work (http://docs.brew.sh/ and http://docs.brew.sh/Python-for-Formula-Authors.html) for Python because Homebrew is written in Ruby.

[2017-01-10 17:43] gravyboat commented on #397
Yep @beardypig is right, going to close this for now, feel free to re-open if you need to.

[2017-01-10 17:43] #397 closed

[2017-01-10 17:47] widestm commented on #398
I could take a look at it myself first but cannot give any guarantees :)

[2017-01-10 17:48] gravyboat commented on #398
@widestm Sounds good, if you don't have any luck please drop a comment here so we know you aren't working on it.

[2017-01-10 18:12] unlocKing commented on #354
Thanks for your replies gents.. now that only leaves one question, how much??? ;)

[2017-01-10 18:33] gravyboat commented on #354
@unlocKing While we might be able to post a bounty on it via bountysource, I'm kind of against doing so. Currently Streamlink operates in a space where we are in good standing with most organizations since we just pull the stream data they are already making available. Purposefully targeting and breaking DRM/encryption puts us into a space where we could potentially face legal repercussions/takedo

[2017-01-10 18:51] beardypig commented on #354
SAMPLE-AES is possible. FairPlay DRM, not likely.

[2017-01-10 19:04] gravyboat opened #399 "[META] Set up Bountysource"
I've claimed the Streamlink org page here: https://www.bountysource.com/teams/streamlink and claimed ownership of the team. They usually review these requests within 2 days and I just wanted to make a note of doing so here.

[2017-01-10 20:36] stepshal commented on #370
@beardypig so pycryptodome is needed for VODs, that are not yet supported?

[2017-01-10 21:44] beardypig commented on #370
I can't remember if they were just encrypted or also had DRM. I'll take a look when I fix the toonami bug...

[2017-01-11 00:09] unlocKing commented on #354
@gravyboat Understood, the project should not be seen to be actively hacking DRM. Thanks for your reply.

[2017-01-11 07:28] thinkpad4 commented on #377
I would say this should be fast tracked, just incase Twitch pushes v5 early

[2017-01-11 08:34] gravyboat commented on #377
It's already been updated to v3 so we should be okay for a bit.

[2017-01-11 11:08] Apollo2000 opened #400 "question filmon.com HD"
Hi,

How to add account info for filmon.com HD?

Thank you.

[2017-01-11 11:31] beardypig commented on #400
As far as I remember, logins for filmon.com are not supported. I don't have an account, so I cannot add it, maybe someone else with an account can add it.
Unless you can donate an account for development :)

[2017-01-11 12:24] karlo2105 commented on #400
I don't think Filmon proposes HD. They air on two qualities LQ (360p) and HQ (480p).
When their servers are not crowded, some channels air free on HQ so you can see how it looks like.

[2017-01-11 13:03] xkbd opened #401 "Windows installer VersionInfo"
Hi. Can someone add to makeinstaller.sh installer version information? (windows shows this information on the Version tab of the file properties)
Example: http://nsis.sourceforge.net/Examples/VersionInfo.nsi

[2017-01-11 14:04] beardypig commented on #401
Good idea :)

[2017-01-11 14:12] karlo2105 opened #403 "SRG SSR plugin"
Hello

Another challenge for beardypig. ;)
Swiss public TV includes channels in :
- German : SRF 1, SRF 2, SRF Info : `http://www.srf.ch/play/tv/live`
- French : RTS Un, RTS Deux, RTS Info : `http://www.rts.ch/play/tv/direct`
- Italian : RSI La 1, RSI La 2 : `http://www.rsi.ch/play/tv/live`

Sometimes they air live sports events exclusively online on their website.
Channels are of course geoblocke

[2017-01-11 17:46] beardypig commented on #403
I'll take a look, if I can find a decent Swiss proxy :-)

[2017-01-12 02:14] xkbd commented on #401
Thanks.
[code]

[2017-01-12 02:15] #401 closed

[2017-01-12 17:22] #370 closed

[2017-01-13 00:08] thinkpad4 opened #412 "Windows Installer adds streamlink to PATH when it already exists"
The last 2 times I installed the latest nightly build something bugged my shortcuts that have %windir% in it.  For example MSPaint, the shortcut is %windir% Paint.exe and after installing the nightly, all shortcuts that have %windir% in the target of the shortcut break.  Nothing is deleted, it just seems to lose what %windir% means, and only restarting fixes it.  Now I still need to do more testin

[2017-01-13 00:53] gravyboat commented on #412
Any relation to this: http://superuser.com/questions/355594/windows-7s-path-and-environment-variables-are-corrupted seems like there are quite a few instances of these types of problems.

[2017-01-13 01:34] thinkpad4 commented on #412
I tested it last night, I was able to open the shortcuts, then installed the nightly then they stopped working, and I made sure to check it was ONLY the shortcuts with %windir% in the target listing in the shortcut properties.  I then rebooted, all the shortcuts worked again, then I reinstalled the nightly again and only the nightly was used like 1 min after windows loaded so nothing else was chan

[2017-01-13 02:20] #331 closed

[2017-01-13 08:20] thinkpad4 commented on #412
100% it is something to do with the Streamlink Nightly, I just testing it again under controlled conditions.  It removes the PATH %windir%

[2017-01-13 09:44] bastimeyer commented on #412
There is no logic that removes the `windir` env var...
- https://github.com/takluyver/pynsist/blob/1.9/nsist/pyapp.nsi#L89
- https://github.com/takluyver/pynsist/blob/1.9/nsist/_system_path.py#L110-L174
- https://github.com/streamlink/streamlink/blob/8b710ba7f642e0906413157e60e602ce41cfe1cf/script/makeinstaller.sh#L30-L187

Just check the keys in the registry if you want to be sure:
`HKEY_LOCAL_MA

[2017-01-13 10:42] karlo2105 opened #413 "RTVE.es plugin broken"
Spanish public TV RTVE recently changed broadcasting address and servers which made plugin broken.

`livestreamer -p "C:\Users\Ddr\Downloads\VLCPortable\App\vlc\vlc" "http://www.rtve.es/noticias/mas-24/" best
error: No plugin can handle URL: http://www.rtve.es/noticias/mas-24/`

Below are direct addresses to channels :

- La 1 : http://www.rtve.es/noticias/directo-la-1/
- La 2 : http://www.rtve.es

[2017-01-13 13:58] beardypig commented on #413
Thanks for spotting this :)

[2017-01-13 17:36] #413 closed

[2017-01-13 19:25] thinkpad4 commented on #412
I figured it out, it WAS the PATH having too many characters in it, seems everytime I install a new nightly of Streamlink, a new "Program Files (x86)\Streamlink\bin" gets added, so the PATH entry was filled up with that

[2017-01-13 19:34] skulblakka commented on #412
For me this only happens if I don't uninstall streamlink before installing it again.

[2017-01-13 19:35] gravyboat commented on #412
@skulblakka Good to know, thanks for chiming in.

[2017-01-13 19:52] unlocKing opened #419 "Kodi module"
Is there a Kodi module like the one for livestreamer?:

http://mirrors.mit.edu/kodi/addons/jarvis/script.module.livestreamer/

https://github.com/blxd/plugin.video.livestreamer

[2017-01-13 19:53] beardypig commented on #419
I made one just the other day: https://github.com/beardypig/plugin.video.streamlink

[2017-01-13 19:58] unlocKing commented on #419
Cheers dude!

[2017-01-13 19:58] #419 closed

[2017-01-13 20:31] bastimeyer commented on #412
See the second link I've posted... There's no detection of already set paths. This needs to be fixed in pynsist

[2017-01-14 01:25] thinkpad4 commented on #412
Can this be fixed on Streamlinks end or will it require Pynsits to fix it?

[2017-01-14 01:30] beardypig commented on #412
We might be able to fix it. It would probably be worth submitting a fix to pynsist if we do fix it.

[2017-01-14 02:18] thinkpad4 commented on #412
Well I hope you are able to @beardypig

[2017-01-14 03:52] Junior1544 opened #420 "Can't update from 0.1.0 to 0.2.0 using pip."
Good day!

I love Streamlink!  Thank you for everyone who maintains and works on it!

I have streamlink 0.1.0 installed on my raspberry pi.  I installed it using pip.

I am now trying to update it to the latest version, but when I run the pip update command:
`pip install -U streamlink`
it gives me the following error screen:

![image](https://cloud.githubusercontent.com/assets/20785288/21952149/fe

[2017-01-14 06:50] gravyboat commented on #420
Can you try `pip install --upgrade streamlink`? I updated using that method on my Linux machine without issue.

[2017-01-14 08:32] Junior1544 commented on #420
Thanks for the suggestions.

When I tried pip 'install --upgrade streamlink' this is what I got:
![image](https://cloud.githubusercontent.com/assets/20785288/21953590/bdb69fe0-d9df-11e6-8e9a-771e1c69d00c.png)

when I tried 'pip install --upgrade pip' this is what I got:
![image](https://cloud.githubusercontent.com/assets/20785288/21953596/eec9bd9c-d9df-11e6-87c2-fc4e38cee37d.png)

I know it has ne

[2017-01-14 08:34] Junior1544 commented on #420
if I run pip with no command lines it looks like I get the same error again?  is my pip corupted maybe?

[2017-01-14 09:13] Junior1544 commented on #420
ok, i removed the pip software that I had gotten from apt-get and installed it from the website and it's now using pip version 9 and it's still giving me an error when I try to use it to upgrade streamlink, but it's a different error now and here it is:

![image](https://cloud.githubusercontent.com/assets/20785288/21953840/cf64a380-d9e5-11e6-8f8f-39ef46a9f460.png)

[2017-01-14 10:42] back-to commented on #420
Hi,
you need to install it as an _admin(root)_

Try it with
[code]

[2017-01-14 11:34] chhe commented on #420
It's better to use ``sudo``'s ``-H`` parameter or you will run into permission issues with ``pip``'s cache:

[code]

[2017-01-14 13:38] xkbd commented on #337
Steps to reproduce:
`streamlink url --player="not-exists-file"`

[2017-01-14 13:50] RosadinTV commented on #337
@xkbd In my case is not reproducible:
![streamlink_player_not_found](https://cloud.githubusercontent.com/assets/13382316/21955299/3e85cf12-da47-11e6-88cd-9a9c6a5e4b87.JPG)

[2017-01-14 14:02] xkbd commented on #337
UPD: The url should process plugin which will run rtmpdump.
In my case:

[code]

[2017-01-14 14:11] RosadinTV commented on #337
@xkbd

![streamlink_player_not_found_rtmp](https://cloud.githubusercontent.com/assets/13382316/21955450/33224f9e-da4a-11e6-924a-1a1ac5a08a79.JPG)

[2017-01-14 14:22] xkbd commented on #337
[code]

[2017-01-14 15:01] xkbd commented on #337
@RosadinTV, can you try run streamlink.exe from python_dir\scripts?

[2017-01-14 15:05] xkbd commented on #337
[code]

[2017-01-14 15:25] bot144 opened #421 "VLC player (twitch stream) crashes when Dota 2 is started/switched to in exclusive fullscreen"
Only happens when the resolution is lower in Dota than in desktop (1080p vs 1440p). I don't know how long this issue has existed, since I started using Dota 2 in exclusive fullscreen only recently.

[2017-01-14 15:31] TuXEKRO opened #422 "crunchyroll download options"
Hello everyone! I'm trying to download the videos with subtitles in my language (Spanish). But I do not know how to tell the program to change the language.

I hope your answers, greetings !!

[2017-01-14 15:32] beardypig commented on #337
@xkbd the error doesn't occur with the streamlink.exe that is installed by the nightly?

[2017-01-14 15:34] beardypig commented on #422
In the docs it explains how to change the locale https://streamlink.github.io/cli.html#cmdoption-crunchyroll-locale. This should give you the correct subtitle language. Probably you need to use `--crunchyroll locale es_ES` to get Spanish subtitles.

[2017-01-14 15:39] garoto commented on #421
isn't this a VLC issue then?

[2017-01-14 15:42] bot144 commented on #421
@gapato Yes actually you're right, I tested it with normal VLC playback, it still crashes. Will close the thread.

[2017-01-14 15:43] #421 closed

[2017-01-14 15:43] stevek123 commented on #421
See: https://trac.videolan.org/vlc/ticket/15711 or try https://trac.videolan.org/vlc/ticket/11542

[2017-01-14 15:51] TuXEKRO commented on #422
First thing, thanks for the speed @beardypig

The second, thank you very much for attaching the direct link to the section, is that I do not work the page searcher in my browser, and also for transcribirlo ^^

Fixed, how do you close the ticket?

PD: en `--crunchyroll-locale es_ES` no `--crunchyroll locale es_ES`

[2017-01-14 15:56] TuXEKRO commented on #422
Ah, one more thing. Well two.

1. Can you download a complete directory?
Example:
Http://www.crunchyroll.com/eldlive

2. Can you rename files automatically?

Right now I am using this code:

`streamlink --crunchyroll-username=USERNAME --crunchyroll-password=PASSWORD --crunchyroll-locale es_ES -o NAME.ts LINK-VIDEO best`

[2017-01-14 16:07] beardypig commented on #422
No, streamlink does not offer a way to download the full series or automatically name the files. Streamlink is aimed at streaming rather than downloading.

[2017-01-14 16:12] xkbd commented on #337
Doesn't occur.
streamlink.exe from windows installer - runner streamlink-script.py.
In my case when i run streamlink from python-script also all is well.

But if i run `python.exe -c` [code from streamlink-script.py]:
[code]
I get 'python fatal error'
[code]

[2017-01-14 16:48] TuXEKRO commented on #422
Ah good. I did not know, jej While it works, I'll stay jej

Thank you @beardypig !!

[2017-01-14 16:48] #422 closed

[2017-01-14 16:54] HowDoInternet opened #423 "Windows Installer doesn't add PATH properly?"
After installing version 0.2 I tried to start streamlink via a .bat file like this:
`set /p streamname=Stream name:%=%`
`streamlink http://www.twitch.tv/%streamname% best --player-no-close `
but cmd then says it doesn't know the command streamlink.
If I start cmd manually and start a random stream like this:
`streamlink twitch.tv/lirik best`
it works.
If I look at path in the manually started cmd

[2017-01-14 18:22] xkbd commented on #423
How you run bat-file? From cmd.exe/double-clicking/etc?

[2017-01-14 19:17] Z-brah commented on #263
Using this line: Streamlink https://www.twitch.tv/cohhcarnage/v/114418144 high,source
and these settings:
  twitch-oauth-token=*****************
  player="C:\Program Files\MPC-HC\mpc-hc.exe"
  player-continuous-http
  player-passthrough=hls
  player-no-close
i get same result: (translation: cant play file)
Win 10 x32, Mpc-hc 1.7.10

p.s. live translations works fine

![sl](https://cloud.githubuser

[2017-01-14 20:04] HowDoInternet commented on #423
I just double-click the .bat file.

[2017-01-14 20:20] Junior1544 commented on #420
Yay!

'sudo -H pip install -U streamlink'

worked!  I would suggest putting the information into the documentation that using apt-get to get pip working wont work with a raspberry pi and it needs to be installed another way.  and then you can update streamlink using the updated pip using the 'sudo -H pip install -U streamlink'

I would do a pull request myself about this but I have no idea how :)

[2017-01-14 20:40] xkbd commented on #423
logoff -> logon & try again

[2017-01-14 20:41] skulblakka commented on #420
I think the original issue is caused by an outdated version of pip (the one in the repos the pi uses is from 2014). [See](http://stackoverflow.com/questions/27341064/how-do-i-fix-importerror-cannot-import-name-incompleteread/27341847#27341847)

[2017-01-14 22:09] xkbd commented on #337
[code]
What's the difference between `python -c "from streamlink_cli.main import main;main()"` and `python foo.py` ?
Why in the first case the interpreter was falling and the second not?

[2017-01-14 22:33] xkbd commented on #57
It may be useful:
I make wheels for cp35, cp36 (win32): https://github.com/xkbd/python-librtmp/tree/master/wheels

[2017-01-14 22:42] RosadinTV commented on #337
@xkbd You are right, when i run Streamlink.exe (Located in Scripts folder after installing via pip) the crash occurs:
![streamlink_player_not_found_rtmp_error](https://cloud.githubusercontent.com/assets/13382316/21958626/3eb23a76-da91-11e6-9d33-7b0b4367d4de.JPG)

[2017-01-14 23:08] beardypig commented on #337
Are you using the most up go date version of pip?

[2017-01-14 23:11] xkbd commented on #337
[code]

[2017-01-14 23:15] RosadinTV commented on #337
@beardypig Yes, but the crash only occurs in rtmp streams with a "not-exist" player

[2017-01-14 23:54] HowDoInternet commented on #423
Yeah that fixed it. Could have gotten that idea myself...

[2017-01-14 23:54] #423 closed

[2017-01-15 00:06] xkbd commented on #337
I got another crash with streamlink.exe from windows package :)

[code]

[2017-01-15 00:15] xkbd commented on #337
Steps to reproduce:
- `streamlink.exe "vaughnlive.tv/MEGA_SIMPSON" best`
- To obtain `read timeout` suspend rtmpdump.exe process

[2017-01-15 03:05] unnutricious commented on #235
You can view a stream via the web @ http://17.media/share/live/<id>

You can find the rtmp url in the source, but when I try to stream it directly, it stops working after a few seconds, I don't know why.

[2017-01-15 05:32] prech opened #425 "Huya.com plugin/support"
Many thanks to the developers for making Streamlink such a wonderful tool.

Would appreciate any tips for supporting Huya.com streams, or for adding a plugin for it. Very popular Chinese streaming platform, similar to Douyu, Pandatv and Longzhu.

I attempted to play around with editing douyutv.py and tga.py, but didn't have any luck. They appear to have a very similar interface. No log-in is neces

[2017-01-15 05:55] prech opened #426 "Tga.py plugin errors"
Many thanks to the developers for making Streamlink such a wonderful tool.

Would appreciate some help with the Longzhu plugin. No log-in is required.

Some test streams:
[http://longzhu.com/channels/lol](http://longzhu.com/channels/lol)

Thanks!

---
This is the error I encounter with every Longzhu attempt:

[cli][info] Found matching plugin tga for URL http://star.longzhu.com/m185404
Traceback (

[2017-01-15 13:01] mlindner commented on #398
FYI, generally python packages are not added to Homebrew. If you can install it with pip then it's not in Homebrew as a general rule because it adds complications with having to manage two sources of the same files which can possibly conflict with each other.

[2017-01-15 13:03] mlindner commented on #398
Though I have seen that a couple of large packages end up in Homebrew like numpy or scipy, but smaller things likes requests or beautifulsoup don't.

[2017-01-15 17:09] karlo2105 opened #430 "RTVE.es : additional addresses for channels"
On this page you can find channels with different address presentation but not included on the RTVE.es script.

`streamlink "http://www.rtve.es/directo/canal-24h/" best
error: No plugin can handle URL: http://www.rtve.es/directo/canal-24h/`

Source : `http://www.rtve.es/directo`

`http://www.rtve.es/directo/la-1/`
`http://www.rtve.es/directo/la-2/`
`http://www.rtve.es/directo/teledeporte/`
`http:/

[2017-01-15 22:19] Ordval opened #431 "pluzz.francetv.fr, how?"
How is a command line supposed to be implemented  ?

Put like this it wont work:
streamlink.exe http://pluzz.francetv.fr/videos/on_nest_pas_couche_saison11_,151891332.html best
(error: No plugin can handle URL: http://pluzz.francetv.fr/videos /on_nest_pas_couche_saison11_,151891332.html)

whereas it will play in a browser (Windows 10),
and by the way, without “best” nothing will work.

[2017-01-15 22:40] beardypig commented on #431
Do you have the latest nightly version?

[2017-01-15 22:51] karlo2105 commented on #431
I installed streamlink development through python 2.7.13. Streamlink is located here `C:\Program Files\Python27\Lib\site-packages`
The main advantage is streamlink is available from any directory.
It's working fine.

`streamlink "http://pluzz.francetv.fr/videos/on_nest_pas_couche_saison11_,151891332.html" best
[cli][info] Found matching plugin pluzz for URL http://pluzz.francetv.fr/videos/
on_nest

[2017-01-15 23:44] Ordval commented on #431
I've put up an example karlo2105! (LoL).

Let's stay with what I have so far.
I'm a classic Plug-n-Play. If it's not an easy install, I seldom bother.

So now they're both installed because of the uncertainty of a Nightly build.
How would a command line look ?

C:\Program Files (x86)\Streamlink Nightly build\bin\streamlink.exe http://pluzz.francetv.fr/videos/on_nest_pas_couche_saison11_,151891332.

[2017-01-15 23:53] beardypig commented on #431
@Ordval you should just be able to run
[code]
But if you've got another bin directory in your PATH as I think I understand you might, then you will need the full path. You may need to use " quotes around the exe path.
[code]

[2017-01-15 23:56] Ordval commented on #431
Yep, yep, that made it !
But not possible in the regular version then ?

[2017-01-16 00:08] beardypig commented on #431
What does
[code]
return? If you used easy_install you probably have an old version (stable 0.2.0) in the PATH before the nightly.

[2017-01-16 00:15] Ordval commented on #431
Right you are. No reason to keep it ?

Path=C:\ProgramData\Oracle\Java\javapath;C:\Program Files (x86)\Intel\iCLS Client\;C:\Program Files\Intel\iCLS Client\;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\Intel\Intel(R) Management Engine Components\DAL;C:\Program Files\Intel\Intel(R) Management Engine Components\DAL;C:\Pro

[2017-01-16 00:30] gravyboat commented on #430
Are these needed? As in can you get to the same content without using these longer URLs?

[2017-01-16 00:59] Ordval commented on #431
As this seems to be the only thread; X-Forwarded-For won't work here.

[2017-01-16 04:18] GreyAsteroid opened #432 "--twitch-disable-hosting breaks VOD playback"
Using --twitch-disable-hosting while someone is hosting another channel causes VOD playback to break for all their VODs.

[code]

[2017-01-16 04:37] GreyAsteroid commented on #432
On another note, even after enabling hosting, streamlink seems confused and spouts out this

[code]
Then proceeds to play the VOD from the original streamer

[2017-01-16 06:43] gravyboat commented on #432
That's odd, when I do that I get this:
[code]

For your original issue I get this:
[code]
Though that may be because the user isn't hosting. What does the command you're running for the second comment look like, and what version of Streamlink are you running? Do you have any custom configuration set?

[2017-01-16 08:19] karlo2105 commented on #430
Those addresses are not longer than supported ones. For instance : `http://www.rtve.es/noticias/directo-la-1/`
I thought Streamlink plugins were to be the most completed possible so far.
I am not even Spanish speaking but my purpose was to have the most completed plugins. I hope most of members share my point of view.

[2017-01-16 08:21] GreyAsteroid commented on #432
The context of my second comment is
[code]
The weird thing being that "switching to effinslowbeef" shouldn't show up since this command is for playing a VOD (and the VOD does play).

Regarding the original issue, as I said on the first comment, the --twitch-disable-hosting command only breaks VODs when the person who's VOD you're trying to play is hosting another person. So yes you did not actuall

[2017-01-16 08:24] karlo2105 commented on #431
@Ordval
If you want to stick it with Livestreamer you can add manually pluzz plugin into Livestreamer directory of plugins you just have to rename "streamlink" to "livestreamer" in pluzz.py.

[2017-01-16 08:28] beardypig commented on #430
I only see the URLs like: http://www.rtve.es/noticias/directo-la-1/ on www.rtve.es
The site on http://www.rtve.es/directo/la-1/ looks like the old version of the site...

[2017-01-16 08:36] beardypig commented on #431
@Ordval what do you mean X-Forwarded-For won't work here?

[2017-01-16 09:07] beardypig commented on #400
@Apollo2000 do you have an example of a URL what you want supported? Does it require a login? Please provide as much information as possible.

[2017-01-16 09:09] karlo2105 commented on #430
Thanks for support. ;)

[2017-01-16 16:46] Ordval commented on #431
For a while there, it was possible to use X-Forwarded-For with Pluzz if One had some appropriate MRL,
but they've sharpened their security,....unless you know of a workaround ?
The –http-proxy could be a possibility but as it still is possible to use a free vpn I'd rather go with that.

[2017-01-16 17:21] beardypig commented on #431
OK, have you solved the problem now?

[2017-01-16 17:29] Ordval commented on #431
Using a free VPN, or what do you mean ? That is what I use.

[2017-01-16 17:39] gravyboat commented on #432
Thanks for the additional details @GreyAsteroid. Closing this since #435 was merged. Can you try out the nightly once it builds?

[2017-01-16 17:39] #432 closed

[2017-01-16 17:50] gravyboat commented on #412
I'm going to close this since #434 was merged. Thanks for the report @thinkpad4.

[2017-01-16 17:50] #412 closed

[2017-01-16 17:52] gravyboat commented on #430
Closing since this was fixed in #433. Thanks for the report @karlo2105.

[2017-01-16 17:52] #430 closed

[2017-01-16 17:53] #337 closed

[2017-01-17 02:35] xkbd commented on #321
Unfortunately it does not work. rtmpdump encodes it as one.

[2017-01-17 09:04] beardypig commented on #431
Alright, since you solved it I think we can close this issue :)

[2017-01-17 09:04] #431 closed

[2017-01-17 10:30] beardypig commented on #271
They has been merged now and we have an `rst` changelog :)

[2017-01-17 10:30] #271 closed

[2017-01-17 10:31] beardypig commented on #65
I think this has been resolved by not doing anything, seems like we are keeping the name `streamlink`...

[2017-01-17 14:31] #65 closed

[2017-01-17 14:31] cdrage commented on #65
Let's close this for now :)

[2017-01-17 14:32] #420 closed

[2017-01-18 08:24] mlindner opened #444 "Support multiple URLs given at the command line"
Streamlink should be able to support a queue of URLs to parse through that it will go through one after another. Currently it tries to parse a second URL as the stream quality instead.

[2017-01-18 08:25] beardypig commented on #444
@mlindner what is the use case for this? And what is the expected behaviour? To play the first available stream, to play each one in turn?

[2017-01-18 09:13] mlindner commented on #444
To play each one in turn. This is useful when there's a playlist of videos and there is a need to queue them back to back. A bad workaround is to simply call streamlink multiple times but that requires a shutdown and restart of player and streamlink for every URL.

[2017-01-18 09:17] beardypig commented on #444
Do you have a concrete example?

It is not always possible to concatenate multiple videos into a single stream, if the formats, resolution, codecs, etc. are different it is not really possible, or too far out of scope for the project.

[2017-01-18 09:19] mlindner commented on #444
http://www.crunchyroll.com/ninja-girl-samurai-master for example each video link is only 3 minutes long so is a pain to have to manually set up the player for each one each time.

[2017-01-18 09:40] karlo2105 commented on #444
I think he meant streamlink could support a playlist of videos.

[2017-01-18 09:48] Razunter opened #446 "Read timeout on all attempts when downloading from Twitch"
Trying to download stream from Twitch, getting "read timeout" every time at about 5-50mb.
Can watch on Twitch without issues.

Stream url: https://www.twitch.tv/ognglobal/v/115348644
Quality: best

[code]

[2017-01-18 10:05] beardypig commented on #444
I think this is out of scope for Streamlink in general. There is already support for a Playlist of streams, but it is an API available to plugins and not intended to be used to string together arbitrary streams - this would be fraught with issues.

It is entirely possible to add support for a Playlist of streams on plugin by plugin basis, eg. the crunchyroll plugin could offer some method to speci

[2017-01-18 10:09] beardypig commented on #446
Working on this right now ...

[2017-01-18 10:52] mlindner commented on #444
No I don't mean support parsing playlists. I mean support doing:

`streamlink http://www.crunchyroll.com/ninja-girl-samurai-master/episode-1-lets-go-see-nobunaga-sama-721031 http://www.crunchyroll.com/ninja-girl-samurai-master/episode-2-the-oda-clan-and-their-merry-friends-721033 http://www.crunchyroll.com/ninja-girl-samurai-master/episode-3-attack-imagawa-san-next-door-721035 http://www.crunchyro

[2017-01-18 10:53] mlindner commented on #444
Even if you don't implement this soon, you have to admit this is a pretty basic feature that is missing that will eventually and should eventually be added.

[2017-01-18 10:56] mlindner commented on #444
It's the first thing I tried to do when I started using it after all and I think many others hit the same roadblock. I initially thought it was a bug and considered hacking away at the internals to just repeatedly call the main function and pass in file after file but the code wasn't too clean to do that easily within a few minutes so I abandoned the idea for the time being. Adding it at that leve

[2017-01-18 11:08] beardypig commented on #444
@mlindner it may appear basic at first, but it's actually quite complex. Video streams cannot simply be concatenated, they would not be valid. Adding a feature like this would introduce too much scope for errors. However, as I said, it could be added at the plugin level.

[2017-01-18 11:24] mlindner commented on #444
I'm not talking about concatenating video streams. I'm talking about cycling through them back to back and handing them off to the player.

[2017-01-18 11:27] mlindner commented on #444
Additionally, a plugin is very much not appropriate for this. Plugins are for adapting to sites, not for adapting to players. We don't have an mpv plugin for example.

[2017-01-18 11:30] mlindner commented on #444
The hacky way to add this is simply to modify the argparse to support multiple urls in args.url and then modify handle_url such that it wraps all its code in a loop and loops over each element in args.url.

[2017-01-18 11:37] beardypig commented on #444
Streamlink is designed to handle one video stream at a time, it streams the video content to the player via a pipe (or HTTP). As far as the player is concerned the video that it is playing is a single video stream, ie. if you want to play more than video stream back-to-back they need to be concatenated. Streamlink has no facility to supply multiple separate video streams to a player.

If you hacke

[2017-01-18 11:44] mlindner commented on #444
@beardypig That's not how I use it. I use `player-passthrough=hls,http,rtmp` so no they would not be concatenated. I'd possibly modify handle_url such that if it sees multiple urls it sets a flag which then simply parses each URL and then passes them in a string blob to mpv.

In my case:
`streamlink http://www.crunchyroll.com/girlish-number/episode-11-wavering-chitose-and-determined-gojo-722465 st

[2017-01-18 11:46] mlindner commented on #444
After quoting the URLs, just tried that and it works, at least until the temporary keys in there die out.

[2017-01-18 11:48] mlindner commented on #444
streamlink should really default to passthrough unless passthrough fails. When doing through a pipe many players get very broken and don't seek properly.

[2017-01-18 11:51] bastimeyer commented on #444
You can't seek at all by using pipes...
There's some talk about changing Streamlink's behavior in #134

[2017-01-18 11:52] beardypig commented on #444
That's in your case, not everyone uses `--player-passthrough`.
What's to say that by the time you get to the second item in the list the URL is still valid?

`player-passthrough` is useful, but it doesn't not work for every stream, some require cookies or other verification tokens, others are simply not supported by many (if any) players, eg.

[2017-01-18 11:52] mlindner commented on #444
I should also mention that when passing the URLs directly to mpv they are handled very well and the delay between videos is zero as the player reuses connections and pre-loads things. When going through @beardypig 's suggestion of using a script there is a 10 second delay or so between player invocations which is untenable for streaming videos back to back.

[2017-01-18 11:55] bastimeyer commented on #444
Because you're using an additional cache in mpv (plus Streamlink's cache). You can disable this in mpv by setting the `--no-cache` parameter (`-a "--no-cache {filename}"` Streamlink parameter).

[2017-01-18 11:56] mlindner commented on #444
Using no cache causes other problems (slow seeking, freezes) so I use an extra large cache which eliminated those. We should be able to have both.

[2017-01-18 11:58] mlindner commented on #444
I just measured and even with --no-cache there is a 7 second delay between video finishing and next video beginning because of all the setup that both streamlink and mpv do.

[2017-01-18 12:04] bastimeyer commented on #444
How would this change if there would be a playlist implementation? Streamlink would still need to request the API/website to retrieve the stream data, which ofc has a slight delay. By using the hls passthrough, Streamlink doesn't know about the current position in the currently playing stream, because the player is fetching the data instead of Streamlink, so it can't do these requests ahead of tim

[2017-01-18 12:09] mlindner commented on #444
I can think of two ways, neither ideal.
1. Pre-parse all the given URLs and pass them all en-masse to mpv. They may expire before mpv gets to them all but that would still be better than what currently exists. I'm not 100% sure the links even do expire and they certainly last as long as it takes to play them.
2. Leave the player open and use the mpv api to stream additional URLs to it as they fini

[2017-01-18 12:14] beardypig commented on #444
@mlindner _1._ would be fine in the case of crunchyroll, but perhaps not other sites. _2._ would mean some specific code for mpv, and any other player that people want to use... as you mentioned before, we don't have plugins for adapting to players.

Here are a couple of additional scenarios where things might not go as expected:
- The user requests two streams, one `hls` that can be passed to the

[2017-01-18 12:17] mlindner commented on #444
I mean this all sounds like it works wherever player-passthrough also works. It's okay to have the option fail when player-passthrough also fails.

[2017-01-18 12:35] beardypig commented on #444
Except when the URL expires as you need to do all the URL resolution upfront.

If you are using linux you can do it with a simple bash script.

**streamlink-playlist.sh**
[code]
and run it by doing

[code]

It won't help if the URLs expire though.

[2017-01-18 21:31] bobvargas opened #447 "9anime.to not working again :("
Hey guys I have found another plugin bug on 9anime.to this time when I want to watch doraemon 2005 it gives me an error like this:

C:\Users\SUS>streamlink -p C:\Users\SUS\Downloads\VideoLAN\VLC\vlc.exe 9anime.to
/watch/doraemon-2005.834o/kko61v 720p
[cli][info] Found matching plugin nineanime for URL 9anime.to/watch/doraemon-200
5.834o/kko61v
error: Unable to open URL: //9anime.to/grabber-api/ (I

[2017-01-18 21:38] beardypig commented on #447
Looks like something has changed on the site, but it's probably an easy fix.

[2017-01-18 21:49] bobvargas commented on #447
@beardypig I know sorry to said again that the plugin is dealing with issues with site changes but hopefully you fix the api on 9anime.to @beardypig

[2017-01-18 22:41] CatPurrfect opened #448 "FFmpeg vs. Streamlink: Output file size"
I am able to successfully download a HLS stream from a .m3u8 file on both FFmpeg and Streamlink. However, the resulting files are of different sizes. The weird thing is that that when analyzing the elementary streams through both MediaInfo and FFmpeg, they are exactly the same. So I hypothesized that the muxing process must be different between the programs.

So, in that case I put my theory to th

[2017-01-18 23:01] scottbernstein commented on #448
@CatPurrfect:  streamlink does not use ffmpeg for downloading or processing in most cases.  It is only called in some very very specific cases.

ffmpeg will likely add headers to a file to make it a "properly compliant" video, whereas streamlink will generally only write exactly the bits that are passed to it.

________________________________
From: CatPurrfect <notifications@github.com>
Sent: Wed

[2017-01-18 23:06] CatPurrfect commented on #448
@scottbernstein I see, thanks for the clarification. So objectively then, what would be a better choice for downloading VODs and such for offline viewing, FFmpeg or Streamlink?

[2017-01-18 23:46] beardypig commented on #448
@CatPurrfect they should be equivalent outputs (not identical), so really it's up to you and what ever you want to use or find best :-)

[2017-01-18 23:56] CatPurrfect commented on #448
Good to know. Thanks for all the help I really appreciate it! :D

[2017-01-18 23:56] #448 closed

[2017-01-18 23:59] beardypig commented on #447
Should be easily fixed :-)

[2017-01-19 03:13] garoto commented on #448
`youtube-dl` if supported.

[2017-01-19 04:59] mlindner commented on #444
@gravyboat This should have enhancement label.

@beardypig I'm not sure you're following. I know how to do bash scripting but that's exactly not what I need.

[2017-01-19 05:00] mlindner commented on #444
I guess I'll need to do a pull request for this myself as there seems to be zero interest in adding what should be a basic required feature.

[2017-01-19 06:58] beardypig commented on #444
@mlindner as I understand your request that bash script does what you wanted, obviously you'd need to add any extra mpv options.

I don't this the feature can be implemented in a user friendly enough way to be added as a core feature, and is better implemented with an external script. There are too many edge/failure cases. Tell me what you would expect the behaviour to be if you supplied a playlis

[2017-01-19 14:08] beardypig commented on #342
@bobvargas I have created an earthcam plugin that you can test out: [earthcam.py](https://github.com/beardypig/streamlink/blob/3934df79739e96a2f8152e0796ba2e5aba247989/src/streamlink/plugins/earthcam.py).

[2017-01-19 15:47] beardypig commented on #403
@karlo2105 I had a go, I wasn't able to test it as I couldn't find a working Swiss proxy ...

[2017-01-19 17:18] gravyboat commented on #403
This is added, if you could test it @karlo2105 and confirm we can close this.

[2017-01-19 17:22] gravyboat commented on #447
Closing this since #449 is merged.

[2017-01-19 17:22] #447 closed

[2017-01-19 19:42] karlo2105 commented on #403
Thanks very much I will give a try if i manage with working proxy. ;)

[2017-01-20 09:28] JohnDoh666 opened #452 "panda.tv plugin not working with some streams"
Most streams work, but I get the following error with some:
`streamlink http://www.panda.tv/212274 best
[cli][info] Found matching plugin pandatv for URL http://www.panda.tv/312273
[cli][info] Available streams: hq (worst), ehq (best)
[cli][info] Opening stream: ehq (http)
[cli][error] Could not open stream: Unable to open URL: http://pl8.live.panda.tv
/live_panda/8db3b56f66234f09adb2c970f52f0af3.

[2017-01-20 10:18] karlo2105 commented on #403
When I use proxy, it buffers a bit but with streamlink I got error on all channels.
Take a look :

`[cli][info] Found matching plugin srgssr for URL http://www.srf.ch/play/tv/live#
?tvLiveId=c4927fcf-e1a0-0001-7edd-1ef01d441651
error: Unable to open URL: http://il.srgssr.ch/integrationlayer/1.0/ue/c4927fcf-
e1a0-0001-7edd-1ef01d441651/video/play/srf.json (404 Client Error: Not Found for
 url: http

[2017-01-20 12:13] Erk- commented on #452
There is a open pull request which fixes this problem #410 you can get the file and replace it locally.

[2017-01-20 13:44] JohnDoh666 commented on #452
Great, thanks for the input.

[2017-01-20 13:44] #452 closed

[2017-01-20 17:51] beardypig commented on #403
I have created a branch which fixes the issue with the site not working https://github.com/beardypig/streamlink/tree/srgssr. It also supports some of the live sports streams, but there is nothing streaming on rts.ch/sport/programmes/ currently.

[2017-01-20 18:51] #276 closed

[2017-01-20 19:12] karlo2105 commented on #403
Interesting. But as live events, sports or other are aired on channels websites could you merge it with srgssr plugin?

[2017-01-20 21:37] beardypig commented on #403
The format of the page and the api for getting the streams are different so I think it's better to separate them rather than complicating the other plugin. It's a bit cleaner and more maintainable :-)

[2017-01-20 23:33] karlo2105 commented on #403
OK I understand your argument and I agree.  ;)
Anyway I just tested your fix on live channels, only RTS Info works, all other channels print this error.

`"http://www.rts.ch/play/tv/direct#?tvLiveId=3608506" best
[cli][info] Found matching plugin srgssr for URL http://www.rts.ch/play/tv/direc
t#?tvLiveId=3608506
[cli][info] Available streams: 48k_alt, 288p_alt, 272p_alt, 360p_alt, 180p_alt,
48k (w

[2017-01-21 01:22] beardypig commented on #403
The auth parameters are already coming from that api. Unfortunately hls is the only option as the hds streams are encrypted using a method that we can't decrypt.

I just tested `http://www.rts.ch/play/tv/direct#?tvLiveId=360850` using the proxy you gave me and it works just fine... Are you proxying all URLs both http and https?

[2017-01-21 01:28] karlo2105 commented on #403
When I just put --http-proxy switch I got this message.

`error: Unable to open URL: https://srgssruni9ch-lh.akamaihd.net/i/enc9uni_ch@191
320/master.m3u8?dw=0 (403 Client Error: Forbidden for url: https://srgssruni9ch-
lh.akamaihd.net/i/enc9uni_ch@191320/master.m3u8?dw=0&hdnts=exp%3D1484962039~acl%
3D%2Fi%2Fenc9uni_ch%40191320%2F%2A~hmac%3D78b4297b4157da1e6dfe6220d1341099f9210f
9e8aa6004b6d6be711

[2017-01-21 06:52] fozzysec commented on #425
You can get hls stream address easily by specifying UA to mobile device like iPhone, but to get the http stream it is a bit more work to do because there are no public API to use. From Huya's swf file you can find two functions `getCdnTokenInfo` and `getFlvTokenInfo` in scripts/taf/TafManager.as, by analysis these two functions, you may able to find out the method to get the tokens and API.

[2017-01-21 07:47] reasonabledoubt opened #455 "chaturbate.com plugin stopped working"
It looks like [chaturbate.py](https://github.com/streamlink/streamlink/blob/master/src/streamlink/plugins/chaturbate.py) stopped working within the last twelve to twenty-four hours.

    $ streamlink chaturbate.com/[name] best
    [cli][info] Found matching plugin chaturbate for URL chaturbate.com/[name]
    error: No streams found on this URL: chaturbate.com/[name]

It was working fine earlier, b

[2017-01-21 09:35] fozzysec commented on #426
Got it fixed, I opened a PR #456 on it.

[2017-01-21 10:26] xkbd commented on #455
#457

[2017-01-21 11:15] beardypig commented on #455
#457 has been merged and this should be fixed in master. The Windows nightly build is also available now with this fix.

[2017-01-21 11:15] #455 closed

[2017-01-21 11:20] karlo2105 commented on #403
Now I tested live sports broadcast online for SRF and RSI I get same forbidden errors as above and for RTS.ch :

`"http://www.rts.ch/sport/direct/8294153-tennis-daria-gavrilova-aus-timea-bacsinszky-sui.html" best
error: No plugin can handle URL: http://www.rts.ch/sport/direct/8294153-tennis-d
aria-gavrilova-aus-timea-bacsinszky-sui.html`

[2017-01-21 11:29] beardypig commented on #403
@karlo2105 there is no support for rts sport yet.

I don't understand why you are getting the forbidden errors. Can you PM me the exact command you are running with the proxy options you are using?

[2017-01-21 12:23] karlo2105 commented on #403
It has been solved.
Thanks beardypig.

[2017-01-21 12:43] beardypig commented on #403
I'll sort out rts sports when there is a live stream available and I'm on my PC at the same time.

[2017-01-21 16:35] reasonabledoubt commented on #455
I updated to 0838845 and it works great, thanks @rinukkusu, @xkbd, and @beardypig.

[2017-01-21 22:13] dsteplight opened #458 "Every attempted url produces the same generic error"
streamlink twitch.tv/lirik best                                                                                                                       [17:01:50]
[cli][info] Found matching plugin twitch for URL twitch.tv/lirik
Traceback (most recent call last):
  File "/usr/local/bin/streamlink", line 11, in <module>
    load_entry_point('streamlink==0.2.0', 'console_scripts', 'streamlink')()
  Fil

[2017-01-21 22:42] stevek123 commented on #458
I think this will help: https://github.com/kennethreitz/requests/issues/3701

It's probably using an old version

[2017-01-21 23:00] dsteplight commented on #458
@stevek123  Thank you. That solved to problem.

The steps required on the link provided where to do the following. Now I see my stream in VLC.
sudo pip uninstall pyopenssl cryptography requests
sudo pip install requests

[2017-01-21 23:00] #458 closed

[2017-01-21 23:26] anyme38 opened #459 "Chaturbate plugin needs an update"
Hello,

Chaturbate.com has updated its video stream code.
I suggest to adapt the playlist url regex as follow :
`_playlist_url_re = re.compile("loadHlsVideo\('(?P<url>[^']+)'\);")`

Arnaud

[2017-01-21 23:39] beardypig commented on #459
This has been updated already and is available in the latest dev/nightly versions.

[2017-01-22 00:08] stevek123 commented on #377
V3 is scheduled to be deprecated (2017) and removed altogether (Feb. 13, 2018)

[2017-01-22 01:13] shitbub opened #461 "Not sure where else to ask this Question"
My apologies if this isn't the appropriate forum to ask this question, but im having troubles getting streamlink to even work for me.  I used to use linkstreamer, but i read that it has forked into streamlink.  So installed it streamlink as well as installing the most recent Python.

When i typed "pip install streamlink" in my command prompt, i get the following text in red.  Which i assume means

[2017-01-22 01:28] XanderGS opened #462 "Mozilla & Chrome addons?"
So livestreamer had some useful mozilla & chrome addons which could open twitch video links with a simple mouse2 button, select open in livestreamer and quality. Any plans to have that with streamlink too?

[2017-01-22 05:10] mrawji opened #463 "retries on the HLS playlist_reload?"
First off, THANK YOU! I was pulling HLS streams via FFMPEG before and they'd behave poorly after about 2 hours. Streamlink has been perfect on that front!

Here's my question.. I was streaming and the reload_playlist method received an timeout about 1 hour into the stream. It's most likely a transient issue with the server / network / internet / etc... this caused streamlink to basically stop. Is

[2017-01-22 05:44] gravyboat commented on #462
I don't think we've talked to whoever maintains those addons about doing so. If you want to reach out to them please feel free to do so.

[2017-01-22 05:47] #459 closed

[2017-01-22 08:18] beardypig commented on #461
Which version of Windows are you using? Have you tried using the Windows installer instead of using `pip`?

[2017-01-22 08:32] beardypig commented on #462
It sounds like it's already possible to use this addon (https://github.com/IsSuEat/open-livestreamer-firefox-addon/) with streamlink, by updating the path to livestreamer to point at streamlink. I have tried it, but it sounds like it'd work...

[2017-01-22 11:32] karlo2105 commented on #461
I have latest Python 2.7. You need to install GIT : `https://git-scm.com/`
Then in command prompt, from git.exe folder :

`pip install --no-cache-dir -U git+https://github.com/streamlink/streamlink.git`
Streamlink folders shall be located in `C:\Program Files\Python27\Lib\site-packages`

When you update streamlink it's better to first uninstall old version with following command :
`pip uninstall s

[2017-01-22 12:09] roshavagarga commented on #462
@XanderGS @gravyboat @beardypig I'd recommend looking at Twitch Now, it has support for livestreamer, I think that by pointing to the streamlink folder it should work theoretically, but when I did nothing happened. Might have done it wrong.

[2017-01-22 13:19] garoto commented on #462
Using Firefox on Windows, the "Open With..." extension with a manually created entrie and with the following command line: `cmd.exe /c start /b streamlink.exe %s`

Not very elegant perhaps, but gets the job done.

[2017-01-22 18:11] shitbub commented on #461
@beardypig, I'm on Windows 10, I've tried the installer version as well (which is this exe i assume?)
**streamlink-0.2.0.exe**

When i type this into the command prompt
**C:\Users\Dude>streamlink twitch.tv/eleaguetv**

I get
**error: No plugin can handle URL: --ffmpeg-ffmpeg=C:\Program Files (x86)\Streamlink\ffmpeg\ffmpeg.exe**

[2017-01-22 18:15] Jackels opened #464 "Setting login data for rtmp-proxies"
For http proxies you can do something like this
--http-proxy "http://USERNAME:PASSWORD@proxyhost:proxyport"

but how do you do this for rtmp-proxies?

[2017-01-22 18:17] shitbub commented on #461
@karlo2105, im just trying to use streamlink, i really don't have the skillset to contribute on the coding side.  Do i still need to to install GIT.   Also does my Python27 folder have to be in "Program Files"?  I currenlty just have it on my C:

[2017-01-22 18:20] beardypig commented on #461
Have you installed a nightly version before? You shouldn't have `ffmpeg-ffmpeg` line in your streamlinkrc file (%APPDATA%\Streamlink\Streamlinkrc). You can try installing the latest build: [streamlink-latest](https://streamlink-builds.s3.amazonaws.com/nightly/windows/streamlink-latest.exe),which should work fine.

[2017-01-22 18:25] beardypig commented on #464
The `--rtmp-proxy` setting is passed directly to `rtmpdump` via the `-S/--socks` option. `rtmpdump` only supports SOCKS4 which does not support authentication. So long story short, you can't :-(

[2017-01-22 18:33] shitbub commented on #461
yup the streamlink-latest worked!  Thanks so much for the help beardypig.

P.S One other thing to mention, i think i saw it in another post, is that AVG keeps flagging the uninstaller.

[2017-01-22 19:33] fozzysec commented on #235
@unnutricious I tried the rtmp url from the page with mpv, it works and has no such a problem, would anyone else try the rtmp url?

[2017-01-23 07:16] beardypig commented on #266
Since #460 was merged I'll close this ;-)

[2017-01-23 07:16] #266 closed

[2017-01-23 08:58] beardypig commented on #464
You might be able to use something like `proxychains`, but we don't support it.

[2017-01-23 09:47] beardypig commented on #463
There is no retry code in the `reload_playlist` method, but there should be!

[2017-01-23 10:13] karlo2105 commented on #403
@beardypig
I figured out how RTS Sport works.
There is currently live sports broadcast on : `http://www.rts.ch/sport/direct/8328501-tennis-open-daustralie.html`
This number in address `8328501` is a streaming ID. Normally it should redirect to address : `http://www.rts.ch/play/tv/tennis/video/tennis-open-daustralie?id=8328501`

[2017-01-23 11:01] beardypig commented on #403
I'll take a look at it now....

(stupid close button, right next to comment)

[2017-01-23 11:52] beardypig commented on #403
@karlo2105 I have updated the [srgsrr](https://github.com/beardypig/streamlink/tree/srgssr) branch  with support for RTS. I also renamed the plugin that supports SRF/RSI sport to `swisstxt`, as that's the streaming provide (owned by SRG SSR).

[2017-01-23 12:08] karlo2105 commented on #403
Thanks buddy everything is working. You did great job.
Cheers ;)

[2017-01-23 13:31] cdrage opened #467 "0.3.0 release"
Been a *whileeeeeee* since another release and now we have a brand-spanking new travis builder + release script with rst instead of md.

Hopefully this time I don't build the Windows binary incorrectly (forgot to remove the old build folder last time!)

Everyone else ready for a 0.3.0 release?

@streamlink/members

[2017-01-23 17:32] beardypig commented on #461
That was in #251? You can use www.virustotal.com to test the uninstaller if you want to confirm that other AV software doesn't detect it as a virus/malware. It is most likely a false positive, but you should double check none the less.

If you think you're issue has been resolved could you close this issue? Thanks.

[2017-01-23 17:44] #403 closed

[2017-01-23 17:45] gravyboat commented on #461
It's probably worth reporting to AVG that it isn't a virus, might just be they don't have it in their database yet.

[2017-01-23 17:47] gravyboat commented on #467
Yeah I think it's time for another release. Now that most of the build itself is automated, can you note the steps you're using just so we have it for future record in the event we change something?

[2017-01-23 17:48] gravyboat commented on #464
I'm going to close this one for now since it isn't something we can do, thanks for the report @Jackels and thanks for weighing in @beardypig.

[2017-01-23 17:48] #464 closed

[2017-01-23 18:10] DylanSecreast commented on #398
If it's alright with everyone else, I I'm going to look into this and will open a PR when done.

[2017-01-23 18:13] gravyboat commented on #398
@DylanSecreast If it goes against homebrew/python conventions as @mlindner noted we might not want to do it, but if you want to investigate and review those 'rules' and go from there that would be great. Just keep in mind we would definitely need to automate the release project since Streamlink is such a small team.

[2017-01-23 18:22] scottbernstein commented on #463
+1 on adding retry code around the reload_playlist method, and making the number of retires configurable from the command line like other retries.

________________________________
From: beardypig <notifications@github.com>
Sent: Monday, January 23, 2017 4:47:45 AM
To: streamlink/streamlink
Cc: Subscribed
Subject: Re: [streamlink/streamlink] retries on the HLS playlist_reload? (#463)

There is no

[2017-01-23 21:29] JohnDoh666 opened #470 "yy.com support"
yy.com is yet another chinese streaming site. I lack the programming skills to make a plugin myself, so it would be awesome if someone in this community could take a look at it.

Example URL: http://www.yy.com/game/lol

Thanks!

[2017-01-24 02:35] unlocKing commented on #354
I might be wildly wrong, but can this help at all?:

https://github.com/google/shaka-packager

[2017-01-24 06:57] beardypig commented on #354
@unlocKing that's for developers to write software to package video content in to MPEG DASH format with DRM enabled.

[2017-01-24 07:07] DylanSecreast commented on #398
@gravyboat Sounds good. I'll look into it and report back to see if this is viable before implementing.

[2017-01-24 07:15] kg opened #471 "Error when playing large twitch archives"
- [x] This is a bug report.

### Description

```'NoneType' object is not subscriptable``` error occurs when playing a large twitch video

### Expected / Actual behavior

A clearer playback failure reason would be good, alternately it could work. I'm guessing something is wrong with the HLS playlist for this archived stream.

### Reproduction steps / Stream URLs to test

1. https://www.twitch.tv/c

[2017-01-24 07:40] beardypig commented on #471
Thanks for the detailed bug report, makes our lives so much easier :-)

You're right, it looks like a weird playlist. I'll take a look at the playlist parsing and see if there is a reasonable workaround. Probably the browser ignores invalid/unsupported lines in the playlist.

[2017-01-24 09:10] LoneFox78 opened #472 "livecoding.tv has been renamed to liveedu.tv"
`error: No plugin can handle URL: https://www.liveedu.tv/brenoperucchi/`
The old URL still works (it redirects to the new one), but the plugin should be updated to support the new one.

[2017-01-24 09:17] beardypig commented on #471
Should be fixed in #473, twitch is producing invalid m3u8 playlists.

[2017-01-24 09:20] beardypig commented on #472
I created a PR to fix this.

[2017-01-24 10:16] karlo2105 opened #475 "SRG SSR bug : Failed to reload playlist"
I didn't take enough time for testing yesterday, because I noticed now after about 30 seconds on all channels (SRF, RTS and RSI) and RTS sport streams, there is issue with playlist reloading.
Stream stops while looping endless.
Here is output for RTS Deux : `http://www.rts.ch/play/tv/direct#?tvLiveId=3608506`

`[stream.hls][warning] Failed to reload playlist: Unable to open URL: https://srg
ssruni

[2017-01-24 12:39] beardypig commented on #475
Can you test out the latest version of the plugin on the [srgssr](https://github.com/beardypig/streamlink/tree/srgssr) branch @karlo2105? I was able to watch a stream for >1m.

`http://www.rts.ch/sport/direct/8222392-tennis.html` should return no streams found instead of an error now :)

[2017-01-24 12:55] karlo2105 commented on #475
It's even worse now.
`"http://www.rts.ch/play/tv/direct#?tvLiveId=3608506" best
[Streamlink for Windows v0.2.0 - Git 5035b69]
Failed to load plugin srgssr:
  File "imp.py", line 234, in load_module
  File "imp.py", line 172, in load_source
  File "<frozen importlib._bootstrap>", line 693, in _load
  File "<frozen importlib._bootstrap>", line 673, in _load_unlocked
  File "<frozen importlib._bootst

[2017-01-24 13:25] beardypig commented on #475
You'll need to update [src/streamlink/compat.py](https://raw.githubusercontent.com/beardypig/streamlink/srgssr/src/streamlink/compat.py) too. That change is already in the latest dev/nightly as well.

[2017-01-24 13:47] karlo2105 commented on #475
This morning I updated portable streamlink and I thought it should download the latest development version, that's why I didn't pay attention on compat.py.
It is working now without errors.
The link above was only active during match and printed same json errors as on first version that's why I posted it. Maybe it was just mislead. If I notice any non working redirections in future I would let you

[2017-01-24 13:51] Jackels opened #476 "Twitch: Playing vods of still recording streams dont start at the beginning"
Hi.
Basicially when you want to watch a vod via
streamlink twitch.tv/someguy/v/12344321 high
and the vod you are referencing is still getting recorded aka the streamer is still live and the stream is recorded to that vod ( 12344321 ) streamlink will just stream whatever is currently streamed by the streamer.
I expected that streamlink would start from the vod beginning tho. If I wanted to watch th

[2017-01-24 14:58] beardypig commented on #476
The `HLSStream` class assumes that it's a live stream if the stream is incomplete. As the VOD is still recording it looks the same as a live stream to streamlink, and so plays it from the end. This is normally what you want, except of course, in this case where you are requesting a VOD and you reasonably expect it to start from the beginning.

I'll put together a PR to offer a solution.

[2017-01-24 19:19] cdrage commented on #467
Hey @gravyboat

So basically I just run `./release.sh` in the scripts folder.

Unfortunately I encountered some errors this time and created a PR #480 for it.

Let's see if the Windows binary is automatically added to the new tagged release!

[2017-01-24 19:20] cdrage commented on #467
AWESOME. Looks like it just did (got an email notification)

[2017-01-24 19:26] gravyboat commented on #471
Closing since this is fixed, thanks again for the report!

[2017-01-24 19:26] #471 closed

[2017-01-24 19:27] gravyboat commented on #472
Closing since this if fixed, thanks for the report.

[2017-01-24 19:27] #472 closed

[2017-01-24 19:27] gravyboat commented on #475
Closing since this is resolved.

[2017-01-24 19:27] #475 closed

[2017-01-24 19:29] #476 closed

[2017-01-24 19:34] gravyboat commented on #467
@cdrage Awesome! So at this point we aren't doing anything manually other than these steps:

1. Ensure pypi creds are accurate and set and you have proper github perms for creating the release.
2. Create a new tag within github.
3. Run `scripts/release.sh` in a presumably clean virtualenv.

Does that look accurate to you?

[2017-01-24 21:42] Farfie opened #481 "Add "path to ffmpeg" in config file"
### Checklist
- [x] This is a feature request.

### Description
Add "path to ffmpeg" in config file for people who already have it and dont want it installed again by streamlink's installer.

[2017-01-24 21:51] stevek123 commented on #467
Why did the size grew so much? Are there that many new code?

[2017-01-24 21:57] stevek123 commented on #481
It should be there.

[code]

[2017-01-24 22:27] mmetak commented on #467
@stevek123 I believe it's mostly due to windows ffmpeg binary (~54MB). lol ;-)

[2017-01-24 22:42] cdrage commented on #467
@gravyboat

Yup. That's accurate.

Requirements are listed in the release script (gpg, github-release, git, etc.) and you need the correct git + python requirements.

[2017-01-25 03:25] thinkpad4 commented on #377
All the more reason to start testing V5 to be the default API streamlink uses for twitch and keep V3 as a fallback until it is removed

[2017-01-25 04:19] TheSneakySniper commented on #58
@beardypig Any updates?

[2017-01-25 05:48] xkbd commented on #470
Desktop (RTMP) streams: impossible to obtain using rtmpdump (playpath can be found after connection)
Mobile streams in my case didn't work.

[2017-01-25 08:55] wlerin commented on #481
Aye but does it make any attempt to locate an existing ffmpeg? It looks like the user still has to fill in the path themselves after install before ffmpeg and rtmpdump will work.

[2017-01-25 09:36] beardypig commented on #481
On Mac, Linux and Windows it will search the `PATH` to find `ffmpeg(.exe)` or `avconv`. However, if you do deselect the `ffmpeg` or `rtmpdump` sections during the Windows installer you _will_ need to update the streamlinkrc file to point to `ffmpeg` or `rtmpdump`. I'm working on a fix for this right now...

fyi, for VLC is searches the `PATH` and some default install locations for `vlc.exe`

[2017-01-25 11:21] beardypig commented on #377
Looks like v5 changes the `channels` api endpoints and all requests require the channel ID, instead of the channel shortname/username as in v3. It seems like the best way to do this is to use the channel search api and find the channel with the matching name.

Most of the API calls made by the plugin are actually to the private `/api` prefix, which hasn't changed on the site. If they are upgraded

[2017-01-25 18:17] #111 closed

[2017-01-25 19:21] karlo2105 commented on #481
I have issues to open multiaudio stream with ffmpeg.
Streamlink and ffmpeg are located here : `C:\Program Files\Python27\Lib\site-packages`

I copied ffmpeg folder from Streamlink portable and moved it to path above.
I just installed VLC 3.0. Take a look on output.
`streamlink -l debug --ffmpeg-ffmpeg "C:\Program Files\Python27\Lib\site-packages\ffmpeg\ffmpeg" "hlsvariant://https://streamingrmp-14

[2017-01-25 19:35] Farfie commented on #481
Thanks @beardypig. I should have checked the docs but you were smart enough to figure out a preemptive from my needs anyway, which I'm sure others would want in the future regardless. Long live streamlink, imo.

[2017-01-25 19:35] #481 closed

[2017-01-25 19:45] karlo2105 opened #487 "Could not open stream: cannot use FFMPEG"
I have issues to open multiaudio stream with ffmpeg.
Streamlink and ffmpeg are located here : `C:\Program Files\Python27\Lib\site-packages`

I copied ffmpeg folder from Streamlink portable and moved it to path above.
I tried with VLC 2.2.4 and VLC 3.0.0. without result. Take a look on output.

[code]

[2017-01-25 19:58] beardypig commented on #487
Probably need to add a check to see if ffmpeg is actually available and fallback to regular hls stream, without the external audio track.

Can you try adding `.exe` to the `ffmpeg` path, ie.
[code]

[2017-01-25 20:08] karlo2105 commented on #487
This is working now with .exe but only one track is proposed.

[code]

[2017-01-25 23:19] cirrusUK opened #488 "Feature Request: port livestreamer-curses over to streamlink-curses"
I like to work in shell, i found livestreamer-curses to be real handy, i wonder how hard it would be to port to streamlink-curses as livestreamer now appears defunct.
i not programmer , my 5 line shell scripts wont cut it, maybe someone with the skills can consider this.
regards.

[2017-01-25 23:23] #488 closed

[2017-01-25 23:48] skapytek opened #489 "launch attempts"
Hello,
Is it possible to increase the launch attempts?
Actually the maximum is 10.
Is it possible to increase this to a user specified setting?
Sometimes the streamer have a problem with his internet connection and this will last for some minutes.
![2017-01-26 00_49_35-streamlink twitch gui](https://cloud.githubusercontent.com/assets/11317488/22314415/96559ede-e361-11e6-92fe-d65042166e9e.png)

bes

[2017-01-26 00:12] thinkpad4 opened #490 "When I try to launch a twitch stream using the latest Nightly i get a error"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first!*

*Feel free to use the following template. Be as detailed as possible.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull

[2017-01-26 02:46] gravyboat commented on #489
Where is this interface coming from? Streamlink-twitch-gui?

[2017-01-26 03:00] gravyboat commented on #488
Hey not sure if you meant to close this, but we discussed this a while back: https://github.com/streamlink/streamlink/issues/40

[2017-01-26 09:21] cirrusUK commented on #488
i closed it as all one needs to do is change command from livrstreamer to streamlink in thr livesttreamer-cursesrc and it works splendid.

[2017-01-26 09:22] cirrusUK commented on #40
livestreamer-curses works with streamlink, just change command in livestreamer-cursesrc file. :)

[2017-01-26 09:55] Hund commented on #40
@cirrusUK Thanks. I got it to work before. The issue know is that it shows channels as online if they host someone. :/

[2017-01-26 10:22] skapytek commented on #489
Hi, yes its from the streamlink-twitch-gui.
I already reported it there, but i was not sure if this is function is limited by streamlink or streamlink-twitch-gui.
So streamlink isnt limiting the launch attempts?

regards

[2017-01-26 10:31] cirrusUK commented on #40
@Hund  yup, same here.

[2017-01-26 10:33] beardypig commented on #40
I've never used `livestreamer-ncurses` but maybe it works if you add `twitch-disable-hosting` to your `streamlinkrc` file, that will stop hosted channels from returning any streams.

[2017-01-26 10:38] Hund commented on #40
Unfortunately it doesn't work, the only difference it makes is that is doesn't allow me to play the stream if it's a hosted stream.

[2017-01-26 11:09] beardypig commented on #40
You can't have it both ways :) As far as streamlink is concerned a hosted channel is a valid stream, unless you disable hosting.

[2017-01-26 11:17] Hund commented on #40
I know it's livestreamer-curses 'fault'. :) I have switched to streamlink-twitch-gui some time ago. And it's a great (!) GUI-client, the only issue is that I don't like GUIs. But I'm using it and I'm being happy with I have.

Perhaps this would is a golden moment for a old dog to learn some programming and eventually fork livestreamer-curses and update it.

[2017-01-26 11:20] beardypig commented on #40
Do it! :)

[2017-01-26 14:06] agentqwe commented on #490
win10x64 err too

[2017-01-26 15:02] yhs4260 opened #494 "TVCatchup login for premium channels"
- [x ] This is a feature request.

### Description

Support logins from tvcatchup.com to enable access to premium channels for paid subscribers.

### Expected / Actual behavior

Currently I cannot login using my credentials on the command line. I can supply a login to test if required.

### Reproduction steps / Stream URLs to test

~/streamlink# streamlink http://tvcatchup.com/watch/eurosport1 -v

[2017-01-26 15:08] #467 closed

[2017-01-26 15:17] beardypig commented on #494
Does tvcatchup.com even have premium channels? You don't mean tvplayer.com?

[2017-01-26 15:23] mmetak commented on #467
@cdrage @gravyboat @beardypig
Would it be possible to provide a release tarball without win32 binaries?
It's not really practical for non-win users and maintainers who build it from source. Fedora repackages the official tarball without those binaries and the difference is 29MB/0.5MB. Huge.

Anyway, I already modified the arch pkgbuild file to use Fedora source. ;-)

[2017-01-26 15:32] beardypig commented on #467
IMO, a much more suitable thing to upload would be the `tar.gz` file produced by

[code]

Which just includes the python code, as you would find on pypi.

[2017-01-26 15:47] yhs4260 commented on #494
oh god. yes you are right, its tvplayer.com. not sure how I was confused between the two. in that case, the same questions applies, but to tvplayer.com!

[2017-01-26 15:59] sergiogiogio opened #495 "Download and remux multiple HDS streams from same source"
I am trying to play an HDS stream with the below manifest.
The issue is that audio and video are separate streams (and the video stream does not have any audio track), while streamlink can only download a single stream.

I am able to download the video and audio streams separately using 2 instances of streamlink but I am unable to remux them properly afterwards (they're always out of sync). It is

[2017-01-26 16:30] beardypig commented on #494
Looks like TVPlayer.com use DRM to protect their premium content, it is unlikely that streamlink will ever support this. Sorry.

[2017-01-26 16:33] beardypig commented on #495
Yes, that is possible. Would need an example URL to test it out though, ideally multiple URLs to test.

[2017-01-26 17:42] gravyboat commented on #489
I would have to look at the code, I'm not sure. I'll try to make time to take a look this evening.

[2017-01-26 17:43] bastimeyer commented on #489
It's not limited...
https://github.com/streamlink/streamlink/blob/0.3.0/src/streamlink_cli/argparser.py#L460-L470

[2017-01-26 17:46] stevek123 commented on #489
The limitation is in the GUI: https://github.com/streamlink/streamlink-twitch-gui/issues/401

[2017-01-26 17:49] gravyboat commented on #490
I'm going to close this since #493 is merged, can you give the nightly a shot?

[2017-01-26 17:49] #490 closed

[2017-01-26 21:58] bastimeyer commented on #399
Hm, when I click on this link, Bountysource is telling me that the team is still "maintained by the community"...

Btw, how does the Bountysource Github integration work? There must be an option somewhere that lets it modify new issues with an added footer asking the issue creator to set a bounty.

[2017-01-26 22:19] bastimeyer commented on #467
Is there a chance for a `3.0.1` release when this is fixed?
The `0.3.0` one has a couple of other annoying issues that have already been fixed.

[2017-01-26 22:56] gravyboat commented on #399
Sorry I forgot to update this, so I put in a request but they never responded (saying it takes 2 business days), so I tweeted at them: https://twitter.com/failvarez/status/823666198965387264 no response yet. I'm not sure how the integration works, I thought you had to do everything on Bountysource as I've never used it on any of my personal projects.

[2017-01-26 22:57] gravyboat commented on #467
Yeah I think we should do a 0.3.0 release as well, what do you think @beardypig and @cdrage?

[2017-01-27 01:10] beardypig commented on #467
Yep, 0.3.1 would be good :-)

[2017-01-27 02:24] cdrage commented on #467
@beardypig Fine by me.

So generate via `python setup.py sdist` and I'l upload that instead :)

Keep in mind though, that `Source Code` zip in the release page will always have the win32 zip included.

[2017-01-27 04:55] wastrel333 opened #496 "Twitch VOD URL Changed"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first!*

*Feel free to use the following template. Be as detailed as possible.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [x] I used the search function to find already opened/closed issues or pull

[2017-01-27 10:07] skapytek commented on #489
Thanks guys for the answers.

[2017-01-27 10:07] #489 closed

[2017-01-27 11:13] beardypig commented on #496
Looks like a new URL format that is not currently supported, but it will be soon.

As a work around you can transform it into an old style URL.
You need to know the channel name for it to work though.

twitch.tv/videos/**117563643** => twitch.tv/**northenlion**/v/**117563643**
twitch.tv/videos/**<video_id>** => twitch.tv/**<channel_name>**/v/**<video_id>**

[2017-01-27 13:59] GoaLitiuM opened #497 "beam.pro FTL support"
Please add support for beam.pro FTL (low latency) streams. Currently the existing beam.pro plugin is only able to retrieve the non-FTL stream, which does not represent the highest available quality stream (it's often transcoded to 30fps with baseline h264 profile which makes the streams look quite blocky when compared to low latency stream).

[2017-01-27 14:06] beardypig commented on #497
Can you provide some example URLs please.

[2017-01-27 16:58] beardypig commented on #497
The FTL streams use WebRTC (via Janus WebRTC Gateway) which is used for peer2peer media transmission. This is not something that is currently supported in Streamlink, and it would be quite a lot of work to support it. It will probably be awhile before this type of stream is supported, if it ever is.

[2017-01-27 20:27] JohnDoh666 commented on #470
Damn, does that mean that capturing the stream is impossible? Thanks for trying though.

[2017-01-27 21:21] SAMYEL06 opened #499 "Vaughnlive on VLC using Livestreamer"
Hello,

I need your experience with an issue I have with Livestreamer.

I'm not into coding or IT Techs but I searched for a way to play a livestream from Vaughnlive on VLC and found that Livestreamer could do it.

When I run it with my url, it says that it has found a matching plugin for Vaughnlive and then the command invite immediately closes up.

Also, if I don't put "best", it tells me "error

[2017-01-27 21:41] fozzysec commented on #470
You can look into the mobile page, the stream provided is HLS stream, but the stream url is not presented directly. By looking into the js scripts you can know that it use ajax to send request and get the HLS stream url, it is a bit more work to do dealing with the javascript algorithm in Python, after those work I will the mobile HLS stream can be retrieved easily.

[2017-01-27 22:33] beardypig commented on #499
Are you using livestreamer or streamlink? It works fine for me with the latest version of Streamlink.

[2017-01-27 22:46] SAMYEL06 commented on #499
I used Livestreamer but I will try with Streamlink then. Just hope it works and that it won't be too hard for me to use it...
Thanks!!  vendredi, 27 janvier 2017, 11:33PM +01:00 de beardypig  notifications@github.com :

[2017-01-28 11:16] SAMYEL06 commented on #499
Okay so it works fine now with streamlink, thanks A LOT !

But just to be sure.. is that a permanent solution to stream vaughnlive on VLC or will I need to update it often ?

Also, is it a permanent project or is there risks that the devs stop it ? (which left me with no other solution to stream it.. :/)

Thanks again ! (and sorry about my english, I'm french..)

[2017-01-28 11:54] beardypig commented on #499
You may need to update for it to keep working. We are working on a more robust plugin for vaughnlive.

We are trying to ensure the future of the project, we have more than one person with access to the repo and to the PyPi page.

[2017-01-28 12:12] SAMYEL06 commented on #499
Thank you ! I wish it will work forever but I know it's a hard work to do... Thaaaanks again !!!! :D

[2017-01-28 14:06] kitce opened #501 "Streamlink cannot find the installed VLC player"
I am getting this error.
`error: The default player (VLC) does not seem to be installed. You must specify the path to a player executable with --player.`

until I used
`--player "S:\Program Files (x86)\VideoLAN\VLC\vlc.exe"`

I installed streamlink in `C:\` and VLC in `S:\`, does it matter?

[2017-01-28 14:15] beardypig commented on #501
Streamlink only searches in the `%PROGRAMFILES%`, `%PROGRAMFILES(X86)%`, and `%PROGRAMW6432%`. If you install VLC to a different drive (even if it's the same directory structure) then Streamlink won't be able to find it and you'll have to specify it using `--player`. The good news is you can set it in your `streamlinkrc` file so you don't have to specify it on the command line every time. See the

[2017-01-28 14:19] kitce commented on #501
Thank you!

[2017-01-28 14:19] #501 closed

[2017-01-28 14:31] beardypig commented on #499
I got it to work once before on a different stream. I had to use the `--player-external-http` option in Streamlink, then open the HTTP stream with VLC and cast that.

[2017-01-28 15:15] SAMYEL06 commented on #499
Hum, I'm not good enough to find how to make it work the way you told me :/ but no problem, I will satisfy myself with VLC :'(
Thanks again !!!

    Le Samedi 28 janvier 2017 15h31, beardypig <notifications@github.com> a écrit :

 I got it to work once before on a different stream. I had to use the --player-external-http option in Streamlink, then open the HTTP stream with VLC and cast that.—
You

[2017-01-29 11:36] johnthecracker opened #503 "standalone exe setup fails on windows 7 64"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first!*

*Feel free to use the following template. Be as detailed as possible.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull

[2017-01-29 11:40] johnthecracker commented on #503
Streamlink is command line application.

I find it weird that installation program works in win 7 64, and portable or standalone setup fails.

Cannot it be one 7z file to unpack, set up path and run ?

[2017-01-29 12:34] karlo2105 commented on #503
Since ffmpeg library and related commits have been merged to streamlink, portable needs to be adapted with those changes but main developer Rosadin is currently on vacation so you can try with beardypig version ; https://s3.amazonaws.com/streamlink-portable/nightly/streamlink-portable-latest-amd64.zip

[2017-01-29 17:39] johnthecracker commented on #503
I did not come accross this link before,

https://github.com/beardypig

[2017-01-29 17:55] johnthecracker commented on #503
Thank you.

Will close this after official distro has portable and standalone setup working.
With Livestreamer I installed it once and later packed it and unpacked it, set path and it worked.
With Streamlink does not work making "self portable", unless you are beardypig.

[2017-01-30 00:54] aritsune opened #505 "Support providing a custom Crunchyroll session ID"
The documentation suggests using an HTTP proxy to access region-locked content in Crunchyroll. However this isn't necessary, as all you need to do so is a session ID belonging to the region you want. Now I'm not asking for streamlink to generate one for you, as nice as that would be -- simply that it lets you specify it with an argument (it's only a 32 character string).

[2017-01-30 04:34] digitalcelery opened #506 "Add plugin: yupptv"
I am suspecting that cookies/token expires and I am no longer able to play the stream, not even a restart as it returns **`403 Client Error: Forbidden`**

Example of the links I am getting:

`http://hlsbanglanews-lh.akamaihd.net/i/ams54_russiatoday@349571/master.m3u8?hdnea=st%3d1485750135%7eexp%3d1485750495%7eacl%3d%2fi%2fams54_russiatoday%40349571%2f*%7edata%3d1814225%7ehmac%3da3a3c4227a1c121aca7

[2017-01-30 07:18] beardypig commented on #506
You will almost certainly need a plugin to do this. What is the website?

Normally the Akamai HLS streams set a long token cookie, but there have been some streams where the long token doesn't work for the playlist. Not much you can do expect create a plugin to support the site.

[2017-01-30 07:21] digitalcelery commented on #506
yupptv.com
How would I go about seeking help for the plugin? Not even sure where to look and who to ask...?

Thank you,

[2017-01-30 07:40] beardypig commented on #506
You can request one here :-)

[2017-01-30 07:52] digitalcelery commented on #506
Would it need to be as a new ticket?

[2017-01-30 08:23] beardypig commented on #506
Just update the title of this one :)

[2017-01-30 08:29] beardypig commented on #505
How do you set the token? In a cookie?

[2017-01-30 11:44] jabhq opened #507 "FilmOn: "no streams found"?"
Possible plugin "bug" report?
(or new user problem! - no other reports?)
FilmOn failed using Livestreamer a week ago. Discovered Streamlink! No change!

FilmOn plugin is found but "no streams found" for *any* channels like
http://www.filmon.com/channel/bbc-one

Windows 7 / Streamlink Win install 0.3.0 29/1/17

C:\Users\jb\xD\Portbl\FilmOnHack>"C:\Program Files (x86)\Streamlink\bin\streamlink.exe"

[2017-01-30 11:54] beardypig commented on #507
Looks like they might have changed the page or streaming URLs or something similar. I'll take a look at it now.

[2017-01-30 22:19] karlo2105 opened #509 "Filmon.us broken"
### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

### Description

Filmon.us is community streaming website.

### Expected / Actual behavior

It's expected to open stream with player.

### Reproduction steps / Stream URLs to test

[code]

### Environmen

[2017-01-30 23:59] johnthecracker commented on #509
I can answer this but it won't be Streamlink.

This stream looks different than most other streams on filmon.

HttpFox, extension for Firefox:

00:04:26.659	1.078	274	(0)	GET	(Cache)	text/html	https://www.filmon.us/bongrip

Content Tab: ( put this together from <!doctype html> )

rtmp://198.179.31.76/battlecam/mp4:bc_3195397

Here is more about about Livestreamer ( Streamlink ) and Filmon,
differe

[2017-01-31 04:17] digitalcelery commented on #506
Done :)

[2017-01-31 05:54] digitalcelery opened #510 "How to exit streamlink if source is no longer available"
Is there a way to kill streamlink if source is no longer available(expired token, link down)? Sometimes script just needs to request new token for example but streamlink keeps running and returns 403: Forbidden

[2017-01-31 07:15] beardypig commented on #510
Ctrl-C? Have you set the retries to a very large number?

[2017-01-31 09:44] johnthecracker commented on #510
How to kill 403:Forbidden and keep the stream going ?

http://stream-recorder.com/forum/showpost.php?p=89387&postcount=57

[2017-01-31 10:53] beardypig commented on #510
@digitalcelery is this related to filmon?

[2017-01-31 11:19] johnpolite commented on #510
HRTV is on Filmon.

There may be somebody on the internet who will click on the link in previus post.

[2017-01-31 11:22] beardypig commented on #510
Relating to HRTV I have opened a PR that provides a solution #508. You can replace the [filmon.py](https://raw.githubusercontent.com/beardypig/streamlink/1e347edef947442db9da6381b63e14dea62e3f1a/src/streamlink/plugins/filmon.py) from this PR and it should play HRTV in both high and low qualities.

[2017-01-31 14:04] CoDEmanX commented on #496
Encountered the exact same problem: https://github.com/chrippa/livestreamer/issues/1574

[2017-01-31 14:08] beardypig commented on #503
You should report this on https://github.com/streamlink/streamlink-portable so that the relavant people see it.

[2017-01-31 14:18] digitalcelery commented on #510
@beardypig Nope, does not relate to filmon

[2017-01-31 14:21] beardypig commented on #510
Pressing Ctrl-C will stop streamlink. But it will only retry a few times by default, unless you changed the settings to retry many times.

[2017-01-31 14:21] beardypig commented on #499
@SAMYEL06 I'm going to close this as you seem to have solved your original problem :)

[2017-01-31 14:21] #499 closed

[2017-01-31 14:23] beardypig commented on #487
@karlo2105 seems like this is solved. If not feel free to reopen the issue.

[2017-01-31 14:23] #487 closed

[2017-01-31 14:25] beardypig commented on #461
Seems like the original issue has been solved, so I'm going to close this.

[2017-01-31 14:25] #461 closed

[2017-01-31 14:37] johnthecracker commented on #503
posted link to here from

 https://github.com/streamlink/streamlink-portable

[2017-01-31 15:04] 0880 commented on #495
http://pluzz.francetv.fr
http://pluzz.francetv.fr/france2

![Screenshot](https://cloud.githubusercontent.com/assets/11850160/22469956/fd27579a-e7cd-11e6-9e4b-b4d28ac6506f.png)

[code]

[2017-01-31 15:19] beardypig commented on #495
Thanks @0880, that will be helpful.

[2017-01-31 17:33] digitalcelery commented on #510
If you input is a curl command $(curl www.hello.com | grep m3u) and if token expires there is no way to grab new link if token expires and input dies. Fffmpeg for example shuts down in this case and and process monitoring tool will kick it in again triggering curl command and greping new url. Livestreamer on the other hand continues working and proving 403 responses from dead links.

[2017-01-31 17:35] beardypig commented on #510
You'll have to be more specific, what command are you running exactly?

[2017-01-31 17:46] digitalcelery commented on #510
Pretend that stream url with token is located here: www.helloworld.com/live.php

When token dies, streamlink doesn't close hence it wont use curl to get a new link. In such case, ffmpeg shuts down, and if you use monit it will kick in the process again and get a new input link.

[2017-01-31 18:41] Romsh opened #513 "Problem with the version 0.3"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first!*

*Feel free to use the following template. Be as detailed as possible.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is a bug report.
- [x] This is a plugin request.
- [ ] This is a feature request.
- [x] I used the search function to find already opened/closed issues or pull

[2017-01-31 19:18] gravyboat commented on #513
Can you see if you get the drops using Streamlink directly off the command line?

[2017-01-31 19:28] Romsh commented on #513
Sorry but i don't succeed to find the right command.
I tried : "streamlink.exe -p "C:\Program Files\MPC-HC\mpc-hc64.exe" http://www.twitch.tv/zerator best

[2017-02-01 01:13] bastimeyer commented on #467
Can we publish a new release then when the license stuff has been resolved?
#483 should be published as soon as possible, so Windows users don't have to fix their default config file.

[2017-02-01 02:07] TVGPlayer commented on #510
@beardypig Replace filmon.py and HRTV plays in low quality with "Failure to reload playlist" warning. High quality plays with the same warning then cuts off. Is there any solution? Thanks for your hard work with streamlink!

[2017-02-01 04:39] gravyboat commented on #467
Once https://github.com/streamlink/streamlink/pull/515 is merged let's do another release @cdrage.

[2017-02-01 04:42] gravyboat commented on #399
Still no update to the request or on Twitter, I'll try tagging here: @rappo who is managing the requests for bountysource team ownership at this point? Are you able to talk to them to review our request please?

[2017-02-01 04:45] gravyboat commented on #503
I'm going to close this since it's over in the portable repo now, thanks @johnthecracker.

[2017-02-01 04:45] #503 closed

[2017-02-01 04:45] gravyboat commented on #497
I'm going to close this for now, no reason to leave it open and stagnant since it isn't on the roadmap for quite some time.

[2017-02-01 04:45] #497 closed

[2017-02-01 04:46] gravyboat commented on #462
Closing this out since we don't maintain those, people can still find this issue and modify their path as needed. Thanks everyone for your input and workarounds.

[2017-02-01 04:46] #462 closed

[2017-02-01 04:53] #507 closed

[2017-02-01 04:56] gravyboat commented on #467
https://github.com/streamlink/streamlink/pull/480 is also merged.

[2017-02-01 05:01] gravyboat commented on #84
This is documented, going to close it out.

[2017-02-01 05:01] #84 closed

[2017-02-01 05:02] gravyboat commented on #290
Closing this out since it's rather old and there hasn't been an update in a while.

[2017-02-01 05:02] #290 closed

[2017-02-01 05:04] gravyboat commented on #444
I'm going to close this for now, there are too many chances for edge cases and we don't have enough devs involved right now to deal with that.

[2017-02-01 05:04] #444 closed

[2017-02-01 07:15] beardypig commented on #513
@Romsh what is printed to the console if you just run streamlink from the command line?

[2017-02-01 07:19] beardypig commented on #510
@TVGPlayer can you continue discussing this separate issue over on https://github.com/streamlink/streamlink/pull/508 instead.

[2017-02-01 14:06] cdrage commented on #467
@gravyboat Awesome! I'll create another issue for this.

[2017-02-01 14:07] cdrage opened #516 "0.3.1 release"
Let's do another release with updated copyright as well as `python setup.py sdist` being used instead of the large .tar.gz !

[2017-02-01 14:16] beardypig commented on #510
@digitalcelery this is the expected behaviour of [--player-external-http](https://streamlink.github.io/cli.html#cmdoption-player-external-http). It would probably be more suitable in this case to create a plugin to extract the m3u8 URL.

[2017-02-01 17:04] gravyboat commented on #516
Sounds good let's do it!

[2017-02-02 03:38] digitalcelery commented on #510
What if there was an additional switch in the app to stop the program in case stream becomes unavailable?

[2017-02-02 13:42] beardypig commented on #496
This has been fixed in #484. Installing the latest [nightly](https://streamlink-builds.s3.amazonaws.com/nightly/windows/streamlink-latest.exe)/dev will get you the fix for this.

[2017-02-02 13:43] #496 closed

[2017-02-02 13:44] beardypig commented on #377
The move to v5 API was done as part of #484.

[2017-02-02 13:44] #377 closed

[2017-02-02 14:06] karlo2105 opened #518 "Ceskatelevize.cz plugin merging"
### Checklist

- [ ] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [x] I used the search function to find already opened/closed issues or pull requests.

### Description

Ceskatelevize is Czech public TV service with 6 channels 👍 All channels but CT24 are geoblocked to Czechia.

1. CT1 - `http://www.ceskatelevize.cz/ct1/zive/`
2. CT2 - `http://www.ceskate

[2017-02-02 14:25] karlo2105 opened #519 "Slovakian public TV : rtvs.sk"
### Checklist

- [ ] This is a bug report.
- [x] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

### Description

rtvs.sk is a Slovak public TV service including 4 channels. RTVS 1 and RTVS 2 are mostly geoblocked it depends on TV rights. TVNRSR is a parliament channel.

### Reproduction steps / Str

[2017-02-02 17:21] #518 closed

[2017-02-02 17:21] gravyboat commented on #518
#520 is merged.

[2017-02-02 18:13] intact commented on #519
You can adapt https://github.com/intact/livestreamer/blob/rtvs/src/livestreamer/plugins/rtvs.py

[2017-02-03 01:48] thinkpad4 opened #521 "Sometimes Ctrl-C doesn't end the connection to Twitch"
### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

### Description
Sometimes when a stream cuts off, for tech reasons or twitch reasons I can't Ctrl-C the connection in command prompt.

### Expected / Actual behavior
To have Ctrl-C end a connection every

[2017-02-03 10:18] karlo2105 commented on #519
@intact
I just tested, working fine.
Thanks.

[2017-02-03 10:50] beardypig commented on #521
Does it work if you press Ctrl-C again?

[2017-02-03 15:17] cdrage commented on #516
@streamlink/members 0.3.1 out! `pip install streamlink --upgrade` it :)

[2017-02-03 15:17] #516 closed

[2017-02-03 15:26] mikhoul opened #526 "Possible bug"
----

### Checklist

- [x] This is a bug report.

### Description

When trying to record a stream Streamlink crash about 1 on 4
...

### Expected / Actual behavior

Recording the stream every time without crashing/stopping
...

### Reproduction steps / Stream URLs to test

Just try to record the stream multiple time with the same setting I use and it will happen

### Environment details (operating

[2017-02-03 15:29] mmetak commented on #516
Updated for arch and thanx for the small size tarball. ;-)

[2017-02-03 16:27] beardypig commented on #526
Thanks for your bug report, I believe that this is a duplicate of an already reported issue: #446.

[2017-02-03 16:36] cdrage commented on #516
@mmetak haha yeah, way better than that 50MB tarball xD

[2017-02-03 17:26] gravyboat commented on #521
I noticed this on my Linux box as well. @beardypig Yeah you just have to hit `Ctrl-C` again.

[2017-02-03 17:30] #519 closed

[2017-02-03 17:30] gravyboat commented on #526
Going to close this since I merged in #522, can you give the nightly a shot?

[2017-02-03 17:30] #526 closed

[2017-02-03 17:31] gravyboat commented on #446
Closing since #522 is merged, can you please give the nightly a shot?

[2017-02-03 17:31] #446 closed

[2017-02-03 17:32] beardypig commented on #521
What does it print to the console when it doesn't work?
It could be some exception handling grabbing `KeyboardInterrupt` when it shouldn't...

[2017-02-03 17:33] gravyboat commented on #521
Hmm, I just tested this on `0.3.1` and I'm not encountering the issue, it does hang for a split second because it's shutting everything down, but it does exit correctly with a single `Ctrl-C`. I'll do some more testing in the next day or two to see if I can duplicate. @beardypig when it was happening it just looked like:
[code]

[2017-02-03 17:36] beardypig opened #527 "0.3.1 Windows installer missing"
The Windows installer is missing from the releases, I _think_ this is due to the docs build failing. See the travis build logs: https://travis-ci.org/streamlink/streamlink/jobs/198033954

[code]

[2017-02-03 17:39] beardypig commented on #521
Would it eventually quit? It could be the StreamWorker thread still chomping through the segments and not interrupting the download...

Side note: There are quite a few issues with the Stream downloader classes... I have been redesigning them a bit :)

[2017-02-03 17:46] gravyboat commented on #521
I honestly don't know, it was never a big enough deal to me to wait it out so I just hit `Ctrl-C` again. It doesn't even happen all the time.

[2017-02-03 17:46] gravyboat commented on #527
Good catch, thanks @beardypig.

[2017-02-03 18:03] mikhoul commented on #526
@gravyboat @beardypig   Everything id fine with the nightly  👍

_Some observations since I'm a new user:_ When I installed the nightly the installer did not see automatically my old custom location i.e. `F:\streamlink\...` it would be cool if the installer was able to see the location of the previous installation on an upgrade.

I will use it mainly to record live TV-show stream in replacement of

[2017-02-03 18:26] Razunter commented on #446
Tried, but getting unrelated error:

[2017-02-03 18:33] beardypig commented on #521
Fair enough, it's probably the threads just not stopping right away...

[2017-02-03 18:50] cdrage commented on #527
@beardypig Yup, this is my fault, I just got the travis ci notification too. I'll go ahead and fix it.

[2017-02-03 18:59] cdrage commented on #527
#529 and #530 should fix this ^^

[2017-02-03 19:06] #527 closed

[2017-02-03 19:07] rflagler opened #531 "No audio stream is parsed from some hlsvariant playlists"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first!*

*Feel free to use the following template. Be as detailed as possible.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [x] I used the search function to find already opened/closed issues or pull

[2017-02-03 20:02] beardypig commented on #531
Are you using 0.3.1? It should support separate audio streams, what if you run it with `-l debug` and report the output here?

[2017-02-03 20:19] rflagler commented on #531
When I was testing this last night 0.3.0 was the latest. I see the new 0.3.1 release but I don't see the windows installer available. Does someone build that and add it later? Can I use the portable tool to build the .exe automatically and just replace the one I have?

[2017-02-03 20:51] beardypig commented on #531
The installer will be fixed soon :-) Can you get the debug log an post it here?
`streamlink -l debug "hlsvariant://http://v.watch.cbc.ca/p//38e815a-0099a76a62b//CBC_MR_D_SEASON_01_S01E01-8626003/CBC_MR_D_SEASON_01_S01E01-8626003__desktop.m3u8?cbcott=st=1486012428~exp=1486098828~acl=/*~hmac=a4adc1fd286adec16084a193e0317a92699f71ba23afae73543675eb8e9262dd"`

[2017-02-03 20:55] rflagler commented on #531
I just finished building the newest release from source and it now recognizes the audio tracks! Unfortunately, the stream ends after only a few seconds of playback. Debug logging below.

`[cli][info] Found matching plugin stream for URL hlsvariant://http://v.watch.cbc.ca/p//38e815a-0099a76a62b//CBC_MR_D_SEASON_01_S01E01-8626003/CBC_MR_D_SEASON_01_S01E01-8626003__desktop.m3u8?cbcott=st=1486012428~e

[2017-02-03 23:09] beardypig commented on #531
Interesting, I will take a look. What page did you extract through stream URL from?

[2017-02-03 23:10] mikhoul opened #532 "No .exe availlable latest realease 0.3.1"
No .exe for Windows are available latest release  0.3.1 on https://github.com/streamlink/streamlink/releases

Regards :octocat:

[2017-02-03 23:15] thinkpad4 commented on #521
Like I said, it's not every single time, but it seems to be related to a stream going down quick, like if the streamer's pc rebooted and they didn't have time to click end

[2017-02-03 23:36] thinkpad4 commented on #521
@beardypig and to answer your first question, no repeated Ctrl-C does not do anything, I have to close the command prompt to end it.  Mind you VLC closed already so it has to be some process in streamlink

[2017-02-03 23:43] gravyboat commented on #532
We're aware of this via https://github.com/streamlink/streamlink/issues/527.

[2017-02-03 23:43] #532 closed

[2017-02-03 23:44] gravyboat commented on #527
@cdrage I think we're all set to go for the rebuild.

[2017-02-04 00:15] rflagler commented on #531
This is the URL.
http://watch.cbc.ca/mr-d/season-1/episode-1/38e815a-0099a76a62b

[2017-02-04 09:47] beardypig commented on #531
OK, thanks. I'll take a look at it in next couple of days :-)

[2017-02-04 13:01] devwhatsapp opened #533 "Streamlink to vlc this stream"
- [x] This is a plugin request.
- [x] This is a feature request.

### Description

Stream link - http://nbastreams.pw/fox.php?title=73a28b73543c4fe7c22ef24532315015

Hi would like to get the stream downloaded or piped to vlc

It has some aes encryption

How to go about it ?

Thank you

[2017-02-04 14:29] beardypig commented on #533
It's doesn't just work if you do

[code]
?

[2017-02-04 18:33] Surfoo opened #534 "Plugin for ludo.fr"
Hello,

Could you add a new plugin for ludo.fr, it's almost the same plugin like the pluzz plugin (same french TV)

Thanks!

[2017-02-04 21:09] gravyboat commented on #534
Can we see some examples URLs and so forth?

[2017-02-04 21:17] Surfoo commented on #534
for example:
  - http://www.ludo.fr/heros/il-etait-une-fois-la-vie

[2017-02-05 10:07] starchivore commented on #505
Could that be done like this?

[http://www.crunblocker.com/sess_id.php](http://www.crunblocker.com/sess_id.php)
[https://github.com/jerryteps/Crunchyroll-Unblocker/tree/master/Crunchyroll%20Unblocker](https://github.com/jerryteps/Crunchyroll-Unblocker/tree/master/Crunchyroll%20Unblocker)

[2017-02-05 11:33] beardypig commented on #505
You can do that already using the command line arguments in streamlink adding something like `--http-cookie "sess_id=rthgyx5gg3lwlcfr2zj5gueooloxxy0u"` should do it.

[2017-02-05 12:05] beardypig commented on #533
This works
[code]

[2017-02-05 19:06] codev0 opened #537 "error: unknown locale: UTF-8"
### Checklist

- [x] This is a bug report.

### Description
When I run streamlink, and see this error
[code]
Fixed after adding .bash_profile/.zshrc
[code]

### Reproduction steps / Stream URLs to test

1. Install latest streamlink 0.3.1
2. run streamlink

### Environment details (operating system, python version, etc.)

MacOS, Python 2.7.11, system lang eng

[2017-02-05 20:27] gravyboat commented on #533
Thanks for answering this one @beardypig! Going to close for now.

[2017-02-05 20:27] #533 closed

[2017-02-05 20:27] #505 closed

[2017-02-05 20:34] scottbuettner opened #538 "Crunchyroll plugin fails on Python 2.6 (string.format)"
### Checklist

- [x] This is a bug report.
- [x] This is a plugin request.
- [ ] This is a feature request.
- [x] I used the search function to find already opened/closed issues or pull requests.
(didn't actually find any, but I looked)

### Description
The Crunchyroll plugin contains the following format string:
`API_USER_AGENT = "Mozilla/5.0 (iPhone; iPhone OS 8.3.0; {})"`
which fails on Python

[2017-02-05 20:41] scottbuettner commented on #538
I have just noticed Python 2.6 doesn't seem to work on Crunchyroll anyway given lack of SNI support, which causes SSL/TLS validation errors. Is anyone aware of a workaround for this in 2.6?

[2017-02-05 21:05] Truanifan opened #540 "Is there a command to select specific resolution (i.e. 720p) with best bitrate when there are multiple?"
### Checklist

- [ ] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [x] I used the search function to find already opened/closed issues or pull requests.

### Description

Forgive me if I don't make enough sense, but I'll try to explain the best I can... I'm trying to write a batch file to grab a selected resolution at the best bitrate, but not sure what c

[2017-02-05 21:07] scottbernstein commented on #540
Yes, @truanifan, the way to format your command line for selecting the best bitrate when there are multiple streams of the same bitrate is as follows:

"hlsvariant://....m3u8 name_key=bitrate" best -o "output.ts")

________________________________
From: Truanifan <notifications@github.com>
Sent: Sunday, February 5, 2017 4:05:35 PM
To: streamlink/streamlink
Cc: Subscribed
Subject: [streamlink/strea

[2017-02-05 21:34] jstrat231 opened #541 "Openrec.tv wont recognize SOURCE quality"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first!*

*Feel free to use the following template. Be as detailed as possible.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [x] This is a bug report.
- [x] This is a plugin request.
- [x ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pul

[2017-02-05 22:05] Truanifan commented on #540
I think I messed up in my explanation before. I'm not looking for just the best bitrate out of all the available resolutions (which is what I get when I use the command you suggested), but the best bitrate of the 720p resolutions or whatever specific size I choose from the available streams. The resolutions go all the way up to 1080p from 234p, but I'm asking what I can do if I want to grab the be

[2017-02-05 22:23] scottbernstein commented on #540
If you're savvy enough to use the CURL command to hit the same .m3u8 URL then you can see the list of all of streams, find the resolution / bit rate combination that you want, pick it manually, and then use hls:// (instead of hlsvariant://) to stream the specific bitrate you want.

________________________________
From: Truanifan <notifications@github.com>
Sent: Sunday, February 5, 2017 5:05:57 PM

[2017-02-05 23:58] gravyboat commented on #399
We're all set to go now! https://www.bountysource.com/teams/streamlink/members

[2017-02-05 23:58] #399 closed

[2017-02-06 02:36] rappo commented on #399
FYI the tag got my attention :)

[2017-02-06 03:33] gravyboat commented on #399
Thanks @rappo!

[2017-02-06 10:00] beardypig commented on #541
Created a PR to add the `source` quality :)

[2017-02-06 10:01] beardypig commented on #540
Can we see the m3u8, it might be possible to give higher priority to the better bitrates at the same resolution when sorting.

[2017-02-06 10:31] beardypig commented on #538
You can install `pyOpenSSL` and `idna` and you'll need to install a more recent version of `requests`. `pip install requests>=2.2` should do it.

Python 2.6 is no longer supported and is not receiving security patches (no idea if CentOS/RHEL are patching security issues in 2.6). I would recommend upgrading to 2.7 if possible and you can avoid breaking `yum` :)

[2017-02-06 10:43] stevek123 commented on #377
On a side note @beardypig: Do you think it would be possible to echo the node that is being used to the command line? It's part of the m3u8 file, and the same as the stream server domain.

[2017-02-06 10:49] beardypig commented on #377
The cluster ID? Like `lhr03`?

[2017-02-06 11:02] jstrat231 commented on #541
Thank u so much sir but I am a total noob when it comes to this stuff. Is there any chance you could do a step by step on how I'm supposed to add this to streamlink? Thank you very much!

(I installed streamlink with the windows.exe installer)

[2017-02-06 11:04] stevek123 commented on #377
Yeah, or the whole node part like `video-edge-835028.sfo01`. Sometimes it takes a while for a stream to populate to a closer node, and it would be nice to see which one is used when you start the stream

[2017-02-06 11:12] beardypig commented on #541
The easiest thing is to wait until the PR has been merged, then you can install the latest nightly/dev version. But if you really want to get it right now...
Download https://raw.githubusercontent.com/beardypig/streamlink/bdf5e8b939bf0e3dc622eb2dff866bee5370f87e/src/streamlink/plugins/openrectv.py and copy it to `C:\Program Files\Streamlink\pkgs\streamlink\plugins\` (depends on where you installed

[2017-02-06 11:12] beardypig commented on #377
Can add it as a debug message, printing it all the time is probably not useful to most people.

[2017-02-06 11:14] jstrat231 commented on #541
thank u very much :D :D :D

[2017-02-06 11:29] stevek123 commented on #377
Yeah, it can be hidden, but it would be nice to have. Would it be possible to turn it on with a command line parameter instead of turning on the whole debugging? Debugging level generates a lot of log, but something like `--twitch-server` could only output this info as a plus if it's added to the command

[2017-02-06 11:49] devwhatsapp commented on #533
@beardypig Sorry for not trying on my own with the manual. But really grateful that you still did it for me,

Thanks again , cheers

[2017-02-06 12:10] scottbuettner commented on #538
The prospect of breaking `yum` is pretty frightening, so I've generally just set up a side by side install of 2.7 or 3.3, which I can certainly still do in this case. It was more that I noticed your docs still said 2.6 was supported, which I see you're now correcting :) So I'll close this as it's pretty irrelevant.

[2017-02-06 12:10] #538 closed

[2017-02-06 16:23] scottbernstein commented on #540
I had an idea back in the livestreamer days (when it was still being supported by Chrippa) before I found key_name=bitrate option that would solve this problem in a slick manner.  I actually started working on coding it myself but gave up after I found out about the key_name option, which solved my particular issue.

The best solution, IMO would be for streamlink to operate exactly as it does now

[2017-02-06 17:05] #541 closed

[2017-02-06 17:06] gravyboat commented on #541
Closing since the associated PR is merged.

[2017-02-06 17:06] #537 closed

[2017-02-06 17:10] #531 closed

[2017-02-06 18:28] DarkWiss commented on #513
Hi, I had the same buffering/lag issue when I went to the 0.2.0 and 0.3.0. So I had to come back to the 0.1.0 and all was great again.

[2017-02-06 18:39] beardypig commented on #513
Have you tried `0.3.1`? Or [streamlink-latest](https://streamlink-builds.s3.amazonaws.com/nightly/windows/streamlink-latest.exe)?

[2017-02-06 19:27] gravyboat commented on #513
Are you both using MPC-HC? Does this issue occur when using other video players? Does this occur on all streams you've tried at best (to rule out changes by the streamer in regards to bit rate)? I think we'll need more troubleshooting details before we can really start to dig into this one.

[2017-02-07 07:43] stevek123 commented on #377
Should I open a new issue if I want this to get implemented?

[2017-02-07 08:41] beardypig commented on #377
@stevek123, yeah. I don't really want to add an extra command line argument for something like that though. Maybe an info level message is suitable, not sure...

[2017-02-07 09:11] stevek123 opened #546 "Twitch - output the used node to log"
### Checklist

- [ ] This is a bug report.
- [x] This is a plugin request.
- [x] This is a feature request.
- [x] I used the search function to find already opened/closed issues or pull requests.

### Description

As discussed in https://github.com/streamlink/streamlink/issues/377, I would like to ask for a feature for the Twitch plugin. I want to be able to see and echo the node that is being use

[2017-02-07 10:29] bastimeyer commented on #546
You can already see the server address by using the `--stream-url` parameter. Twitch should assign the same server to you when running streamlink twice...
Please keep in mind that anything server infrastructure related (in terms of manipulation) is against Twitch's TOS.

[2017-02-07 11:28] stevek123 commented on #546
I don't want to manipulate it, but sometimes it takes time for streams to "move" to closer nodes, and I just want to know wheter it might worth to restart the stream when I'm having issues or I'm already using the closest one, and maybe the issue is something else,

[2017-02-07 13:11] bastimeyer commented on #546
A log message when launching a stream isn't necessary in this use case, though. In fact, it wouldn't even be useful, since you'd need to restart the stream or need to launch the stream twice in order to see the currently used server.

A much better solution would be writing a simple shell script that periodically launches streamlink with the `--stream-url` parameter and then informs you when the s

[2017-02-07 17:18] gravyboat commented on #546
Yeah I really don't want to get into the identification/viewing of nodes past what we already have if we can because it's a huge ToS issue and I don't want any excuses to try and shut us down.

[2017-02-07 17:19] WazZ87 opened #547 "Recurring issue with a live stream"
Hi,

I successfully make working some live streams but i experienced an issue and i can't show everything and even if i post a link of a master .m3u8, it will not work because it needs an authentication as well. (cookies with sensitive stuff)

I try this way :

livestreamer --http-header "User-Agent=Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/5

[2017-02-07 17:54] Truanifan commented on #540
@scottbernstein Thanks for the advice. I'm not very savvy enough (yet) to use the CURL command, but I'll try to read up on it and maybe be able to use it properly someday.

As for appending the bitrate to the resolution that would be ideal. I don't know about coding, but if it's possible it really would be immensely helpful. Maybe this can turn into a feature request?

For now, I'll just work arou

[2017-02-07 18:21] WazZ87 commented on #547
Here is an example of a master m3u8

[code]

And this...
[code]

I noticed on the browser console that a key is requested every minute.

Thanks for any suggestion.

[2017-02-07 18:54] scottbernstein commented on #540
@truanifan -- CURL is super easy.  Just download a binary build for your OS.  Then just open a command prompt and type:

curl "http://sitename.com/path/master.m3u8" <- the full exact HLS endpoint you would have entered into streamlink.  (If your URL uses HTTPS you might need to use it in the form of curl -k "https://sitename.com/path/master.m3u8" to get it to bypass the certificate check)

The out

[2017-02-07 22:13] Brainzyy opened #548 "youtube 60fps is not available"
### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [x] I used the search function to find already opened/closed issues or pull requests.

### Description

I was trying out the windows installer (both 0.3.1 and latest) with VLC 3.0. I am trying to play this stream: https://gaming.youtube.com/watch?v=ipO-TDt7bJs . There are 60fps options ava

[2017-02-07 22:29] gravyboat commented on #548
60 FPS on youtube isn't support currently as far as I know because it uses dash (https://github.com/streamlink/streamlink/pull/225#issuecomment-263821938). We've discussed this a few times in the past: https://github.com/streamlink/streamlink/issues/200

[2017-02-07 22:30] Brainzyy commented on #548
@gravyboat I know, but I thought that was only 1080p60? and not 720p60 as well?

[2017-02-07 22:31] #548 closed

[2017-02-07 22:32] Aylon1 opened #549 "filmon.com #EXTM3U error"
### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

### Description

When running any filmon.com streaming with quality worst it comes up with the following error:
Could not open stream: missing #EXTm3u header

### Expected / Actual behavior

stream free

[2017-02-07 22:39] gravyboat commented on #548
No worries, I think it's all 60 fps streams. @beardypig can you confirm?

[2017-02-07 22:58] Ordval commented on #549
Could it be as easy as the advise I got down below this thread:
 [https://github.com/streamlink/streamlink/pull/508](url)

As I had two installed; but my conclusion;

(before reinstall) didn't get contested.

[2017-02-08 01:28] Truanifan commented on #540
@scottbernstein Got it. Thanks a lot for the quick instructions! That does sound super easy. I can't wait to try it out. Thanks again!

[2017-02-08 03:13] CyberBotX commented on #332
It appears that this has regressed in 0.3.1, I get the exceptions again instead of the simple error.

[2017-02-08 07:11] CyberBotX opened #550 "'Read timed out' regression in 0.3.1"
This is mainly to say that the issue that was resolved in issue #332 appears to have regressed in 0.3.1, as I am encountering the exceptions once again. This was not happening with 0.3.0 though.

(Issue #547 might be the same thing as well.)

[2017-02-08 07:31] beardypig commented on #550
Weird. Is it exactly the same? Can you show me the console output when the error occurs? How did you install streamlink?

[2017-02-08 09:02] beardypig commented on #549
I am unable to recreate this using `0.3.1` on Windows 10.

[2017-02-08 09:48] beardypig commented on #547
Seems to be a problem with getting the key, needs to be retried on failure. I've created a PR that _should_ fix it.

[2017-02-08 10:49] WazZ87 commented on #547
Hi @beardypig,

You're the MAN, thanks a lot !!

As you noticed, i tried and experienced this issue with livestreamer.

After installing streamlink (before your fix) with the command `sudo python setup.py install` i had this error after 5 minutes more or less :

[code]

After your fix, all works fine but sometimes the live stream hangs like if i've pressed the button play/pause.

Then this error o

[2017-02-08 10:55] beardypig commented on #547
I could be that your cookie token expires after a while, maybe you can observe the behaviour in the browser and see if it makes any requests to update the cookies? Hard to guess :)

[2017-02-08 11:06] WazZ87 commented on #547
Yep ! That's exactly what i was thinking about
Well thanks a lot for this fix.
I will try to figured this out.

Regards.

[2017-02-08 13:45] paramec opened #552 "streamlink pipe"
Issue :

$ streamlink -O http://www.filmon.com/tv/film-4 high | ffmpeg -re -v quiet -fflags +genpts+igndts -i pipe:0 -bsf h264_mp4toannexb -vcodec libx264 -tune zerolatency -acodec ac3 -f mpegts pipe:1
[cli][info] Found matching plugin filmon for URL http://www.filmon.com/tv/film-4
[cli][info] Available streams: low (worst), high (best)
[cli][info] Opening stream: high (hls-filmon)
[cli][error] Er

[2017-02-08 14:20] jstrat231 opened #553 "Anyway to Increase Download speeds of VOD's from CMD?"
### Checklist

- [ ] This is a bug report.
- [ ] This is a plugin request.
- [x] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

### Description
Hey guys.

I use CMD and the following command to download VODS using livestreamer or streamlink:
[code]
BUT it downloads way too slow. I have around 150-200Mbps download speed and I norm

[2017-02-08 15:04] beardypig commented on #552
`-O` seems to work fine. It might be a problem with `ffmpeg` invocation, I get
[code]

[2017-02-08 20:38] paramec commented on #552
Thank you very much. You are right.
I have to use : -vbsf h264_mp4toannexb. Everythink it's fine now :).

[2017-02-08 20:38] #552 closed

[2017-02-08 20:42] DarkWiss commented on #513
So, Yeah I was using MPC-HC. I deleted everything and cleaned the remaining folders. I installed the 0.3.0 and I had the same issue on every stream I tried even with other players.
So I installed the Latest version (0.3.1) and everything was great :). and even better with MPV.

Thanks guys :)

[2017-02-08 20:55] beardypig commented on #513
Cool, I'll close this issue then. If you think that this issue hasn't been resolved just reopen it :-)

[2017-02-08 20:59] gravyboat commented on #513
@Romsh Can you give `0.3.1` a shot as well?

[2017-02-08 21:02] Romsh commented on #513
Hmm. It's a little better with 0.3.1 but i have some little freeze.
With MPV it's some little microcut of stream.
I HAVEN'T those with 0.1.0.
Can't help you more.

[2017-02-08 21:10] beardypig commented on #513
This is just on twitch? Through the twitch gui? It must be HLS streams, if you enable player pass through for hls does it work any better. `0.1.0` might stop working soon as I think it uses an older version of the Twitch API, but maybe it'll keep working :-)

[2017-02-08 23:46] Aylon1 commented on #549
Thanks for the comments and just removed the current installation as well as a previous liverstreamer installation. Reinstalled fresh and works as expected. Superb!

[2017-02-08 23:46] #549 closed

[2017-02-09 02:41] CyberBotX commented on #550
What I got just moments ago was this:

[code]

As for installing it, I have an in-progress FreeBSD port that I partially based off the old livestreamer port, so it is being installed via the ports system's python handling.

[2017-02-09 08:27] beardypig commented on #550
Alright, based on the line number where the exception occurs (`hls.py:120`), I'd say you are using an older version. Can you make sure that you've got the latest version?

[2017-02-09 09:28] beardypig opened #554 "0.3.2 Release"
There have been a couple of bug fixes that would be useful to release, specifically #522 and #543.

It seems like it's quite straightforward to cut a release now? What do you think @cdrage, @gravyboat ?

[2017-02-09 13:15] cdrage commented on #554
@beardypig I agree, release should be a lot more straight-forward this time with the updated script.

[2017-02-09 13:31] #546 closed

[2017-02-09 17:32] gravyboat commented on #554
Sounds like a plan to me!

[2017-02-09 18:11] chovy commented on #160
How do I get this cookie?

[2017-02-09 18:31] beardypig commented on #553
You can increasing the download threads using [--hls-segment-threads](https://streamlink.github.io/cli.html#cmdoption-hls-segment-threads), eg. `--hls-segment-threads 5`. However, the link you posted is for a live stream, which would only be able to download as fast as it streams it cannot go any faster.

VOD support actually appears to be broken on openrec.tv, but we'll fix that...

[2017-02-09 18:37] beardypig commented on #160
You need to have a PSN account, with a PSVue subscription. Then you can use your browser's' developer tools to find the cookies that it sends when you watch a stream.

[2017-02-09 22:05] stevek123 commented on #342
@beardypig It works on the website, but the plugin always exits with either

or

[2017-02-10 10:01] Smalceson opened #558 "Twitch error"
[code]

Someone have a similar problem?

I have oauth token in my streamlinkrc `twitch-oauth-token=#########################`

[2017-02-10 10:26] beardypig commented on #558
Are you using a livestreamer token or did you generate the token recently? Are you using the latest version of streamlink?

You can try generating a new oauth token using [--twitch-oauth-authenticate](https://streamlink.github.io/cli.html#authenticating-with-twitch).
[code]

[2017-02-10 10:47] Smalceson commented on #558
With `twitch-oauth-authenticate` finally work. Thanks for help.

[2017-02-10 11:08] johnthecracker opened #559 "--stream-url switch bug"
### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

### Description
[code]
_________________________
[code]
_________________________
[code]

[2017-02-10 11:14] #558 closed

[2017-02-10 14:22] beardypig commented on #559
This will be fixed with #560. However, it should be noted that not all filmon streams will produce a stream URL as they expire almost immediately.

[2017-02-10 14:28] beardypig commented on #400
As of #508 I know of no streams that do not work, including the HQ streams, and doesn't not require a login.

[2017-02-10 14:28] #400 closed

[2017-02-10 15:30] cdrage commented on #554
Done! :+1:

[2017-02-10 15:30] #554 closed

[2017-02-10 15:31] scottbernstein opened #564 "Youtube Plugin: "This plugin does not support protected videos" error on an unprotected video"
### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

### Description
The following request for an unprotected YouTube video gives an error stating "This plugin does not support protected videos, try youtube-dl instead":
streamlink https://www.youtube.com/w

[2017-02-10 15:52] beardypig commented on #564
It is a protected video. Protected doesn't mean that it is not public, it means that it has an extra layer of protection that stops `streamlink` from playing the stream. At some point we hope to add support for protected videos.

This is a duplicate of #203.

[2017-02-10 16:18] scottbernstein commented on #564
Ah, ok. Thanks @beardypig

On Feb 10, 2017, at 10:52 AM, beardypig <notifications@github.com<mailto:notifications@github.com>> wrote:

It is a protected video. Protected doesn't mean that it is not public, it means that it has an extra layer of protection that stops streamlink from playing the stream. At some point we hope to add support for protected videos.

This is a duplicate of #203<https://g

[2017-02-10 16:21] #564 closed

[2017-02-10 17:33] beardypig commented on #550
@CyberBotX `0.3.2` is out now and has the fix for this issue.

[2017-02-10 17:35] beardypig commented on #554
Seems like it was pretty smooth getting this done. Excellent :D

[2017-02-10 17:38] mmetak opened #567 "Localization tests fail"
### Checklist

- [x] This is a bug report.

### Environment details (operating system, python version, etc.)

Archlinux, python-3.6, streamlink latest git

### Comments, logs, screenshots, etc.
http://pastebin.com/hEdvRRxJ

[2017-02-10 17:42] beardypig commented on #567
Are you running this via some kind of build script? Can you link to it, or post it in a gist? The tests actually require that you have `pycountry` installed as well.

[2017-02-10 17:51] mmetak commented on #567
Standard build `makepkg -s` in archlinux. I maintain both streamlink packages in AUR and I've update the latest to `0.3.2` which builds fine and this test fail appears later when testing latest git. I already added `python-pycountry` to `checkdepends` as soon as it was merged. ;-)

[Here is also a build log in my repo.](https://build.opensuse.org/build/home:metakcahura/Arch_Extra/x86_64/streamlink

[2017-02-10 18:01] beardypig commented on #567
I take it that means you don't have the `iso639` and `iso3166` packages? They are also required for the tests...

[2017-02-10 18:08] mmetak commented on #567
I've added `python-iso639` and `python-iso3166` as dependencies, made new packages for them as they weren't packaged in aur and I've also added `python-pycountry` to `checkdepends` in pkgbuild file. Long story short, they're all in there. ;-)

[2017-02-10 18:09] gravyboat commented on #567
Awesome @mmetak, thanks so much!

[2017-02-10 18:14] beardypig commented on #567
@mmetak If you'd rather not have those 2 extra packages I can make it skip the tests depending on which packages are available. Would be cleaner for the arch package without the extra deps, I guess?

[2017-02-10 18:29] beardypig commented on #567
Does it still not build with the iso modules installed? If not I have updated the tests in a PR so they get skipped if those modules are not there.

Did you get the right iso639 module? It's actually `iso-639` in PyPi... Confusing I know.

[2017-02-10 18:34] mmetak commented on #567
@beardypig Those two extra packages are not a problem at all especially for `-git` package I maintain. You write tests and it would be a waste if I didn't enable them to check for issues and report them. ;-) So, I'll leave them all for both sets of tests.

It appears your merged tests work and there's no error now. If I try to build it  without `python-pycountry` it just skips those tests.

[2017-02-10 18:40] beardypig commented on #567
OK cool. The tests before assumed that you always have `iso639/3166` available. Which gives misleading errors if you don't, because the `Localization` falls back to `pycountry`, I've fixed this now in that PR.

[2017-02-10 19:52] #567 closed

[2017-02-11 00:04] Dizzman opened #571 "How i can extract audio stream from video streaming???"
I need  get http streaming (localhost:port/name.mp3) from some video streaming
How i can do this?

[2017-02-11 06:27] bastimeyer commented on #571
You can do this by using the `-O` streamlink parameter and piping the data into ffmpeg and extracting/encoding (any of the) the audio channels of the video stream. Here's a simple example:

[code]

I'm not sure what you mean with http streaming and "localhost:port/name.mp3", though. Do you mean as a stream input or output? If you want to output the mp3 on a local http server, then you should be fi

[2017-02-11 12:42] beardypig commented on #567
@mmetak can you share the link to the latest build log?

[2017-02-11 13:57] bastimeyer commented on #567
@mmetak
You have set `python-pycountry` in the PKGBUILD's [`checkdepends`](https://wiki.archlinux.org/index.php/PKGBUILD#checkdepends), which requires the user to install this package for building `streamlink-git`, unless the check hook is not being run by the user's AUR helper. This means that the tests are always being run with `python-pycountry` installed and the package turns into an orphan af

[2017-02-11 14:44] beardypig commented on #567
Thanks @bastimeyer, last time @mmetak posted an opensuse build link, I was wondering if there was an updated build on opensuse build services.

So all 3 packages are included, either pycountry or the iso639/3166 packages are redundant (as @bastimeyer pointed out).

[2017-02-11 15:05] mmetak commented on #567
@beardypig @bastimeyer
The link above is the [same](https://build.opensuse.org/public/build/home:metakcahura/Arch_Extra/x86_64/streamlink-git/_log), but it builds streamlink almost daily in clean environment. You can check which packages are installed in there as well.

`python-iso3166` and  `python-iso639` are also runtime dependencies beside the localization tests, streamlink won't run without t

[2017-02-11 15:43] beardypig commented on #567
OK. I'm not super familiar with AUR packages - it's been a few years since I used Arch. To clarify about which modules are required; Streamlink will run with either `pycountry` or `iso639, iso3166`, as will the tests now. If you install it vian`pip` then `iso639, iso3166` is preferred :-)

[2017-02-11 15:48] mmetak commented on #567
@beardypig are you sure it's either? If I remove `iso639, iso3166` python packages and have only `pycountry` it fails to start?

[code]

[2017-02-11 16:06] beardypig commented on #567
Ah, it's installed with setuptools/pip then? Yeah, pkg_resources will enforce that requirement.

[2017-02-11 17:40] karlo2105 opened #573 "cli: please remove deprecated warning messages"
### Checklist

- [ ] This is a bug report.
- [ ] This is a plugin request.
- [x] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

### Description

Since livestreamer 1.11.0 was released, deprecated warning have been added to following switches :

[code]
Fortunatelly those switches haven't been removed. But sometimes they don't allo

[2017-02-11 22:00] Dizzman commented on #571
thank you for answer
I need analyze of audio stream from TV streaming.
task is extraction audio and analyze it in online not from dowloaded audio file.
Not necessarily only from port
![default](https://cloud.githubusercontent.com/assets/25510074/22857837/a832c040-f0be-11e6-9a5c-0413d1f4eae4.png)

[2017-02-12 00:03] gravyboat opened #574 "Updated Twitch Email"
I've updated the Twitch email account to use a protonmail address (streamlink@protonmail.com). I've sent the creds to @beardypig currently just in case I get hit by a bus, if anyone else would like them please let me know.

[2017-02-12 00:09] beardypig commented on #574
Received. Hope you don't get hurt by a bus though...

[2017-02-12 00:10] gravyboat commented on #574
I look both ways when I cross the street, just wanted to make sure we were at buss factor +1.

[2017-02-12 07:38] nxtreaming commented on #554
Good job!

[2017-02-12 08:34] stevek123 commented on #342
@beardypig The issue seems to be that the wrong parameters get passed in the end

[2017-02-12 11:32] roshavagarga commented on #226
Any update on a plugin for FB Live videos? :)

[2017-02-12 11:42] dom39fr opened #575 "How to get it to work ??"
### Checklist

- [x] This is a bug report.
- [ ] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

### Description

Hello, I simply can't get this to work. I have everything required.
Windows 7, Python 3.6 freshly installed (upgraded to see if that was the cause.. obv not)
4.6 .NET, VC++ 2015 redist..

[2017-02-12 11:46] beardypig commented on #342
Some appears to have changed since I created that first version of the plugin. I'll take a look at it.

[2017-02-12 11:54] beardypig commented on #575
This seems to be an issue with `streamlink-portable`, you can post an issue for that on the [streamlink-portable issues page](https://github.com/streamlink/streamlink-portable).

If you are not set on using a portable version I recommend you use the Windows installer, downloadable from the [releases page](https://github.com/streamlink/streamlink/releases), `streamlink-0.3.2.exe` currently. However

[2017-02-12 11:57] moritzheiber opened #576 "ard_mediathek plugin fails with 403 error"
### Description

Whenever I try to watch the ARD livestream I can use neither of the available plugins. However, the most promising solutions seems to be the `ard_mediathek` plugin. Unfortunately, I'm getting a `403 Client error` when trying to use it.

### Reproduction steps / Stream URLs to test

[code]

Opening the URL in any modern browser (Firefox, Chrome et al) works out of the box.

### Env

[2017-02-12 12:47] dom39fr commented on #575
Thanks for the link, exactly what I needed but https://github.com/streamlink/streamlink "Windows" link only link to a page with that "windows portable" version... I couldn't find the exe you have linked to me, thanks.

[2017-02-12 12:56] dom39fr commented on #575
actually, on streamlink page : https://github.com/streamlink/streamlink
we have "Installers for windows" and two links for windows , "Windows" and "Windows Portable", I don't want portable, I click on the first and it sends me to a page with both... "binaries" and "portable" ...I have to figure out (now I understand) that "binaries" is what I need... and in that binaries part I have a link that se

[2017-02-12 12:57] beardypig commented on #575
On the page linked to by the Windows link it says "You can download the latest stable Windows installer from the [GitHub Releases Page](https://github.com/streamlink/streamlink/releases)"... Which take you back to the Github releases pages, in a bit of a roundabout way...

[2017-02-12 12:59] dom39fr commented on #575
Your help solved my problem on getting Streamlink to work, though there's still an issue with that portable version. Thanks beardypig.

[2017-02-12 12:59] #575 closed

[2017-02-12 13:17] beardypig commented on #575
No problem. Would you mind posting the issue over on the [streamlink-portable issues page](https://github.com/streamlink/streamlink-portable), so the right people see it?

[2017-02-13 11:38] beardypig commented on #576
@moritzheiber I have created a PR that should fix this issue: #579

[2017-02-13 12:16] beardypig commented on #573
Having two command line arguments that do the same thing is generally not a good idea. I would say that `http-header` is superior to `http-headers`. With `http-header` you can specify multiple Headers in different places, for example in `streamlinkrc` and in the command line, with those on the command line taking precedence over those in the config. `http-headers` will overwrite all of the headers

[2017-02-13 12:30] beardypig commented on #567
@mmetak would you prefer to use `pycountry` instead of the combination of `iso639` and `iso3166`. It would be very simple to conditionally set which modules are required based on an environment variable. eg. `env STREAMLINK_USE_PYCOUNTRY=1 pip install streamlink` could set the `pycountry` module in the `requires` instead of `iso639` and `iso3166`.

[2017-02-13 12:48] karlo2105 commented on #573
Hi Beardypig

I use batch file with channels and for instance I put general query on one line as it's used on all channels :

`set "query_channelname=video_id=95;authority_instance_id=spectar-prd-hrt;token=utS3Py8Fg8B0ZmzTdi6oZg"`

I call it simply by
`streamlink --http-query-params "%query_channelname%" "hlsvariant://server:port/HLS/channelname"`

 With --http-query-param switch I would be oblige

[2017-02-13 13:04] beardypig commented on #573
I don't seem those options being removed any time soon, but I don't see them been un-deprecated either.
Surely if it's in a batch script then it doesn't matter if it's longer? Or do you run the batch script, then run the streamlink command? If it's the latter, I'd look at using the `@`syntax to import config files instead.

[2017-02-13 13:12] karlo2105 commented on #573
I have plenty examples used in my batch file and they take just one line by example, that's why for me general switch is much more interesting otherwise I will be obliged to make small files with headers for every example.

I made shortcut on desktop to my batch file from where I run streamlink  with all headers and queries required so making for 6 different networks will not be as transparent as

[2017-02-13 17:17] #576 closed

[2017-02-13 21:19] mmetak commented on #567
@beardypig I think that would be a good idea from a maintainers pov.
Most distros already have `pycountry` packaged in their main repositories and it would make it easier for them to keep streamlink up to date.

[2017-02-14 01:25] mruk63 opened #580 "Is it possible to use this with StreamRecorder?"
Is it possible to use this with StreamRecorder? https://github.com/Rexee/StreamRecorder

[2017-02-14 02:17] #580 closed

[2017-02-14 02:34] gravyboat commented on #580
I don't know. It says it supports Livestreamer, but depending on how the functionality works you might just be able to drop Streamlink in where the instructions say to use the livestreamer path.

[2017-02-14 08:47] beardypig commented on #573
Could do that... best of both worlds.

[2017-02-14 09:42] chriscapetown commented on #173
Hi @beardypig - Would love to hear more about your solution - are you back from vacation yet ? :)

[2017-02-14 16:46] beardypig commented on #571
@Dizzman this doesn't really seem to be streamlink related? @bastimeyer gave you a good answer for extracting an audio stream on-the-fly using streamlink and ffmpeg.

[2017-02-14 17:12] gravyboat commented on #571
Yep I'm going to close this for now since it's getting outside of the realm of Streamlink. Thanks for your detailed answer @bastimeyer.

[2017-02-14 17:12] #571 closed

[2017-02-14 17:29] scottbernstein opened #582 "Facebook Live DASH video?"
*Thanks for reporting an issue!*
*Please read the contribution guidelines first!*

*Feel free to use the following template. Be as detailed as possible.*
*Don't forget to remove this text before submitting.*

----

### Checklist

- [] This is a bug report.
- [x ] This is a plugin request.
- [] This is a feature request.
- [] I used the search function to find already opened/closed issues or pull r

[2017-02-14 17:30] #582 closed

[2017-02-14 17:30] scottbernstein commented on #582
(Sorry for my own repeat of #226)

[2017-02-14 18:08] Lucain872 opened #583 "Add Plugin for Akibapass.de"
I've forgot to add an label. Please forgive me.

- [ ] This is a bug report.
- [x] This is a plugin request.
- [ ] This is a feature request.
- [ ] I used the search function to find already opened/closed issues or pull requests.

Hello,

is it possible to add an plugin for Akibapass.de? It is an Website for animes like Crunchyroll, so I thought about adding an plugin, where you have to log in and

[2017-02-15 02:34] CyberBotX commented on #550
Sorry it took me so long to get back on this. As far as I can tell, it appears to be fixed in 0.3.2. But either I am not seeing any read timeout errors coming up or they haven't been happening. I suppose if it comes up again, I could always report it.

[2017-02-15 05:51] gravyboat commented on #550
@CyberBotX Let's go with opening a new issue if it shows up again. I'm going to close this for now. Thanks for the update!

[2017-02-15 05:51] #550 closed

[2017-02-15 05:54] gravyboat commented on #559
I'm going to close this since we've merged #560, thanks for the report @johnthecracker!

[2017-02-15 05:54] #559 closed

[2017-02-15 05:59] gravyboat commented on #540
Looks like this is resolved so I'm going to close it for now. Thanks for the detailed response @scottbernstein.

[2017-02-15 05:59] gravyboat commented on #521
@thinkpad4 Is this still happening for you on `0.3.2`? I'm not encountering it any longer.

[2017-02-15 06:53] thinkpad4 commented on #521
@gravyboat the problem is I don't know when it happens, i THINK it is when the streamer gets cut off without ending their stream gracefully, ie clicking end on OBS.  but I can't be sure.  And I have no way of testing it